<div id="question-summary-8220137" class="question-summary narrow">
<!-- 	<div class="cp" onclick="window.location.href='/questions/8220137/does-sql-standard-specify-the-order-of-constraint-validation-and-trigger-firing'">
		<div class="votes">
			<div class="mini-counts">
				<%= questions.vote_count.nil? ? 0 : questions.vote_count.vote_count %>
			</div>
			<div>
				votes
			</div>
		</div>
		<div class="status answered">
			<div class="mini-counts">
				<%#= questions.answers.length %> 3
			</div>
			<div>
				answer
			</div>
		</div>
		<div class="views">
			<div class="mini-counts">
				5
			</div>
			<div>
				views
			</div>
		</div>
	</div> -->
	<div class="summary">
		<h3><a title=<%= questions.description %> class="question-hyperlink" href="/questions/8220137/does-sql-standard-specify-the-order-of-constraint-validation-and-trigger-firing"><%= questions.title %></a></h3>
		<div class="tags t-sql t-sql-standards">
			<a rel="tag" title="show questions tagged 'sql'" class="post-tag" href="/questions/tagged/sql">sql</a><a rel="tag" title="show questions tagged 'sql-standards'" class="post-tag" href="/questions/tagged/sql-standards">sql-standards</a>
		</div>
		<div class="started">
			<a class="started-link" href="/questions/8220137/does-sql-standard-specify-the-order-of-constraint-validation-and-trigger-firing/?lastactivity"><span class="relativetime" title= '<%= questions.updated_at.strftime '%m/%d/%Y %H:%M:%S%P'%>' > <%= time_ago_in_words(questions.updated_at) %> </span></a>
			<a href="/users/486620/mootinator">mootinator</a><span title="reputation score" class="reputation-score">5,520</span>
		</div>
	</div>
</div>