<%#= stylesheet_link_tag 'token-input-facebook' %>
<%#= javascript_include_tag 'jquery.tokeninput' %>

<%= form_for(:message, :url => create_message_path(current_user,'new')) do |f| %>

  <p>
    <%= label "message", "To :"%>
  <div id="emailList"></div>
    <%= f.text_field :email %>
    <%= f.hidden_field :email_list %>
  </p>
  <p>
    <%= label "message", "Message:" %>
    <%= f.text_area :body, :rows => 5, :cols => 40 %>
  </p>
  <%= f.submit "Send" %>
<% end %>

  <script type ="text/javascript">
  $(document).ready(function() {
     $.textAutocomplete("message_email",
    "emailList",
    {xCrsfToken: '<%= form_authenticity_token.to_s %>', url: "/messages/search_users", editMode: false, multiple: true, hidden_field: "message_email_list", search_type_array: [],image: false}
  );

  });
</script>