<%#= stylesheet_link_tag 'token-input-facebook' %>
<%#= javascript_include_tag 'jquery.tokeninput' %>



<%= form_for(:message, :url => create_message_path(current_user,'new')) do |f| %>

  <p>
    <%= label "message", "To :"%>
  <div id="emailList"></div>
    <%= f.text_field :email %>
    <%= f.hidden_field :email_list %>
  </p>
  <p>
    <%= label "message", "Message:" %>
    <%= f.text_area :body, :rows => 5, :cols => 40 %>
  </p>
  <%= f.submit "Send" %>
<% end %>

  <script type="text/javascript">
   // $(document).ready(function(){
    $.textAutocomplete = function(fieldId, taggingField, options){
        $(document).unbind('mouseover').unbind('mouseenter').unbind('mouseleave');
        $.ui.autocomplete.prototype._renderMenu = function(ul, items) {
            var self = this;
            $.each( items, function( index, item ) {
                self._renderItem( ul, item, index );
            });
        };

        var
        defaults = {
            background: '#e3e3e3',
            url: '',
            editMode: false,
            addNew: false,
            close: true,
            search_type_array: [],
            addButton: true,
            color: 'black',
            multiple: true,
            rounded: false,
            image: false,
            hidden_field: "",
            addFunctionName: "",
            editFunctionName: "",
            deleteFunctionName: ""
        },
        settings = $.extend({}, defaults, options);
        $("#"+ fieldId).each(function(){
            $(this).bind('keypress', function(e) {
                if(e.keyCode==13){        
            }
            });
        });
     
        $.setMode(fieldId, taggingField, settings.editMode);
        $.ui.autocomplete.prototype._renderMenu = function(ul, items) {
            var self = this;
            $.each(items, function(index, item) {
                self._renderItem(ul, item, index);
            });
        // item = {
        //     value: "Search more items...",
        //     id: "0",
        //     imgsrc: ""
        // }
        // self._renderItem(ul, item, -1);
        };
        $( "#" + fieldId ).autocomplete({
            minLength: 0,
            format: "js",
            source: function( request, response )
            {
            $.ajax(
            {
                url: settings.url,
                data: {
                term: request.term,
                search_type: settings.search_type_array
                },
                type: "POST",
                dataType: "json",
                success: function( data )
                {
                response( $.map( data, function( item )
                {
                    return{
                    id: item.id,
                    value: item.value,
                    imgsrc: item.imgsrc,
                    type: item.type,
                    url: item.url
                    }
                    }));
                }
                });
            },
            focus: function( event, ui ) {
            //$( "#project" ).val( ui.item.label );
            return false;
            },
            select: function( event, ui ) {
            $.selectEvent(ui.item, settings.addfunctionName)
            if (settings.hidden_field != "")
            {
            $.addIdToField(settings.hidden_field, ui.item.id)
            }
            $.addTag(fieldId, taggingField, settings, ui.item.value, ui.item.id);
            $("#" + fieldId).val("");
            return false;
            }
            })
        .data("autocomplete")._renderItem = function(ul, item, index) {    
            if (settings.image == true)
            return $("<li></li>")
            .data("item.autocomplete", item)

            .append("<a>" + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
            .appendTo(ul);
            else
              {
                 return $("<li></li>")
            .data("item.autocomplete", item)

            .append("<a>" + item.value + "</a>")
            .appendTo(ul);
              }
        };

        $('#addTag').live( 'click', function(){
            $.addTag(fieldId, taggingField, settings, $("#" + fieldId).val(), '');
        })

        $('#deleteTag').live('click', function(){
            if (settings.hidden_field != ""){
                var deleteId = $(this).closest('li').attr('id').replace("textTaggers",'');
                $.removeIdFromField(settings.hidden_field, deleteId);
            }
            $(this).closest('li').remove();
            if (settings.deleteFunctionName){
                data = new Object()
                data.id = deleteId;
                $.selectEvent(data, settings.deleteFunctionName)
            }
            return false;
        })

       /* $('#editTag').click(function() {
            $(this).hide();
            var hideField = "ul#" +taggingField + " li span a.icon_close"
            $(hideField).show();
            settings.addButton = true;
            $.editTag(fieldId, taggingField, settings.addButton);
        });*/
    }

    jQuery.selectEvent = function(data, functionName){
        var fn = window[functionName];
        if(typeof fn == 'function') {
            fn(data);
        }
    }

    jQuery.addIdToField = function(hidden_field, id){
        var formVal = $("#" + hidden_field).val();
        var formValArray = formVal == "" ? [] : formVal.split(",")
        var add = true
        $.each(formValArray, function(index, value) {
            if (value.toString() == id.toString())  {
                add = false;
            }
        })
        if (add == true){
            formValArray.push(id)
        }
        $("#" + hidden_field).val(formValArray.toString())
    }

    jQuery.removeIdFromField = function(hidden_field, deleteId){
        var formVal = $("#" + hidden_field).val();
        var formValArray =  formVal == "" ?  [] : formVal.split(",")
        var idList = [];
        $.each(formValArray, function(index, value) {
            if (value.toString() != deleteId.toString())  {
                idList.push(value);
            }
        })
        $("#" + hidden_field).val(idList);
    } 

    jQuery.setMode = function(fieldId, taggingField, editMode){
        if(editMode){
           // var tagButton = "<button id='editTag'>Edit</button>"
          //  $(tagButton).insertAfter("#"+ taggingField);
          //  $("#" + fieldId).hide();
          //  var hideField = "ul#" +taggingField + " li span a.icon_close";
         //   $(hideField).show();
        }
        else
        {
            var hideField = "ul#" +taggingField + " li span a.icon_close";
            $(hideField).hide();
        }
    }

   /* jQuery.editTag = function(fieldId, taggingField, addButton) {
        if(addButton)
        {
            $("#" + fieldId).val("")
            $("#" + fieldId).show();
            if (!$('#addTag').length) {
                var tagButton = "<button id=" + '"' +"addTag" + '"' + "> Add </button>"
                $(tagButton).insertAfter("#"+ fieldId);
            }
            else{
                $("#addTag").show();
            }
            if (!$('#doneButton').length) {
                var doneButton = "<button id='doneButton'> Done </button>"
                $(doneButton).insertAfter("#addTag");
            }
            else{
                $("#doneButton").show();
            }
        }
    }*/

    jQuery.addTag = function(fieldId, taggingField, settings, value, id) {
        var text = value;
        var add = true;
        $("#" + taggingField).find("li").each(function(index) {
            if ($(this).text().toString() == text.toString())  {
                add = false;
            }
        });
        if ((text != "") && add == true)
        {
            if (settings.multiple == false){
                $("#"+ taggingField).find("li").remove();
            }
            var listTagId = 'textTaggers' + id
            var list = "<li id='" + listTagId + "'" + " class='middlebg'  style= 'height:40px;'><span class='title_txt'>" + value + "<a id= 'deleteTag' class='icon_close'></a></span></li>" ;
            $(list).appendTo('#' + taggingField);
            $("#" + fieldId).val("")
            $('#' + fieldId).autocomplete("enable");
            if (settings.editMode || settings.close){
                var hideField = "ul#" +taggingField + " li span a.icon_close"
                $(hideField).show();
            }
            else{
                var hideField = "ul#" +taggingField + " li span a.icon_close"
                $(hideField).hide();
            }
        }
        $("#"+ fieldId).val("");
    }

//});
  </script>

  <script type ="text/javascript">
  $(document).ready(function() {
     $.textAutocomplete("message_email",
    "emailList",
    {close:true, addButton: false, url: "/messages/message_users", editMode: false, multiple: true, hidden_field: "message_email_list", search_type_array: [],image: false}
  );
    //$("#message_message_users_tokens").tokenInput("/messages/message_users.json",{
   //  preventDuplicates: true,
   //  crossDomain: false,
   //  theme: "facebook"
   // });
  });
</script>