<%unless  content.related_activity == "created" ||  content.related_activity == "answered"  %>
<div><a class="txt_brown_bold" href="<%= content.user.get_url()%>"><%= content.user.name %></a> 
	<a class="txt_brown_bold"> <%= content.related_activity + " " %> </a>
<%if content.related_activity =="followed" &&  content.related_activity_type == "User"%> 
<% u = User.find(content.related_id) %> 
<a class="txt_brown_bold" href="<%= u.get_url()%>">
<%= u.name %> </a> <a class="txt_brown_bold"> - <%= time_ago_format(content)%> ago.</a>
<div class="mainContentDiv">
 <div style="width:100px;height:120px;">
 <%= image_tag(u.get_photo(:medium)) %></div> <br /> </div> 
<%else%> 
 <a class="txt_brown_bold"><%= indefinite_articlerize(content.related_activity_type.singularize) %></a> <a class="txt_brown_bold">- <%= time_ago_format(content)%> </a>
<%end%></div>
<%end%>
