<div id="content_all">
 <%= render "contents/filter_by_options"%>

  <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
  <%= render "contents/sort_by_options"%>
  
  <div style="border-bottom:solid 1px #e4e4e4;;clear:both;"></div>
  <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
    <%if @item.show_models %>
      <% params = {"items" => @item.related_cars.collect(&:id), "status" => 1 } %>
    <%elsif @item.is_a?AttributeTag %>
      <% params = {"items" => Item.get_related_item_list_first(@item.id) } %>
    <% else %>
      <% params = {"items" => [@item.id], "status" => 1  }%>
    <% end %>

    <% @contents = Content.filter(params)  %>
    <%= render :partial => 'contents/contents', :locals => {:params => params} %>
  </div>
   
  <a id="content_next" style="display:none"></a>
  <%=hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
</div>
 <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
     <%= image_tag '/images/ajax-loader.gif' %>
</span>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#load_content').live("click",function(){
      type='';
      $('#filter_contents :checked').each(function(){
        type+="&type[]="+$(this).attr("class");
      });
<% unless @item.blank? %>
        var url = "<%= feed_contents_path(:items => @item.id  ) %>";
<% else %>
        var url = "<%= feed_contents_path %>";
<% end %>
      $("#content_all").html("");
      url=url+"&limit=5"+type;
      $.get(url, function(data) {
        $("#content_all").html(data);
      });
    });

    $('#select_all').click(function(){
      if($('#select_all').is(':checked')){
        $('#filter_contents input').attr('checked','checked');
      }
      else {
        $('#filter_contents input').removeAttr('checked');
      }
    });

  });
  
 
</script>
