<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <div class="float_rgt">
   <a href="<%= content.user.get_url()%>">  <img src="<%=content.user.get_photo%>" class="userImageSmall"/>   </a>
  </div>
  <div id="content_<%= content.id  %>" class="subContentDiv">


    <div>
      <%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %>
       <% if content.url?  %>
        - (<a class="txt_black_description txt_onhover" style="cursor: pointer; cursor: hand;" href="/external_contents/<%= content.id %>"><%=  URI.parse(content.url).host.gsub("www.","") %> </a>)
       <%end%>
    </div>
    <div><a class="txt_brown_bold" href="<%= content.user.get_url()%>"><%= content.user.name %></a><a class="txt_brown"> shared a <%= content.sub_type.singularize %> on </a><%=get_anchor_name_link(content)%> <a class="txt_brown">- <%= time_ago_format(content)%> ago </a></div>
    <div>
      <%if content.thumbnail?%><div><img src="<%= content.thumbnail %>" class="uploadedarticleContentdisplay float_lft"/></div><%end%>
          <div class="subContentGap">
       <%= raw get_rating_or_category_contents(content)%>
       
            <% if content.sub_type == "#{ArticleCategory::REVIEWS}" %>
            <% rating =  (content.is_a?ArticleContent) ? content.field1 : content.rating %>
           <script type="text/javascript">
              $('div#content_show_<%= content.id%>').raty({
              starOff:  'assets/star-off.png',
              starHalf   : 'assets/star-half.png',
              half       : true,
              starOn: 'assets/star-on.png',
              start: <%= "#{rating.to_f.round(1)}"%>
                  });
            </script>
            <%end%>
        </div>
      <div class="subContentGap"><%= raw get_content_description(content)%></div>
    </div>

    <ul class="divCommentsConent dontfloat">
      <li class="subContentGap float_lft"><a class="txt_blue "><%= render_comments_anchor(content).html_safe  %></a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Report</a></li>
      <%if content.can_update_content?(current_user)%>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%=link_to "Delete This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%=link_to "Update This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
      <%end%>
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content }  %>
</div>
