<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Buying Plans</td>
    </tr>
    <tr>
      <td valign="top">
       <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
          <% @buying_plans.each do |buying_plan|%>
           <%item_type = buying_plan.itemtype.itemtype %>
           <%if buying_plan.completed? %>
             <%item = Item.find(buying_plan.owned_item_id) %>
          <%else%>  
           <%item = buying_plan.get_first_item%>
         <%end%>
         <%if item.blank?  %>
            <%item =  Item.find_by_name(buying_plan.itemtype.itemtype.pluralize) %>
        <%end%>  
           <tr>
            <td width="113" height="85">
            
            <a href="<%=(item.get_url()) rescue ''%>">
            
            <img src="<%= item.image_url rescue ''%>" width="92" height="69"/>
            
            
            </td>
            <td width="113">
            <div>
       <a class="txt_black txt_onhover"  href="<%=buying_plan.preference_page_url%>"><%=buying_plan.try(:user_question).try(:title)%></a><%= buying_plan.completed? ? "<font color='red'> (Completed)</font>".html_safe : "" %>
             
           </div>
         
            </td>
          </tr>
         <%end%>
           <tr >
            <td height="33" class="" colspan="2" style="border-top:solid 1px #cdd3d7;width:100%;"><a href="<%= "/" + "#{current_user.username}"%>" class="txt_blue">View All</a></td>
          </tr>
        </table>
        </td>
    </tr>
   
  </table>
  <br/>
<br />
