<br/>
<% i  = 0%>
  <% @buying_plans.each do |buying_plan| %>
  <%
   unless i == 0   	
  %>
  <div style="border-bottom: solid 1px #CCCCCC;clear:both;padding:10px 0px 5px 0px;width:500px;"></div>
  <%end%>
  <% i=i+1 %>
  <div border="0" cellspacing="0" cellpadding="0" style="padding-top:2px;clear:both;width:500px;" id="buyingPlanItem<%=buying_plan.id%>">
      <%item_type = buying_plan.itemtype.itemtype %>
      <%if buying_plan.completed? %>
        <%item = Item.find(buying_plan.owned_item_id) rescue buying_plan.get_first_item %>
      <%else%>  
      <%item = buying_plan.get_first_item rescue '' %>
      <%end%>
      <%if item.blank?  %>
        <%item =  Item.find_by_name(buying_plan.itemtype.itemtype.pluralize) %>
      <%end%>  
      <div class="float_lft" style="padding-right:5px;">  
       <img src="<%= item.image_url  rescue ''%>" style="width:92px;height:69px;" onclick="parent.location='<%=link_url(item) rescue ''%>'" /></div>
      
      <div class="float_lft">
        <% if @buying_plan == "true" || (current_user.id == @user.id rescue true)  %>
        <!--<%if !buying_plan.completed? %>
        <a style="float:inherit;" href="<%=buying_plan.preference_page_url%>"> Edit Buying Plan</a><br/>
       <%end%>  -->
        <!-- <%= link_to " Delete",{:controller => "preferences", :action => "delete_buying_plan", :id => buying_plan.id}, :remote => true, :confirm => "Are you sure you want to delete #{buying_plan.user_question.title rescue ""}, this will also delete the products that are considering to buy from your profile, do you like to proceed?", :method => :delete, :style => "float:inherit;"%> 
        -->
        <%end%> 
         <span>
          <h1><a class="txt_black txt_onhover" style="font-size:14px;" id="questionTitle_<%= buying_plan.user_question.id %>" href="<%=buying_plan.preference_page_url%>/"><%=buying_plan.try(:user_question).try(:title)%></a><%= buying_plan.completed? ? "<font color='red'> (Completed)</font>".html_safe : "" %></h1>
        </span>
        <!--
        <div class="subContentGap" style="padding-bottom:8px;">
						<div id="displayQuestion">
						   <% descr = buying_plan.user_question.question_part %>
								<a class="txt_black_description" id="question_part_<%= buying_plan.user_question.id %>"><%if  !buying_plan.user_question.question_part.blank? %> <%= buying_plan.user_question.question_part[0..149]%></a>
							<a href="<%=buying_plan.preference_page_url%>" class="padding_left10 txt_blue"><%if descr.size > 150 %> more... <%end%>  <%elsif buying_plan.user_id == current_user.id %> Please add more information about your usage or buying preference here 	<%= link_to_function "Edit", "$('#updateQuestion_#{buying_plan.id}').dialog({width:550, height:300});$('.Close_dialog').show();
$('.ui-dialog-titlebar').hide();", :class => "txt_blue"%> <%end%> </a>
						</div>
					</div>
			-->
				     <% @follow_types = Itemtype.get_followable_types(buying_plan.itemtype.itemtype) %>
				   <% @buying_plan = buying_plan %>    
        <% @follow_item = Follow.for_follower(buying_plan.user).where(:followable_type => @follow_types, :follow_type =>Follow::ProductFollowType::Buyer).group_by(&:followable_type) rescue []%>
				 <%= render "accounts/buying_items",:buying_plan => @buying_plan, :items => get_items_with_constraint(@follow_item, @follow_types) rescue ""%>
			
				<span class="float_rgt" style="display:inline;">
         </span>
         <%unless @admin == 'true' %>
         <div style="padding-top:10px;">
           <a class="Bluesubmit3" name="commit"  type="submit" value="View Plan" href="<%=buying_plan.preference_page_url%>/" style="margin-left:5px;"> View Plan </a>
        <!-- /preferences/new?search_type=Car -->
        <%= link_to "Update Plan", "/preferences/new?search_type=#{buying_plan.itemtype.itemtype}&&from=my_feed"  ,:class=> "Bluesubmit3",:remote => :true ,:style=> "margin-left:5px;"%>
         	
         </div>
         <%end%>
         <!--
         <div style="float:left;padding-top:5px;">
         	
						<ul class="divCommentsConent">
							<li class="subContentGap float_lft" >
								<a class="txt_blue ">Recommendations (<%= buying_plan.user_question.user_answers.size%>)</a>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							<li class="subContentGap float_lft" >
								<a class="txt_blue "><%= render_comments_anchor(buying_plan.user_question).html_safe  %></a>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_blue ">Report</a>
							</li>
						  <%if @buying_plan == "true" || (current_user.id == @user.id rescue true) %>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							<li class="subContentGap float_lft"><img src="/images/delete.jpg"/><%= link_to " Delete This",{:controller => "preferences", :action => "delete_buying_plan", :id => buying_plan.id}, :remote => true, :confirm => "Are you sure you want to delete #{buying_plan.user_question.title},this will delete the items that are considered to buy from your profile, do you like to proceed?", :method => :delete, :class => "txt_blue"%>
							</li>
							<%if !buying_plan.completed? %>
							 <li class="subContentGap float_lft">
								 <a class="txt_gray ">|</a>
							 </li>
							  
							  <li class="subContentGap float_lft">
								  <%= link_to_function "Update This", "$('#updateQuestion_#{buying_plan.id}').dialog({width:500, height:300});$('.Close_dialog').show();
$('.ui-dialog-titlebar').hide();", :class => "txt_blue"%>

							  </li>
					
							  <%end%>
						<%end%>
					
						</ul>
						<%= render :partial => "comments/new", :locals => { :content => buying_plan.user_question }  %>
						</div >
				-->
      </div>
      	
      
    </div>
   <div style="display:none;" id="updateQuestion_<%= buying_plan.id %>">
		<div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(/images/pclose_but.png) no-repeat left top;position:relative;left:440px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>
		  <%= form_for :question,:url => { :controller => "preferences", :action => "update_question", :id => buying_plan.user_question.id}, :html => {:id => "getAdviceForm1"} ,:remote => :true do |f|%>
              <%=  hidden_field_tag :question_id, buying_plan.user_question.id %><br/>
               <b>Title</b>
               
              <%= text_field_tag :title,buying_plan.user_question.title %>
             <!-- Send to Friends:
              <%= f.radio_button :plannto_network, false, :checked => true %>
              Plannto Network:
              <%= f.radio_button :plannto_network, true %><br/> -->
              <br />
              <br />
              <b>Description</b>
              <br />
              <%= text_area_tag :question,  buying_plan.user_question.question ,:rows=>2,:cols=>60, :class => 'textFilling expanding'%><br/>
              <%= hidden_field_tag :display_type,"popup1" %>
          
         <%= f.submit 'Complete',:id => "preference_question1",:class=>"searchButton",:style=>"font-size:15px;" %>
      
    
     
            <% end %>
		
		
		</div>
		 	<script type="text/javascript">
												$('#giveAdviceTag').live('click', function(){
						$.get('/preferences/give_advice',{question_id: <%=  buying_plan.user_question.id%>},null,"script");
						})

						$('#editPreferences').live('click', function(e){
						e.preventDefault()
						$.get('/preferences/edit_preference',{id: <%=  buying_plan.user_question.id%>},null,"script");
						return false
						})

						$('#preference_question').live('click', function(e){
						$('#question_question').poshytip('destroy')
						if ($("#question_question").val() == ""){
						$('#question_question').poshytip({
						className: 'tip-darkgray',
						content: 'Please enter your question.',
						showOn: 'none',
						alignTo: 'target',
						alignX: 'right',
						offsetX: 5,
						alignY: 'center'
						});
						$('#question_question').poshytip('show');
						return false
						}
						e.preventDefault()
						$.ajax(
						{
						url: "/preferences/update_question",
						data: {
						question_id: <%= buying_plan.user_question.id%>
							, question: $("#question_question").val(),
							plannto_network: $("input[name='question[plannto_network]']:checked").val(),
							title : $("#question_title").val()

							}, type: "get",
							dataType: "script"
							});
							return false
							});
					</script>
       <%end%>
     
<script type="text/javascript">
  function deleteBuyingPlan(buying_plan_id){
    $.ajax(
    {
      url: "/preferences/delete_buying_plan",
      data: {
        id: buying_plan_id
      },
      type: "GET",
      dataType: "script",
      success: function( data )
      {
        var id = "buyingPlanItem" + buying_plan_id;
        $("#" + id).remove();
      }
    });
    return false
  }
  </script>
<div id="giveAdviceDialog"> </div>
