<!--Write a review share to a friend-->
<div class="Leftreviewblock">

  
  <div class="Reviewbigtabs">
  
    <a href="#" class="" id="contentSubmit">Submit a Review<span></span></a>
    <a href="#" class="Activetab Tabfirst" id="contentWrite">Write a Review<span></span></a>
   
  </div>
  <!--write tab end here-->
  <div class="Leftreviewinner">
    <!--left navigation-->
    <div class="Leftnavi" id="contentContainer">
      <ul>
        <%article_categories.each_with_index do |article_category, index|%>
          <%if index == 3%>
            <li class="Showmore" id="contentShowmore"><a href="#" class="Showplus">Show more</a></li>
          <%end%>
          <li class="<%if index==0%>Active<%end%> <%=get_content_container_class(article_category[0])%>" id="content<%=article_category[0]%>" <%if index >2%> style="display:none;"<%end%>><a href="#"><%=article_category[0]%></a></li>
        <%end%>
      </ul>
    </div>
    <!--left navigation-->
    <div class="Tabsrightcontent">
      <textarea cols="" rows="" class="Textarea contentSubContainer" style="width:507px; height:106px; resize: none;" id="defaultContainer" class="contentSubContainer" onclick="$('div#contentContainer ul li.Active').trigger('click');$('#defaultContainer').hide();">What do you think of this <%=@item.itemtype.itemtype%>?
      </textarea>
      <%= render 'reviews/review_subcontainer', {:item => @item} %> 
      <%= render :partial => 'article_contents/article_share', :locals => {:content_category => false} %>
      <%= render :partial => 'question_contents/new_question_content' %>
      <%= render :partial => 'article_contents/create_new' ,:locals => {:article_categories => article_categories}%>
    </div>
  </div>
</div>
<!--Write a review share to a friend-->
<script type="text/javascript">
  $("div#contentContainer ul li").click(function (e) {
    var id = $(this).attr('id');
    var category = id.replace("content",'')
    if (id == "contentShowmore"){
      $("div#contentContainer ul li").show();
      $("#contentShowmore").hide();
      return false
    }
    //first hide all forms
    $(".contentSubContainer").hide();
    // hide article create form optional fields
    hideAllOptionalFieldsArticleCreate();

    //category for article share
    $("form#new_share_form #article_content_sub_type").val(category)

    //function to set the default values for optional items(for edit form)
    hideProductTag()
    $("div#contentContainer ul li").removeClass("Active");
    // $('#new_content')[0].reset();
    $(this).closest('li').addClass('Active');
     
    //below if condition is not required. set the label directly.
    if (id != "contentShowmore"){
      setUpContentWrite($(this).text())
      setUpContentSubmit($(this).text())
    }
  
    if (id == "contentReviews"){
      $(".contentSubContainer").hide();
      $("#articleReviewSubContainer").show();
      //set sub type for all hidden forms of review, qa and article share
      $("#review_content_sub_type").val(category);    
    }    
    else if (id == "contentQ&A"){
      $(".contentSubContainer").hide();
      //set sub type for all hidden forms of review, qa and article share
      $("#question_content_sub_type").val(category);
        $("#question_contentDiv").show();
    }
    else{  
      //set sub type for all hidden forms of review, qa and article share
      $("form#new_create_article_content_form #article_content_sub_type").val(category);
      //open the relevant form
      $("#subContainerContentCreate").show();

      //function to set the optional default items
      setDefaultFieldsArticleCreate(category);   

      //set the form button name
      var button_name =  setButtonName(category);
      $("#content_type").val(id.replace("content",''))
      $("form#new_create_article_content_form #article_content_create_submit").val(button_name)
     }

    //set active tab
    $("div.Reviewbigtabs a#contentSubmit").removeClass("Activetab")
    $("div.Reviewbigtabs a#contentWrite").addClass("Activetab")
    e.preventDefault();
  });

  $("div.Reviewbigtabs a#contentSubmit").click(function (e) {
    $("div.Reviewbigtabs a#contentWrite").removeClass("Activetab")
    $(this).addClass("Activetab")
    $(".contentSubContainer").hide();
    $("#article_errors").hide();
    $('#new_share_url').val('');
    $('#new_share_url').keyup();
    $("#ShareURLDiv").show();
     hideAllOptionalFieldsArticleSubmit();
    e.preventDefault();
  });

  $("div.Reviewbigtabs a#contentWrite").click(function (e) {    
    $("#ShareURLDiv").hide();
    $("div#contentContainer ul li.Active").trigger("click");
    e.preventDefault();
  });

  function setButtonName(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Save Review";break;
      case 'Q&A': contentWrite= "Save Question";break;
      case 'Tips': contentWrite= "Save Tip";break;
      case 'Accessories': contentWrite= "Save Accessory";break;
      case 'Photo': contentWrite= "Save Photo";break;
      case 'News': contentWrite= "Save News";break;
      case 'Deals': contentWrite= "Save deal";break;
      case 'Event': contentWrite= "Save Event";break;
      case 'HowTo/Guide': contentWrite= "Save HowTo/Guide";break;
      case 'Book': contentWrite= "Save Book";break;
      case 'Apps': contentWrite= "Save Apps";break;
      case 'Travelogue': contentWrite= "Save Travelogue";break;
      case 'Miles': contentWrite= "Save Mile";break;
      case 'Video': contentWrite= "Save Video";break;
    }
    return contentWrite
  }

  function setUpContentWrite(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Write a Review<span></span>";break;
      case 'Q&A': contentWrite= "Ask a Question<span></span>";break;
      case 'Tips': contentWrite= "Add a Tip<span></span>";break;
      case 'Accessories': contentWrite= "Add a Accessory<span></span>";break;
      case 'Photo': contentWrite= "Add a Photo<span></span>";break;
      case 'News': contentWrite= "Add a News<span></span>";break;
      case 'Deals': contentWrite= "Add a deal<span></span>";break;
      case 'Event': contentWrite= "Add a Event<span></span>";break;
      case 'HowTo/Guide': contentWrite= "Add a HowTo/Guide<span></span>";break;
      case 'Book': contentWrite= "Add a Book<span></span>";break;
      case 'Apps': contentWrite= "Add an Apps<span></span>";break;
      case 'Travelogue': contentWrite= "Add a Travelogue<span></span>";break;
      case 'Miles': contentWrite= "Add a Mile<span></span>";break;
      case 'Video': contentWrite= "Add a Video<span></span>";break;
    }
    $("#contentWrite").html(contentWrite);
  }

  function setUpContentSubmit(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Submit a Review<span></span>";break;
      case 'Q&A': contentWrite= "Submit a Questions & Answer<span></span>";break;
      case 'Tips': contentWrite= "Submit a Tip<span></span>";break;
      case 'Accessories': contentWrite= "Submit an Accessory<span></span>";break;
      case 'Photo': contentWrite= "Submit a Photo<span></span>";break;
      case 'News': contentWrite= "Submit a Latest News<span></span>";break;
      case 'Deals': contentWrite= "Submit a deal<span></span>";break;
      case 'Event': contentWrite= "Submit a Event<span></span>";break;
      case 'HowTo/Guide': contentWrite= "Submit a HowTo/Guide<span></span>";break;
      case 'Book': contentWrite= "Submit a book<span></span>";break;
      case 'Apps': contentWrite= "Submit an Apps<span></span>";break;
      case 'Travelogue': contentWrite= "Submit a Travelogue<span></span>";break;
      case 'Miles': contentWrite= "Submit a Mile<span></span>";break;
      case 'Video': contentWrite= "Submit a Video<span></span>";break;
    }
    $("#contentSubmit").html(contentWrite);
  }
  
  $(document).ready(function(){
    //setting default category id to fill it on load.
    $("#article_content_article_category_id").val('<%=ArticleCategory::REVIEWS%>')
    $("form#new_share_form #article_content_sub_type").val('<%=ArticleCategory::REVIEWS%>')

  });
</script>
