<!--Write a review share to a friend-->
<div class="Leftreviewblock">
  <!--write tab start here-->
  <div class="Reviewbigtabs">
    <a href="#" class="" id="contentSubmit">Submit a Review<span></span></a>
    <a href="#" class="Activetab Tabfirst" id="contentWrite">Write a Review<span></span></a>
  </div>
  <!--write tab end here-->
  <div class="Leftreviewinner">
    <!--left navigation-->
    <div class="Leftnavi" id="contentContainer">
      <ul>
        <%article_categories.each_with_index do |article_category, index|%>
          <%if index == 3%>
            <li class="Showmore" id="contentShowmore"><a href="#" class="Showplus">Show more</a></li>
          <%end%>
          <li class="<%if index==0%>Active<%end%> <%=get_content_container_class(article_category[0])%>" id="content<%=article_category[0]%>" <%if index >2%> style="display:none;"<%end%>><a href="#"><%=article_category[0]%></a></li>
        <%end%>
      </ul>
    </div>
    <!--left navigation-->
    <div class="Tabsrightcontent">
      <textarea cols="" rows="" class="Textarea contentSubContainer" style="width:507px; height:106px; resize: none;" id="defaultContainer" class="contentSubContainer" onclick="$('div#contentContainer ul li.Active').trigger('click');$('#defaultContainer').hide();">What do you think of this <%=@item.itemtype.itemtype%>?
      </textarea>
      <%= render :partial => 'reviews/review_subcontainer' %>
      <!-- move above partial contents to below commented partial-->
<%#= render :partial => 'reviews/new_review' %>
      <%= render :partial => 'article_contents/article_share', :locals => {:content_category => false} %>
      <%= render :partial => 'question_contents/new_question_content' %>
<%#= render :partial => 'tips/new_tip' %>
      <%= render :partial => 'event_contents/new' %>
      <%= render :partial => 'contents/new_default' %>
    </div>
  </div>
</div>
<!--Write a review share to a friend-->
<script type="text/javascript">
  $("div#contentContainer ul li").click(function (e) {
    hideShareContainerOptFields()
    showDefaultProductTag("default_product_item_list", "default_content_item");
    hideProductTag()
    $("div#contentContainer ul li").removeClass("Active");
    $('#new_content')[0].reset();
    $(this).closest('li').addClass('Active');
    var id = $(this).attr('id');
    if (id != "contentShowmore"){
      setUpContentWrite($(this).text())
      setUpContentSubmit($(this).text())
    }
    if (id == "contentShowmore"){     
      $("div#contentContainer ul li").show();
      $("#contentShowmore").hide();
    }
    else if(id == "contentBooks"){
      $(".contentSubContainer").hide();
      var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::BOOKS)}"%>
      $("#article_content_article_category_id").val(article_category_id)
    }
    /* else if(id == "contentAccessories"){
      var article_category_id = <%#="#{find_article_category(article_categories, ArticleCategory::ACCESSORIES)}"%>
      $("#article_content_article_category_id").val(article_category_id)
    }
    else if(id == "contentTravelogue"){
      var article_category_id = <%#="#{find_article_category(article_categories, ArticleCategory::TRAVELOGUE)}"%>
      $("#article_content_article_category_id").val(article_category_id)
    }
    else if(id == "contentApps"){
      var article_category_id = <%#="#{find_article_category(article_categories, ArticleCategory::APPS)}"%>
      $("#article_content_article_category_id").val(article_category_id)
    }*/
    else if(id == "contentEvent"){
      $(".contentSubContainer").hide();
      $("#subContainerEvent").show();
      var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::EVENT)}"%>
      $("#article_content_article_category_id").val(article_category_id)
      $("#article_create_article_category_id").val(article_category_id)
       showCreateEventOptFields();
    }
    else if(id == "contentApps"){
      $(".contentSubContainer").hide();
      $("#subContainerEvent").show();
      var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::APPS)}"%>
      $("#article_create_article_category_id").val(article_category_id)
       showCreateAppOptFields();
    }
    else if ((id == "contentAccessories")|| (id == "contentBooks")){
      $(".contentSubContainer").hide();
      $("#subContainerEvent").show();
      if (id == "contentAccessories"){
        var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::ACCESSORIES)}"%>
      }
      if (id == "contentBooks"){
        var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::BOOKS)}"%>
      }
      
      $("#article_content_article_category_id").val(article_category_id)
      $("#article_create_article_category_id").val(article_category_id)
       showCreateBooksAccessoriesOptFields();
    }
    else if (id == "contentShare"){
      $(".contentSubContainer").hide();
      $("#ShareURLDiv").show();
    }
    else if (id == "contentReviews"){
      $(".contentSubContainer").hide();
      $("#articleReviewSubContainer").show();
      var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::REVIEWS)}"%>
      $("#article_content_article_category_id").val(article_category_id)
      // $("#reviewContainer").show();
    }
    // else if (id == "contentTips"){
    //  var article_category_id = <%#="#{find_article_category(article_categories, ArticleCategory::TIPS)}"%>
    //  $("#article_content_article_category_id").val(article_category_id)
    //   $("#tipDiv").show();
    // }
    else if (id == "contentQ&A"){
      $(".contentSubContainer").hide();
      var article_category_id = <%="#{find_article_category(article_categories, ArticleCategory::QANDA)}"%>
      $("#article_content_article_category_id").val(article_category_id)
      $("#question_contentDiv").show();
    }
    else{
      $(".contentSubContainer").hide();
      var value = id.replace("content",'')
<%article_categories.each do |category|%>
        if (value == '<%=category[0]%>'){
          var article_category_id = '<%=category[1]%>'
          
        }
<%end%>
      var button_name =  setButtonName(value);
      $("#content_type").val(id.replace("content",''))
      $("#default_content_submit").val(button_name)
      $("#article_content_article_category_id").val(article_category_id)
      $("#subContainerDefaultContent").show();
    }

    //set active tab
    $("div.Reviewbigtabs a#contentSubmit").removeClass("Activetab")
    $("div.Reviewbigtabs a#contentWrite").addClass("Activetab")
    e.preventDefault();
  });

  $("div.Reviewbigtabs a#contentSubmit").click(function (e) {
    $("div.Reviewbigtabs a#contentWrite").removeClass("Activetab")
    $(this).addClass("Activetab")
    $(".contentSubContainer").hide();
    $("#article_errors").hide();
    $('#article_content_url').val('');
    $('#article_content_url').keyup();
    $("#ShareURLDiv").show();
    e.preventDefault();
  });

  $("div.Reviewbigtabs a#contentWrite").click(function (e) {    
    $("#ShareURLDiv").hide();
    $("div#contentContainer ul li.Active").trigger("click");
  
    e.preventDefault();
  });


  function setButtonName(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Save Review";break;
      case 'Q&A': contentWrite= "Save Question";break;
      case 'Tips': contentWrite= "Save Tip";break;
      case 'Accessories': contentWrite= "Save Accessory";break;
      case 'Photo': contentWrite= "Save Photo";break;
      case 'News': contentWrite= "Save News";break;
      case 'Deals': contentWrite= "Save deal";break;
      case 'Event': contentWrite= "Save Event";break;
      case 'HowTo/KB': contentWrite= "Save HowTo/KB";break;
      case 'Book': contentWrite= "Save Book";break;
      case 'Apps': contentWrite= "Save Apps";break;
      case 'Travelogue': contentWrite= "Save Travelogue";break;
      case 'Video': contentWrite= "Save Video";break;
    }
    return contentWrite
  }

  function setUpContentWrite(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Write a Review<span></span>";break;
      case 'Q&A': contentWrite= "Ask a Question<span></span>";break;
      case 'Tips': contentWrite= "Add a Tip<span></span>";break;
      case 'Accessories': contentWrite= "Add a Accessory<span></span>";break;
      case 'Photo': contentWrite= "Add a Photo<span></span>";break;
      case 'News': contentWrite= "Add a News<span></span>";break;
      case 'Deals': contentWrite= "Add a deal<span></span>";break;
      case 'Event': contentWrite= "Add a Event<span></span>";break;
      case 'HowTo/KB': contentWrite= "Add a HowTo/KB<span></span>";break;
      case 'Book': contentWrite= "Add a Book<span></span>";break;
      case 'Apps': contentWrite= "Add an Apps<span></span>";break;
      case 'Travelogue': contentWrite= "Add a Travelogue<span></span>";break;
      case 'Video': contentWrite= "Add a Video<span></span>";break;
    }
    $("#contentWrite").html(contentWrite);
  }

  function setUpContentSubmit(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Submit a Review<span></span>";break;
      case 'Q&A': contentWrite= "Submit a Questions & Answer<span></span>";break;
      case 'Tips': contentWrite= "Submit a Tip<span></span>";break;
      case 'Accessories': contentWrite= "Submit an Accessory<span></span>";break;
      case 'Photo': contentWrite= "Submit a Photo<span></span>";break;
      case 'News': contentWrite= "Submit a Latest News<span></span>";break;
      case 'Deals': contentWrite= "Submit a deal<span></span>";break;
      case 'Event': contentWrite= "Submit a Event<span></span>";break;
      case 'HowTo/KB': contentWrite= "Submit a HowTo/KB<span></span>";break;
      case 'Book': contentWrite= "Submit a book<span></span>";break;
      case 'Apps': contentWrite= "Submit an Apps<span></span>";break;
      case 'Travelogue': contentWrite= "Submit a Travelogue<span></span>";break;
      case 'Video': contentWrite= "Submit a Video<span></span>";break;
    }
    $("#contentSubmit").html(contentWrite);
  }
</script>
