<%if params[:sub_type].blank? %>
  <% params[:items] = @item.id %>
  <% params[:sub_type] = "Reviews" %>
  <%=link_to  "#{content_write_tab_label("Reviews")}","#",:class => "filter_quick_create"  %>
 <div style="float:right">
    <%=link_to "#{content_submit_tab_label("Reviews")}","#",:class => "filter_quick_share"  %>
 </div>
<%elsif params[:sub_type] == "All" %> 
  <% params[:sub_type] = "Reviews" %>
  <%=link_to  "#{content_write_tab_label("Reviews")}","#",:class => "filter_quick_create"  %>
 <div style="float:right">
    <%=link_to "#{content_submit_tab_label("Reviews")}","#",:class => "filter_quick_share"  %>
 </div>
<%elsif params[:sub_type] == "QandA"%>
  <%=link_to  "Ask a Question" , "#",:class => "filter_quick_create"  %>
 <div style="float:right">
    <%=link_to  "Submit a FAQ" ,"#",:class => "filter_quick_share"  %>
 </div>
<%elsif params[:sub_type] == "Custom"%>
<%else%> 
<%=link_to  "#{content_write_tab_label(params[:sub_type])}" , "#",:class => "filter_quick_create"  %>
 <div style="float:right">
    <%=link_to  "#{content_submit_tab_label(params[:sub_type])}" ,"#",:class => "filter_quick_share"  %>
 </div>
 <%end%>
 
 <script type="text/javascript">
    $(function(){
      $('a.filter_quick_share').click(function(e){
      <%if !current_user %>
         $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
         openLoginPopup("#" + $(this).attr('id'), "click");
        return false
      <%end%>    
      
      $.ajaxSetup({
        'beforeSend':function(xhr){xhr.setRequestHeader("Accept","text/javascript")}
      });
	   $.ajax({url : '/contents/quick_new' , dataType:'script',type: "get",data: 'category=<%= params[:sub_type] %>'  + "&sharecontent=" + "true"  + "&item_id=<%= params[:items] rescue ""%>"  });
    return false
    });
    
    $('a.filter_quick_create').live("click",function(){
      <%if !current_user %>
        $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
        openLoginPopup("#" + $(this).attr('id'), "click");
        return false
      <%end%>  
   // $(this).parent().toggleClass('selected');
    //var category = $(this).data('content');
   // $.ajaxSetup({
   //   'beforeSend':function(xhr){xhr.setRequestHeader("Accept","text/javascript")}
   // });
   $.ajax({url : '/contents/quick_new' , dataType:'script',type: "get",data: 'category=<%= params[:sub_type] %>' + "&item_id=<%= params[:items] rescue ""%>" });
    //$.get('/contents/quick_new',{'category' : category}, "script");
    return false

  });
  });
    </script>
