<!--filter by block start here-->
    <div id="Filterby">
    <div class="Filternav">
      <div style="float:left;width:60px;">
        <span style="padding:2px 5px 0px 0px;"><b>Filter by:</b></span>
      </div>
      <div style="float:left;width:630px;">
        <ul>
          <li class="Currentfilter" id="All"><a href="#">All</a></li>
          <%@article_categories.each do |category|%>
             <%if category[0]== "HowTo/Guide"%>
                  <li id="HowTo"><a href=""><%=category[0]%></a></li>
                <%else%>
                <li id="<%=category[0]%>"><a href=""><%=category[0]%></a></li>
                <%end%>            
          <%end%>
        </ul>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $(document).ready(function(){
  	   $("div#Filterby div.Filternav ul li").click(function (e) {
       $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
       $(this).closest('li').addClass("Currentfilter");
      	if ($(this).text() != "Labeltext"){
      		$("#filter_page_no").val('1');
        	var id = $(this).attr('id');
        	var sub_type = find_sub_type(id);   
        	if (sub_type == "All"){
        		$("span#sortBy").find('a').removeClass('link_active');
        		$("#sortByNewest").addClass("link_active");
        	}     
        	else{
        		$("span#sortBy").find('a').removeClass('link_active');
        		$("#sortByVotes").addClass("link_active");
        	}
        	$("#content_search_page").val(1)
            $("#content_search_search").val("")
          	$("#content_search_sub_type").val(sub_type);  
            var filter_page_no = $("#filter_page_no").val();
          var items = "<%=@item.try(:id)%>";
          var itemtype_id = "<%=@item.try(:get_base_itemtypeid) || @itemtype.try(:id)%>"                  
            var sort_by = $("span#sortBy a.link_active").text();
            var guide = "<%=@guide.try(:id)%>";
            contentSearchFilterAction("filter", sub_type, items, filter_page_no, itemtype_id, sort_by, guide);
        
            return false
          }
      });

     <%if !@filter_by.nil?%>
      $("div#Filterby div.Filternav ul li#<%=@filter_by%>").trigger("click");
      <%end%> 
    
   		id = $("div#Filterby div.Filternav ul li.Currentfilter").text()
       		var sub_type = find_sub_type(id);
        var items = "<%=@item.try(:id)%>";
          var itemtype_id = "<%=@item.try(:get_base_itemtypeid) || @itemtype.try(:id)%>"   
         var guide = "<%=@guide.try(:id)%>";
   		triggerScrollFunction(sub_type, items, itemtype_id, guide); 

  	    });
</script>