<% cache ['part-1', content] do %>
<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <div class="float_rgt">
    <a href="<%= content.user.get_url()%>">  <img src="<%=content.user.get_photo%>" class="userImageSmall"/>   </a>

  </div>
  <div class="subContentDiv">
    <div><%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %></div>
    <div><a class="txt_brown_bold"><%= content.user.name  %> asked in <%=get_anchor_name_link(content)%> - <%= pluralize(content.answer_contents.count, 'Answer')%>  - <%end%><%= time_ago_format(content) %><% cache ['part-2', content] do %> ago. </a></div>
    <div class="subContentGap"><%= raw get_content_description(content)%></div>
    <ul class="divCommentsConent">
      <li class="subContentGap float_lft"><a class="txt_blue "><%= render_comments_anchor(content).html_safe  %></a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue"><%= link_to "Report",new_content_report_path(content,:type => "content"),:remote => true,:class => "txt_blue",:id => "report_link_#{content.id}" %></a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Add Answer</a></li>
      <%end%>
      <script>
        $("#report_link_<%= content.id %>").click(function(e){
          <%if !current_user %>
            openLoginPopup("#" + $(this).attr('id'), "click");
            return false
          <%end%>
        })
        </script>
      <%if content.can_update_content?(current_user)%>
        <!--<li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%=link_to "Delete This",content, :remote => true, :confirm => "Are you sure you want to delete #{content.title}?", :method => :delete, :class => "txt_blue"%></li>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%=link_to "Update This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
       --> <%= render :partial  => 'contents/guide', :locals => {:content => content} %>
      <%end%>
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content }  %>
</div>
