<div class="mainContentDiv">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <div class="float_rgt">
    <img src="images/users.png" class="userImageSmall">
  </div>
  <div class="subContentDiv">
    <div><a class="title" href="google.com"><%= content.title %></a></div>
    <div><a class="txt_brown"><%= content.user.name  %> asked in Fiat Grande Punto - <%= pluralize(content.answer_contents.count, 'Answer')%>  - <%= time_ago_in_words(content.created_at) %> </a></div>
    <div class="subContentGap"><a class="txt_black_description"><%= content.description %></a><a href="google.com" class="padding_left10 txt_blue">more...</a></div>
    <ul class="divCommentsConent">
      <li class="subContentGap float_lft"><a class="txt_blue ">Comments (9) </a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue">Report</a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Add Answer</a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Delete This</a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Update This</a></li>
    </ul>
  </div>
</div>