<!--<h3>Quick content create</h3>-->
<%count = (@article_categories.size - 1)%>

<%if @item.nil?
 direction = "left"
else
direction  = "right"
end%>

<%if @item.nil? %>
  <span style="height:30px;display:block;padding-top:5px;padding-right:20px;">
   <span class="Bluecyanbut" style="padding-left:450px;display:block;">  <span class='quick_config_btns' >
    <%= link_to  'Create a Buying Plan'.html_safe ,new_preference_path(:search_type => "#{session[:itemtype]}",:search => "true"),:class => 'quick_config_btns_icon',:remote => :true %>     
  </span>
</span>
<%end%>
      <% @article_categories.each_with_index do |article_category, index| %>
            <%if index == 0%> 
              <span class="Usrdropdown1" style="padding-left:0px;">
                 <span class="Usernamedp1"><img src="/images/icon_searchcriteria_active.png" style="padding-right:5px;float:left;margin-top:-1px;background:none;"><a href="#">Share Knowledge</a><span style="background: url('/images/arrows.png') no-repeat 0px 3px transparent;float: right;margin: 3px 0px 0px 2px;height: 8px;width: 10px;"></span>
                   <div class="Useraccountinfo1">
               <%end%> 
               <% unless article_category[0] == "Video" %>
                  <a data-content="<%=article_category[0]%>" class="quickCreate"><%=content_write_tab_label(article_category[0])%></a>
               <%end%>   
                    <%if index == count %>
                   </div>
                 </span>
              </span> 
            <%end%>  
          <%end%>

  <% @article_categories.each_with_index do |article_category, index| %>
               <%if index == 0%> 
                 <span class="Usrdropdown1" style="padding-left:20px;float:<%=direction%>">

                   <span class="Usernamedp1"> <img src="/images/icon_searchcriteria_active.png" style="padding-right:5px;float:left;margin-top:-1px;background:none;"><a href="#">Submit an Article</a><span style="background: url('/images/arrows.png') no-repeat 0px 3px transparent;float: right;margin: 3px 0px 0px 2px;height: 8px;width: 10px;"></span>
                     <div class="Useraccountinfo1">
                <%end%> 
                  <a data-content="<%=article_category[0]%>" class="quickShare"><%=content_submit_tab_label(article_category[0])%></a>
                   <%if index == count %>
                  </div>
                  </span>
                 </span> 
                <%end%>  
               <%end%>    
</span>
<!--
<div class="Homepopupgraybox" style="display:none;">

  <div class="Boxtopblock">
    <div class="Headingtext"><%=@itemtype.itemtype%> - Quick Content Creation</div>
    <span class="Openclosebut"><a href="" id="wizardbutton" class="Open">Open</a></span>
  </div>

  <div class="Grayboxmid" style="display:none;">


    <div class="Homeinnercontent">

      <div class="Blueblockhome smallhomeblock">
      
        <div class="Textdescriptions" id="plantobuySection">
          <p>
            Are you planning to buy a <%=@itemtype.itemtype.downcase%>? Get all the information required for you to take informed decision from one place by creating a buying plan.
          </p>

        </div>
        


      </div>
      <div class="Blueblockhome smallhomeblock">
      
        <div class="Textdescriptions">
          <p>
            Help others by sharing your knowledge/information about the <%=@itemtype.itemtype.downcase%> by writing a Review, How Tos, Latest ews, Photos. 
          </p>

        </div>
        <div class="Bluecyanbut">
        </div>

      </div>
      <div class="Blueblockhome smallhomeblock">        

        <div class="Textdescriptions">          
          <p>
            Did you read a great article/story on <%=@itemtype.itemtype.downcase%> in any other sites, you can share it with others here.
          </p>
        </div>

        <div class="Bluecyanbut"><a href="#">
           
        </div>


      </div>
      

    </div>


  </div>


  <div class="Boxbotcorner"></div>
</div>

-->

    <br/>
   <script type="text/javascript">
    $(function(){
      $('a.quickShare').click(function(e){
      <%if !current_user %>
         $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
         openLoginPopup("#" + $(this).attr('id'), "click");
        return false
      <%end%>    
      $(this).parent().toggleClass('selected');
      var category = $(this).data('content');
      $.ajaxSetup({
        'beforeSend':function(xhr){xhr.setRequestHeader("Accept","text/javascript")}
      });
	   $.ajax({url : '/contents/quick_new' , dataType:'script',type: "get",data: 'category=' +  category  + "&sharecontent=" + "true"  + "&item_id=<%= @item.id rescue ""%>"  });
    return false
    });
    
    $('a.quickCreate').live("click",function(){
      <%if !current_user %>
        $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
        openLoginPopup("#" + $(this).attr('id'), "click");
        return false
      <%end%>  
   // $(this).parent().toggleClass('selected');
    var category = $(this).data('content');
   // $.ajaxSetup({
   //   'beforeSend':function(xhr){xhr.setRequestHeader("Accept","text/javascript")}
   // });
   $.ajax({url : '/contents/quick_new' , dataType:'script',type: "get",data: 'category=' +  category + "&item_id=<%= @item.id rescue ""%>" });
    //$.get('/contents/quick_new',{'category' : category}, "script");
    return false

  });
  });
    </script>
