<!--<h3>Quick content create</h3>-->
<br/>
<%count = (@article_categories.size - 1)%>
<% @article_categories.each_with_index do |article_category, index| %>
	<%if index < 4%>
   <span class='quick_config_btns' >
	 <a href="#" class="quick_config_btns_icon button_<%= index %>" data-content="<%=article_category[0]%>"><%=content_write_tab_label(article_category[0])%></a>        
  </span>

	<%end%>
     <%if index == 4%>
<span class="Usrdropdown1">
         <span class="Usernamedp1"><a href="#">Others</a><a class="downarrow"></a>
           <div class="Useraccountinfo1">
           	<%end%>
           	<%if index >= 4%>
             <a data-content="<%=article_category[0]%>" class="quickCreate"><%=content_write_tab_label(article_category[0])%></a>
            <%end%>
            
            <%if index == count %>
           </div>
         </span>
       
    </span> 
    <%end%>     
    <%end%>
    <br/>
 
    <script type="text/javascript">
    	
    	$(function(){

  $('a.quick_config_btns_icon').click(function(e){
    <%if !current_user %>
    $("#click_message").html("<b><font color='green'>Please sign in to add content.</font><br /> </b>");
        openLoginPopup("#" + $(this).attr('id'), "click");
       return false
     <%end%>    
   // $(this).parent().toggleClass('selected');
    var category = $(this).data('content');
   // $.ajaxSetup({
   //   'beforeSend':function(xhr){xhr.setRequestHeader("Accept","text/javascript")}
   // });
	 $.ajax({url : '/contents/quick_new' , dataType:'script',type: "get",data: 'category=' +  category  });
    //$.get('/contents/quick_new',{'category' : category}, "script");
    return false

  });
    $('a.quickCreate').live("click",function(){
     <%if !current_user %>
     $("#click_message").html("<b><font color='green'>Please sign in to add content.</font><br /> </b>");
        openLoginPopup("#" + $(this).attr('id'), "click");
       return false
     <%end%>  
   // $(this).parent().toggleClass('selected');
    var category = $(this).data('content');
   // $.ajaxSetup({
   //   'beforeSend':function(xhr){xhr.setRequestHeader("Accept","text/javascript")}
   // });
   $.ajax({url : '/contents/quick_new' , dataType:'script',type: "get",data: 'category=' +  category  });
    //$.get('/contents/quick_new',{'category' : category}, "script");
    return false

  });
  });
    </script>
