<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <div class="float_rgt">
    <a href="<%= content.user.get_url()%>">  <img src="<%=content.user.get_photo%>" class="userImageSmall"/>   </a>
    </div>
  <div id="content_<%= content.id  %>" class="subContentDiv">
    <div><%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %></div>
    <div><a class="txt_brown"><%= content.user.name  %> reviewed <%=get_anchor_name_link(content)%> <a class="txt_brown">- <%= time_ago_format(content) %> ago. </a></div>
    <div class="subContentGap">
    	<%= raw get_rating_or_category_contents(content)%>
						<% if content.sub_type == "#{ArticleCategory::REVIEWS}" %>
						<% rating =  (content.is_a?ArticleContent) ? content.field1 : content.rating %>
						<script type="text/javascript">
							$('div#content_show_<%= content.id%>').raty({
							starOff:  'assets/star-off.png',
							starHalf   : 'assets/star-half.png',
							half       : true
							starOn: 'assets/star-on.png',
							start: <%= "#{rating}"%>
									});
						</script>
						<%end%>
    </div>
   <!-- <div class="subContentGap">	<a class="titlePro">Pro:</a><a class="txt_black_description"><%#= content.pros %></a></div>
    <div class="subContentGap"><a class="titleCon">Con:</a><a class="txt_black_description"><%#= content.cons %></a></div>-
  -->
    <div class="subContentGap"><%= raw get_content_description(content)%></div>
    <ul class="divCommentsConent">
      <li class="subContentGap float_lft"><a class="txt_blue "><%= render_comments_anchor(content).html_safe  %></a></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Report</a></li>
      <%if content.can_update_content?(current_user)%>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><%=link_to "Delete This",content, :remote => true, :confirm => "Are you sure you want to delete #{content.title}?", :method => :delete, :class => "txt_blue"%></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><%=link_to "Update This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
       <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
       <li class="subContentGap float_lft"> Guide:
        <%= select_tag("content_guide_#{content.id}", options_from_collection_for_select(Guide.all,"id","name",content.guides.collect { |u| u.id}),:include_blank => true, :class => 'content_guide','data-content' => "#{content.id}",:multiple => true ) %>

       </li>
      <%end%>
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content}  %>
</div>