<%= render 'shared/show_hide_login_form', :item => content %>
<div style="padding-left:60px;width:600px;">
	<ul id="productList" class="tagging">
		<%related_item_ids = content.related_items.collect(&:item_id).join(',')%>
		<%if related_item_ids.empty?%>
		<%related_content_items = []%>
		<%else%>
		<%related_content_items = Item.where("id in (#{related_item_ids})")%>
		<%end%>
		<%  related_content_items.each do |item|%>
		<%= display_product_tag(item, false).html_safe%>
		<% end%>
	</ul>
</div>
<% content_for :title, content.title  + " - "%>
<% content_for :description, content.description.split[0..150].join(" ")%>

<%if (content.is_a?(ArticleContent) && content.thumbnail?)%>
<% content_for :image, change_thumb_original(content) %>
<%end%>

<div class="float_rgt" >
	<%= render 'shared/follow_buttons',:follow_type => content.content_type, :follow_html => '', :button_class => '', :item => content, :related_items => false %>
</div>
<script>
 $(".plan_to_follow_icon").click(function(e){
  <%if !current_user %>
   $("#login #click_message").show();
         $("#login #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content-follow')%>");
         <%end%>

      });
 </script>
 <script>
 $(".plan_to_own_icon").click(function(e){
  <%if !current_user %>
   $("#login #click_message").show();
         $("#login #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'follow')%>");
         <%end%>

      });
 </script>
<div class="leftcolumnbig" style="clear:both;">
	<!-- Product Details - Start -->
	<div class="contentDetailsMainDiv">

		<!-- Question - Start -->

		<div  class="mainContentDiv" style="border-bottom:0px;">

			<div style="clear:both;width=100%;">
				<%= render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>

				<div  class="float_rgt">
					<a href="<%= content.user.get_url()%>"> <img src="<%= content.user.get_photo%>" class="userImageSmall"/></a>
				</div>
				<div  class="subContentDiv">
					<div>
						<%= raw get_content_title(content)%> <%if content.sent_approval? %> <font color="black" style="font-style:italic">[Under Review] </font> <%end%>
				<%if content.sub_type == "Deals"  %>
           <%if content.deal_expired? %>
             <font color="black" style="font-style:italic">[This Deal is Expired.] </font>
           <%end%>
        <%end%> 
						<% if ((content.is_a?(ArticleContent)) && (content.url?))  %>
						- (<a class="txt_black_description txt_onhover" target="_blank" href="<%=external_content_path(content.id)%>"><%= URI.parse(URI.encode(URI.decode(content.url))).host.gsub("www.","") %> </a>)
						<%end%>
					</div>
					<div>
						<a class="txt_brown">Shared by <%= content.user.name %> - <%= time_ago_in_words(content.created_at) %> ago</a></a>
					</div>
				
					<div class="subContentGap">
					   <%if content.is_a?(ReviewContent) && content.thumbnail?%>
						 	<div><img src="<%= content.thumbnail %>" class="uploadedarticleContentdisplay float_lft"/></div>
						 	<%end%>
						<%= raw get_rating_or_category_contents(content)%>
						
						<% if content.sub_type == "#{ArticleCategory::REVIEWS}" %>
						<% rating =  (content.is_a?ArticleContent) ? content.field1 : content.rating %>
						<% unless rating == 0%>
						<script type="text/javascript">
						$(document).ready(function(){
							$('div#content_show_<%= content.id%>').raty({
							starOff:  'assets/star-off.png',
							starHalf   : 'assets/star-half.png',
							half       : true,
							starOn: 'assets/star-on.png',
							start: <%= "#{rating.to_f.round(1)}"%>
									});
									
									  });
						</script>
						<%end%>
						<%end%>
						<% if content.sub_type == "#{ArticleCategory::APPS}" %>
						<div>
							<div style="float:left;">
								<label class="txt_black_description_detail">Category : <%= content.field1%> </label></br>
								<% if content.field2 == "Free"%>
								<label class="txt_black_description_detail">Cost: Free</label>
								<%end%>
							</div>
							<div style="float:right;">
								<% if !content.field3.empty? %>
								<a href="<%= content.field3%>" target="_blank"> <img src="/images/andriodshop.png" style="height:30px;width:100px"/> </a>
								<%end%>
								<% if !content.field4.empty? %>
								<a href="<%= content.field4%>" target="_blank"> <img src="/images/itunesshop.png" style="height:30px;width:100px"/> </a>
								<%end%>
							</div>
						</div>
						<br/>
						<%end%>
						<% if content.sub_type == "#{ArticleCategory::EVENT}" %>
						<div>
							<div style="float:left;">
								<% if !content.field1.empty? %>
								<label class="txt_black_description_detail">Start Date : <%= content.field1%> </label></br>
								<%end%>
								<% if !content.field3.empty? %>
								<label class="txt_black_description_detail">Location : <%= content.field3%> </label></br>
								<%end%>
							</div>
							<div style="float:right;">
								<% if !content.field2.empty? %>
								<label class="txt_black_description_detail">End  Date : <%= content.field2%> </label></br>
								<%end%>
							</div>
						</div>
						<br/>
						<%end%>
						<% if content.sub_type == "#{ArticleCategory::TRAVELOGUE}" %>
						<div>
							<div style="float:left;">
								<% if !content.field1.empty? %>
								<label class="txt_black_description_detail">From : <%= content.field1%> </label></br>
								<%end%>
								<% if !content.field3.empty? %>
								<label class="txt_black_description_detail">Days : <%= content.field4%> </label></br>
								<%end%>
							</div>
							<div style="float:right;">
								<% if !content.field2.empty? %>
								<label class="txt_black_description_detail">To : <%= content.field2%> </label></br>
								<%end%>
								<% if !content.field4.empty? %>
								<label class="txt_black_description_detail">Type : <%= content.field3%> </label></br>
								<%end%>
							</div>
						</div>
						<br/>
						<%end%>
									<% if content.sub_type == "#{ArticleCategory::DEALS}" %>
						<div>
							<div style="float:left;">
								<% if !content.field1.empty? %>
								<label class="txt_black_description_detail">Expire Date : <%= content.field1%> </label></br>
								<%end%>
								<% if !content.field2.empty? %>
								<label class="txt_black_description_detail">Discount : <%= content.field2%> </label></br>
								<%end%>
							</div>
							<div style="float:right;">
								<% if !content.field3.blank?   %>
								<label class="txt_black_description_detail">Completed : <%= content.field3.to_i == 1? "Yes" : "No" %> </label></br>
								<%end%>
								</div>
						</div>
						<br/>
						<%end%>
						<% if content.sub_type == "#{ArticleCategory::MILES}" %>
						<div>
							<div style="float:left;">
								<% if !content.field1.empty? %>
								<label class="txt_black_description_detail">Distance : <%= content.field1%> </label></br>
								<%end%>
								<% if !content.field3.empty? %>
								<label class="txt_black_description_detail">Route : <%= content.field3%> </label></br>
								<%end%>
							</div>
							<div style="float:right;">
								<% if !content.field2.empty? %>
								<label class="txt_black_description_detail">Time : <%= content.field2%> </label></br>
								<%end%>
							</div>
						</div>
						<br/>
						<%end%>
						<div style="padding:3px 0px 3px 0px;clear:both;">
							<%if ((content.is_a?(ArticleContent)) && (content.thumbnail?))%>
							<%if ((content.sub_type == "#{ArticleCategory::PHOTO}") && (content.url.nil?)) %>
							<div>  
							<link rel="stylesheet" href="/slider/themes/light/light.css" type="text/css" media="screen" />
   
    <link rel="stylesheet" href="/slider/nivo-slider.css" type="text/css" media="screen" />
  <div style="width:auto;height:auto;margin-left:25px;">
   <div id="wrapper">
        <div class="slider-wrapper theme-light">
            <div id="slider" class="nivoSlider">
             <% content.content_photos.each do |photo| %>
                 <%= image_tag(photo.photo.url(:large)) %>
                 <%end%>
            </div>
      
        </div>

    </div>
  </div>
  
    <script type="text/javascript" src="/slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
							</div>
							<br/>
						
							<% elsif !content.video.nil?%>
								<div id="youtube_thumbnail<%=content.id %>">  <a href="javascript:void(0);"> <span class="video_play"></span><img src="<%= change_thumb_original(content) %>" class="uploadedvideoContentdisplay float_lft"></a></div> 
								 <br />  <br />  <br />     
			      <%else%>
							  <div><img src="<%= content.thumbnail %>" class="uploadedarticleContentdisplay float_lft"/></div>
							<%end%>
							<%end%>
							<%if ((content.sub_type == "#{ArticleCategory::PHOTO}") && (content.url.nil?)) %>
						
							<%end%>
							
						<%= raw get_content_description(content, true)%>
						<% if ((content.is_a?(ArticleContent)) && (content.url?))  %>
						<a class="read_more_class" href="<%=external_content_path(content.id)%>">→ Read More</a>
						<%end%>
								<br/>
							
						</div>
       <script type="text/javascript">
         <%if ((content.is_a?(ArticleContent)) && (content.video?))%> 
         $("#youtube_thumbnail<%=content.id %>").click(function(){
          $("#youtube_thumbnail<%= content.id %>").html('<div id="youtube_image<%=content.id %>" style="height:350px; width:500px">');
          autoPlayVideo('<%= content.field4 rescue ""%>',<%= content.id %>);
          <%end%>
        });
  </script>
					</div>
					<ul class="divCommentsConent" style="clear:both;">
						<li class="subContentGap float_lft">
							<a class="txt_blue "><%= link_to "Report",new_content_report_path(content,:type => "content"),:remote => true,:class => "txt_blue",:id => "report_link_#{content.id}" %></a>
						</li>
				
						<%if content.can_update_content?(current_user)%>
						<li class="subContentGap float_lft">
							<a class="txt_gray ">|</a>
						</li>
						<li class="subContentGap float_lft">
							<!-- <%= link_to "Delete This", content_path(content), :method => "delete",:confirm => "Are you sure you want to delete #{content.title}?", :remote => true, :class => "txt_blue"%>
						</li>
						<li class="subContentGap float_lft">
							<a class="txt_gray ">|</a>
						</li>
						<li class="subContentGap float_lft">
							<%= link_to "Update This", edit_content_path(content, :detail => true), :remote => true, :class => "txt_blue"%>
						</li> -->
						    
            <%= render :partial  => 'contents/guide', :locals => {:content => content} %>
						   
						<%end%>
						 <%@detail = "true" %>
						<%= render :partial  => 'contents/others_action', :locals => {:content => content,:detail => @detail} %>
					</ul>
						<script>
        $("#report_link_<%= content.id %>").click(function(e){
          <%if !current_user %>
              $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'report')%>");
            openLoginPopup("#" + $(this).attr('id'), "click");
            return false
          <%end%>
        })
        </script>
				</div>
			</div>
		</div>

		<!-- Question - End -->

		<!-- Answer this question - Start -->
		<br/>
		<div  style="border-bottom:solid 1px #ccd4d8;margin-left:55px;clear:both;">
			<div class="float_lft margin_lft10 title" style="height:30px;text-align:middle;padding:10px 0px 0px 0px;font-weight:bold;">
				<%= pluralize(content.comments.where("status=?",1).count,'Comment') %>
			</div>
			<!--<div class="float_rgt" style="margin-top:8px;">
			<a style="" class="btn_submitanswer" id="comment_this_content" >Comment this Content</a>
			<div class="PlanntoBuyBtn"><span class="action_btns"><a class="btn_followthiscar_icon" href="#"></a><a class="btn_txt" href="#">Follow this Content</a></span></div>
			</div>
			-->
		</div>
		<div  style="border-top:solid 1px #ccd4d8;clear:both;margin-left:55px;"></div>
		<!-- Answer this question - End -->
		<%= render :partial => 'comments/detailed_comments_list',:locals => {:content =>content} %>
		<%= render :partial => 'comments/new_detail_comment', :locals => {:content => content, :parent => content.class.name, :parent_id => content.id, :detail => true}  %>

	</div>

	<!-- Product Details - End -->

</div>

<div class="rightcolumnsmall">
	<br/>
	<div style="border-top:solid 1px #cdd3d7;padding:10px 0px 10px 0px;">
 	 <%= render  "shared/share_buttons",:caption_text => content.title +  ' -PlannTo.com' %>
	</div>
	<% if content.sub_type == "#{ArticleCategory::REVIEWS}" %>
	<%= render "contents/popular_items"%>
	<br/>	
	<%= render "contents/related_contents"%>
	<%else%>
	<%= render "contents/related_contents"%>
	<br/>
	<%= render "contents/popular_items"%>
	
	<%end%>

	<%=render :partial => "shared/google_adsense_square" %>
	<!--
	<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
	<tr>
	<td class="bg_widgethdr txt_white">Related Questions</td>
	</tr>
	<tr>
	<td height="252" valign="top">

	</td>
	</tr>
	<tr>
	<td height="33" class="padding1_lft15"><a href="#" class="txt_blue">View All</a></td>
	</tr>
	</table>

	<br />
	-->
	<!-- Related Cars -- End -->
</div>

<!-- This will go into main layout -->
</div>

<br />
<%= render 'shared/product_button_javascript', :button_class => '', :item => content, :related_follower => user_follow_type(content, current_user) , :related_items => false %>
