<%= render 'shared/product_button_javascript', :button_class => '', :item => content, :related_follower => user_follow_type(content, current_user) , :related_items => false %>
<%= render 'shared/show_hide_login_form', :item => content %>
<div style="padding-left:60px;width:600px;">
 <ul id="productList" class="tagging">
		<%  Item.where("id in (#{content.related_items.collect(&:item_id).join(',')})").each do |item|%>
		<%= display_product_tag(item, false).html_safe%>
		<% end%>
	</ul>
</div>

     
<div class="float_rgt" >
   <%= render 'shared/follow_buttons',:follow_type => content.content_type, :follow_html => '', :button_class => '', :item => content, :related_items => false %>
</div>
<script>
 $(".plan_to_follow_icon").click(function(e){
  <%if !current_user %>
   $("#login #click_message").show();
         $("#login #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content-follow')%>");
         <%end%>

      });
 </script>
<div class="leftcolumnbig" style="clear:both;">
<!-- Product Details - Start -->
<div class="contentDetailsMainDiv">
      
        <!-- Question - Start -->
        <div  class="mainContentDiv">   
                   
      <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
      
      <div  class="float_rgt">
        <img src="<%=content.user.get_photo%>" class="userImageSmall"/>
      </div>

      <div  class="subContentDiv">
                <div><a class="title"><%= content.title %></a><%if content.status ==  Content::SENT_APPROVAL%> <font color="black" style="font-style:italic">[Under Review] </font> <%end%></div>
                <div><a class="txt_brown">Asked by <%= content.user.name %> - <%= time_ago_in_words(content.created_at) %> ago</a></div>
                <div class="subContentGap">
                <%if content.thumbnail?%>
						 	     <div><img src="<%= content.thumbnail %>" class="uploadedarticleContentdisplay float_lft"/></div>
						 	<%end%>
                <%= raw get_content_description(content, true)%></div>
                <ul class="divCommentsConent">
                    <li class="subContentGap float_lft" ><a class="txt_blue "><%= render_comments_anchor(content).html_safe  %></a></li>
                    <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
                    <li class="subContentGap float_lft"><a class="txt_blue "><%= link_to "Report",new_content_report_path(content,:type => "content"),:remote => true,:class => "txt_blue",:id => "report_link_#{content.id}" %></a>
						</li>
					<script>
        $("#report_link_<%= content.id %>").click(function(e){
          <%if !current_user %>
         $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'report')%>");
            openLoginPopup("#" + $(this).attr('id'), "click");
            return false
          <%end%>
        })
        </script>
                    <%if content.can_update_content?(current_user)%>
                    <!--<li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
                    <li class="subContentGap float_lft"><%=link_to "Delete This", content_path(content), :method => "delete", :remote => true,:confirm => "Are you sure you want to delete #{content.title}?", :class => "txt_blue"%></li>
                    
                    <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
                    <li class="subContentGap float_lft"><%=link_to "Update This", edit_content_path(content, :detail => true), :remote => true, :class => "txt_blue"%></li> -->
                      <%= render :partial  => 'contents/guide', :locals => {:content =>  content} %>
                    <%end%>
                    <%@detail = "true" %>
                    <%= render :partial  => 'contents/others_action', :locals => {:content => content,:detail => @detail} %>
                </ul>
      </div>
      <%=render :partial => "comments/new", :locals => { :content => content}  %>
    </div>
    <!-- Question - End -->
    
    <!-- Answer this question - Start -->
      <div  style="border-bottom:solid 1px #ccd4d8;">
        <div class="hdr_Category float_lft margin_lft10"><%= pluralize(content.answer_contents.where("status!=?", Content::DELETE_STATUS).count,'Answers') %> </div>
        <div class="float_rgt" style="margin-top:8px;">
               <!-- <a style="" class="btn_submitanswer answer_button" id="answer_this_question" >Answer this Question</a> --> 
            
                </div>
                
      </div>
      <div  style="border-top:solid 1px #ccd4d8;clear:both;"></div>
    <!-- Answer this question - End -->
   
  <div id="answer_content_div">      
  <%= render :partial => 'answer_contents/answer_content',:collection => content.answer_contents.where("status!=?", Content::DELETE_STATUS) %>
  </div>
     <%= render :partial => 'answer_contents/new_answer_content', :locals => {:question_content => content, :item => @item ,:content => AnswerContent.new}%>
        <script>
          $("#publishanswer").click(function(e){
            <% if !current_user %>
             $("#login #click_message").show();
               $("#login #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'answer')%>");
           <%end%>
        });
           </script>
    
</div>


<!-- Product Details - End -->


</div>

<div class="rightcolumnsmall">
  <br/>
  <div style="border-top:solid 1px #cdd3d7;padding:10px 0px 10px 0px;">
   <%= render  "shared/share_buttons",:caption_text => content.title +  ' -PlannTo.com' %>
  </div>

  <%= render "contents/related_contents"%>
  <%= render "contents/popular_items"%>

<!-- Related Cars -- End -->
</div>

<!-- This will go into main layout -->
</div>
