<div >
	<span class="sortby" id="sortBy"> 
		<span style="padding:2px 5px 0px 0px;"><b>Sort by:</b></span> 
		<% @guide_id = "#{@guide.try(:id)}"%>
		<%if @guide_id == ""%>
	 	 <%newest_class = "link_active"%>
	 	  <%votes_class = "txt_blue"%>
		<%else%>
		<%newest_class = "txt_blue"%>
		<%votes_class = "link_active"%>
		<%end%>
		<%if  @order == "created_at desc" %>
		  <%newest_class = "link_active"%>
	 	  <%votes_class = "txt_blue"%>
		<%elsif @order == "total_votes desc"%>
		   <%newest_class = "txt_blue"%>
		  <%votes_class = "link_active"%>
		<%end%>
		<a  class="<%=newest_class%>" href="#" id="sortByNewest" style="text-decoration: none;">Newest</a> <span style="padding:0px 5px;">|</span>
<a class="<%=votes_class%>" href="#" id="sortByVotes">Votes</a> <span style="padding:0px 5px;">|</span> 
		<a class="txt_blue" href="#">Most Comments</a> 
		<%= form_for :content_search, :url => {:controller => "contents", :action => "search_contents"}, :remote => true, :html => { :style => "float:right;", :id => "contentSearchForm"} do |f| -%>
    <label style="padding-right:10px;color:#7A7A7A;font-size:11px;">Search Content:</label>
		<%= f.text_field :search, :class => "txt_gray new_comment", :size => "20", "placeholder"=> "" %>
		<%= f.hidden_field :sub_type %>
		<%= f.hidden_field :item_ids, :value => @item.try(:id)%>
		<%= f.hidden_field :sort_by, :value => ""%>
		<%= f.hidden_field :itemtype_ids, :value => @item.try(:get_base_itemtypeid) || @itemtype.try(:id)%>
		<%= f.hidden_field :previous_search_value%>
		<%= f.hidden_field :page, :value =>1%>
		<% end -%> </span>
</div>


<script type="text/javascript">
  $(document).ready(function(){
  	
  	$("span#sortBy a").click(function (e) {
  		 $("span#sortBy").find('a').removeClass('link_active');
        $(this).addClass("link_active");
          if ($("#content_search_search").val().toString() == ""){
          	$("#filter_page_no").val('1');
          	var id = $("div#Filterby div.Filternav ul li.Currentfilter").text();
	          var sub_type = find_sub_type(id);  
            var filter_page_no = $("#filter_page_no").val();
            var itemtype_id = "<%=@item.try(:get_base_itemtypeid) || @itemtype.try(:id)%>";   
            var sort_by = $(this).text();
            var guide = "<%=@guide.try(:id)%>";
            var items = "<%= @item.try(:id) || ""%>";
            contentSearchFilterAction("filter", sub_type, items, filter_page_no, itemtype_id, sort_by, guide);       
          return false
           }
           else{
         $("#content_search_page").val(1);
         $("#content_search_sort_by").val($(this).text());
          $("#contentSearchForm").bind('ajax:complete', function() { running = false});
         $("#contentSearchForm").submit();
         }
  	});
  	
  
    
    });
</script>
