<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <% cache ['part-1', content] do %>
  <div class="float_rgt"><a href="<%= content.user.get_url()%>"> <img src="<%=content.user.get_photo%>" class="userImageSmall"/></a>
  </div>
  <div id="content_<%= content.id  %>" class="subContentDiv">
    <div><%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %></div>
    <div><a class="txt_brown_bold" href="<%= content.user.get_url()%>"><%= content.user.name %> shared a video on <%=get_anchor_name_link(content)%> - <%end%><%= time_ago_format(content) %><% cache ['part-2', content] do %> ago </a></div>
    <div>
     <div id="youtube_thumbnail<%=content.id %>">  <a href="javascript:void(0);"> <span class="video_play"></span><img src="<%= content.thumbnail %>" class="uploadedvideoContentdisplay float_lft"></a></div>
      <br />
      <br />
      <div class="subContentGap"><%= raw get_content_description(content)%></div>
    </div>
    <br />  <br />  <br />     <br />
   <ul class="divCommentsConent dontfloat">
      <li class="subContentGap float_lft"><a class="txt_blue "><img src="/images/comment.jpg"/><%= render_comments_anchor(content).html_safe  %></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue "><img src="/images/report.jpg"/><%= link_to "Report",new_content_report_path(content,:type => "content"),:remote => true,:class => "txt_blue",:id => "report_link_#{content.id}" %></a></li>

      <!--<%#if content.can_update_content?(current_user)%>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%#=link_to "Delete This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%#=link_to "Update This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
      <%#end%>-->
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content }  %>
 </div> 
    <script type="text/javascript">
    $("#youtube_thumbnail<%= content.id %>").click(function(){
    $("#youtube_thumbnail<%= content.id %>").html('<div id="youtube_image<%=content.id %>" style="height:350px; width:500px">');
     autoPlayVideo('<%= content.field4%>',<%= content.id %>);
    });
  </script>
    <script>
      $("#report_link_<%= content.id %>").click(function(e){
       <%if !current_user %>
         openLoginPopup("#" + $(this).attr('id'), "click");
         return false
        <%end%>
     })
  </script>
 <%end%>

