<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <% cache ['part-1', content] do %>
  <div class="float_rgt"><a href="<%= content.user.get_url()%>"> <img src="<%=content.user.get_photo%>" class="userImageSmall"/></a>
  </div>
  <div id="content_<%= content.id  %>" class="subContentDiv">
    <div><%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %></div>
    <div><a class="txt_brown_bold" href="<%= content.user.get_url()%>"><%= content.user.name %> shared a video on <%=get_anchor_name_link(content)%> - <%end%><%= time_ago_format(content) %><% cache ['part-2', content] do %> ago </a></div>
    <div>
       <div id="youtube_image<%=content.id %>"> <a href="javascript:void(0);"> <span class="video_play"></span><img src="<%= content.thumbnail %>" class="uploadedvideoContentdisplay float_lft"></a></div>
<div id="video<%=content.id%>" style="display:none"> <a id="youtube_<%=content.id%>" data-id="<%= content.field4%>" alt='{"width":"400","height":"300"}'> </div> 
      <div class="subContentGap"><%= raw get_content_description(content)%></div>
    </div>
    <ul class="divCommentsConent dontfloat">
      <li class="subContentGap float_lft"><%= render_comments_anchor(content).html_safe  %></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue "><%= link_to "Report",new_content_report_path(content,:type => "content"),:remote => true,:class => "txt_blue",:id => "report_link_#{content.id}" %></a></li>
      <script>
        $("#report_link_<%= content.id %>").click(function(e){
          <%if !current_user %>
            openLoginPopup("#" + $(this).attr('id'), "click");
            return false
          <%end%>
        })
        </script>
      <!--<%#if content.can_update_content?(current_user)%>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%#=link_to "Delete This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%#=link_to "Update This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
      <%#end%>-->
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content }  %>
  <script type="text/javascript">
    $("#youtube_image<%= content.id %>").click(function(){
       $("#video<%=content.id%>").show();
       $("#youtube_image<%= content.id %>").hide();
    });
  </script>
   <script>
       $('#youtube_<%=content.id%>').youtube();
    </script>     
  </div>
  <%end%>
