<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <div class="float_rgt"><img src="<%=content.user.get_photo%>" class="userImageSmall"/>
  </div>
  <div id="content_<%= content.id  %>" class="subContentDiv">
    <div><%= link_to content.title, content_path(content.id), :class => "title" %></div>
    <div><a class="txt_brown"><%= content.user.name %> shared a video on <a class="txt_brown" href="<%= "/" + content.items.first.type.tableize + "/" + content.items.first.id.to_s %>"><%= content.items.first.name %> </a> - <%= time_ago_format(content) %> ago </a></div>
    <div>
      <div><a href="" rel="<%= content.field4  %>" class="youtube" title="<%= content.title  %>"><img src="<%= content.thumbnail %>" class="uploadedvideoContentdisplay float_lft"></a></div>
      <div class="subContentGap"><%= raw get_content_description(content)%></div>
    </div>
    <ul class="divCommentsConent dontfloat">
      <li class="subContentGap float_lft"><%= render_comments_anchor(content).html_safe  %></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue ">Report</a></li>
      <%if content.can_update_content?(current_user)%>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%=link_to "Delete This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
        <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
        <li class="subContentGap float_lft"><%=link_to "Update This", edit_content_path(content, :item_id => "#{@item.try(:id)}"), :remote => true, :class => "txt_blue"%></li>
      <%end%>
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content }  %>
</div>