<div class="mainContentDiv" id="mainContentDiv<%=content.id%>">
  <%=render :partial => "votes/voting_detail", :locals => {:item => content, :user => user_signed_in? ? current_user : nil}%>
  <% cache ['part-1', content] do %>
  <div class="float_rgt"><a href="<%= content.user.get_url()%>"> <img src="<%=content.user.get_photo%>" class="userImageSmall"/></a>
  </div>
  <div id="content_<%= content.id  %>" class="subContentDiv">
    <div><%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %><%if content.sent_approval? %> <font color="black" style="font-style:italic">[Under Review] </font> <%end%></div>
    <div><a class="txt_brown_bold" href="<%= content.user.get_url()%>"><%= content.user.name %></a> <a class="txt_brown_bold"> shared a video on <%=get_anchor_name_link(content)%> - <%end%><%= time_ago_format(content) %><% cache ['part-2', content] do %> ago </a></div>
    <div class="contentsubsection">
     <div id="youtube_thumbnail<%=content.id %>">  <a href="javascript:void(0);"> <span class="video_play"></span><img src="<%= change_thumb_original(content)%>" class="uploadedvideoContentdisplay float_lft"></a></div>
      <br />
      <br />
      <div class="subContentGap"><%= raw get_content_description(content)%></div>
    </div>
    <br />  <br />  <br />     <br />
   <ul class="divCommentsConent dontfloat">
      <li class="subContentGap float_lft"><a class="txt_blue " style="float:left;"><img src="/images/comment.jpg"/><%= render_comments_anchor(content).html_safe  %></li>
      <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
      <li class="subContentGap float_lft"><a class="txt_blue " style="float:left;"><img src="/images/report.jpg"/><%= link_to "Report",new_content_report_path(content,:type => "content"),:remote => true,:class => "txt_blue",:id => "report_link_#{content.id}" , :style=>"float:left;padding-left:5px;"%></a></li>
<%end%>
      <div id="edit_actions_<%= content.id %>"> </div>
    </ul>
  </div>
  <%=render :partial => "comments/new", :locals => { :content => content }  %>
 </div> 
    <script type="text/javascript">
    $("#youtube_thumbnail<%= content.id %>").click(function(){
    $("#youtube_thumbnail<%= content.id %>").html('<div id="youtube_image<%=content.id %>" style="height:350px; width:500px">');
     autoPlayVideo('<%= content.field4%>',<%= content.id %>);
    });
  </script>
    <script>
      $("#report_link_<%= content.id %>").click(function(e){
       <%if !current_user %>
         $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'report')%>");
         openLoginPopup("#" + $(this).attr('id'), "click");
         return false
        <%end%>
     })
  </script>
 

