<% content_for :title, "My feeds" + "-" %>
<% content_for :description, "My feeds"%>

<div class="Homepopupgraybox">
<div class="Boxtopblock">

 <div class="Headingtext">My feeds</div>
  <!--  <span class="Openclosebut"><a href="" id="wizardbutton" class="Open">Open</a></span>-->
  </div>
<div class="Boxbotcorner"></div>
</div>
<div class="leftcolumnbig">
  <!-- Product Details - Start -->
  <!-- Overview Tabs -  Start -->
  <br/><br/>
  <!-- Product Details - End -->
  
  
  <ul id="Newtabs">
   <li class="tab_active"><a href="#"><span>My Feeds</span></a></li>
        <!-- <li id="my_feed_tab"><a href="#"><span>My Feed</span></a></li> -->
  </ul>
 <% if @items.size > 0 %>
  <div id="content_all">
    <!--filter by block start here-->
   
    <div id="Filterby">
      <div class="Filternav">
            <div style="float:left;width:60px;">
              <span style="padding:2px 5px 0px 0px;"><b>Filter by:</b></span>     
            </div>
            <div style="float:left;width:630px;">
              <ul>
              <!--  <li class="Labeltext" style="padding-right:2px;">Filter by:</li>-->
                <li class="Currentfilter feed_filter" id="All"><a href="#">All</a></li>
                <%ArticleCategory.by_itemtype_id(0).each do |category|%>
                <%if category.name == "HowTo/Guide"%>
                  <li id="HowTo"><a href=""><%=category.name%></a></li>
                <%else%>
                <li id="<%=category.name%>"><a href=""><%=category.name%></a></li>
                <%end%>
                
                <%end%>
                 <li id="User"><a href="">User</a></li>
              </ul>
            </div>
      </div>
    </div>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
    <div >
     <!-- <span class="sortby" id="sortBy">
        <span style="padding:2px 5px 0px 0px;"><b>Sort by:</b></span>
         <a class="txt_blue" href="#"  class="link_active" id="new">Newest</a> <span style="padding:0px 5px;">|</span>
        <a class="txt_blue" href="#">Votes</a> <span style="padding:0px 5px;">|</span>
        <a class="txt_blue" href="#">Most Comments</a> -->
        <div style="display:none;">
          <%= form_for :content_search, :url => {:controller => "contents", :action => "search_contents"}, :remote => true, :html => { :style => "float:right;", :id => "contentSearchForm"} do |f| -%>
		      <%= f.text_field :search, :class => "txt_gray new_comment", :size => "20", "placeholder"=> "Search content" %>
		     <%= f.hidden_field :sub_type %>
		     <%= f.hidden_field :item_ids, :value => @items%>
		     <%= f.hidden_field :sort_by, :value => ""%>
		       <%= f.hidden_field :itemtype_ids, :value => @item_types.join(",")%>
	      	<%= f.hidden_field :previous_search_value%>
		     <%= f.hidden_field :page, :value =>1%>
		    <% end -%>  
		   </div>  
      <!-- </span> -->
    </div>
<div style="margin: 0px 0px 0px 550px;">
<ul class="itemdrop" >
	<li class="item1"><a href="#"><span>Categories</span></a>
		<ul class="item_drop">

			<% Itemtype.where("itemtype in(?)",Item::ITEMTYPES).each do |i| %>
				<li class="selected"> <a data-type=<%= i.id %> ><%= i.itemtype %></a></li>
			<% end %>
		</ul>
	</ul>
</dl>
</div>
<%end%>
    <%= hidden_field_tag :items, @items%>
     <%= hidden_field_tag :item_types , @item_types.join(",") %> 
      <%=hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
     <%if @items.size == 0 %>
      <br/>
      <br />
      <br />
      <br />
        <%= render "shared/alert_message",:type => "myfeed" %>
       <div class="Searchform">
       <input type="text" placeholder="Search Item for follow." id="search_item" /> 
       <input name="" type="button" class="Searchbut"/> 
   </div>  
  <div class="Searchform" style="">   

     
    <%= form_for(Follow.new , :html=>{class: 'follow_form'}) do |f| %>
       <%=f.select :follow_type, options_for_select([["I Own it", "owner"], ["Plan to Buy", "buyer"], 
                                                     ["Follow this Item", "follower"]]) %>
       <%= f.hidden_field :followable_id %>
       <%= f.hidden_field :followable_type %>         
             
     <%end%>       
     <%end%>
  <%if @items.size > 0 %>
     <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
      <%= render :partial => 'contents/contents'%>
    
     <a id="content_next" style="display:none"></a>
     </div> 
       <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
     <%= image_tag '/images/ajax-loader.gif' %>
</span>
<%end%>
</div>

</div>

      <%if @items.size > 0 %>
<div class="rightcolumnsmall">
  <br/><br/>
 <div >
<%= render  'contents/follow_items'%>
<br/>
  </div>

<br/>  
<br/>
 </div>
 <%end%>  
<div id="script_div">
<%= render "contents/my_feed_script" %>
</div>

</div>
