<div style="border: solid 0px;width: 1000px;position:relative;margin: 0 auto;height: auto;min-height: 600px;
    padding:10px;">
<div style="background:white;padding:5px;height:40px;">
    <div style="float:left;width:300px;">
        <span style="float: left;display: block;"><img src="/images/<%=@itemtype.itemtype.downcase%>-icon.png" style="height:40px;"> </span>
        <span style="float: left;margin-top: 12px;font-size: 15px;font-weight: bold;display: block;">  &nbsp;&nbsp; <%=@guide.name  + " - " + @itemtype.itemtype.pluralize.capitalize  %> </h2></span>

    </div>
</div>

<span id="content_all">
<div style="clear:both;background:white;padding:5px;width:727px;float:left;margin-top:10px;">
<div class="leftcolumnbig">
	<!--<ul id="Newtabs">
		<li class="tab_active">
			<a href="#"><span>Guides</span></a>
		</li>
		<li>
			<a href="#"><span>My Feed</span></a>
		</li>
	</ul>-->
	
	 <%= hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
	 <%= hidden_field_tag "search_type","undefined" %>
	 <%= render "contents/filter_by_options"%>
	 <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
		<%= render "contents/sort_by_options"%>
		<div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
			<%= render :partial => 'contents/contents'%>
			<a id="content_next" style="display:none"></a>
		</div>
		<span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
      <%= image_tag '/images/ajax-loader.gif' %>
   </span>

</div>
	</span>
</div>

<div class="rightcolumnsmall">
	<div style="background:white;padding:5px;margin-top:10px;">
	<%= render "shared/quick_links", :search_type => @itemtype.itemtype.pluralize %>
	<div>
</div>
<div class="rightcolumnsmall">

	<div style="margin-top:10px;padding:5px;">
	  <%= render "shared/share_buttons", :caption_text => 'Check out the buying guides of ' + @itemtype.itemtype.downcase + ' in PlannTo.com' %>
	</div>
<br/>

<%=render :partial => "shared/google_adsense_square" %>
<br/>
<!--<#%= render :partial => 'products/popular_items',:locals => {:type => 'Bike'} %>-->


<%= render :partial => 'products/popular_topics', :locals => {:type => @itemtype.itemtype} %> 
</div>
</div>