<div class="leftcolumnbig">
	<br/>
	<br/>
	<ul id="Newtabs">
		<li class="tab_active">
			<a href="#"><span>Guides</span></a>
		</li>
		<!-- <li>
			<a href="#"><span>My Feed</span></a>
		</li> -->
	</ul>
	<div id="content_all">
	 <%= hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
	 <%= hidden_field_tag "search_type","undefined" %>
		<%= render "contents/filter_by_options"%>
		<div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
		<%= render "contents/sort_by_options"%>
		<div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
			<%= render :partial => 'contents/contents'%>
		</div>
		<a id="content_next" style="display:none"></a>
		  <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
     <%= image_tag '/images/ajax-loader.gif' %>
</span>
	</div>
</div>

<div class="rightcolumnsmall">
<br/>
<%= render "shared/quick_links", :search_type => @itemtype.itemtype.pluralize %>
<br/>
<div style="border-top:solid 1px #cdd3d7;padding:10px 0px 10px 0px;">
  <%= render "shared/share_buttons", :caption_text => 'Check out the buying guides of ' + @itemtype.itemtype.downcase + ' in PlannTo.com' %>
</div>
<br/>
<%=render :partial => "shared/google_adsense_square" %>
<br/>
<!--<#%= render :partial => 'products/popular_items',:locals => {:type => 'Bike'} %>-->
</div>

