<!--<table>
  <tr>
    <th>S.No</th>
    <th>Title</th>
    <th>Category</th>
    <th>Status</th>
    <th>Source</th>
  </tr>
 -->
  <% @feed_urls.each_with_index do |feed, inx| %>
    <div style="height:20px;overflow: hidden;position: relative;">
     <div style="width:200px;float:left;"><%= feed.source %></div>
      <div style="width:750px;float:left;"><span class="feed_title" id="<%= feed.id %>"><%= feed.title.blank? ? feed.url : feed.title.truncate(70) %></span> </div>
      <div style="width:50px;float:left;"><%= feed.category %></div>     
      
      <div class="feed_explain"> <td colspan="5">  </div> 

  </div>
  <div class="display" id="feed_display_<%= feed.id %>" style="overflow: hidden;position: relative;border:1px solid #CFCFCF"></div>
  </div>
  <% end %>
  <!--
</table>

-->