<%#= will_paginate @feed_urls %>
<!--<table>
  <tr>
    <th>S.No</th>
    <th>Title</th>
    <th>Category</th>
    <th>Status</th>
    <th>Source</th>
  </tr>
 -->
<%#= will_paginate @feed_urls %>

  <% @feed_urls.each_with_index do |feed, inx| %>
    <div style="height:20px;overflow: hidden;position: relative;" class='each_row'>
     <div style="width:200px;float:left;"><%= feed.source.blank? ? "-- blank -- " : feed.source %></div>
     <div style="width:100px;float:left;" class="mark_as_list">
         <%= image_tag "/assets/star-on.png", :alt => "mark as future", :id => "future", :class => "mark_as_button", :title => "mark as future" %>
         <%= image_tag "/assets/invalid.png", :size => "16x16", :alt => "mark as invalid", :id => "invalid", :class => "mark_as_button", :title => "mark as invalid" %>
     </div>
      <div style="width:550px;float:left;"><span class="feed_title" id="<%= feed.id %>"><%= feed.title.blank? ? feed.url : feed.title.truncate(70) %></span> </div>
      <div style="width:130px;float:left;"><%= feed.category %></div>
      <div style="width:150px;float:left;"><%= feed.published_at.strftime('%d %b %Y') %></div>

      <div class="feed_explain"> <td colspan="5">  </div>

  </div>
  <div class="display" id="feed_display_<%= feed.id %>" style="overflow: hidden;position: relative;border:1px solid #CFCFCF">

  </div>
  <% end %>


<div class="next jscroll-next-parent" style="display: none;">
  <%= will_paginate @feed_urls %>
</div>

<script type="text/javascript">
    $(function()
    {
        <% if !params[:page].blank? %>

        console.log($page_count)
        console.log(<%= params[:page] %>)
        console.log($page_count == <%= params[:page] %>)

        if ($page_count == <%= params[:page] %>)
        {
            $(".jscroll-next-parent").remove()
            $(".jscroll-loading").remove()
        }
        <% end %>
    })
</script>