<% if @already_shared == true %>
    <div class="detailed_vales" style="margin: 35px">
      <% if @shared_message.blank? %>
        Product is already shared, Please find the link below: <br/> <br/>
      <% else %>
        <%= @shared_message %>: <br/> <br/>
      <% end %>

      <a href="<%= content_path(@article_content.id) %>" target='_blank'> <%= @article_content.title %></a>
    </div>
<% else %>
    <div id="ShareURLDiv" class="detailed_values">
      <%= form_for(:article_content, :url => "/article_contents", :remote => true, :html => {:id => "article_detail_form"}) do |f| %>
          <%= hidden_field_tag 'feed_url_id', @feed_url.id %>

          <%= hidden_field_tag 'default_item_id', @item.try(:id) %>
          <%= hidden_field_tag 'submit_url', 'submit_url' %>
          <%= f.hidden_field :itemtype_id, :value => @item.try(:itemtype_id) %>
          <%= hidden_field_tag 'share_from_home' %>
          <% if @article_content %>
              <%= hidden_field_tag :detail, @detail %>
          <% end %>
          <%= hidden_field_tag "articles_item_id" %>
          <%= f.hidden_field :type, :id => "new_article_type" %>
          <%= f.hidden_field :thumbnail, :id => "new_article_thumbnail" %>
          <%= hidden_field_tag 'external', @external %>
          <div class="title" style="clear:both;">
            <span style="width:75px;float:left;" class="title_header"><label for="" >Title :</label></span>
            <span style="float:left;" >
            <%= f.text_field :title , :style => "width:750px;"%>
          </span>
          </div>
          <div class="url" style="clear:both;">
            <span style="width:75px;float:left;" class="title_header"><label for="url" style="width:100px;">Url :</label></span>
            <span style="float:left;"><%= f.text_field :url , :style => "width:750px;"%> <%= link_to image_tag("/images/open-window.png",:style=>"width:15px;"), @article_content.url, :target => "_blank", :id => "open_window" %></span>
          </div>

          <div class="category" style="clear:both;">
            <span style="width:75px;float:left;" class="title_header"><label for="category" style="width:100px;">Category :</label></span>
            <span style="float:left;"><%= f.select :sub_type, @categories, {:selected => @article.sub_type } %></span>
          </div>
          <br />

<div class="image_process">

  <div style="padding:5px 5px 0px 0px;clear:both;display:none;" class="<%=@dwnld_url%> <%=@article_image%>">
    <div class="title_header float_lft <%=@article_image%>" style="float:left;width:100px;">Thumbnail :</div>

        <div id="share_1" style="display:none;float:left">
          <img id="<%=@img_thumb%>"  style="margin-left:5px;width:75px;height:75px; display:none;" class="float_lft" />
        </div>

        <div id="share_2">
          <img src="<%= @article_content.thumbnail%>"  style="margin-left:5px;width:75px;height:75px;" class="float_lft" />
        </div>

    <div class="float_lft <%=@article_image%>"><input type="checkbox" id="noincludethumbnail" name="noincludethumbnail">Don't Include Thumbnail</input></div>
    <div class="float_lft"><input type="checkbox" id="<%=@manual_image%>">Add Image Url</input>
      <%=f.text_field :thumbnail, :id => "#{@thumbnail_id}", :style => "display:none;width:400px"%>
    </div>

  </div>

  <div style="padding:5px 5px 0px 5px;clear:both;display:none;" class="<%=@dwnld_url%>">
    <div class="title_header float_lft <%=@article_image%>"></div>
    <div class="float_lft <%=@article_image%>">
      <span id="<%=@current_image_size%>"></span> <br />
      <span id="<%=@current_image_id%>" class="txt_blue"><%if @article_content.new_record?%>0 <%else%> 1 <%end%></span>/ <span id="<%=@total_images%>" class="txt_blue total_img">0</span> &nbsp;
      <a id="aPrev" class="txt_blue">Prev</a>
      <a id="aNext" class="txt_blue">Next</a>
    </div>
  </div>

</div>



          <div class="description" style="clear:both;">
            <span style="width:75px;float:left;" class="title_header"><label for="description">Description :</label></span>
           <span style="float:left;"> <%= f.text_area :description ,:style=>"width:600px;height:100px;"%> </span>
          </div>

          <div class="productreview" style="clear:both;display:none;" id="<%=@productReviewRating%>">
            <div class="title_header float_lft">Rating :</div>
            <div id="<%=@productReviewRatingField%>" class="thereisnosuchclass"></div>
          </div>


          <div style="padding:5px 5px 0px 0px;clear:both;display:block;" id="shareProduct">
            <div class="title_header float_lft">Product :</div>
            <div class="taggingdiv" style="margin-left:5px;">
              <ul id="new_article_product_list" class="tagging"></ul>
              <div class="float_lft " style="clear:both;">
                <input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" id="new_article_product"/>
              </div>
              <div style="clear:both;"></div>

              <div id="search_items_by_relavance" style="font-size: 12px;margin: 5px 0px 10px 5px;width:800px;line-height: 25px;"></div>
              <div style="clear:both;"></div>

            </div>
            <div style="clear:both;"></div>
          </div>

          <%= hidden_field_tag 'old_default_values', "" %>
          <%= hidden_field_tag 'new_default_values', "" %>

          <div class="page_buttons" style="clear:both;margin-left:91px;margin-bottom:20px;float:left;">
            <%= f.submit "Save and Continue" ,:class=>"btn_submitanswer", :id => "save_and_continue" %>
            <a href="javascript:void(0)" class="btn_submitanswer" id="cancel" accesskey="c">Cancel</a>
            <a href="javascript:void(0)" class="btn_submitanswer mark_as" id="invalid" accesskey="i">Mark as Invalid</a>
            <a href="javascript:void(0)" class="btn_submitanswer mark_as" id="future" accesskey="f">Mark as Future</a>
          </div>

          <a accesskey="n" />
          <a accesskey="c" />
          <a accesskey="o" />
          <a accesskey="b" />
          <a accesskey="z" />
          <a accesskey="x" />
          <div class='empty_div'>

          </div>

      <% end %>

    </div>





    <style type="text/css">
        .detailed_vales {
            margin: 20px;
        }

        .submit_buttons {
            position: relative;
            right: -687px;
            top: -300px;
        }

        a:hover {
            text-decoration: underline !important;
        }


        .image_process {
            margin: 10px;
            padding: 0;
            position: relative;
        }

        #search_items_by_relavance label {
            background-color: #e6e6e6;
            cursor: pointer;
            padding: 5px !important;
            position: relative;
        }

        #search_items_by_relavance .option {
            background-color: #E6E6E6;
            margin: 2px;
            cursor: pointer;
        }

        #search_items_by_relavance .option input {
            display: none;
            margin: 0;
            padding: 0;
        }

        #save_and_continue {
            float: left;
        }

    </style>


    <script type="text/javascript">
        $("#cancel").click(function () {
            $(".display").html("")
        })

        $(".mark_as").click(function () {
            var that = $(this)
            var feed_url_id = "<%= @feed_url.id %>"
            $.ajax({
                url: '/feeds/change_status',
                dataType: 'json',
                data: {feed_url_id: feed_url_id, mark_as: that.attr("id")},
                success: function (data) {
                    $("#feed_display_" + data.feed_url_id).next().find('.feed_title').click()

                }
            });
        })

        $("document").ready(function () {
            $("#article_content_sub_type").focus()
//            var data =
            <!--<%#= raw @results.to_json %>-->

//            var container = $('#search_items_by_relavance');
//            sub_contain = $("<span style='padding-right:10px;font-weight:bold;'>Suggestions:</span>")
//
//            $(sub_contain).appendTo(container)
//            $.each(data, function (index, value) {
//                sub_contain = $("<span style='display:inline-block'></span>")
//                $('<input />', { type: 'checkbox', class: "relevant_product", item_name: value.value, id: 'matched' + value.id, value: value.id, name: "relevance_product[]" }).appendTo(sub_contain);
//                $('<label />', { 'for': 'matched' + value.id, text: value.value + " (" + value.type + ")", style: "padding-right:10px;" }).appendTo(sub_contain);
//                $(sub_contain).appendTo(container)
//
//            });



            $.ajax({
                url: '/search/search_items_by_relavance' +
                        '',
                dataType:'json',
                type: "get",
                data: {term: "<%= @title_for_search %>", search_type: $("#new_article_type").val(), category: '<%= @feed_url.category %>', ac_sub_type: $("#article_content_sub_type").val()},
                before:$('#share_spinner').show(),
                after: $('#share_spinner').hide(),
                success: function(data){
                    $test = data
                    var container = $('#search_items_by_relavance');
                    sub_contain = $("<span style='padding-right:10px;font-weight:bold;'>Suggestions:</span>")

                    $(sub_contain).appendTo(container)
                    $.each(data, function (index, value) {
                        if (value.selected_list == undefined)
                        {
                            sub_contain = $("<span class='option' style='display:inline-block'></span>")
                            $('<input />', { type: 'checkbox', class: "relevant_product", item_name: value.value, id: 'matched' + value.id, value: value.id, name: "relevance_product[]" }).appendTo(sub_contain);
                            $('<label />', { 'for': 'matched' + value.id, text: value.value  + ' ('+ value.score + ' )' + " (" + value.type + ")", style: "padding-right:10px;" }).appendTo(sub_contain);
                            $(sub_contain).appendTo(container)
                        }
                        else
                        {
                            console.log(value.list_scores[0])
                            $.each(value.selected_list, function (inx, val) {
                                if (inx == 0)
                                {
                                    var that = $("#matched"+val)
                                    $("<li id='" + $(that).attr("id") + "'" + " class='taggingmain'><span><a class='txt_tagging'>" + $(that).attr("item_name") + ' ('+ value.list_scores[0] + ' )' + "</a><a id= 'deleteTag' class='icon_close_tagging' href='#'></a></span></li>").appendTo($("#new_article_product_list"));
                                    $.addIdToField("articles_item_id", $(that).attr("id").replace("matched",""), false)
                                    $(that).parent().hide();
                                }
                                else if ($("#article_content_sub_type").val() == "Comparisons")
                                {
                                    var that = $("#matched"+val)
                                    $("<li id='" + $(that).attr("id") + "'" + " class='taggingmain'><span><a class='txt_tagging'>" + $(that).attr("item_name") + ' ('+ value.list_scores[1] + ' )'  + "</a><a id= 'deleteTag' class='icon_close_tagging' href='#'></a></span></li>").appendTo($("#new_article_product_list"));
                                    $.addIdToField("articles_item_id", $(that).attr("id").replace("matched",""), false)
                                    $(that).parent().hide();
                                }

                            });
                        }

                    });
                }
            }).done(function()
            {
                var cat = $("#article_content_sub_type").val()
                var item_ids = $("#articles_item_id").val()
                var old_def_values = cat+"-"+item_ids
                console.log(old_def_values)
                $("#old_default_values").val(old_def_values)
            })



            settings = {
                close: true, addButton: false,
                url: "/search/autocomplete_items",
                editMode: false, multiple: true,
                hidden_field: "articles_item_id",
                has_parent: false
            };
            $.textTagger("new_article_product", "new_article_product_list", settings);

            $('#deleteTag').live('click', function(){
                if (settings.hidden_field != ""){
                    var deleteId = $(this).closest('li').attr('id').replace("matched",'');
                    $.removeIdFromField(settings.hidden_field, deleteId, settings.has_parent);
                }
                $(this).closest('li').remove();

                $("span #matched"+deleteId).attr("checked", false)
                $("span #matched"+deleteId).parent().show()

                if (settings.deleteFunctionName){
                    data = new Object()
                    data.id = deleteId;
                    $.selectEvent(data, settings.deleteFunctionName)
                }
                return false;
            })

        })

    </script>

    <script type="text/javascript">
        var MIN_SIZE=[100,50];
        var first=false;
        var images_index=0;
        var images = new Array();
        var sizes = new Array();

        <%if @article_content.new_record?%>
        var score = 0;
        <%else%>
        <%if @article_content.is_review?%>
        var score = '<%=@article_content.field1.to_f.round(1)%>';
        <%else%>
        var score = 0;
        <%end%>
        <%end%>

        $("document").ready(function()
        {
            $('#aPrev').click(function(){
                if(images  && images.length>0 && images_index>0 ){
                    images_index--;
                    $('#<%=@current_image_id%>').html(images_index+1);
                    $("#<%=@img_thumb%>").attr("src",images[images_index]);
                    $('#<%=@current_image_size%>').html(sizes[images_index]);
                    $("#<%=@new_article_thumbnail%>").val(images[images_index]);
                    $("#<%=@thumbnail_id%>").val(images[images_index]);

                }
            });
            $('#aNext').click(function(){
                if(images && images.length>0 && images_index<images.length-1 ){
                    images_index++;
                    $("#share_2").hide();
                    $("#share_1").show();
                    $('#<%=@current_image_id%>').html(images_index+1);
                    $('#<%=@current_image_size%>').html(sizes[images_index]);
                    $("#<%=@img_thumb%>").attr("src",images[images_index]);
                    $("#<%=@new_article_thumbnail%>").val(images[images_index]);
                    $("#<%=@thumbnail_id%>").val(images[images_index]);
                }
            });

            $("#<%=@manual_image%>").click(function(event){

                if ($('#<%=@manual_image%>').is(':checked')) {$("#<%=@thumbnail_id%>").show(); } else { $("#<%=@thumbnail_id%>").hide(); }
            });

            $('div#<%=@productReviewRatingField%>').raty({
                starOff:  'assets/star-off.png',
                starHalf   : 'assets/star-half.png',
                half       : true,
                starOn: 'assets/star-on.png',
                start: score,
                width:  '200px',
                click: function(score, evt) {
                    $(".rating_field").val("" + score);
                }
            });

            $("#article_content_sub_type").live("change", function()
            {
                var category = $("#article_content_sub_type").val()
                if (category == "Reviews")
                    $("div#ShareURLDiv div#<%=@productReviewRating%>").show();
                else
                   hideReview()

            })

            var category = $("#article_content_sub_type").val()
            if (category == "Reviews")
                $("div#ShareURLDiv div#<%=@productReviewRating%>").show();

        })


        function check_imagesize_on_load(url){
            images_index=0;
            images = new Array();
            sizes = new Array();
            var img = new Image();
            img.onload = function() {
                if(this.width >=MIN_SIZE[0] &&  this.height >=MIN_SIZE[1]){
                    add_image_to_list(url,[this.width,this.height]);
                }
            }
            img.src = url;
        }
        function add_image_to_list(url,size){
            ;

            images.push(url);
            sizes.push(size[0]+"*"+size[1]);
            if(images.length == 1){
                first=false;

                $("#<%=@img_thumb%>").attr("src",url);
                $("#<%=@new_article_thumbnail%>").val(url);
                <%if @article_content.new_record?%>
                $("#<%=@thumbnail_id%>").val(url);
                <%end%>
                $("#<%=@img_thumb%>").show();
                $(".<%=@article_image%>").show();
                $('#<%=@current_image_size%>').html(size[0]+"*"+size[1]);
                $('#<%=@current_image_id%>').html(1);
                images_index=0;

            }
            <%if @article_content.new_record?%>
            $('#<%=@total_images%>').html(images.length);
            <%else%>
            $('.total_img').html(images.length);
            <%end%>
        }

        function unescapeHTML(html) {
            return $("<div />").html(html).text();
        }
        function escapeHTML(html) {
            return $("<div />").text(html).html();
        }


        function hideAddImageUrl(){
            $('#<%=@manual_image%>').attr('checked', false)
            $("#<%=@thumbnail_id%>").val('');
            $("#<%=@thumbnail_id%>").hide();
        }

        <% if @images.present? and @images.count > 0 %>

        images = new Array();
        sizes = new Array();
        <% @images.each_with_index do |image,index| %>
          check_imagesize_on_load(unescapeHTML("<%= escape_javascript(image) %>"));
        <% end %>
        $('#<%=@current_image_id%>').html(0);
        <% else %>
        $('#<%=@current_image_id%>').html(0);
        $('#<%=@total_images%>').html(0);
        <% end %>

        first=true;
        images_index=0;

        $('div.<%=@dwnld_url%>').show();

        var submit = 0
        $("#article_detail_form").submit(function()
        {
            if (submit != 0)
              return true

            var title = $("#article_content_title").val()
            var article_ids = $("#articles_item_id").val()
            if (title == "")
            {
                alert('Please Enter Title.');
                $("#article_content_title").focus()
                return false;
            }
            else if (article_ids == "")
            {
                alert('Please at least one product');
                $("#new_article_product").focus()
                return false;
            }
            else
            {
                return true
            }
        })
        function hideReview(){
            $("div#ShareURLDiv div#<%=@productReviewRating%>").hide();
            $("#<%=@productReviewRatingField%>-score").val('')
        }
    </script>

<% end %>