  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>PlannTo - Add Feeds</title>
    <link type="text/css" href="/javascripts/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>
    <link type="text/css" href="/stylesheets/plannto.css" rel="stylesheet"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/textTagger" type="text/javascript"></script>
    <script src="/assets/jquery_ujs" type="text/javascript"></script>
    <script src="/assets/jquery.jscroll.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.raty.js" type="text/javascript"></script>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background:white;position:relative;width:1000px;">
  <button class="go_back" type="button" onclick="window.location='/feeds'">Go Back</button>
  <div class="list_feed_urls">
    <div class="search_form">
      <%= form_for :search, :url => "/feeds/feed_urls", :html => {:method => 'get'} do |search_form| %>
        Priorities: <%= search_form.select :priorities, [1,2,3], {:include_blank => true, :selected => params[:search][:priorities]} %>
        Category: <%= search_form.select :category, @categories, {:include_blank => true, :selected => params[:search][:category]} %>
        Status: <%= search_form.select :status, [0,1,2,3], {:include_blank => true, :selected => params[:search][:status]} %>
        Source: <%= search_form.select :source, @sources, {:include_blank => true, :selected => params[:search][:source]} %>
        <%= search_form.submit "Filter" %>
        <%= search_form.submit "Clear" %>
      <% end %>
    </div>

    <%= hidden_field_tag :page_loaded_time, @loaded_time %>
    <div class="sorting">
        <form>
          <label>Sort by:&nbsp;</label>
          <span id="sort_filter">
            <select name="feed_urls_sort_by" id="feed_urls_sort_by" class="order_by_category">
              <option value="published_at" <%= params[:feed_urls_sort_by] == "published_at" ? "selected=selected" : "" %>>Published Date</option>
              <option value="missing_count" <%= params[:feed_urls_sort_by] == "missing_count" ? "selected=selected" : "" %>>Missing Count</option>
            </select>
          </span>

          <%= select_tag(:feed_urls_order_by, options_for_select([['Asc', 'asc'], ['Desc', 'desc']], selected: params[:feed_urls_order_by] ), :class => 'order_by_category') %>

        </form>
    </div>

    <br/>
    <div style="clear:both;display:block;margin-top:20px;">
      <div id="feed_url_list" class='jscroll'>
        <%= render "/feeds/feed_url_list" %>
      </div>
    </div>
  </div>

  <div id="loading_div" style="display:none">
    <%= image_tag "/assets/ajax-loader.gif" %>
  </div>

  <style type="text/css">
      body { margin: 35px; }

      #feed_category {
          height: 145px;
          width: 110px;}
      th {font-weight: bolder !important;}

      table, th, td
      {
          border: 1px solid black;
          font-weight: normal;
          font-size: 14px;
      }
      table
      {
          width:95%;
          margin: 11px 0 0 26px;
      }

      .feed_title {
          font-weight: 700;
          cursor: pointer;
          color: #222222;
      }

      .feed_explain td {border: none; }

      .display {width: 1230px;}

      .search_form { color: #A52A2A;
          font-size: 14px;
          margin: -8px;
          position: absolute;
          right: 405px;}

      .go_back {left: 654px;
          margin: 5px;
          position: relative;
          top: 0px;}

      .mark_as_list img {
          padding: 0 0 0 10px;
      }

      .mark_as_button {
          cursor: pointer;
      }

      .sorting {
          color: #A52A2A;
          font-size: 14px;
          margin: -8px;
          position: absolute;
          right: 89px;
      }

      #loading_div {
          position: absolute;
          background-color: #FAFAFA;
          z-index: 2147483647 !important;
          opacity: 0.8;
          overflow: hidden;
          text-align: center; top: 0; left: 0;
          height: 100%;
          width: 100%;
          padding-top:20%;
      }

      .each_row {
          line-height: 22px;
          font-size: 11px;
      }

      .list_feed_urls {
          padding-top: 15px;
      }

  </style>


  <script type="text/javascript">

    $("document").ready(function()
    {

        $page_count = $(".pagination a.next_page").prev().text()

//        var href_val = $(".next_page").attr('href')
//        $("#next-scroll-page").attr('href', href_val)

        $('.jscroll').jscroll({
            loadingHtml: '<img src="/assets/ajax-loader.gif" alt="Loading" /> Loading...',
            padding: 20,
            nextSelector: '.jscroll-next a:last'
        });

        $('.pagination a').attr('data-remote', 'true')



      $(".feed_title").live('click', function()
      {
          $(".display").html("")
          var id = $(this).attr("id")
          $.ajax({
              type: "GET",
              url: "<%= article_details_feeds_path() %>",
              data: { feed_url_id: id },
              success: function(data) {
                $("#feed_display_"+id).html(data)
              },
              error: function(textStatus, errorThrown) {
                 alert("Invalid data")
              }

          });
      })

        $(".relevant_product").live("click", function () {
            $("<li id='" + $(this).attr("id") + "'" + " class='taggingmain'><span><a class='txt_tagging'>" + $(this).attr("item_name") + "</a><a id= 'deleteTag' class='icon_close_tagging' href='#'></a></span></li>").appendTo($("#new_article_product_list"));
            $.addIdToField("articles_item_id", $(this).attr("id").replace("matched",""), false)
            $(this).parent().hide();
        })

        $(".mark_as_button").live('click', function () {
            var that = $(this)
            var feed_url_id = that.parent('.mark_as_list').next().find('.feed_title').attr('id')
            $.ajax({
                url: '/feeds/change_status',
                dataType: 'json',
                data: {feed_url_id: feed_url_id, mark_as: that.attr("id")},
                success: function (data) {

                    that.closest('.each_row').next('.display').hide()
                    that.closest('.each_row').hide()

                }
            });
        })

        $(".change_category").live('change', function () {
            var that = $(this)
            var change_type_id = that.attr('id')
            var feed_url_id = change_type_id.replace('change_type_', '')
            $.ajax({
                url: '/feeds/change_category',
                dataType: 'json',
                data: {feed_url_id: feed_url_id, category: that.val()},
                success: function (data) {

                    that.closest('.each_row').next('.display').hide()
                    that.closest('.each_row').hide()

                }
            });
        })


        $(".order_by_category").change(function()
        {
            var params_str = $(".search_form form").serialize()
            var order_by = $(this).val()

            var param_name = $(this).attr('id')
            var new_params = param_name+'='+order_by

            window.location.href='/feeds/feed_urls?'+params_str+'&'+new_params

        })


        // For firefox
        $(document).keypress(function(e) {
            console.log("altKey => "+ e.altKey)
            console.log("which => "+ e.which)
            console.log("keyCode =>"+ e.keyCode)

            if (e.altKey)
            {
                if(e.which == 111 || e.which == 248) { //alt+o
                    var url_val = $("#open_window").attr("href")
                    if (url_val != undefined)
                        window.open(url_val, "_blank")
                }
                else if(e.which == 110 || e.which == 8747) { //alt+n
                    var next_div = $("#article_detail_form").parents(".display").next()
                    next_div.find(".feed_title").click()
                }
                else if(e.which == 99 || e.which == 231) { //alt+c
                    $("#article_content_sub_type").focus()
                }
                else if(e.which == 120 || e.which == 8776) { //alt+x
                    $("#save_and_continue").click();
                }
                else if(e.which == 122 || e.which == 937) { //alt+z
                    $("#new_article_product").focus();
                }

            }

            if (e.ctrlKey)
            {
                if (e.keyCode == 13)
                {
                    return false;
                }
            }
        });

        $(document.body).bind('keydown',function(e){
            if (e.ctrlKey)
            {
                if (e.keyCode == 40)
                {
                    var next_div = $("#article_detail_form").parents(".display").next()
                    next_div.find(".feed_title").click()
                }
                else if (e.keyCode == 38)
                {
                    var prev_div = $("#article_detail_form").parents(".display").prev().prev().prev()
                    prev_div.find(".feed_title").click()
                }
                else if (e.keyCode == 10 || e.keyCode == 13)
                {
                    $("#save_and_continue").click();
                }
            }
        });
    });

    // For chrome and Chromium

    $(document).ready(function() {
        // Other Bindings/Initializations Removed
        // Hotkey Event Handler to 'doSomething'
        //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

        $(document).on("click", "[accesskey=o]", function() {
            var url_val = $("#open_window").attr("href")
            if (url_val != undefined)
                window.open(url_val, "_blank")
        });

        $(document).on("click", "[accesskey=n]", function() {
            var next_div = $("#article_detail_form").parents(".display").next()
            next_div.find(".feed_title").click()
        });

        $(document).on("click", "[accesskey=c]", function() {
            $("#article_content_sub_type").focus()
        });

        $(document).on("click", "[accesskey=x]", function() {

        });

        $(document).on("click", "[accesskey=b]", function() {
            var next_div = $("#article_detail_form").parents(".display").next()
            next_div.find(".feed_title").click()
        });

        $(document).on("click", "[accesskey=z]", function() {
            $("#new_article_product").focus();
        });
    });
  </script>
  </body>
  </html>

