<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <title>PlannTo - Add Feeds</title>
  <link type="text/css" href="/javascripts/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>
  <link type="text/css" href="/stylesheets/plannto.css" rel="stylesheet"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/jquery_ujs" type="text/javascript"></script>
  <script src="/assets/jquery.jscroll.min.js" type="text/javascript"></script>
  <script src="/assets/textTagger" type="text/javascript"></script>
  <script src="/javascripts/jquery.raty.js" type="text/javascript"></script>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body style="background:white;position:relative;width:1000px;">
<button class="btn_submitanswer go_back" type="button" onclick="window.location='/feeds'">Go Back</button>
<div class="list_feed_urls">
  <div class="search_form">
    <%= form_for :search, :url => "/feeds/feed_urls_batch_update", :html => {:method => 'get'} do |search_form| %>
        Source: <%#= search_form.select :source, @sources, {:include_blank => true, :selected => params[:search][:source]} %>
        <%= search_form.hidden_field :source, :readonly => true, :value => params[:search][:source] %>
        <input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" class="auto_complete_field" id="search_source_item">
        Title: <%= search_form.text_field :title, :size => 60 %>

        <%= search_form.submit "Filter" %>
        <%= search_form.submit "Clear" %>
    <% end %>
  </div>

  <%= hidden_field_tag :page_loaded_time, @loaded_time %>
  <div class="sorting">
    <form>
      <label>Sort by:&nbsp;</label>
          <span id="sort_filter">
            <select name="feed_urls_sort_by" id="feed_urls_sort_by" class="order_by_category">
              <option value="published_at" <%= params[:feed_urls_sort_by] == "published_at" ? "selected=selected" : "" %>>Published Date</option>
              <option value="missing_count" <%= params[:feed_urls_sort_by] == "missing_count" ? "selected=selected" : "" %>>Missing Count</option>
            </select>
          </span>

      <%= select_tag(:feed_urls_order_by, options_for_select([['Asc', 'asc'], ['Desc', 'desc']], selected: params[:feed_urls_order_by] ), :class => 'order_by_category') %>

    </form>
  </div>

  <div style="overflow: hidden;position: relative;border:1px solid #CFCFCF" id="" class="display"></div>

  <%= form_for :feed_urls, :url => "/feeds/batch_update", :html => {:method => 'post'}, :remote => true do |f_form| %>

      <div class="batch_form" style="clear:both;margin:20px;">

        <div class="category" style="clear:both;">
          <span style="width:75px;float:left;" class="title_header"><label for="category" style="width:100px;">Category :</label></span>
          <span style="float:left;"><%= select_tag :article_category, options_for_select(@categories), {:selected => "" } %></span>
        </div>
        <br />

        <%= hidden_field_tag "category_list" %>
        <%= hidden_field_tag "articles_item_id" %>

        <ul id="new_article_product_list" class="tagging"></ul>

        <div style="padding:5px 5px 0px 0px;clear:both;display:block;" id="shareProduct">
          <div class="title_header float_lft">Product :</div>
          <div class="taggingdiv" style="margin-left:5px;">
            <div class="float_lft " style="clear:both;">
              <input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" id="new_article_product"/>
            </div>
            <div style="clear:both;"></div>

            <div id="search_items_by_relavance" style="font-size: 12px;margin: 5px 0px 10px 5px;width:800px;line-height: 25px;"></div>
            <div style="clear:both;"></div>

          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <br style="clear: both;">

      <div style="clear:both;display:block;margin-top:20px;">
        <div id="feed_url_list" class='jscroll'>
          <%= render "/feeds/feed_url_list_batch_update" %>
        </div>
      </div>

        <div class='batch_update_btn'>
          <%= check_box_tag 'select_all[]', 'All', false, :class => 'select_all' %>
          <%= f_form.submit "Mark As Invalid", :class => "btn_submitanswer" %>
          <%= f_form.submit "Mark As Feature", :class => "btn_submitanswer" %>
          <%= f_form.submit "Save And Tag", :class => "btn_submitanswer", :id => 'save_and_tag' %>
          <%= f_form.submit "Save", :class => "btn_submitanswer", :id => "only_save" %>
       </div>
  <% end %>
</div>


<div id="loading_div" style="display:none">
  <%= image_tag "/assets/ajax-loader.gif" %>
</div>

<style type="text/css">
    body { margin: 35px; }

    #feed_category {
        height: 145px;
        width: 110px;}
    th {font-weight: bolder !important;}

    table, th, td
    {
        border: 1px solid black;
        font-weight: normal;
        font-size: 14px;
    }
    table
    {
        width:95%;
        margin: 11px 0 0 26px;
    }

    .feed_title {
        font-weight: 700;
        cursor: pointer;
        color: #222222;
    }

    .feed_explain td {border: none; }

    .display {width: 1230px;}

    .search_form {
        color: #a52a2a;
        font-size: 14px;
        margin: -8px;
        position: relative;
        right: -18px;
        width: 70%;
    }

    .go_back {
        left: -78px;
        margin: 10px;
        position: relative;
        top: -40px;
    }

    .mark_as_list img {
        padding: 0 0 0 10px;
    }

    .mark_as_button {
        cursor: pointer;
    }

    .sorting {
        color: #a52a2a;
        float: right;
        font-size: 14px;
        margin: -8px;
        position: relative;
        top: -10px;
    }

    #loading_div {
        position: absolute;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center; top: 0; left: 0;
        height: 100%;
        width: 100%;
        padding-top:20%;
    }

    .each_row {
        line-height: 22px;
        font-size: 11px;
    }

    .list_feed_urls {
        padding-top: 15px;
    }

    #search_source {
        float: right;
        margin: -27px 239px 0 0;
        position: relative;
        width: 250px;
        cursor: not-allowed;
    }

   .batch_update_btn {
       left: 12px;
       position: absolute;
       top: 185px;
   }

   #feed_url_list {
       margin-top: 60px;
   }

   .select_all {
       margin-right: 22px;
   }

   #new_article_product_list {
       clear: both;
       padding-left: 94px;
   }
</style>


<script type="text/javascript">

    $("document").ready(function() {

        if (<%= !@feed_urls.blank? && @feed_urls.count > 45 %>) {
            $page_count = $(".pagination a.next_page").prev().text()

//        var href_val = $(".next_page").attr('href')
//        $("#next-scroll-page").attr('href', href_val)

            $('.jscroll').jscroll({
                loadingHtml: '<img src="/assets/ajax-loader.gif" alt="Loading" /> Loading...',
                padding: 20,
                nextSelector: '.jscroll-next a:last'
            });

            $('.pagination a').attr('data-remote', 'true')
        }

        $( ".auto_complete_field" ).autocomplete({
            source:  function (request, response) {
                $.ajax({
                    url:"/search/autocomplete_source_items",
                    data:{
                        term:request.term,
                        authenticity_token: window._token
                    },
                    type:"GET",
                    dataType:"json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return{
                                id: item.id,
                                value: item.value
                            }
                        }));
                    }
                });
            },
            open: function(event, ui) {
                $(this).autocomplete("widget").css({
                    "width": ($(this).width() + "px")
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                $('#search_source').val(ui.item.id);
            }
        });

        var selected_val = $("#search_source").val()

        if (selected_val != "")
            $(".auto_complete_field").val(selected_val)


        //order by change

        $(".order_by_category").change(function()
        {
            var params_str = $(".search_form form").serialize()
            var sort_and_order_by = "feed_urls_sort_by="+$("#feed_urls_sort_by").val() + "&feed_urls_order_by=" + $("#feed_urls_order_by").val();
            window.location.href='/feeds/feed_urls_batch_update?'+params_str+'&'+sort_and_order_by
        })

        $(".select_all").click(function()
        {
            var is_selected = $(this).is(':checked')
            if (is_selected == true)
            {
                $(".check_box_cls").prop("checked", true)
            }
            else
            {
                $(".check_box_cls").prop("checked", false)
            }
            console.log(is_selected == true)
        })


        settings = {
            close: true, addButton: false,
            url: "/search/autocomplete_items",
            editMode: false, multiple: true,
            hidden_field: "articles_item_id",
            has_parent: false
        };
        $.textTagger("new_article_product", "new_article_product_list", settings);

        $('#deleteTag').live('click', function(){
            if (settings.hidden_field != ""){
                var deleteId = $(this).closest('li').attr('id').replace("matched",'');
                $.removeIdFromField(settings.hidden_field, deleteId, settings.has_parent);
            }
            $(this).closest('li').remove();

            $("span #matched"+deleteId).attr("checked", false)
            $("span #matched"+deleteId).parent().show()

            if (settings.deleteFunctionName){
                data = new Object()
                data.id = deleteId;
                $.selectEvent(data, settings.deleteFunctionName)
            }
            return false;
        })

        $(".batch_update_btn .btn_submitanswer").click(function()
        {
            if ($(".check_box_cls:checked").length == 0)
            {
                alert('Please Select at least one Feed Urls');
                return false;
            }
            else if ($(this).attr('id') == "save_and_tag" && $("#articles_item_id").val() == "")
            {
                alert('Please Select at least one product');
                return false;
            }

            var x = $(".check_box_cls:checked").parent().next().find('select')
            var category_list=[]
            $.each(x, function(inx, val)
            {
                category_list.push($(val).val())
            });

            $("#category_list").val(category_list)
        })

    });
</script>
</body>
</html>

