
<div id="question_contentDiv" style="display:none;" class="contentSubContainer">

  <%if @content.nil?%>
    <%@form_id = "new_question_content"%>
    <%@title_id = "review_content_title"%>
  <%else%>
    <%@form_id = "edit_question_content_#{@content.id}"%>
    <%@title_id ="edit_question_content_#{@content.id}"%>
  <%end%>
<%= form_for :popup, :url => new_popup_article_contents_path,:html => {:method => :post,:target=>'mypopup',:id => 'new_popup' } do |f| %>
    <%= hidden_field_tag "sub_type" %>
    <%= hidden_field_tag "item" %>
    <%= hidden_field_tag "content" %>
    <%= hidden_field_tag "title" %>
    <%= hidden_field_tag "description" %>
 <%end%>
  <%= form_for @content || QuestionContent.new,:html => { :id => "#{@form_id}",:class => "test" }, :remote => true do |f| %>
    <%= f.hidden_field :itemtype_id, :value => @item.try(:itemtype_id) %>
    <%= f.hidden_field :sub_type %>
    <div id="notification" class="notificationStyle"><%if (current_user.total_points rescue 11) > 10 %>Thank You, Question has been created.<%else%> Thanks for sharing the Qusetion. Its sent for approval, once it is reviewed it would be available for others<%end%></div>
  
  <% unless params[:sub_type] %>
   <div style="float:right;margin-left:2000px;">
       <img  src="/images/newwindow.png" onclick= "open_and_redirect2()" title="Open in new window" style="cursor:pointer;"   />
       </div>
     <%end%> 
   <script type="text/javascript">
      function open_and_redirect2() {
        var i =  $("#question_content_sub_type").val();
        $("#sub_type").val(i);
        $("#item").val("<%= @item.id rescue ""  %>");
        $("#content").val("<%= @content.id rescue ""  %>");
        $("#title").val($("#question_content_title").val());
        var x = tinyMCE.get('m_text2').getContent();
        $("#description").val(x);
        window.open('',"mypopup", 'toolbars=0');
        $("#contentEditView").dialog('destroy');
        $(".ui-dialog-content").dialog('destroy')
        $('#new_popup').submit(); 
       }
    </script>
    <%if @content %>
     <%= hidden_field_tag :detail,@detail %>
     <div class="Close_dialog" style="display:none;width:43px;overflow:hidden;height:42px; background:url(../images/pclose_but.png) no-repeat left top;position:relative; left:506px; text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>
 <span class="Popuptitle"><center> <h1 id="questionTitle">Edit <%=@content.type.underscore.humanize%></h1> </center></span>
 <%end%>
    <div style="padding:5px 5px 0px 0px;text-align:center">
      <div class="title_header float_lft">Title :</div>
      <div class="float_lft">
        <%= f.text_field :title, {:style=>"margin-left:5px;width:400px",:width=>"400px"}  %>
      </div>
    </div>
    
    <div style="padding:5px 5px 0px 0px;clear:both;" id="questionProducts">
      <div class="title_header float_lft">Product  :</div>
      <div class="taggingdiv" style="margin-left:5px;">
        <ul id="question_product_item_list" class="tagging"></ul>
        <div class="float_lft " style="clear:both;"><input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" id="question_product_item"/></div>
        <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
    
       <%unless @content.nil? %>
       <script type="text/javascript">
   <%= render "/shared/text_editor_js" %> 
</script>
<style>

span.defaultSkin table.mceLayout tbody tr.mceLast td.mceStatusbar {
    display: none !important;
}
</style>
<%end%>

    <script type="text/javascript">
     $(document).ready(function(){
  <%if @content.nil?%>
        settings={
          close:true, addButton: false,
          url: "/search/autocomplete_items",
          editMode: false, multiple: true,
          hidden_field: "question_content_item"
        };
        $.textTagger("question_product_item","question_product_item_list",settings);
    <% unless @item.blank? %>
          $.addTag("question_product_item","question_product_item_list", settings,"<%= @item.name %>", "<%= @item.id %>", false);
          $.addIdToField(settings.hidden_field, "<%= @item.id %>", false)
          $("ul#question_product_item_list li:first span a.icon_close_tagging").remove();
    <% end %>

  <%else%>
        settings={
          has_parent:true,
          close:true, addButton: false,
          url: "/search/autocomplete_items",
          editMode: false, multiple: true,
          hidden_field: "#question_content_item"
        };
    <% @items.each do |item| %>
          $.addTag("#question_product_item"," ul#question_product_item_list", settings,"<%= item.name %>", "<%= item.id %>", true);
          $.addIdToField(settings.hidden_field, "<%= item.id %>", true)
          //$("ul#question_product_item_list li:first span a.icon_close_tagging").remove();
 
    <%end%>
        $.textTagger("#question_product_item","#question_product_item_list",settings);
        <%end%>
 });
    function validateQuestionForm(){
      $('form#<%=@form_id%> #question_content_title').poshytip('destroy')
      var valid = true;
      if ($("form#<%=@form_id%> #question_content_title").val() == ""){
        $('form#<%=@form_id%> #question_content_title').poshytip({
          className: 'tip-darkgray',
          content: 'Please enter the title.',
          showOn: 'none',
          alignTo: 'target',
          alignX: 'right',
          offsetX: 5,
          alignY: 'center'
        });
        $('form#<%=@form_id%> #question_content_title').poshytip('show');
        valid = false

      }

      
       if ($("form#<%=@form_id%> #question_content_item").val() == ""){
        $('form#<%=@form_id%> #question_content_item').poshytip({
          className: 'tip-darkgray',
          content: 'Please select product tag with..',
          showOn: 'none',
          alignTo: 'target',
          alignX: 'right',
          offsetX: 5,
          alignY: 'center'
        });
        $('form#<%=@form_id%> #question_content_item').poshytip('show');
        valid = false

      }
      
      return valid
      
    }
    
    
    
    </script>

   
    <div style="padding:5px 5px 0px 5px;">
      <div class="title_header float_lft">Description :</div>
      <div style="margin-left:80px;">
        <%= f.text_area :description, :class => 'textFilling',:id => "m_text2", :style=> 'width:400px;height:50px;' %>
      </div>
     
    </div>
        <%if @content.nil? || @content.new_record? %>
        <div class="title_header float_lft"></div>
          <div class="float_lft">
          <span class="title_header">Post this in Facebook also:</span>
          <%= check_box_tag "facebook_post" %>
          </div> 
     <%end%> 
     <div class="title_header float_rgt"></div>
          <div class="float_rgt" style="padding-right:200px;">
          <br />
          <br />
          <span class="title_header">Use thumbnail as uploaded image:</span>
            <%= check_box_tag(:thumbnail, 1, true)%>
        </div>
    <input id="question_content_item" name="item_id" type="hidden" value="<%= @item.try(:id) %>"/>
    <div style="padding:0px 5px 5px 5px; float:right; width:100%; margin-right:40px; margin-top:20px ">
      <%= hidden_field_tag 'content_create_form_type'%>
      <%= f.submit 'Save Question', :class => 'btn_submitanswer', :id => "publishQuestion" %>
     <span id="spinner_question" style="padding:0px 0px 0px 290px;display:none">
         <%= image_tag '/images/ajax-loader.gif' %>
      </span> 
   <script>
    $(function() {
     $("form").bind("ajax:beforeSend", function(){
        $("#spinner_question").show();
       })
       $("form").bind("ajax:complete", function(){
         $("#spinner_question").hide();
      })
     });
  </script>
    </div>
   
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("form#<%=@form_id%> #publishQuestion").click(function(e){
      var valid = validateQuestionForm();
      if (!valid){
        return false;
      }

    });
  });
</script>
<script>
$("#<%= @form_id %>").submit(function(e){
       <% if !current_user %>
             $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
            openLoginPopup("#" + $(this).attr('id'), "submit");
            return false
          <%end%>
        })
</script>        
        
