<div id="maincontainer" class="maincontainerCss">
<!-- Till this will go into main layout and common for all pages.-->

 <br/><br/>
<div class="leftcolumnbig">
<!-- Product Details - Start -->
<div class="contentDetailsMainDiv">
      
        <!-- Question - Start -->
        <div  class="mainContentDiv">   
             <div class="rate_content float_lft">
                <a class="bg_ratecontent">100</a>
                <a class="btn_like" href="#"></a><a class="btn_dislike" href="#"></a>
            </div>
            <div  class="float_rgt">
                <img src="images/users.png" class="userImageSmall" />
            </div>
      <div  class="subContentDiv">
                <div><a class="title"><%= @questioncontent.title %></a></div>
                <div><a class="txt_brown">Asked by <%= @questioncontent.user.name %></a></div>
                <div class="subContentGap">
                <a class="txt_black_description"><%= @questioncontent.description %></a>
                <a href="google.com" class="padding_left10 txt_blue">more...</a></div>
                <ul class="divCommentsConent">
                    <li class="subContentGap float_lft" ><a class="txt_blue ">Comments (9)</a></li>
                    <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
                    <li class="subContentGap float_lft"><a class="txt_blue ">Report</a></li>
                    <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
                    <li class="subContentGap float_lft"><a class="txt_blue ">Delete This</a></li>
                    <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
                    <li class="subContentGap float_lft"><a class="txt_blue ">Update This</a></li>
                </ul>
      </div>
    </div>
    <!-- Question - End -->
    
    <!-- Answer this question - Start -->
      <div  style="border-bottom:solid 1px #ccd4d8;">
        <div class="hdr_Category float_lft margin_lft10"><%= pluralize(@questioncontent.answer_contents.count,'Answers') %> </div>
        <div class="float_rgt" style="margin-top:8px;">
                <a style="" class="btn_submitanswer" id="answer_this_question" >Answer this Question</a> 
                <div class="PlanntoBuyBtn"><span class="action_btns"><a class="btn_followthiscar_icon" href="#"></a><a class="btn_txt" href="#">Follow this Question</a></span></div>
                </div>
                
      </div>
      <div  style="border-top:solid 1px #ccd4d8;clear:both;"></div>
    <!-- Answer this question - End -->
        <%= render :partial => 'answer_contents/new_answer_content', :locals => {:question_content => @questioncontent, :item => @item} %>
        
    <%= render :partial => 'answer_contents/answer_content',:collection => @questioncontent.answer_contents %>  
      
    
</div>


<!-- Product Details - End -->


</div>

<div class="rightcolumnsmall">

<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
  <tr>
    <td class="bg_widgethdr txt_white">Related Questions</td>
  </tr>
  <tr>
    <td height="252" valign="top">
    
        <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="113" height="85"><img src="images/car1.png" width="101" height="68" /></td>
            <td width="113">
            <a href="#" class="txt_black">Renault Pulse</a>
            <img src="images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>
          
           <tr>
            <td width="113" height="85"><img src="images/car1.png" width="101" height="68" /></td>
            <td width="113">
            <a href="#" class="txt_black">Renault Pulse</a>
            <img src="images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>
        </table>  
          
    </td>
  </tr>
  <tr>
    <td height="33" class="padding1_lft15"><a href="#" class="txt_blue">View All</a></td>
  </tr>
</table>

<!-- Related Cars -- End -->

<br />

<!-- Related Cars -- Start -->

<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
  <tr>
    <td class="bg_widgethdr txt_white">Top Hatchback Cars</td>
  </tr>
  <tr>
    <td height="252" valign="top">
    
        <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="113" height="85"><img src="images/car1.png" width="101" height="68" /></td>
            <td width="113">
            <a href="#" class="txt_black">Renault Pulse</a>
            <img src="images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>
          
           <tr>
            <td width="113" height="85"><img src="images/car1.png" width="101" height="68" /></td>
            <td width="113">
            <a href="#" class="txt_black">Renault Pulse</a>
            <img src="images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>
        </table>  
          
    </td>
  </tr>
  <tr>
    <td height="33" class="padding1_lft15"><a href="#" class="txt_blue">View All</a></td>
  </tr>
</table>

<!-- Related Cars -- End -->
</div>

<!-- This will go into main layout -->
</div>

<br />