<br />
<%if @buying_plan_comment == true %>
  <a class="arrow_up comments_<%= content.id %>" style="display:none;margin-left:25px;"></a>
<div id="new_comment_<%= content.id %>" class="subContentDiv_comments comments_bg" style="display:none;margin-left:10px;" last_comment="<%= content.id %>" >
<%else%>
  <a class="arrow_up comments_<%= content.id %>" style="display:none;float:"></a>
   <div id="new_comment_<%= content.id %>" class="subContentDiv_comments comments_bg" style="display:none" last_comment="<%= content.id %>">
<%end%>
	<div class="float_rgt"><img src="<% if user_signed_in? %> <%= current_user.get_photo %> <%end%>" class="userImageSmall">
	</div>

	<%= form_for  Comment.new, :url => content_comments_path(content), :remote => true, :html => { :id => "comment_form_#{content.id}"} do |f| -%>
	<%= f.text_area :comment, :class => "expanding txt_gray new_comment", :size => "80", :id => "comment_id#{content.id}" %>
	<%= hidden_field_tag "comment_type", content.class.name%>
	<br /> <br />
	<%= f.submit "Submit" %><%= link_to "Cancel", "JavaScript:void(0);", class: "remove_comment", content_id: content.id %>
	<% end -%>  			
</div>


	<%= render "shared/expanding_text_area_style" %>
<script>
$("#comment_id<%= content.id %>").keyup(function(){
   <%if !current_user %>

    $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'comment')%>");
     openLoginPopup("#" + $(this).attr('id'), "click");
     return false
    <%end%>
  });


</script>         


