<br />
<a class="arrow_up comments_<%= content.id %>" style="display:none"></a>
<div id="new_comment_<%= content.id %>" class="subContentDiv_comments comments_bg" style="display:none" last_comment="<%= content.id %>">
	<div class="float_rgt"><img src="<% if user_signed_in? %> <%= current_user.get_photo %> <%end%>" class="userImageSmall">
	</div>

	<%= form_for  Comment.new, :url => content_comments_path(content), :remote => true, :html => { :id => "comment_form_#{content.id}"} do |f| -%>
	<%= f.text_field :comment, :class => "txt_gray new_comment", :size => "80", :id => "comment_id#{content.id}" %>
	<% end -%>  			
</div>
