
<div class="col main_col w4_5">
  <h1 class="heading">Search Results</h1>
  <%@items.results.each do |item|%>
    <div class="col w4_5 feed_item p1">
      <div class="col w0_5">
        <a>
          <img class="profile_photo_img" width="50" height="50" alt="image" src="<%=image_url(item)%>"/>
        </a>
      </div>
      <div class="e_col w3_5">
        <h2>
          <a href="">
            <%=item.name%>
          </a>
        </h2>
        <div class="feed_item_question_info">
        </div>
      </div>
    </div>
  <%end%>
  <div class="e_col w3_5" style="display:<%=@display%>">
    <h2></h2>
    <div>
      <a id="nextItem" href="">
        Show Next Items...
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  //this logic fails to display total if same attributes have two display values.

<%@search_info_lookups.each_with_index do |search, index|%>
    var selectedCount = 0;
    var displayCount = true
  <%   if (search[:param_1][:vt] == "Between" || search[:param_1][:vt] == "LessThen" || search[:param_1][:vt] == "GreaterThan")%>
    <%#= search[:attribute_name]%>
      displayCount = false;
      //selectedCount = <%#= @items.facet(:features, search[:attribute_name].to_sym).rows.count%>
  <%     elsif (search[:param_1][:vt] == "Click" )%>
    <%#= search[:attribute_name]%>
    <% @items.facet(:features_string, search[:attribute_name].to_sym).rows.each do |row|%>
      <%if search[:param_1][:av] == row.value%>
          selectedCount = <%=row.count%><%#=row.value%>
      <%end%>
    <%end%>      

  <% elsif search[:param_1][:vt] == "ListOfValues"  %>
    <%#= search[:attribute_name]%>
     // selectedCount = <%#= @items.facet(:features_string, search[:attribute_name].to_sym).rows.count%>
      displayCount = false;
  <%  end%>
  //  alert(displayCount)
    if (displayCount == true){
    var value = $("#attribute_menu_<%=index%>").text().replace(/\(.*?\)/, "")
    //alert("#attribute_menu_<%=index%>");
    value = value + " ( " + selectedCount + " )"
    $("#attribute_menu_<%=index%> b").html(" ")
    $("#attribute_menu_<%=index%> b").html(value)
    }
<%end%>
  
   // selectedCount = <%#= @items.facet(:manufacturer).rows.count%>
 // var value = $("#manufacturerAtt").text().replace(/\(.*?\)/, "")

 // value = value + " ( " + selectedCount + " )"
 // $("#manufacturerAtt b").html(" ")
//  $("#manufacturerAtt b").html(value)
  
  

  $('#nextItem').click(function() {
    var page = <%=@page%>
    $("#page").val(page)
    $.get('/search',$("#searchForm").serialize(),null,"script");
    //$("#dialog").dialog("close");
    return false;
  });
</script>

<script type="text/javascript">
  function loadManufacturers(){
    var manufacturerList = [];
<%if @items.facet(:manufacturer).rows.count > 0%>

  <% for row in @items.facet(:manufacturer).rows%>
        manufacturerList.push( {
          label: "<%="#{row.value} (#{row.count})"%>",
          value: "<%="#{row.value}"%>"

        });
  <%end
end%>
    return manufacturerList;
  }

  function loadTypes(){
    var carTypeList = [];
<%if @items.facet(:features_string, 'Type'.to_sym).rows.count > 0%>

  <% for row in @items.facet(:features_string, 'Type'.to_sym).rows%>
        carTypeList.push( {
          label: "<%="#{row.value} (#{row.count})"%>",
          value: "<%="#{row.value}"%>"

        });
  <%end
end%>
    return carTypeList;
  }
</script>