<div style="clear:both;">
  <div style="width:735" >
    <div class="bg_border_topbottom"></div>
    <div style="border-bottom: solid 1px #CCCCCC;clear:both;margin-bottom:10px"></div>

    <div width="375" height="50" class="txt_search_result float_lft" id="totalSearchResults">Total Search Results: <%=@items.total%></div>
    <div id="spinner" class="spinner" style="float: left;margin-left:25px;margin-top:7px"></div>
    <div width="358" height="50" class="txt_search_result float_rgt">Sort By:
      <%=select_tag "search_sort_by",
        options_for_select([["Select", ""], ["Name", "Name"], ["Price", "Price"]], params[:sort_by]), :class => "txt_normal width50" %>
    </div>
    <div style="border-bottom: solid 1px #CCCCCC;clear:both;padding-top:10px;"></div>
  </div>


  <%@items.results.each do |item|%>
    <div width="735" border="0" cellspacing="0" cellpadding="0" style="padding-top:10px;clear:both;">
      <div class="img_product float_lft" style="width:180px;"><img src="<%=item.image_url%>" width="175" height="125" onclick="parent.location='<%=link_url(item)%>'" /></div>
      <div class="float_rgt" style="width:520px;">
        <div class="float_rgt">
          <a class="txt_compare" > COMPARE</a>
          <a  class="float_rgt"><input name="Compare" type="checkbox" value="<%=item.id%>" /></a>
        </div>


        <span>
          <h1><a class="productTitle" href="<%=link_url(item)%>"><%=item.name%></a></h1>
          <a class="txt_price"><%= item.get_price_info('Price') %></a><br />
          <%= render :partial => 'shared/rating',:locals => {:item => item} %>
          <a class="txt_normal">Ratings<span class="txt_blue"> (100 Reviews)</span></a><br />
          <a class="txt_normal"><%=display_specifications(item)%><br /><br/></a>
        </span>
        <span class="float_rgt" style="display:inline;">
          <%= render 'shared/follow_buttons',:follow_type => 'Car', :follow_html => '', :button_class => '_medium', :item => item %>
        </span>
         <script type="text/javascript">
           <%= render "shared/javascript_button", :formate => :js, :button_class => '_medium', :item => item,
           :related_follower => user_follow_type(item, current_user) %>
         </script>
      </div>
      <div style="border-bottom: solid 1px #CCCCCC;clear:both;padding-top:10px;"></div>
    </div>
  <%end%>


  <div class="push"></div><br/>
  <div id="searchItemsPaginate">
  <%= will_paginate @items.results , :page_links => true %>
  </div>
  <div style="border-bottom: solid 1px #CCCCCC;clear:both;padding-top:10px;"></div>
  <script type="text/javascript">
    $(document).ready(function(){
      setCompareCheckBox();
    })


  <%@search_info_lookups.each_with_index do |search, index|%>
      var selectedCount = 0;
      var displayCount = true
    <%   if (search[:param_1][:vt] == "Between" || search[:param_1][:vt] == "LessThen" || search[:param_1][:vt] == "GreaterThan")%>
        displayCount = false;
    <%     elsif (search[:param_1][:vt] == "Click" )%>
      <% @items.facet(:features_string, search[:attribute_name].to_sym).rows.each do |row|%>
        <%if search[:param_1][:av] == row.value%>
            selectedCount = <%=row.count%><%#=row.value%>
        <%end%>
      <%end%>
    <% elsif search[:param_1][:vt] == "ListOfValues"  %>
        displayCount = false;
    <%  end%>
      if (displayCount == true){
        var value = $("#attribute_menu_<%=index%>").text().replace(/\(.*?\)/, "")
        value = value + " ( " + selectedCount + " )"
        $("#attribute_menu_<%=index%> a").html(" ")
        $("#attribute_menu_<%=index%> a").html(value)
      }
  <%end%>
  </script>

  <script type="text/javascript">
    function loadManufacturers(){
      var manufacturerList = [];
  <%if @items.facet(:manufacturer).rows.count > 0%>
    <% for row in @items.facet(:manufacturer).rows%>
          manufacturerList.push( {
            label: "<%="#{row.value} (#{row.count})"%>",
            value: "<%="#{row.value}"%>"

          });
    <%end
  end%>
      return manufacturerList;
    }

    function loadTypes(){
      var typeList = [];
  <%if @items.facet(:features_string, 'Type'.to_sym)%>
    <%if @items.facet(:features_string, 'Type'.to_sym).rows.count > 0%>
      <% for row in @items.facet(:features_string, 'Type'.to_sym).rows%>
            typeList.push( {
              label: "<%="#{row.value} (#{row.count})"%>",
              value: "<%="#{row.value}"%>"
            });
      <%end
    end
  end%>
      return typeList;
    }
  </script>