<% content_for :title, "Browse " + @search_type.pluralize.humanize + " - " %>
<% content_for :description, "Search all available, latest and upcoming " + @search_type.pluralize.humanize + " in India."%>
<div id="maincontainer" class="maincontainerCss1">

  <div class="leftcolumnsmall">
    <div class="left-panel">
              
                <div class="search-cat-container">
                  <h3>Search Criteria</h3>
                    <ul class="searchcat-list">
                  <%@search_info_lookups.each_with_index do |lookup, index|%>
                        <%if index == 0%>
                          <li id="manufacturerAtt" onclick="openManufacturerBox('Car', this);return false" 
                          class="<%="#{lookup[:param_1][:div_class_name]}"%>"><a href="" >Brand</a></li>

                          <%end%>
                        <li   class='<%="#{lookup[:param_1][:div_class_name]}"%>' id="attribute_menu_<%=index%>" onclick="openInfoBox(<%=lookup[:param_1].to_json%>, '<%=lookup[:param_2].to_json%>', this );return false"><a href=""><%=lookup[:name]%></a></li>
                      <%end%>
                    </ul>
                    </div>
                    <br/>
                    <div class="search-cat-container">
                    <h3>Availability Criteria</h3>
                      <span ><span  style="padding-left:25px;display:block;" >Include Available <%=@search_type.pluralize.humanize%><%= check_box_tag "current_status", 1, true,:onclick => "setSearchStatus();"%></span>
                      </span>      
                      <span ><span  style="padding-left:25px;display:block;">Include Upcoming <%=@search_type.pluralize.humanize%><%= check_box_tag "future_status", 2, true, :onclick => "setSearchStatus();"%></span>
                     </span>
                     <span ><span   style="padding-left:25px;display:block;">Include Discontinued <%=@search_type.pluralize.humanize%><%= check_box_tag "nonavailable_status", 3, false, :onclick => "setSearchStatus();"%></span>
                     </span>
                      <br/>
                     </div> 

                    
                
                <!-- end of search-cat-container -->
                
            </div><!-- end of left panel -->

  <%= render :partial => "shared/search_popup" %>
</div>
  <div class="rightcolumnbig">

    <div class="right-panel">
  
    <div class="search-preferences-container box-div searchPack" style="display: none;overflow-y:auto;">
    
      <h3>Search Preferences:</h3>
        <div class="search-preferences-div">
          <ul class="search_category" style="width:723px;">
          </ul>
        </div>
      <div id="btnDiv" style="height:50px;display:block;">
        <a href="#" class="btn_gray float_lft" style="display:none;margin:10px;" id="clearTag">Clear All</a>
        <!--<a href="#" class="btn_submitanswer float_rgt" style="width:150px;display:none;" id="addPreferenceTag">Create Buying Plan</a>-->
      
        <a href="#" class="btn_submitanswer float_rgt" style="width:130px;display:none;" id="getAdviceTag">Create/Update Buying Plan</a>
      
      </div>
    </div><!-- end of search-preferences-container -->

    <div class="push"></div>
    <div id="content_all" class="search-result-container box-div" >
    
      <%= hidden_field_tag :page_pagination,2%>
      <div class="top-search-result">
                      <div class="search-result-title" id="totalSearchResults">Total Search Results: <span id="total_result"> <%=@items.total%></span></div>
                           <div class="sort-box"><form><label>Sort by:&nbsp;</label><span id="sort_filter"> <%=select_tag "search_sort_by",
              options_for_select([["Select", ""],["Launch Date","Launch_date"],["Price", "Price"],["Rating", "Rating"]] + @sort , params[:sort_by]) %></span><%=select_tag "search_order_by",
              options_for_select([["Desc", "desc"],["Asc","asc"]], params[:order_by]), :style=> "width:70px;" %></form></div>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>     
   <a id="content_next" style="display:none"></a>
     <div id="content" class="search-result-list">
      
      <%= render :partial => "/search/index" %>
    </div>
    </div>
    <script>
  
    $(window).scroll(function () {
       lnk = $('#content_next');
    if (!running && lnk && $(window).scrollTop() >= $('#content_all').height() - $(window).height()) {
         running = true;
            $.ajax(
              {
               <%if params[:search_type] == "car" %>
                 url: "/<%= params[:search_type] %>/search?page=" + $("#page_pagination").val() + "&type=scroll" + "&status=" + $("#status").val() + "&sort_by=" + $("#sort_by").val() + "&manufacturer=" + $("#manufacturer").val() + "&min_1=" + $("#min_1").val() +  "&max_1=" + $("#max_1").val() + "&5=" + $("#5").val() + "&7=" + $("#7").val() + "&24=" + $("#24").val() + "&28=" + $("#28").val() + "&31=" + $("#31").val() + "&41=" + $("#41").val() + "&43=" + $("#43").val() + "&86=" + $("#86").val() + "&87=" + $("#87").val() + "&59=" + $("#59").val() + "&63=" + $("#63").val()+ "&280=" + $("#280").val()+ "&43=" + $("#43").val()+ "&332=" + $("#332").val()+ "&29=" + $("#29").val(),
                <%end%>
                 <%if params[:search_type] == "bike" %>
                    url: "/<%= params[:search_type] %>/search?page=" + $("#page_pagination").val() + "&type=scroll" + "&status=" + $("#status").val() + "&sort_by=" + $("#sort_by").val() + "&manufacturer=" + $("#manufacturer").val() + "&min_1=" + $("#min_1").val() +  "&max_1=" + $("#max_1").val() + "&5=" + $("#5").val() + "&7=" + $("#7").val() + "&31=" + $("#31").val() + "&205=" + $("#205").val() + "&295=" + $("#295").val() + "&208=" + $("#208").val() + "&29=" + $("#29").val() + "&28=" + $("#28").val() + "&339=" + $("#339").val() ,
                 <%end%>
                 
               <%if params[:search_type] == "cycle" %>
                    url: "/<%= params[:search_type] %>/search?page=" + $("#page_pagination").val() + "&type=scroll" + "&status=" + $("#status").val() + "&sort_by=" + $("#sort_by").val() + "&manufacturer=" + $("#manufacturer").val() + "&min_1=" + $("#min_1").val() +  "&max_1=" + $("#max_1").val() + "&7=" + $("#7").val() + "&262=" + $("#262").val() + "&261=" + $("#261").val(),
                <%end%>
                      

                <% if params[:search_type] == "mobile" %>
                 url: "/<%= params[:search_type] %>/search?page=" + $("#page_pagination").val() + "&type=scroll" + "&status=" + $("#status").val() + "&sort_by=" + $("#sort_by").val() + "&manufacturer=" + $("#manufacturer").val() + "&min_1=" + $("#min_1").val() +  "&max_1=" + $("#max_1").val() + "&7=" + $("#7").val() + "&101=" + $("#101").val() + "&104=" + $("#104").val() + "&265=" + $("#265").val() + "&110=" + $("#110").val() + "&114=" + $("#114").val()  + "&117=" + $("#117").val() +  "&119=" + $("#119").val() + "&124=" + $("#124").val() + "&108=" + $("#108").val() + "&127=" + $("#127").val() +  "&132=" + $("#132").val()  +  "&135=" + $("#135").val() +  "&136=" + $("#136").val()  +  "&142=" + $("#142").val() +  "&144=" + $("#144").val() +  "&147=" + $("#147").val() + "&148=" + $("#148").val(),
                <%end%>
             

                <% if params[:search_type] == "tablet" %>
                   url: "/<%= params[:search_type] %>/search?page=" + $("#page_pagination").val() + "&type=scroll" + "&status=" + $("#status").val() + "&sort_by=" + $("#sort_by").val() + "&manufacturer=" + $("#manufacturer").val() + "&min_1=" + $("#min_1").val() +  "&max_1=" + $("#max_1").val() + "&101=" + $("#101").val() + "&117=" + $("#117").val() + "&265=" + $("#265").val() + "&135=" + $("#135").val() + "&136=" + $("#136").val() + "&137=" + $("#137").val() +  "&119=" + $("#119").val() +  "&104=" + $("#104").val()  +  "&102=" + $("#102").val()  + "&108=" + $("#108").val()  +  "&193=" + $("#193").val() , 
              <%end%>
         

                <% if params[:search_type] == "camera" %>
                   url: "/<%= params[:search_type] %>/search?page=" + $("#page_pagination").val() + "&type=scroll" + "&status=" + $("#status").val() + "&sort_by=" + $("#sort_by").val() + "&manufacturer=" + $("#manufacturer").val() + "&min_1=" + $("#min_1").val() +  "&max_1=" + $("#max_1").val() + "&101=" + $("#101").val() + "&117=" + $("#117").val() + "&183=" + $("#183").val() + "&7=" + encodeURIComponent($("#7").val()) + "&172=" + $("#172").val() + "&176=" + $("#176").val() + "&156=" + $("#156").val()+ "&136=" + $("#136").val()+ "&295=" + $("#295").val()+ "&302=" + $("#302").val() + "&305=" + $("#305").val() + "&310=" + $("#310").val() , 
                <%end%>


                type: "get",
                dataType: "script",
                before: $('#spinner1').show(),
                success: function(data){$('#spinner1').hide();
                 
                  }
              });
              return false
            //lnk.click();
       }
        });
      
    </script>
  </div>

</div>
<%= form_for(:search, :url =>{:action=>"index",:controller=>"search"}, :html => { :method => :post, :id => "searchForm"}) do |f| %>
  <%= hidden_field_tag :page %>
  <%= hidden_field_tag :status, "1,2"%>
  <%= hidden_field_tag :search_type, @search_type %>
  <%= hidden_field_tag :sort_by, @sort_by %>
  <%= hidden_field_tag :order_by, @order_by %>
  <%=hidden_field_tag :manufacturer%>
  <%@search_form_lookups.each do |form_list|%>
    <%=hidden_field_tag form_list[:field_name].parameterize.underscore.to_sym%>
  <%end%>
<%end%>

<div id="getAdviceDialog" title="I am looking for an advice" style="display:none">
</div>

<div class="push"></div>
<script type="text/javascript">

function store_status_ids(type, sender) {

    var value_selector = "#" + type +""

    if ($(value_selector).val() == "") {
        var ids = [];
    } else {
        var ids = $(value_selector).val().split(",");
    }
    var add = true
    $.each(ids, function(index, value) {
        if (value.toString() == sender.toString())  {
            add = false;
        }
    });
    if (add == true){
        ids.push(sender);
    }
    $(value_selector).val(ids.toString());
};

function setSearchStatus(){
  	$("#status").val('');
if ($('#future_status').is(':checked')) {
store_status_ids("status", 2)
}
if ($('#current_status').is(':checked')) {
	store_status_ids("status", 1)
}
if ($('#nonavailable_status').is(':checked')) {
	store_status_ids("status", 3)
}
searchData('spinner');
  	
  }
  function resetUnwantedFormFields(){
<%@search_info_lookups.each_with_index do |value, index|%>
      var searchListId = "attribute_menu_" + <%=index%> + "_tag"
       var formId = <%= value[:id] %>
        var valueType = "<%= value[:param_1][:vt] %>"
      //click option has multiple values and hence before we reset the values we need
      //to check whether other field values is already set in search criteria or not.
       if (valueType == "Click"){
       	var reset = "true"
       	<%@search_info_lookups.select {|s| s[:id] == value[:id]}.each do |form_value|%>
       	
       	<%index = @search_info_lookups.index(form_value)%>
       	var multipleClickSearchListId = "attribute_menu_" + <%=index%> + "_tag"
       	if ($(".search_category").find("#" +multipleClickSearchListId).length != 0){
        			reset = "false"
        		}    
       	<%end%>   
        if (reset == "true"){
        	 $("#" + formId).val('')
        }         
        } 
      else if ($(".search_category").find("#" + searchListId).length == 0){           
        if (valueType == "Between"){
          $("#min_" + formId).val('')
          $("#max_" + formId).val('')
        }        
        else{
          $("#" + formId).val('')
        }
      }
<%end%>
  }

  function showPreferenceTag(){
<% if user_signed_in? %>
      if ($(".search_category").find("li").length == 0){
        $("#addPreferenceTag").show();
      }
<%end%>
  }

  function showGetAdviceTag(){
<% if user_signed_in? %>
      if ($(".search_category").find("li").length == 0){
        //commented temp for launch.
       // $("#getAdviceTag").show();
      }
<%end%>
  }
  //LOAD PREFERENCE TAGS AND SETTING UP FORM FIELDS WITH PREFERENCE VALUES///////////
<%# if user_signed_in? %>
    $("#page").val(1);
  <%if @preferences_list.size > 0%>
      showSearchPack();
      showClearTag();
      showPreferenceTag();
      showGetAdviceTag();
  <%end%>
  <%@preferences_list.each do |preference|%>
      var lineHeight = "";
      var searchCriteria = "";
      var index = "<%=@search_info_lookups.index{|x|x[:id]== preference[:attribute]}%>"
      var searchName = "<%=preference[:search_name]%>"
      var tagId = "attribute_menu_" + index + "_tag"
    <%if preference[:value_type] == "Between"%>
        var minFieldId = "<%=preference[:min_attribute]%>"
        var maxFieldId = "<%=preference[:max_attribute]%>"
        var minValue   = "<%=preference[:min_value]%>"
        var maxValue   = "<%=preference[:max_value]%>"
        $("#" + minFieldId).val(minValue)
        $("#" + maxFieldId).val(maxValue)
        searchCriteria = ""
        searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
           var className = "middlebg attributeTag"
        var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;
    <%elsif (preference[:value_type] == "GreaterThan" || preference[:value_type] == "LessThen")%>
        var fieldId = "<%="#{preference[:attribute]}"%>"
        var value   = "<%="#{preference[:value]}"%>"
        $("#" + fieldId).val(value)
        searchCriteria = ""
        searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
        var value = searchCriteria
        var searchCriteria = "<span class='txt_subcategories'>" + value +"</span>"
        var className = "middlebg attributeTag"
        var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;
    <%elsif (preference[:value_type] == "ListOfValues" || preference[:value_type] == "manufacturer")%>
        <%if preference[:value_type] == "manufacturer"%>      
        tagId = "manufacturerAtt_tag"
        <%end%>
        var fieldId = "<%="#{preference[:attribute]}"%>"
        var value   = "<%="#{preference[:value]}"%>"
        var selectedList = value.split(',')
        var searchCriteria = ""
        var anchorId
        var spanId = 'removableListofValues' + fieldId
        var spanHTML = ""
        $.each(selectedList, function(index, value) {
          anchorId = "removeThis_" + index + "_" + fieldId
          spanHTML = spanHTML + "<span class='txt_subcategories'>" + value + "<a class='icon_close1 removableList' id='" + anchorId + "' href='#'></a></span>"
        })
        searchCriteria = searchCriteria + spanHTML
        var className = "middlebg attributeTag"
        var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;
        var fieldId = "<%="#{preference[:attribute]}"%>"
        var value   = "<%="#{preference[:value]}"%>"
        $("#" + fieldId).val(value)
    <%else%>
        var fieldId = "<%="#{preference[:attribute]}"%>"
        var value   = "<%="#{preference[:value]}"%>"
        $("#" + fieldId).val(value)
        var list = "<li id='" + tagId + "'" + " class='middlebg'  style= 'height:40px;'><span class='title_txt'>" + searchName  + "<a id= 'deleteTag' class='icon_close'></a></span></li>" ;
    <%end%>
      $(list).appendTo('.search_category');
  <%end%>
<%#end%>  


  $('#deleteTag').live('click', function(){
  	//removing first to handle clearing the form values for the currently removed tag as well.
  	$(this).closest('li').remove();
    hideClearTag();
    hideSearchPack();
    var tagId = $(this).closest('li').attr('id');
    var attributeId = tagId.substring(0, tagId.indexOf("_tag"));
    $("#" + attributeId).show();
    if (attributeId == "manufacturerAtt"){
      $("#manufacturer").val('');
    }
    else{
      var attributeIndex = attributeId.replace('attribute_menu_',''); //substring(0, tagId.indexOf("attribute_menu_"));
		<%@search_info_lookups.each_with_index do |lookup, index|%>
        if (<%=index%> == attributeIndex){
          var valueType = "<%=lookup[:param_1][:vt]%>"
          var attributeId = "<%=lookup[:id]%>"
           //click option has multiple values and hence before we reset the values we need
      //to check whether other field values is already set in search criteria or not.
          if (valueType == "Click"){
      var reset = "true"
       	<%@search_info_lookups.select {|s| s[:id] == lookup[:id]}.each do |form_value|%>
       	
       	<%index = @search_info_lookups.index(form_value)%>
       	var multipleClickSearchListId = "attribute_menu_" + <%=index%> + "_tag"
       	if ($("#" +multipleClickSearchListId).length != 0){
        			reset = "false"
        		}    
       	<%end%>   
        if (reset == "true"){
        	 $("#" + attributeId).val('')
        }          
        } 
         else if (valueType == "Between"){
            $("#min_" + attributeId).val('');
            $("#max_" + attributeId).val('');
          }
          else{
            $("#" + attributeId).val('');
          }
        }
<%end%>
    }

    //$.get('/search',$("#searchForm").serialize(),null,"script");
    searchData('spinner');
    return false;
  })
</script>
<script type="text/javascript"> 
 function number_to_indian_currency(value){
   return value;
 }
  function resetFormData(){
    $("#page").val(1);
    $("#manufacturer").val('')
<%@search_form_lookups.each do |form_list|%>
      $("#" + '<%=form_list[:field_name]%>').val('')
<%end%>
  } 
  
  function removeMultipleAttributeInstance(fieldId, tagId){
<%@search_info_lookups.each_with_index do |value, index|%>
      var searchListId = "attribute_menu_" + <%=index%> + "_tag"
      var formId = <%= value[:id] %>
      if ((formId == fieldId) && (searchListId != tagId)){
        if ($(".search_category").find("#" + searchListId).length != 0){
          $("#" + searchListId).remove();
          var attrField = searchListId.replace("_tag", "")
          $("#" + attrField).show();
        }
      }
<%end%>
  } 
  
</script>
<div style="padding-left:300px;">
 <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
         <%= image_tag '/images/ajax-loader.gif' %>
      </span>
      </div>
