    <h1 class="heading">Total Search Results for `<%= params[:q] %>` : <%=@items.total%></h1>
        
  <div id="content_all" style="margin-left:50px;">
  <div id="search_items">
          <div class="col main_col w4_5">
            <%= render "search_items" %>
          </div>
        </div>
      <div class="col main_col w4_5">
        <span id="spinner1" style="margin-left:300px;display:none">
          <%= image_tag '/images/ajax-loader.gif' %>
        </span>
        </div>
      </div>
     </div>
       <%= hidden_field_tag :page_pagination,2%>
    
    <script>
      $(window).scroll(function () {
        lnk = $('#content_next');
          if (!running && lnk && $(window).scrollTop() >= $('#content_all').height() - $(window).height()) {
           running = true;
            $.ajax(
              {
                url: "/search/search_items?q=<%= params[:q] %>" +  "&page=" + $("#page_pagination").val(),
                type: "get",
                dataType: "script",
                before: $('#spinner1').show(),
                success: function(data){$('#spinner1').hide();
                 
                  }
              });
              return false
            //lnk.click();
          }
        });
      
    </script>
