<div id="ShareURLDiv" style="padding:5px 5px 0px 5px;display: none;" class="contentSubContainer">
  <div id="notification" class="notificationStyle">Thank You, Article has been created.</div>

  <div id="article_errors" style="display:none"></div>
  <%if @article_content.new_record?%>
    <%@url_id = "new_share_url"%>
    <%@form_id = "new_share_form"%>
    <%@title_id = "txtArticleTitle"%>
    <%@current_image_id = "current_image"%>
    <%#@share_article_category_id = "new_share_article_category"%>
  <%else%>
    <%@url_id = "edit_share_url_#{@article_content.id}"%>
    <%@form_id = "edit_share_form_#{@article_content.id}"%>
    <%#@share_article_category_id = "edit_share_article_category_#{@item.id}"%>
    <%@title_id = "edit_txtArticleTitle_#{@article_content.id}"%>
    <%@current_image_id = "edit_current_image_#{@article_content.id}"%>
  <%end%>

  <%if @article_content.new_record?%>
    <%@dwnld_url = "dwnld_url"%>
    <%@article_image = "article_image"%>
    <%@current_image_size = "current_image_size"%>
    <%@img_thumb = "img_thumb"%>
    <%@txtArticleDescription =  "txtArticleDescription"%>
    <%@new_article_type ="new_article_type"%>

    <%@total_images = "total_images"%>
    <%@new_article_thumbnail = "new_article_thumbnail"%>
    <%@articles_item_id = "articles_item_id"%>
  <%else%>
    <%@articles_item_id = "edit_articles_item_id_#{@article_content.id}"%>
    <%@img_thumb = "edit_img_thumb_#{@article_content.id}"%>
    <%@dwnld_url = "edit_dwnld_url_#{@article_content.id}"%>
    <%@article_image= "edit_article_image_#{@article_content.id}"%>
    <%@current_image_size = "edit_current_image_size_#{@article_content.id}"%>
    <%@total_images = "edit_total_images_#{@article_content.id}"%>
    <%@new_article_thumbnail = "edit_new_article_thumbnail_#{@article_content.id}"%>
    <%@txtArticleDescription =  "edit_txtArticleDescription_#{@article_content.id}"%>
    <%@new_article_type ="edit_article_type_#{@article_content.id}"%>

  <%end%>
  <%= form_for(@article_content, :as => :article_content,:html => { :id => "#{@form_id}" }, :url => download_article_contents_path, :remote => true) do |f| %>
    <%= hidden_field_tag 'default_item_id', @item.try(:id) %>
    <%= f.hidden_field :itemtype_id, :value => @item.try(:itemtype_id) %>
    
    <%= hidden_field_tag "#{@articles_item_id}" %>
    <%= f.hidden_field :type, :id => "#{@new_article_type}" %>
    <%= f.hidden_field :thumbnail, :id => "#{@new_article_thumbnail}" %>
    <%= hidden_field_tag 'external', @external %>
    <div style="padding:5px 5px 0px 0px;clear:both;">
      <% if content_category == true %>
        <div style="float:left">
          <div class="title_header float_lft">Content Category :</div>
          <div class="float_lft">
            <% val = @item.blank? ? 0 : @item.itemtype_id %>
            <%= f.select :sub_type, ArticleCategory.by_itemtype_id(val).map { |e|[e.name, e.name]  }  %>
          </div>
        </div>
      <%else%>
        <%= f.hidden_field :sub_type %>
      <%end%>
      <div style="clear:both;"></div>
    </div>

    <div style="padding:5px 5px 0px 0px;clear:both;">
      <div class="title_header float_lft" ><%= f.label :url %> :</div>
      <div class="float_lft"><%= f.text_field :url, :id => "#{@url_id}", :style => "margin-left:5px;width:400px" %></div>
      <div style="clear:both;"></div>
    </div >
    <div style="padding:5px 5px 0px 0px;clear:both;display:none;" class="<%=@dwnld_url%>">
      <div class="title_header float_lft" >Title :</div>
      <div class="float_lft"><%= f.text_field :title, :id => "#{@title_id}", :style => "margin-left:5px;width:400px" %></div>

    </div >
    <div style="padding:5px 5px 0px 0px;clear:both;display:none;" class="<%=@dwnld_url%> <%=@article_image%>">
      <div class="title_header float_lft <%=@article_image%>">Thumbnail :</div>
      <img id="<%=@img_thumb%>" src="images/users.png" style="margin-left:5px;width:75px;height:75px;" class="float_lft" />
      <div class="float_lft <%=@article_image%>"><input type="checkbox" >Don't Include Thumbnail</input></div>
    </div>

    <div style="padding:5px 5px 0px 5px;clear:both;display:none;" class="<%=@dwnld_url%>">
      <div class="title_header float_lft <%=@article_image%>"></div>
      <div class="float_lft <%=@article_image%>">
        <span id="<%=@current_image_size%>"></span> <br />
        <span id="<%=@current_image_id%>" class="txt_blue">0</span>/ <span id="<%=@total_images%>" class="txt_blue">0</span> &nbsp;
        <a id="aPrev" class="txt_blue">Prev</a>
        <a id="aNext" class="txt_blue">Next</a>
      </div>
    </div>
    <div style="padding:5px 5px 0px 5px;clear:both;display:none;" class="<%=@dwnld_url%>">
      <div class="title_header float_lft" >Description :</div>
      <div> <%= f.text_area :description, :id => "#{@txtArticleDescription}", :style => "width:400px;height:50px;" %></div>
    </div>
    <%if @article_content.new_record?%>
      <%@search_field_id = "new_article_product"%>
      <%@ul_list_id = "new_article_product_list"%>
    <%else%>
      <%@ul_list_id = "edit_article_product_list_#{@article_content.id}"%>
      <%@search_field_id = "edit_article_product_#{@article_content.id}"%>
    <%end%>
    <div style="padding:5px 5px 0px 0px;clear:both;display:none;" id="shareProduct">
      <div class="title_header float_lft">Product  :</div>
      <div class="taggingdiv" style="margin-left:5px;">
        <ul id="<%=@ul_list_id%>" class="tagging"></ul>
        <div class="float_lft " style="clear:both;"><input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" id="<%=@search_field_id%>"/></div>
        <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <!--- FIELD1, FIELD2, FIELD3 FOR OTHER FIELDS-->
    <%if @article_content.new_record?%>
      <%@field1_id = "new_share_field1"%>
      <%@sharefield1 = "sharefield1"%>
      <%@sharefield1Label = "sharefield1Label"%>
    <%else%>
      <%@field1_id = "edit_share_field1_#{@article_content.id}"%>
      <%@sharefield1 = "edit_sharefield1_#{@article_content.id}"%>
      <%@sharefield1Label = "edit_sharefield1Label_#{@article_content.id}"%>
    <%end%>
    <div style="padding:5px 5px 0px 0px;text-align:center;display:none" id="<%=@sharefield1%>">
      <div class="title_header float_lft" id="<%=@sharefield1Label%>">Start date :</div>
      <div class="float_lft">
        <%= f.text_field :field1, {:style=>"margin-left:5px;width:150px", :id => @field1_id}  %>
      </div>
    </div>
    <%if @article_content.new_record?%>
      <%@field2_id = "new_share_field2"%>
      <%@sharefield2 = "sharefield2"%>
      <%@sharefield2Label = "sharefield1Label2"%>
    <%else%>
      <%@field2_id = "edit_share_field2_#{@article_content.id}"%>
      <%@sharefield2 = "edit_sharefield2"%>
      <%@sharefield2Label = "edit_sharefield1Label2_#{@article_content.id}"%>
    <%end%>
    <div style="padding:5px 5px 0px 0px;text-align:center;display:none" id="<%=@sharefield2%>">
      <div class="title_header float_lft" id="<%=@sharefield2Label%>">End date :</div>
      <div class="float_lft">
        <%= f.text_field :field2, {:style=>"margin-left:5px;width:150px", :id => @field2_id}  %>
      </div>
    </div>
    <%if @article_content.new_record?%>
      <%@field3_id = "new_share_field3"%>
      <%@sharefield3 = "sharefield3"%>
      <%@sharefield3Label = "sharefield1Label3"%>
    <%button_name = "Share this content"%>
    <%else%>
      <%@field3_id = "edit_share_field3_#{@article_content.id}"%>
      <%@sharefield3 = "edit_sharefield3_#{@article_content.id}"%>
      <%@sharefield3Label = "edit_sharefield1Label3_#{@article_content.id}"%>
    <%button_name = "Update this content"%>
    <%end%>
    <div style="padding:5px 5px 0px 0px;text-align:center;display:none" id="<%=@sharefield3%>">
      <div class="title_header float_lft" id="<%=@sharefield3Label%>">Location :</div>
      <div class="float_lft">
        <%= f.text_field :field3, {:style=>"margin-left:5px;width:150px",:width=>"400px", :id => @field3_id}  %>
      </div>
    </div>
    <!-- FIELD ENDS -->
    <div style="padding:10px 5px 20px 5px;clear:both;display:none;" class="<%=@dwnld_url%>">
      <%= f.submit button_name, :id => "submit_article", :class => "btn_submitanswer" %>
      <% unless @external.blank? %>
        <%= link_to_function "Cancel","window.open('', '_self', '');
    window.close();", :class => "btn_submitanswer"	%>
      <% end %>
      <div style="clear:both;"></div>
    </div>
    <%if @article_content.new_record?%>
      <%@save_instruction_value = "1"%>
    <%else%>
      <%@save_instruction_value = "0"%>
    <%end%>
    <input type="hidden" name = "save_instruction"  id = "share_instruction_id" value ="<%=@save_instruction_value%>"/>
    <div id="url_content_desc">	</div>

  <% end %>
</div>
<script type="text/javascript">
  var MIN_SIZE=[100,50];
  var first=false;
  var images_index=0;
  var images = new Array();
  var sizes = new Array();
  function validateUrl(url)
  {
    var regexp = /((ftp|http|https):\/\/)?(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
    return regexp.test(url);
  }
  $(function(){
    $('form#<%=@form_id%> #submit_article').live('click',function(){

      if($('#<%=@url_id%>').val() && validateUrl($('#<%=@url_id%>').val())){
<%if @article_content.new_record?%>
          // $('form#<%#=@form_id%>').attr('action','<%#= article_contents_path %>');
          $.post('/article_contents/create',$("#<%=@form_id%>").serialize(),"script");
<%else%>     
          $.post('/article_contents/update/<%=@article_content.id%>',$("#<%=@form_id%>").serialize(),"script");
          return false;
<%end%>

        return false;
        //$('#submit_article').attr("disabled", true);
      } else {
        return false;
      }
    });
    $('div#ShareURLDiv #<%=@url_id%>').keyup(function(){
      if($('div#ShareURLDiv #<%=@url_id%>').val() && validateUrl($('div#ShareURLDiv #<%=@url_id%>').val())){
        $.post('/article_contents/download',$("#<%=@form_id%>").serialize(),"script");
        //$('form#<%#=@form_id%>').attr('action','<%#= download_article_contents_path  %>');
        // $('form#<%#=@form_id%>').submit();
      } else {
        $('div.<%=@dwnld_url%>').hide();
      }
    });
    $('#aPrev').live("click",function(){
      if(images  && images.length>0 && images_index>0 ){
        images_index--;
        $('#<%=@current_image_id%>').html(images_index+1);
        $("#<%=@img_thumb%>").attr("src",images[images_index]);
        $('#<%=@current_image_size%>').html(sizes[images_index]);
        $("#<%=@new_article_thumbnail%>").val(images[images_index]);
      }
    });
    $('#aNext').live("click",function(){
      if(images && images.length>0 && images_index<images.length-1 ){
        images_index++;
        $('#<%=@current_image_id%>').html(images_index+1);
        $('#<%=@current_image_size%>').html(sizes[images_index]);
        $("#<%=@img_thumb%>").attr("src",images[images_index]);
        $("#<%=@new_article_thumbnail%>").val(images[images_index]);
      }
    });
   
<%if @article_content.new_record?%>
 settings={
      close:true, addButton: false,
      url: "/search/autocomplete_items",
      editMode: false, multiple: true,
      hidden_field: "<%=@articles_item_id%>"
    };
    $.textTagger("<%=@search_field_id%>","<%=@ul_list_id%>",settings);
  <% unless @item.blank? %>
        $.addTag("<%=@search_field_id%>","<%=@ul_list_id%>", settings,"<%= @item.name %>", "<%= @item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= @item.id %>", false)
        $("ul#<%=@ul_list_id%> li:first span a.icon_close_tagging").remove();
  <% end %>
<%else%>

   settings={
        has_parent:true,
        close:true, addButton: false,
        url: "/search/autocomplete_items",
        editMode: false, multiple: true,
        hidden_field: "#contentEditView #<%=@articles_item_id%>"
      };
  <% @items.each do |item| %>
        $.addTag("#contentEditView #<%=@search_field_id%>","div#contentEditView ul#<%=@ul_list_id%>", settings,"<%= item.name %>", "<%= item.id %>", true);
        $.addIdToField(settings.hidden_field, "<%= item.id %>", true)
    <%if item.id == @item.id%>
          $("ul#<%=@ul_list_id%> li#textTaggers<%=item.id%> span a.icon_close_tagging").remove();
    <%end%>
  <%end%>
    <%if @article_content.is_review_content?%>
      $.textTagger("#contentEditView #<%=@search_field_id%>","#contentEditView #<%=@ul_list_id%>",settings);
    $("div#ShareURLDiv input#<%=@search_field_id%>").hide();
  <%end%>
<%end%>

<% unless @article_content.url.blank? %>
 <%= render :file =>"article_contents/download.js" %>
<% end %>
  });

  function check_imagesize_on_load(url){
    var img = new Image();
    img.onload = function() {
      if(this.width >=MIN_SIZE[0] &&  this.height >=MIN_SIZE[1])
        add_image_to_list(url,[this.width,this.height]);
    }
    img.src = url;
  }
  function add_image_to_list(url,size){
    images.push(url);
    sizes.push(size[0]+"*"+size[1]);
    if(first){
      first=false;
      $("#<%=@img_thumb%>").attr("src",url);
      $("#<%=@new_article_thumbnail%>").val(url);
      $("#<%=@img_thumb%>").show();
      $(".<%=@article_image%>").show();
      $('#<%=@current_image_size%>').html(size[0]+"*"+size[1]);
      $('#<%=@current_image_id%>').html(1);
      images_index=0;
    }

    $('#<%=@total_images%>').html(images.length);
  }

  function unescapeHTML(html) {
    return $("<div />").html(html).text();
  }
  function escapeHTML(html) {
    return $("<div />").text(html).html();
  }   


  function validateArticleShareForm(){
   
    var valid = true;
<%unless @external%>
      $('#<%=@url_id%>').poshytip('destroy')
      // $('#txtArticleDescription').poshytip('destroy')
      if ($("#<%=@url_id%>").val() == ""){
        $('#<%=@url_id%>').poshytip({
          className: 'tip-darkgray',
          content: 'Please select a title.',
          showOn: 'none',
          alignTo: 'target',
          alignX: 'right',
          offsetX: 5,
          alignY: 'center'
        });
        $('#<%=@url_id%>').poshytip('show');
        valid = false

      }

<%end%>
    return valid
  }
<% unless @item.blank? %>
    function showProductTag(){
      var itemId = <%= @item.id %>
      var defaultId = "textTaggers" + itemId
      $("ul#<%=@ul_list_id%> li").each(function (i) {
        var id = $(this).attr('id');
        if (id != defaultId){
          $(this).remove();
        }
      });
      $("#shareProduct").show();
      $("div#ShareURLDiv input#<%=@search_field_id%>").show();
      $("#<%=@articles_item_id%>").val(itemId);
    }

    function hideProductTag(){
      var itemId = <%= @item.id %>
      $("#shareProduct").hide();
      $("#<%=@articles_item_id%>").val(itemId);
    }
<%end%>

////////////////////////////////////////////////////////////
function hideAllOptionalFieldsArticleSubmit(){
    $("#<%=@form_id%> #<%=@field1_id%>").val('');
    $("#<%=@form_id%> #<%=@field2_id%>").val('');
    $("#<%=@form_id%> #<%=@field3_id%>").val('');
    $("div#ShareURLDiv #<%=@sharefield1%>").hide();
    $("div#ShareURLDiv #<%=@sharefield2%>").hide();
    $("div#ShareURLDiv #<%=@sharefield3%>").hide();
  }
  function setDefaultFieldsArticleSubmit(category){
    hideAllOptionalFieldsArticleSubmit();
    if (category == "<%=ArticleCategory::EVENT%>"){
      showArticleSubmitEventOptFields();
    }
    else if((category == "<%=ArticleCategory::BOOKS%>")|| (category == "<%=ArticleCategory::ACCESSORIES%>")){
      showArticleSubmitBooksAccessoriesOptFields();
    }
    else if (category == "<%=ArticleCategory::APPS%>"){
      showArticleSubmitAppOptFields();
    }
  }
  function showArticleSubmitEventOptFields(){
    $("div#ShareURLDiv #<%=@sharefield1Label%>").text("Start Date:")
    $("div#ShareURLDiv #<%=@sharefield2Label%>").text("End Date:")
<%if @content.nil?%>
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px'/>");

      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field1_id%>").val('');
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field2_id%>").val('');
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field3_id%>").val('');
<%else%>
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field1%>'/>");
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field2%>'/>");
      $("div#ShareURLDiv form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field3%>'/>");
<%end%>
    $("div#ShareURLDiv #<%=@sharefield1%>").show();
    $("div#ShareURLDiv #<%=@sharefield2%>").show();
    $("div#ShareURLDiv #<%=@sharefield3%>").show();
    $('div#ShareURLDiv form#<%=@form_id%> #<%=@field1_id%>,div#ShareURLDiv form#<%=@form_id%> #<%=@field2_id%>').datepicker();
  }

  function showArticleSubmitAppOptFields(){
    $("div#ShareURLDiv #<%=@sharefield1Label%>").text("Sub Category:")
    $("div#ShareURLDiv #<%=@field1_id%>").replaceWith("<%=get_apps_subcategory_html_list("#{@field1_id}", "article_content[field1]")%>");
    $("div#ShareURLDiv #<%=@sharefield1%>").show();
    $("div#ShareURLDiv #<%=@sharefield2Label%>").text("Type:")
    $("div#ShareURLDiv #<%=@field2_id%>").replaceWith("<%=get_apps_type_html_list("#{@field2_id}", "article_content[field2]")%>");
<%unless @content.nil?%>
      $("div#ShareURLDiv #<%=@field1_id%>").val("<%=@content.field1%>")
      $("div#ShareURLDiv #<%=@field2_id%>").val("<%=@content.field2%>")
<%end%>
    $("div#ShareURLDiv #<%=@sharefield2%>").show();
    $("div#ShareURLDiv #<%=@sharefield3%>").hide();
  }

  function showArticleSubmitBooksAccessoriesOptFields(){
    $("div#ShareURLDiv #<%=@sharefield1Label%>").text("Sub Category:")
    $("div#ShareURLDiv #<%=@field1_id%>").replaceWith("<%=get_books_accessories_subcategory_html_list("#{@field1_id}", "article_content[field1]")%>");
<%unless @content.nil?%>
      $("div#ShareURLDiv #<%=@field1_id%>").val("<%=@content.field1%>")
<%end%>
    $("div#ShareURLDiv #<%=@sharefield1%>").show();
    $("div#ShareURLDiv #<%=@sharefield2%>").hide();
    $("div#ShareURLDiv #<%=@sharefield3%>").hide();
  }

  function hideField1(){
    $("#<%=@sharefield1%>").hide();
    $("#<%=@sharefield1Label%>").text("Start Date:")
    $("#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px'/>");
    $("#<%=@form_id%> #<%=@field1_id%>").val('');

  }

  function hideField2(){
    $("#<%=@sharefield2%>").hide();
    $("#<%=@sharefield2Label%>").text("End Date:")
    $("#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px'/>");
    $("#<%=@form_id%> #<%=@field2_id%>").val('');

  }

  function hideField3(){
    $("#<%=@sharefield3%>").hide();
    $("#<%=@sharefield3Label%>").text("Location:")
    $("#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:150px'/>");
    $("#<%=@form_id%> #<%=@field3_id%>").val('');
  }

</script>

<script type="text/javascript">
  $(document).ready(function(){
    $("form#<%=@form_id%> #submit_article").click(function(){
      $("#ShareURLDivEvent div#article_errors").html("");
      var valid = validateArticleShareForm();
      if (!valid){
        return false;
      }
    });
  });
</script>


