<div id="subContainerContentCreate" style="padding:5px 5px 0px 5px;height:150px;display:none;" class="contentSubContainer">
<style>
  span.defaultSkin table.mceLayout tbody tr.mceLast td.mceStatusbar {
    display: none !important;
}
</style>
<%unless @no_popup_background == "true" %>
<div class="popup-background">
  <a href="#" class="Closebut" style="display:none;">&nbsp;</a>
  <%end%>
  <div id="notification" class="notificationStyle">Thank You, Content has been created.</div>
       <div id="tag">
        </div>
  <!-- along with event creation this form is used for many other types -->
  <%if @content.nil?%>
    <%@form_id = "new_create_article_content_form"%>
  <%else%>
    <%@form_id = "edit_create_article_content_form_#{@content.id}"%>
  <%end%>
  <% @article_content= ArticleContent.new %>
  <% @article_content.content_photos.build %>
  <%= form_for :popup, :url => new_popup_article_contents_path,:html => {:method => :post,:target=>'mypopup11',:id => 'new_popup11' } do |f| %>
    <%= hidden_field_tag "sub_type","",:id => "sub_1" %>
    <%= hidden_field_tag "item","",:id => "item_1"  %>
    <%= hidden_field_tag "content","",:id => "content_1" %>
    <%= hidden_field_tag "title","",:id => "tit_1" %>
    <%= hidden_field_tag "field1","",:id=> "field_1" %>
    <%=  hidden_field_tag "field2","",:id=> "field_2"  %>
    <%= hidden_field_tag "field3","",:id=> "field_3"  %>
    <%=  hidden_field_tag "field4","",:id=> "field_4"  %> 
    <%= hidden_field_tag "description","",:id => "desc_1" %>
 <%end%>
  <%= form_for @content || @article_content,:html => { :id => "#{@form_id}",:multipart => :true }, :remote => true  do |f| %>

  <% unless params[:sub_type] %>
 <div style="float:right;margin-left:2000px;">
      <img  src="/images/newwindow.png" onclick= "open_and_redirect()" title="Open in new window" style="cursor:pointer;"  />
   </div>   
  <%end%>
   <%= f.hidden_field :itemtype_id, :value => @item.try(:itemtype_id) %>
    <%= hidden_field_tag 'default_item_id', @item.try(:id) %>
    <%= f.hidden_field :sub_type%>
  <div id="article_errors" style="line-height:20px;color: red;"></div>
  <div style="padding:5px 5px 0px 0px;text-align:center">
  <div id="add_photo" style="display:none;">
     <span class="Popuptitle"><center> <h1>New Article Content</h1></center></span>
  </div>
  <script type="text/javascript">
   function open_and_redirect() {
     var i =  $("#article_content_sub_type").val();
     $("#sub_1").val(i);
     $("#item_1").val("<%= @item.id rescue ""  %>");
     $("#content_1").val("<%= @content.id rescue ""  %>");
     $("#tit_1").val($("#article_content_title").val());
    //if (i == "Deals")
      //{
      //$("#field_1").val($("#expire_date").val());
      //$("#field_2").val($("#discount").val());
      //$("#field_3").val($("#completed").val());
      //}
      //else
     // {
     $("#field_1").val($("#new_article_create_field1").val());
     $("#field_2").val($("#new_article_create_field2").val());
     $("#field_3").val($("#new_article_create_field3").val());
     $("#field_4").val($("#new_article_create_field4").val());
     //}
     var x = tinyMCE.get('m_text23').getContent();
     $("#desc_1").val(x);
      window.open('',"mypopup11", 'toolbars=0');
         $("#contentEditView").dialog('destroy');
      $(".ui-dialog-content").dialog('destroy')
      $('#new_popup11').submit(); 
    }
</script>

    <%unless @content  %>
    <div class="title_header float_lft">Title :</div>
   
    <div class="float_lft">
        <%= f.text_field :title, {:style=>"margin-left:5px;width:400px",:width=>"400px"}  %>
    </div>
      <br /> <br />
      <div style="display:none;" id="photo">
       <%= f.fields_for :content_photos do |photo| %>
          <%= render 'products/content_photo_fields', {:ff => photo} %>
        <%end%>
        <%= render '/shared/add_fields', {:name => 'Add Another Photo', :f => f, :association => :content_photos}%>
        <div style="clear:both;"></div>
    </div>
    <%else%>
     <%= hidden_field_tag :detail,@detail%>
   
    <span class="Popuptitle"><center> <h1 id="contentTitle">Edit <%=@content.type.underscore.humanize%></h1> </center></span>
    <div class="title_header float_lft">Title :</div>
    <div class="float_lft">
        <%= f.text_field :title, {:style=>"margin-left:5px;width:400px",:width=>"400px"}  %>
    </div>
    <%if @content.sub_type == 'Photo' %>
    <br /> <br />
          <% @photos = @content.content_photos %>
         <% @i = 0 %>
           <%= f.fields_for :content_photos do |photo| %>
           
             <%= render 'products/content_photo_fields', {:ff => photo} %>
             
          <%end%>
            <%= render '/shared/add_fields', {:name => 'Add Another Photo', :f => f, :association => :content_photos}%>
        <%end%>
      <%end%>

    <div style="padding:5px 5px 0px 5px;">

    <div style="margin-left:2px;">
      <br/>
      <br/>
        <div class="title_header float_lft">Description:</div>
      <%= f.text_area :description, :class => 'textFilling', :id => "m_text23",:style=> 'width:400px;height:50px;' %>
      <br/>
    </div>
        
  </div>
 
    </div>
  
  
  <script>
 function add_fields(link, association, content) {  
  var new_id = new Date().getTime();  
  var regexp = new RegExp("new_" + association, "g");  
  //$(link).parent().before(content.replace(regexp, new_id));
  $(link).parent().parent().before(content.replace(regexp, new_id));
  $(link).parent().parent().parent().effect('highlight'); 
  if ($(".question_field").length){
    $(".question_field").htmlarea();  
  }     
}  
  
function remove_fields(link) {  
  //alert($(link).parent().parent().parent().find("input[type=hidden]").val());
  $(link).parent().parent().parent().find("input[type=hidden]").val('1');  
  //alert($(link).parent().parent().parent().find("input[type=hidden]").val());
  $(link).parent().parent().parent().parent().parent("fieldset").hide();
  $(link).parent().parent().parent().parent("fieldset").hide();
  $(link).parent().parent().parent("fieldset").hide();
}  
</script>


    <!--- FIELD1, FIELD2, FIELD3 FOR OTHER FIELDS-->
    <%if @content.nil?%>
      <%@field1_id = "new_article_create_field1"%>
      <%@sharefield1 = "sharefield1"%>
      <%@sharefield1Label = "sharefield1Label"%>
       <%@field2_id = "new_article_create_field2"%>
      <%@sharefield2 = "sharefield2"%>
      <%@sharefield2Label = "sharefield1Label2"%>
      <%@field3_id = "new_article_create_field3"%>
      <%@sharefield3 = "sharefield3"%>
      <%@sharefield3Label = "sharefield1Label3"%>
      <%@field4_id = "new_article_create_field4"%>
      <%@sharefield4 = "sharefield4"%>
      <%@sharefield4Label = "sharefield1Label4"%>
    <%else%>
      <%@field1_id = "edit_article_create_field1_#{@content.id}"%>
      <%@sharefield1 = "edit_sharefield1_#{@content.id}"%>
      <%@sharefield1Label = "edit_sharefield1Label_#{@content.id}"%>
       <%@field2_id = "edit_article_create_field2_#{@content.id}"%>
      <%@sharefield2 = "edit_article_create_sharefield2"%>
      <%@sharefield2Label = "edit_article_create_sharefield1Label2_#{@content.id}"%>
      <%@field3_id = "edit_article_create_field3_#{@content.id}"%>
      <%@sharefield3 = "edit_article_create_sharefield3_#{@content.id}"%>
      <%@sharefield3Label = "edit_article_create_sharefield1Label3_#{@content.id}"%>
      <%@field4_id = "edit_article_create_field4_#{@content.id}"%>
      <%@sharefield4 = "edit_article_create_sharefield4_#{@content.id}"%>
      <%@sharefield4Label = "edit_article_create_sharefield1Label4_#{@content.id}"%>
    <%end%>
    <div style="padding:5px 5px 0px 0px;text-align:center;display:none" id="<%=@sharefield1%>">
      <div class="title_header float_lft" id="<%=@sharefield1Label%>">Start date :</div>
      <div class="float_lft">
        <%= f.text_field :field1, {:style=>"margin-left:5px;width:150px", :id =>  @field1_id}%>
      </div>
    </div>
    <div style="padding:5px 5px 0px 0px;text-align:center;display:none" id="<%=@sharefield2%>">
      <div class="title_header float_lft" id="<%=@sharefield2Label%>">End date :</div>

      <div class="float_lft">
        <%= f.text_field :field2, {:style=>"margin-left:5px;width:150px", :id =>  @field2_id}  %>
      </div>
    </div>
    <div style="padding:5px 5px 0px 0px;display:none;clear:both;" id="<%=@sharefield3%>">
      <br/>
      <div class="title_header float_lft" id="<%=@sharefield3Label%>">Location :</div>
      <div class="float_lft">
        <%= f.text_field :field3, {:style=>"margin-left:5px;",:width=>"400px", :id =>  @field3_id}  %>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div style="padding:5px 5px 0px 0px;display:none" id="<%=@sharefield4%>">
      <br/>
      <div class="title_header float_lft" id="<%=@sharefield4Label%>">Itune url:</div>
      <div class="float_lft">
        <%= f.text_field :field4, {:style=>"margin-left:5px;width:400px",:width=>"400px", :id =>  @field4_id}  %>
      </div>
      <div style="clear:both;"></div>
    </div>
<!-- <div id="deals" style='display:none' >
    <div class="title_header float_lft">Expire Date:</div>
      <div class="float_lft">
         <%= f.text_field :field1, {:style=>"margin-left:1px;width:150px", :id => "expire_date"}%>
    </div> 
    <div class="title_header float_lft">Discount:</div>
      <div class="float_lft">
         <%= f.text_field :field2, {:style=>"margin-left:1px;width:150px", :id => "discount"}%>
      </div>
     <div class="title_header float_lft">Completed?:</div>
      <div class="float_lft">
         <%= f.check_box :field3,:id => "completed"%>
       </div>
       <script>
         $('#expire_date').datepicker();
       </script>
    </div> -->
      
    <div style="padding:5px 5px 0px 0px;clear:both;" id="shareProduct">
      <div class="title_header float_lft">Product  :</div>
      <div class="taggingdiv" style="margin-left:5px;">
        <ul id="article_create_product_list" class="tagging"></ul>
        <div class="float_lft " style="clear:both;"><input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" id="article_create_product"/></div>
       <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
     
     <%if !@detail && (@article_content.new_record? || @content.new_record? )%>
       <div class="title_header float_lft"></div>
        <div class="float_lft">
        <span class="title_header">Post this in Facebook also:</span>
           <%= check_box_tag "facebook_post" %>
        </div> 
     <%end%>
      <input id="article_content_create" name="article_content_create" type="hidden" value="true"  />
      <%= hidden_field_tag 'article_create_item_id' %>
      <%= hidden_field_tag 'content_create_form_type'%>
      <div style="padding:0px 5px 5px 5px; float:right; width:100%; margin-right:40px; margin-top:20px">
      <%= f.submit 'Save Event', :class => 'btn_submitanswer', :id => 'article_content_create_submit', 'data-disable-with'=>"Saving..." %>
  
      <span id="spinner_article" style="padding:0px 0px 0px 290px;display:none">
        <%= image_tag '/images/ajax-loader.gif' %>
      </span> 
   <script>
    $(function() {
     $("form").bind("ajax:beforeSend", function(){
        $("#spinner_article").show();
       })
       $("form").bind("ajax:complete", function(){
         $("#spinner_article").hide();
      })
     });
  </script>
   
    </div>
     
<% end %>

<script type="text/javascript">
 $(".Howkb").click(function(){
  <% if !current_user %>
        $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
            openLoginPopup("#" + $(this).attr('id'), "submit");
           return false
          <%end%>
        $('#photo').hide();
    });
  $(".Qatab").click(function(){
   <% if !current_user %>
         $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
            openLoginPopup("#" + $(this).attr('id'), "submit");
            return false
          <%end%>
          $('#photo').hide();
   });
   <%unless @article_categories.nil? %>
    <%@article_categories.each_with_index do |article_category, index|%>
        
         $("#content<%= article_category[0]%>").click(function(){
             <% if !current_user %>
         $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
           openLoginPopup("#" + $(this).attr('id'), "submit");
            return false
          <%end%>
           if ($(this).attr('id')!= 'contentPhoto')
           
           {
             $('#photo').hide();
           }
           if ($(this).attr('id') == 'contentPhoto')
           {
             $('#photo').show();
          }
          
           if ($(this).attr('id')!= 'contentDeals')
           
           {
            //$("#deals").remove();
             $('#deals').hide();
           }
            if ($(this).attr('id')== 'contentDeals')
           
           {
             $('#deals').show();
           }
       });  
     <%end%>    
   <%end%>
   
  function showDefaultProductTag(id, hidden_text_field_id){
    var itemId = "<%= @item.try(:id) %>";
    var defaultId = "textTaggers" + itemId;
    $("ul#" +id + " li").each(function (i) {
      var id = $(this).attr('id');
      if (id != defaultId){
        $(this).remove();
      }
    });
    $("#" + hidden_text_field_id).val(itemId);
  }

  function hideAllOptionalFieldsArticleCreate(){
    $("#<%=@form_id%> #<%=@field1_id%>").val('');
    $("#<%=@form_id%> #<%=@field2_id%>").val('');
    $("#<%=@form_id%> #<%=@field3_id%>").val('');
    $("#<%=@form_id%> #<%=@field4_id%>").val('');
    $("div#subContainerContentCreate #<%=@sharefield1%>").hide();
    $("div#subContainerContentCreate #<%=@sharefield2%>").hide();
    $("div#subContainerContentCreate #<%=@sharefield3%>").hide();
    $("div#subContainerContentCreate #<%=@sharefield4%>").hide();
    $('div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>').css("width","400px");
    $('div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>').css("width","400px");
  }
  
  
  function setDefaultFieldsArticleCreate(category){
<%if (@content.nil? || @content.new_record?)%>
      var saveButtonName = "Save " + category
<%else%>
      var saveButtonName = "Update " + category
<%end%>

    $("form#<%=@form_id%> input#article_content_create_submit").val(saveButtonName);
    hideAllOptionalFieldsArticleCreate();
    if (category == "<%=ArticleCategory::EVENT%>"){
      //$("#deals").remove();
      showArticleCreateEventOptFields();
    }
    else if(category == "<%=ArticleCategory::ACCESSORIES%>"){
      //$("#deals").remove();
      showArticleCreateAccessoriesOptFields();
    }
    else if (category == "<%=ArticleCategory::APPS%>"){
      //$("#deals").remove();
      showArticleCreateAppOptFields();
    }
    else if (category == "<%=ArticleCategory::DEALS%>"){
      showArticleCreateDealsOptFields();
    }
    else if (category == "<%=ArticleCategory::TRAVELOGUE%>"){
      //$("#deals").remove();
      showArticleCreateTravelogueOptFields();
    }
    else if (category == "<%=ArticleCategory::MILES%>"){
      //$("#deals").remove();
      showArticleCreateMileOptFields();
    }
  }
  
  function showArticleCreateMileOptFields(){
    $("div#subContainerContentCreate #<%=@sharefield1Label%>").text("City:")
    $("div#subContainerContentCreate #<%=@sharefield2Label%>").text("Route:")
    $("div#subContainerContentCreate #<%=@sharefield3Label%>").text("Total Distance:")
    $("div#subContainerContentCreate #<%=@sharefield4Label%>").text("Time Taken:")
    
<%if @content.nil?%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").val('');
<%else%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field1%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field2%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field3%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field4%>'/>");
<%end%>
    $("div#subContainerContentCreate #<%=@sharefield1%>").show();
    $("div#subContainerContentCreate #<%=@sharefield2%>").show();
    $("div#subContainerContentCreate #<%=@sharefield3%>").show();
    $("div#subContainerContentCreate #<%=@sharefield4%>").show();
   
    $('div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>').css("width","400px");
  }
  
  function showArticleCreateTravelogueOptFields(){
    $("div#subContainerContentCreate #<%=@sharefield1Label%>").text("From:")
    $("div#subContainerContentCreate #<%=@sharefield2Label%>").text("To:")
    $("div#subContainerContentCreate #<%=@sharefield3Label%>").text("Travel Type:")
    $("div#subContainerContentCreate #<%=@sharefield4Label%>").text("No of Days:")
    
<%if @content.nil?%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<%=get_travel_types_html_list("#{@field3_id}", "article_content[field3]")%>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").val('');
<%else%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field1%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field2%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<%=get_travel_types_html_list("#{@field3_id}", "article_content[field3]")%>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field4%>'/>");
<%end%>
    $("div#subContainerContentCreate #<%=@sharefield1%>").show();
    $("div#subContainerContentCreate #<%=@sharefield2%>").show();
    $("div#subContainerContentCreate #<%=@sharefield3%>").show();
    $("div#subContainerContentCreate #<%=@sharefield4%>").show();
   }
  
  function showArticleCreateEventOptFields(){
    $("div#subContainerContentCreate #<%=@sharefield1Label%>").text("Start Date:")
    $("div#subContainerContentCreate #<%=@sharefield2Label%>").text("End Date:")
    $("div#subContainerContentCreate #<%=@sharefield3Label%>").text("Location:")
    
<%if @content.nil?%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").val('');
<%else%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field1%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field2%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field3%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field4%>'/>");
<%end%>
    $("div#subContainerContentCreate #<%=@sharefield1%>").show();
    $("div#subContainerContentCreate #<%=@sharefield2%>").show();
    $("div#subContainerContentCreate #<%=@sharefield3%>").show();
    $('div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>').datepicker({ altField: 'div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>', altFormat: 'dd/mm/yy' });
  
  
   $('div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>').datepicker({ altField: 'div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>', altFormat: 'dd/mm/yy' });
  }
  
  function showArticleCreateDealsOptFields(){
    $("div#subContainerContentCreate #<%=@sharefield1Label%>").text("Expire Date:")
    $("div#subContainerContentCreate #<%=@sharefield2Label%>").text("Discount:")
    $("div#subContainerContentCreate #<%=@sharefield3Label%>").text("Completed?:")
    
<%if @content.nil?%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='checkbox' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:400px'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").val('');
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").val('1');
<%else%>
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>").replaceWith("<input id='<%=@field1_id%>' name='article_content[field1]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field1%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field2_id%>").replaceWith("<input id='<%=@field2_id%>' name='article_content[field2]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field2%>'/>");
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='checkbox' style='margin-left:5px;width:150px' checked='true' />");
      <%if @content.field3 == '1' %> 
        $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").attr('checked', true);
      <%else%>
          $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").attr('checked', false); 
       <%end%>    
      $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:150px'  value='<%=@content.field4%>'/>");
       $("div#subContainerContentCreate form#<%=@form_id%> #<%=@field3_id%>").val('1');
<%end%>
    $("div#subContainerContentCreate #<%=@sharefield1%>").show();
    $("div#subContainerContentCreate #<%=@sharefield2%>").show();
    $("div#subContainerContentCreate #<%=@sharefield3%>").show();
    $('div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>').datepicker({  altField: 'div#subContainerContentCreate form#<%=@form_id%> #<%=@field1_id%>',altFormat: 'dd/mm/yy' });
  }



  function showArticleCreateAppOptFields(){
    $("div#subContainerContentCreate #<%=@sharefield1Label%>").text("Sub Category:")
    $("div#subContainerContentCreate #<%=@field1_id%>").replaceWith("<%=get_apps_subcategory_html_list("#{@field1_id}", "article_content[field1]")%>");
    $("div#subContainerContentCreate #<%=@sharefield1%>").show();
    $("div#subContainerContentCreate #<%=@sharefield2Label%>").text("Type:")
    $("div#subContainerContentCreate #<%=@field2_id%>").replaceWith("<%=get_apps_type_html_list("#{@field2_id}", "article_content[field2]")%>");
<%unless @content.nil?%>
      $("div#subContainerContentCreate #<%=@field1_id%>").val("<%=@content.field1%>")
      $("div#subContainerContentCreate #<%=@field2_id%>").val("<%=@content.field2%>")
      $("div#subContainerContentCreate #<%=@field3_id%>").replaceWith("<input id='<%=@field3_id%>' name='article_content[field3]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field3%>'/>");
      $("div#subContainerContentCreate #<%=@field4_id%>").replaceWith("<input id='<%=@field4_id%>' name='article_content[field4]' type='text' style='margin-left:5px;width:150px' value='<%=@content.field4%>'/>");

<%end%>
    $("div#subContainerContentCreate #<%=@sharefield2%>").show();
    $("div#subContainerContentCreate #<%=@sharefield3Label%>").text("Android Url:")
    $("div#subContainerContentCreate #<%=@sharefield4Label%>").text("Itune Url:")
    $("div#subContainerContentCreate #<%=@sharefield4%>").show();
    $("div#subContainerContentCreate #<%=@sharefield3%>").show();
  }

  function showArticleCreateAccessoriesOptFields(){
    $("div#subContainerContentCreate #<%=@sharefield1Label%>").text("Sub Category:")
    $("div#subContainerContentCreate #<%=@field1_id%>").replaceWith("<%=get_books_accessories_subcategory_html_list("#{@field1_id}", "article_content[field1]")%>");
<%unless @content.nil?%>
      $("div#subContainerContentCreate #<%=@field1_id%>").val("<%=@content.field1%>")
<%end%>
    $("div#subContainerContentCreate #<%=@sharefield1%>").show();
    $("div#subContainerContentCreate #<%=@sharefield2%>").hide();
    $("div#subContainerContentCreate #<%=@sharefield3%>").hide();
    $("div#subContainerContentCreate #<%=@sharefield4%>").hide();
  }

  function showCreateProductTag(){
    var itemId = "<%= @item.try(:id) %>";
    var defaultId = "textTaggers" + itemId;
    $("ul#article_create_product_list li").each(function (i) {
      var id = $(this).attr('id');
      if (id != defaultId){
        $(this).remove();
      }
    });
    $("#article_create_item_id").val(itemId);
  }
  
    $(document).ready(function(){ 
  <%if @content.nil?%>
  settings={
        close:true, addButton: false,
        url: "/search/autocomplete_items",
        editMode: false, multiple: true,
        hidden_field: "article_create_item_id"
      };
      $.textTagger("article_create_product","article_create_product_list",settings);
  <% unless @item.blank? %>
       
        $.addTag("article_create_product","article_create_product_list", settings,"<%= @item.name %>", "<%= @item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= @item.id %>", false);
       $("#article_create_product_list li:first span a.icon_close_tagging").remove();
  <% end %>
<%else%>
//error is here

      var settings={has_parent:true, close:true, addButton: false, url: "/search/autocomplete_items", editMode: false, multiple: true,
        hidden_field: "#article_create_item_id"};
  <% @items.each do |item| %>
     
      $.addTag("article_create_product","article_create_product_list", settings,"<%= item.name %>", "<%= item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= item.id %>", true);
    //$("#article_create_product_list li:first span a.icon_close_tagging").remove();
  <%end%>
      $.textTagger("#article_create_product","#article_create_product_list",settings);
//ends
<%end%>


 
  	$("#article_create_product").mouseover(function(){  
  		//if ($(this).autocomplete("widget").is(":visible")) {
                //return;
            //}  
          //  $(this).trigger('keydown.autocomplete');
         // $(this).data("autocomplete").search($("#article_content_title").val());
    });
    
  });
   

    $("#article_content_create_submit").click(function(e){
      var valid = validateArticleForm();
      if (!valid){
        return false;
      }
   });
     
    function validateArticleForm(){
      $('#tag').poshytip('destroy')
      var valid = true;
      if ($("#article_create_item_id").val() == ""){
        $('#tag').poshytip({
          className: 'tip-darkgray',
          content: 'Please select a product to tag with.',
          showOn: 'none',
          alignTo: 'center',
          alignX: 'center',
          offsetX: 50,
          alignY: 'center'
        });
        $('#tag').poshytip('show');
        valid = false

      }
       return valid
    }
 
  function setButtonName(label){
    var contentWrite = ""
    switch(label){
      case 'Reviews': contentWrite= "Save Review";break;
      case 'Q&A': contentWrite= "Save Question";break;
      case 'Tips': contentWrite= "Save Tip";break;
      case 'Accessories': contentWrite= "Save Accessory";break;
      case 'Photo': contentWrite= "Save Photo";break;
      case 'News': contentWrite= "Save News";break;
      case 'Deals': contentWrite= "Save deal";break;
      case 'Event': contentWrite= "Save Event";break;
      case 'HowTo/Guide': contentWrite= "Save HowTo/Guide";break;
      case 'Book': contentWrite= "Save Book";break;
      case 'Apps': contentWrite= "Save Apps";break;
      case 'Travelogue': contentWrite= "Save Travelogue";break;
      case 'Miles': contentWrite= "Save Mile";break;
      case 'Video': contentWrite= "Save Video";break;
    }
    return contentWrite
  }
  
  
  
    
</script>
<script>
 $("#<%= @form_id %>").submit(function(e){
  <% if !current_user %>
  $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'content')%>");
openLoginPopup("#" + $(this).attr('id'), "submit");
 return false
<%end%>

})
</script>  
 
<script type="text/javascript">
 <%= render "/shared/text_editor_js" %> 
</script>
<script>
//$(document).ready(function() {

  //setTimeout(function() {
   
    //$('form[data-remote]#<%= @form_id %>').submit();

 // }, 1000*30); // 1000ms * 60s = 1m
//}) 
</script>
 <div style="clear:both;"></div>
<%unless @no_popup_background == "true" %>
  </div>
<%end%>
</div>































