   <center><h1> Proposal Detail </h1> </center>
   <div style="padding:50px 0px 0px 40px">
     <p> <b>Vendor name:</b>
     <%= @proposal.vendor.name %></p>
    <p> <b>Item name:</b>
   <%= @proposal.item.name %></p>
   <p><b> Price of the Item: </b>
   <%= @proposal.item_price %>
   <p><b> Delivery Period: </b>
   <%= @proposal.delivery_period %>
   <p><b> Shipping Cost:</b>
   <%= @proposal.shipping_cost %>
   <p><b> Color: </b>
   <%= @proposal.color %>
   <p><b> Expiry Date: </b>
   <%= @proposal.expiry_date %>
   <p><b> Purchase detail/comment: </b>
   <%= @proposal.comment %>
  <br /><br />
  <div id="proposal"> </div>
 
 <%if @edit == "true" && @proposal.user_id == current_user.id %>
  <a class="txt_blue " style="float:left;"><%=link_to "Edit",proposal_edit_admin_buying_plan_path(@proposal),:remote => :true, :class=>"txt_blue " %> </a>
 <%end%>
 <br /> <br />
  </div> 
	<div  style="border-bottom:solid 1px #ccd4d8;margin-left:55px;clear:both;">
			<div class="float_lft margin_lft10 title" style="height:30px;text-align:middle;padding:10px 0px 0px 0px;font-weight:bold;">
				<%= pluralize(@proposal.comments.where("status=?",1).count,'Comment') %>
			</div>
		
		</div>
		<div  style="border-top:solid 1px #ccd4d8;clear:both;margin-left:55px;"></div>
		<!-- Answer this question - End -->
		<%= render :partial => 'comments/detailed_comments_list',:locals => {:content =>@proposal} %>
<%= render :partial => 'comments/new_detail_comment', :locals => {:content => @proposal, :parent => @proposal.class.name, :parent_id => @proposal.id, :detail => true}  %>

	</div>
 



