
<div class="clear"></div>
<% if @invitation %>
  <% if @wizard_type == @invitation.follow_type %>       
 <div id="img_box_1">
   <%= render "newuser_wizards/product" %>
</div>
  <%else%>
   <div id="img_box_1">
   <!--
   <%= render "newuser_wizards/default_image" %> -->
</div>
 <%end%>
<%else%>
 <div id="img_box_1">
 <!--
<%= render "newuser_wizards/default_image" %> -->
</div>
<%end%>
<div id="img_box_2">
<!--
<%= render "newuser_wizards/default_image" %> -->
</div>
<div id="img_box_3">
<!--
<%= render "newuser_wizards/default_image" %> -->
</div>
<div id="img_box_4">
<!--
<%= render "newuser_wizards/default_image" %> -->
</div>
<div id="img_box_5">
<!--
<%= render "newuser_wizards/default_image" %> -->
</div>
<div id="img_box_6">
<!--
<%= render "newuser_wizards/default_image" %> -->
</div>
<% unless @items.blank? %>
 <% @items.each do |item| %>
<% @item = Item.find(item) %> 
<%= render "newuser_wizards/product",:locals => {:item => @item }  %>
<%end%>
<%end%>

