<div id="photo_box"  style="padding:20px 00px 0px 100px;">
<div class="clear"></div>
<div id="img_box_1">
<%= render "default_image" %>
</div>
<div id="img_box_2">
<%= render "default_image" %>
</div>
<div id="img_box_3">
<%= render "default_image" %>
</div>
<div id="img_box_4">
<%= render "default_image" %>
</div>
<div id="img_box_5">
<%= render "default_image" %>
</div>
<div id="img_box_6">
<%= render "default_image" %>
</div>
</div>
