 
 <div class="productinwizard" id="product_<%= @item.id %>" style="height:160px;width:196px;">
   <div id="product_image" style="display:none;">image</div>
   <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="width:160px;height:120px;display:block;">
          <%= link_to image_tag(@item.image_url, height: "120", width: "160"), link_url(@item)%>
       
         </div>
        
         <%= link_to image_tag("/images/icon_close.png") , product_delete_newuser_wizard_path(@item.id,:type => @wizard_type) ,:class=> "closeimg",:id => "close_#{@item.id}",:style=>"padding-left:10px;",:remote => true%>
      
         
        </div>
        <span class="imgtextspan">
            <%= link_to @item.name, link_url(@item), :class => "produ_bgimg" ,:style=>"width:155px;"%>
        </span>
          
      </div>
      <br />
       <span class="action_btns_selected">
       <%if @wizard_type == "follower" %>
         <%= link_to 'Following',"#",:class => 'plan_to_follow_icon_selected',:style=> "cursor: default;" %>
       <%elsif  @wizard_type ==   "buyer" %>
         <%= link_to 'Plan to buy',"#",:class => 'plan_to_follow_icon_selected',:style=> "cursor: default;"  %> 
       <%elsif  @wizard_type ==  "owner" %>
         <%= link_to 'own it',"#",:class => 'plan_to_follow_icon_selected',:style=> "cursor: default;"  %> 
        <%end%>   
         </span>
      
    </div>
  

