 <div class="step_main_page">
<div class="main_step">
<ul>
<li >Step 1</li>
<li>Step 2</li>
<li class="selected">Step 3</li>
</ul>
<div class="clearboth"></div>
</div>

<%= form_for :wizard,:url => newuser_wizards_path,:remote => true,:method => :post do |f| %>
<br/>
<%= render "shared/alert_message",:type => "wizard_step3" %>

 
<!--<div class="text_box">
<div style="font: bold 11px Tahoma,Arial, Helvetica, sans-serif;">Are you planning to buy a car, mobile, cycle, tablet, bike or camera? Select the product that you are considering. This will help us to provide the customized home page with the content that will help you to decide the right product.</div>
</div>-->
<div class="search_block">
    <div class="title_header" style="padding:0px 0px 0px 25px;width:450px;height:26px;">
        <input style="margin-top:5px;width:350px; float:left;font-size:14px;min-height:20px;" placeholder="" type="text" value="" id="product"/><input style="float:left;margin-top:5px;" class="wizardbutton" type="button"/>
          <%= link_to "Send Report", contact_us_path(:type => "WizardWItem"),:remote=> :true %>
            </div>
            <body  onload="document.getElementById('product').focus();"> </body>
        <div style="clear:both;padding:0px 0px 0px 15px;width:500px;height:20px;display:block">
      <label style="font-size:9px;color:gray;">[Type the name of the product that you are planning to buy or select from sample products shown below]</label>

    </div>
    </div>
   <div style="clear:both;"></div>
 <div id="photo_box"  style="padding:20px 00px 0px 85px;">
      <%= render "newuser_wizards/default_images",:items => @items %>

  <%  @popular_items_owner,@popular_items_buyer,@popular_topics = Item.new_wizard_popular_topics_and_items(current_user,"buyer") %>
  <% @popular_items_buyer.each do |item| %>
    <% follow = Follow.get_follow_object(current_user,item,"buyer") %>
    <div class="productinwizard" id="product_<%= item.id %>" style="idth:160px;height:180px;display:block;">
   <div id="product_image" style="display:none;">image</div>
   <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="margin-left:20px;width:160px;height:120px;display:block;">
       
             <%= link_to image_tag(item.image_url, height: "120", width: "160"), follow.blank?? follows_path(:follow => {followable_id: item.id, followable_type: item.type, follow_type: "buyer",type: "wizard"}) : "#", :method => :post%>
         
        
         </div>
      
        </div>
        <span class="imgtextspan">
            <%= link_to item.name, link_url(item), :class => "produ_bgimg" ,:style=>"width:155px;;margin-left:20px"%>
        </span>
      </div>
    
     <%if follow.blank? %>
      
        <div class="btn-group PadT10" style="margin-left:50px;">
            <%= link_to 'Plan to buy', follows_path(:follow => {followable_id: item.id, followable_type: item.type, follow_type: "buyer",type: "wizard"}), :method => :post,:class=>"btn btn-primary", :style=>'background:#ece1e1;'%> </a>
          </div>
     
          <%else%>
             <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                     <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= get_the_follow_text(follow.follow_type) rescue "" %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a> 
                        <ul class="dropdown-menu">
                          <li><a href="#" id='write_review'><i class="icon-pencil"></i><%= link_to "Delete" , follow_path(follow,:type => "wizard") ,:id => "close_#{item.id}",:method => :delete %></a></li>
                          
                          <li class="divider"></li>
                          <li> </li>
                        </ul>
                     
                    </div></td>
              </tr>
            </table>
            
           
          </div>      
           <%end%>
            
            </div>
            <%end%>
          </div>
    
    <%= f.hidden_field "item_id" %>
     <%= hidden_field_tag "invitation_id",@invitation.id rescue "" %>
    <%= f.hidden_field "type",:value => "buyer" %>
    <br/>
    <br/>
<div  style="clear:both;float:left;padding:5px;width:200px;margin-left:350px;">
     <div style="float:left;width:100px;">
        <p style="margin:10px 0px 0px 5px;font-size:15px;color:gray;"><a><%= link_to " Previous",previous_newuser_wizards_path(:previous => "follower"),:remote => :true %></a></p>
      </div>
      <div style="float:right;width:100px;">
         <%= f.submit 'Complete',:id => "publishanswer",:class=>"searchButton",:style=>"font-size:15px;" %>
        
       </div>
         
         
      <div>
         <%= render "shared/ajax_loader" %>
      </div>
        </div>
 <%end%>
<%= render "newuser_wizards/javascript" %>
</div>
<script>
<%if !@invitation.blank? %>
 <%if @invitation.follow_type == "buyer" %> 
  $("#close_<%=@item.id %>").hide();
  <%end%> 
  <%end%>
</script>

