 <div class="step_main_page">
<div class="main_step">
<ul>
<li >Step 1</li>
<li class="selected">Step 2</li>
<li>Step 3</li>
</ul>
<div class="clearboth"></div>
</div>
<%= form_for :wizard,:url => newuser_wizards_path,:remote => true,:method => :post do |f| %>
<div class="text_box">
<p>Select Topics.It will add to your profile page.</p>
</div>
<div class="search_block">
    <div class="title_header" style="padding:0px 500px 0px 0px;"><input style="margin-top:5px;width:360px; height:30px;float:left;font-size:20px;" placeholder="Start Typing for Topics.." type="text" value="" id="product"/></div>
    </div>
       <div style="clear:both;"></div>
    <div id="photo_box" style="padding-left:100px;">
     </div>
    <%= f.hidden_field "item_id" %>
    <%= f.hidden_field "type",:value => "follower" %>
   <div class="search_block" style="float:right;padding:100px;">
         <%= f.submit 'Next Step',:id => "publishanswer",:class=>"searchButton",:style=>"font-size:15px;" %>
       <p style="margin:10px 0px 0px 70px;font-size:15px;color:gray;">or skip</p>
      
       <div>
         <%= render "shared/ajax_loader" %>
      </div>
        </div>
 <%end%>
<%= render "javascript" %>
</div>
