
  <tr>
    <td width="113" height="85">

      <%= image_tag(relateditem.image_url, :title => relateditem.name, :width => "101", :height => "68") %>
    </td>
    <td width="113">
      <%= link_to relateditem.name, {:controller => relateditem.class.name.underscore.pluralize, :action => "show", :id => relateditem.id}, :class => "txt_black" %>

      <img src="../images/rating_stars.png" width="87" height="20"/><br/>

      <% if current_user.blank? || !current_user.following?(relateditem) %>
        <%= render 'shared/follow_buttons',:follow_type => 'Car', :follow_html => '', :button_class => '_small', :related_items => true %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td height="40" colspan="2" class="dotted_border" valign="top">

      <% related_follower = relateditem.get_followers(@follow_type) %>
      <%= related_follower[0..2].collect { |user| user.name }.join(",") %>
      <% if ((related_follower.count - 2) > 0) %>
        and <%= (related_follower.count - 2) %> other people owns this.
      <% elsif related_follower.count > 0 %>
        owns this
      <% end %>
    </td>
  </tr>

