<% follower_count = Follow.get_followers(relateditem) %>
<div>
  <%= image_tag(get_image_url(relateditem, relateditem.class.name), :title => relateditem.name, :class => "mediumimage") %>

  <div>
    <%= relateditem.name %>
  </div>
  <div>
    3 Star Rating
  </div>
  <div>
    <% if current_user.blank? || !current_user.following?(relateditem) %>
      <%= link_to("Buy (#{get_follow_count(follower_count, Follow::ProductFollowType::Buyer)})", plan_to_buy_item_item_path(relateditem.id), :class => "feedlink", :remote => true) %>
      <%= link_to("Own (#{get_follow_count(follower_count, Follow::ProductFollowType::Owner)})", own_a_item_item_path(relateditem.id), :class => "feedlink", :remote => true) %>
      <%= link_to("Follow (#{get_follow_count(follower_count, Follow::ProductFollowType::Follow)})", follow_this_item_item_path(relateditem.id), :class => "feedlink", :remote => true) %>      
    <% end %>
  </div>
  <div>
    <% related_follower = relateditem.related_followers(@follow_type) %>
    <%= related_follower[0..2].collect{|user| user.email}.join(",") %>
    <% if ((related_follower.count - 2) > 0) %>
      and <%= (related_follower.count - 2) %> other people owns this.
    <% elsif related_follower.count > 0 %>
      owns this
    <% end %>

  </div>
  <hr/>
</div>