<div class="advt-block">
  <div class="advt-300">
    <!--<div class="planntoadlogo">
      <%#= link_to image_tag("#{configatron.root_image_path}static/images/logosc.png", :width => "12px"), configatron.hostname + "/opt_out", :target => "_blank" %>
    </div>
  -->
    <% if @item_details.count != 0 %>
        <div class="">
          <ul id="foo3" height="190px;">
            <span id="leftarrow" class="left" style="font-size:14px;color: lightsalmon; cursor: pointer;margin-left:2px;display:block;"> << </span>
            <% @item_details.each_with_index do |item_detail, indx| %>
                <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params) %>
                <% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>

                <span style="float:left;margin: 0 0px;" class="slider_plannto" id="<%= indx + 1 %>">
                <li class="item_details" id="item_detail_<%= indx + 1 %>">
                  <div class="advt-box">
                    <div class="product-container">
                      <div class="product-img-top" style="float:left;">
                        <a href="<%= shop_now_url %>" target="_blank">
                          <%= get_image_tag(item_detail, @current_vendor['vendor_name'], @item.base_item_image_url(:medium),"" , 245, "original").html_safe %>
                          <!-- <img src="<%#= get_image_url(item_detail, @current_vendor['vendor_name']) %>" onerror="this.error=null;this.src='<%#=@item.base_item_image_url(:medium)%>';" alt="" width="132px"> -->
                        </a>
                      </div>
                      <div class="product-txt-right">
                        <img class="vendor_image_src" src="<%= @current_vendor['imageurl'] %>" alt="" style="margin-top:10px;" width="80px">

                        <a href="<%= shop_now_url %>" target="_blank" class="">
                          <p class="mrpprice" style="text-decoration: line-through;margin-top: 90px;color: #555 !important"><%= prettify_mrpprice(item_detail) %></p>
                          <p class="price" style="margin-top: 0px; !important!"><%= prettify(item_detail) %></p>
                        </a>

                        <p class="btn">
                          <a href="<%= shop_now_url %>" target="_blank" class="shop-now">Shop
                            Now</a>
                        </p>

                      </div>
                    </div>
                  </div>
                  
                </li>
                </span>
            <% end %>
            <span id="rightarrow" class="right" style="font-size:14px;color: lightsalmon; cursor: pointer;margin-left:2px;display:block;"> &gt;&gt; </span>
          </ul>
        </div>
        <div class="clearfix"></div>
        <!--<a id="prev3" class="prev" href="#">&lt;</a>
        <a id="next3" class="next" href="#">&gt;</a>
       -->

    <% else %>
        No Product Found
    <% end %>

  </div>
  <!-- end of advt-300 -->
</div>
<!-- end of advt-block -->

<style type="text/css">
    .pager a {
        margin: 0px !important;
    }

    .product-container a {text-decoration: none !important;}

    .advt-box .product-container h3 {
        font-size: 14px !important;
    }

    #rightarrow:hover {
        color: #D70707 !important;
    }

    .type_2_description {
        padding: 3px;

    }

    .foo3, .slider_plannto {
        height: 198px !important;
    }
</style>