<div class='report_form'>
  <%= form_for :impression, :url => admin_more_reports_path, :method => :get do |f| %>
    <div style="display:block;padding-top:10px;clear:both;">
      Type:
      <%= select_tag(:type, options_for_select(['Item', 'Sid', 'Temp User ID'], params[:type])) %>
      Advertisement ID:
      <%= select_tag(:ad_id, options_for_select(@advertisements, params[:ad_id])) %>
      <%= f.submit "Generate Report", :class => "btn-link report_btn" %>
    </div>
  <% end %>
</div>


<br />

<h2> Report </h2>

<br/>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <th class="header_compare"  > <%= params[:type] %> </th>
    <th class="header_compare"  > Total Impressions </th>
  </tr>
  <% @results.each do |each_hash| %>
  <tr>
    <td class="bdb_gray1"  style="width:100px;text-align:center;border-bottom: 1px solid #808080;"> <%= each_hash["_id"] %> </td>
    <td class="bdb_gray1"  style="width:100px;text-align:center;border-bottom: 1px solid #808080;"> <%= each_hash["count"] %> </td>
  </tr>
  <% end %>
</table>

<br/><br/>

<style type="text/css">
  .field_name {
      display: block;
      float: left;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
  }

    .report_btn
    {
        margin-left: 40px;
        margin-top: 4px;
    }
    .report_form {
        color: #a52a2a;
        font-size: 14px;
        text-align: center;
    }
</style>