<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= content_for?(:title) ? yield(:title) : "PlannTo - #{@content.title}" %></title>
 
		<meta name="description" content="">
		<%= csrf_meta_tags%>
		<%= stylesheet_link_tag 'application'%>
    <%= stylesheet_link_tag '/stylesheets/plannto.css'%>
    <%= stylesheet_link_tag "/javascripts/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css"%>
    <%= stylesheet_link_tag "/javascripts/poshytip-1.1/src/tip-darkgray/tip-darkgray.css" %>
	<%= javascript_include_tag 'application'%>
    <link type="text/css" href="/stylesheets/plannto.css" rel="stylesheet" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>		
		<style type="text/css">
      iframe { width:100%; float:left; margin:0; padding:0px; height:1200px; overflow:auto; border:none;}
    </style>
		<%= csrf_meta_tags %>
</head>

<body class="Inner_page">
    <div class="header_fix">
      <div class="header_fix_inner">      
         <div class="fix_logo"><a href="/"><img src="/images/header_fix_logo.png" /></a></div>   
         <div class="vote_thumb"> 
           <%=render :partial => "votes/voting_detail", :locals => {:item => @content, :user => user_signed_in? ? current_user : nil}%>
         </div>
         <span class='comment_no'> 
           <%= link_to @content.comments.count.to_s + " comments", content_path(@content) %>
         </span>
         <a href="<%=@content.url %>" class="h_close">close</a>  
         <!--
         <div class="dropdown_main">
              <div class="selected_text">              
                <span class="tile_select">Related Articles:</span>
                <span class="description_text">Iphone 4S Review.</span>
              </div>
              <span class="drop_arrow"></span>
              <div class="dropdown_open">
                <ul>
                    <li><a href="#">READ TOP STORY: <span>50 Olympic Athletes to Watch...</span></a></li>
                    <li><a href="#">READ TOP STORY: <span>50 Olympic Athletes to Watch...</span></a></li>
                    <li><a href="#">READ TOP STORY: <span>50 Olympic Athletes to Watch...</span></a></li>
                    <li><a href="#">READ TOP STORY: <span>50 Olympic Athletes to Watch...</span></a></li>
                    <li><a href="#">READ TOP STORY: <span>50 Olympic Athletes to Watch...</span></a></li>
                    <li><a href="#">READ TOP STORY: <span>50 Olympic Athletes to Watch...</span></a></li>
               </ul>
              </div>
          </div>
          -->
      </div>  
    </div> 
      
    <div  class="header_midder_box" >
      <iframe  src="<%=@content.url %>" scrolling="yes" frameborder="1" onload="resizeIframe(this);"></iframe>
    </div>  
   <%= render "shared/signup_popup"%>
</body>

<script language="javascript" type="text/javascript">
 function resizeIframe(obj)
 {
        var winW = 0, winH = 0;
      if (document.body && document.body.offsetWidth) {
       winW = document.body.offsetWidth;
       winH = document.body.offsetHeight;
      }
      if (document.compatMode=='CSS1Compat' &&
          document.documentElement &&
          document.documentElement.offsetWidth ) {
       winW = document.documentElement.offsetWidth;
       winH = document.documentElement.offsetHeight;
      }
      if (window.innerWidth && window.innerHeight) {
       winW = window.innerWidth;
       winH = window.innerHeight;
      }
      if(winH != 0)  
      {
       obj.style.height = (winH - 52) + 'px';
      }
   //obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';                        
 }
 
 
   <%unless user_signed_in?%>
        $("div.rate_content a").click(function(e){
          if (login_flag != true){
            openLoginPopup("#" +$(this).attr('id'), "click");
            return false
          }
        })
        
  <%end%>
  
 
 </script>

 
</html>
