<%= form_for [:admin, @advertisement] do |f| %>
    <% if @advertisement.errors.any? %>
        <div id="error_explanation">
        <%= "#{pluralize(@advertisement.errors.count, "error")} prohibited this product from being saved:" %>
        <ul>
          <% @advertisement.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
          <% end %>
        </ul>
        </div>
    <% end %>
    <h2> <%= @advertisement.new_record? ? "New" : "Edit" %> Campaign </h2>

    <ul id="plmenu" class="plnav plnav-tabs">
      <span style="float: left;">&nbsp;&nbsp;&nbsp;</span>
      <li class="active" id="default"> <a href="javascript:void(0)">Default</a> </li>
      <li class="" id="offers"> <a href="javascript:void(0)" >Offers</a> </li>
      <li class="" id="add_details"> <a href="javascript:void(0)" >Add Details</a> </li>
    </ul>

    <div class="main_form">

    <div class="div_values default">

    <% unless @advertisement.new_record? %>
        <div class="fields-div">
          <div class="title_header float_lft">Advertisement Status :</div>
          <div>
            <%= select_tag :ad_status, options_for_select(["Enable", "Disable", "Delete"], @ad_status) %>
          </div>
        </div>
    <% end %>
    <div class="fields-div">
      <div class="title_header float_lft">Advertisement Type :</div>
      <div>
        <%= f.radio_button :advertisement_type, 'static', :class => "ad_type", :checked => true %>Static
        <%= f.radio_button :advertisement_type, 'dynamic', :class => "ad_type" %>Dynamic
        <% if current_user.is_admin? %>
            <%= f.radio_button :advertisement_type, 'dynamicpc', :class => "ad_type" %>Dynamic Best Price
            <!-- <%#= f.radio_button :advertisement_type, 'plannto', :class => "ad_type" %>Plannto -->
            <%= f.radio_button :advertisement_type, 'flash', :class => "ad_type" %>Flash
        <% end %>
      </div>
    </div>

    <div class="fields-div dynamic_details additional_details">
      <div class="title_header float_lft">Template Type :</div>
      <div>
        <%= f.radio_button :template_type, 'type_1', :class => "template_type", :checked => true %>Type 1
        <%= f.radio_button :template_type, 'type_2', :class => "template_type" %>Type 2
      </div>
    </div>

    <div class="fields-div">
      <div class="title_header float_lft">Name :</div>
      <div class="float_lft"> <%= f.text_field :name %> </div>
    </div>

    <div class="fields-div">
      <div class="title_header float_lft">Target Audience :</div>
      <div class="float_lft"> <%= f.select :target_audience, options_for_select(["Buyer", "Owner", "Both"], @advertisement.target_audience) %> </div>
    </div>

    <%= hidden_field_tag 'ad_item_id' %>
    <%= hidden_field_tag 'content_id', @advertisement.content_id %>

    <div class="fields-div">
      <div class="title_header float_lft"></div>
      <div class="float_lft"> <ul id="ad_product_list" class="tagging"></ul> </div>
    </div>

    <div class="fields-div" id="reviewProducts">
      <ul id="ad_product_list" class="tagging"></ul>
      <div class="title_header float_lft">Product :</div>
      <div class="taggingdiv">
        <div class="float_lft " id="displayTagBox">
          <input placeholder="Start Typing for suggestions.." type="text" value="" id="ad_product"/>
          <%= link_to(image_tag("#{configatron.root_image_path}static/images/open-window.png", :class => "select_button_for_rel_products", :width => "15px;"), "javascript:void(0)") %>
          <%= hidden_field_tag "related_item_ids", @items.blank? ? "" : @items.map(&:id).join(",") %>
          <%= f.hidden_field 'exclusive_item_ids', :id => "exclusive_item_ids" %>
        </div>
      </div>
    </div>

    <div class="fields-div" id="reviewProducts">

      <div class="title_header float_lft">Excluded Product :</div>
      <div class="taggingdiv">
        <ul id="exclusive_product_list" class="tagging"></ul>
        <div class="float_lft " id="displayTagBox">
          <input placeholder="Start Typing for suggestions.." type="text" value="" id="exclusive_product"/>
        </div>
      </div>
    </div>

    <div class="fields-div">
    <div class="title_header float_lft">Excluded Sites :</div>
    <div class="float_lft"> <%= f.text_field :excluded_sites %> </div>
    </div>

    <div class="fields-div" style="clear:both;">
      <div class="title_header float_lft">Start Date :</div>
      <div>
        <%= f.text_field :start_date %></div>
    </div>
    <div class="fields-div">
      <div class="title_header float_lft">End Date :</div>
      <div>
        <%= f.text_field :end_date %></div>
    </div>

    <div class="fields-div" style="clear: both;">
      <div class="title_header float_lft">Click Url :</div>
      <div>
        <%= f.text_field :click_url %></div>
    </div>
    <div class="fields-div">
      <div class="title_header float_lft">Budget[per day] :</div>
      <div>
        <%= f.text_field :budget %></div>
    </div>
    <div class="fields-div">
      <div class="title_header float_lft">Bid[CPM/CPC/CPA] :</div>
      <div>
        <%= f.radio_button :bid, 'CPM', :class => "bid_radio_button", :checked => true %>CPM
        <%= f.radio_button :bid, 'CPC', :class => "bid_radio_button" %>CPC
        <!-- <%#= f.radio_button :bid, 'CPA', :class => "bid_radio_button" %>CPA -->
      </div>
    </div>

    <div class="fields-div">
      <div class="title_header float_lft">Cost :</div>
      <div>
        <%= f.text_field :cost %></div>
    </div>

    <% if current_user.is_admin? && 1 != 1 %>
        <div class="fields-div">
          <div class="title_header float_lft">Commission :</div>
          <div>
            <%= f.text_field :commission %></div>
        </div>
    <% else %>
        <%= hidden_field_tag :commission, @advertisement.commission %>
    <% end %>

    <div id="related_product_list" style="display:none;">
      <a href="#" class="Closebut">&nbsp;</a>
      <%= hidden_field_tag "articles_item_id" %>
      <ul id="new_article_product_list" class="tagging" style="padding-left: 264px;"></ul>
      <div style="padding:5px 5px 0px 0px;clear:both;display:block;margin-top: 20px;" id="shareProduct">
        <div class="title_header float_lft" style="width: 250px;">Select Relevant Product to Show Ad:</div>
        <div class="taggingdiv" style="margin-left:5px;width: 300px !important;">

          <div class="left_input_tag float_lft " style="clear:both;">
            <input style="margin-top:5px;width:250px" placeholder="Start Typing for suggestions.." type="text" value="" id="new_article_product"/>
          </div>
          <div style="clear:both;"></div>

          <div id="search_items_by_relavance" style="font-size: 12px;margin: 5px 0px 10px 5px;width:800px;"></div>
          <div style="clear:both;"></div>

        </div>
        <div style="clear:both;"></div>
      </div>
      <ul class="selected_products">

      </ul>
      <div id="list_of_products">

      </div>
      <%= link_to "Populate", "javascript:void(0)", :class => "btn_submitanswer btn_submitcancel populate_btn", :id => "cancel_button" %>
    </div>

    <br/>
    </div>

    <div class="div_values offers" style="display: none;">
      <div class="fields-div">
        <div class="title_header float_lft">Offer :</div>
        <div>
          <%= f.text_area :offer %></div>
      </div>

      <div class="fields-div">
        <div class="title_header float_lft">Offer Url :</div>
        <div>
          <%= f.text_field :offer_url %></div>
      </div>

      <div class="fields-div" style="clear:both;">
        <div class="title_header float_lft">Expiry Date :</div>
        <div>
          <%= f.text_field :expiry_date %></div>
      </div>
    </div>

    <div class="div_values add_details" style="display: none;">

      <h3>Additional Details</h3>
      <div class="additional_details static_details flash_details" id="static_details">
        <div class="files-div">
          <%= link_to "Add One more file", "javascript:void(0)", :id => "add_another_file", :style => 'clear: both;' %>
          <% if @advertisement.new_record? %>
              <div class="file-div">
                <div>
                  <div class="title_header float_lft">Advertisement Size :</div>
                  <div class="float_lft">
                    <%= select_tag 'ad_size[]', options_for_select([["300x250", "300x250"], ["468x60", "468x60"], ["728x90", "728x90"], ["120x600", "120x600"], ["300x600", "300x600"]]), :placeholder => "" %>
                  </div>
                  <%#= f.select "ad_size[]",["250*250","300*300","1000*600"],:style => "margin-left:5px;width:400px;",:placeholder => "", :multiple => true%>
                </div>
                <div class="fields-div">
                  <div class="title_header float_lft">Image :</div>
                  <div class="float_lft">
                    <%= f.file_field :upload_image, name: "avatar[]" %>
                  </div>
                </div>
              </div>
          <% else %>

              <% @advertisement && @advertisement.images.each do |a| %>
                  <div class="existing_images" id="<%= a.id %>">
                    <%= image_tag(a.avatar, :size => a.ad_size.to_s.gsub("*", "x")) %>

                    <%= link_to "X", delete_ad_image_path(a), :method => :delete, :remote => true, :confirm => 'Are you sure you want to delete this?'  %>
                  </div>
              <% end %>

              <div class="file-div">
                <div>
                  <div class="title_header float_lft">Advertisement Size :</div>
                  <div class="float_lft">
                    <%= select_tag 'ad_size[]', options_for_select([["300x250", "300x250"], ["468x60", "468x60"], ["728x90", "728x90"], ["120x600", "120x600"], ["300x600", "300x600"]]), :placeholder => "" %>
                  </div>
                  <%#= f.select "ad_size[]",["250*250","300*300","1000*600"],:style => "margin-left:5px;width:400px;",:placeholder => "", :multiple => true%>
                </div>
                <div class="fields-div">
                  <div class="title_header float_lft">Image :</div>
                  <div class="float_lft">
                    <%= f.file_field :upload_image, name: "avatar[]" %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div class="additional_details dynamic_details" id="dynamic_details">
        <div class="fields-div">
          <div class="title_header float_lft">Vendor :</div>
          <div>
            <%= @vendor.blank? ? "" : @vendor.name %></div>
          <%= f.hidden_field :vendor_id %>
        </div>
      </div>
    </div>


      <div class="submit_button">
        <%= f.submit button_val, :class => 'btn_submitanswer', :id => "publishanswer" %>
      </div>
    </div>

    <br style="clear: both;">

<% end %>


<script>
    $("#advertisement_start_date").datepicker({ dateFormat: 'dd-mm-yy' });
    $("#advertisement_end_date").datepicker({ dateFormat: 'dd-mm-yy' });
    $("#advertisement_expiry_date").datepicker({ dateFormat: 'dd-mm-yy' });

    $(document).ready(function () {

        <%if @advertisement.nil?%>
        settings = {
            close: true, addButton: false,
            url: "/search/autocomplete_items",
            editMode: false, multiple: true,
            hidden_field: "#ad_item_id"
        };
        $.textTagger("#ad_product", "#ad_product_list", settings);

        <% unless @item.blank? %>
        $.addTag("#ad_product", "#ad_product_list", settings, "<%= @item.name %>", "<%= @item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= @item.id %>", false);
        $("#ad_product_list li:first span a.icon_close_tagging").remove();
        <% end %>
        <% else %>
//error is here

        var settings = {has_parent: true, close: true, addButton: false, url: "/search/autocomplete_items", editMode: false, multiple: true,
            hidden_field: "#ad_item_id"};
        <%unless @items.nil? %>
        <% @items.each do |item| %>

        $.addTag("ad_product", "ad_product_list", settings, "<%= item.name %>", "<%= item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= item.id %>", true);
        //$("#article_create_product_list li:first span a.icon_close_tagging").remove();
        <%end%>
        <%end%>
        $.textTagger("#ad_product", "#ad_product_list", settings);
//ends
        <%end%>

        //exclusive product

        var new_settings = {
            close: true, addButton: false,
            url: "/search/autocomplete_items",
            editMode: false, multiple: true,
            hidden_field: "exclusive_item_ids"
        };
        <%unless @exclusive_items.nil? %>
        <% @exclusive_items.each do |item| %>

        $.addTag('exclusive_product', 'exclusive_product_list', new_settings, "<%= item.name %>", "<%= item.id %>", false);
        $.addIdToField(new_settings.hidden_field, "<%= item.id %>",false);
        //$("#article_create_product_list li:first span a.icon_close_tagging").remove();
        <%end%>
        <%end%>

        $.textTagger("exclusive_product", "exclusive_product_list", new_settings);

        $("#add_another_file").live("click", function () {
            a = $(".file-div").clone();
            remove_link = $("<a class='remove-file'>Remove<a>");
            remove_link.bind("click", function () {
                $(this).parent().remove();
            })
            a.removeClass("file-div")
            a.children().find('input,select').each(function () {
                $(this).val('');
            });
            remove_link.appendTo(a);
            a.appendTo(".files-div");
        })


        // show additional details based on advertisement type
        $(".additional_details").hide()
        var exp_id = $(".ad_type:checked").val()
        $("." + exp_id + "_details").show()

        $(".ad_type").click(function () {
            var expected_id = $(this).val()
            $(".additional_details").hide()
            $("." + expected_id + "_details").show()
        })


        settings = {
            close: true, addButton: false,
            url: "/search/autocomplete_items",
            editMode: false, multiple: false,
            hidden_field: "articles_item_id",
            has_parent: false
        };

        $.textTagger("new_article_product", "new_article_product_list", settings);

        $("li.ui-menu-item a").live("click", function(event)
        {
            var item_id = $("#articles_item_id").val()
            $("#articles_item_id").val('')
            console.log(item_id)

            $.get( "/related_items", {car_id: item_id, popup: true }, function( data ) {
                $( "#list_of_products" ).html( data );
            });
        })

        $(".select_button_for_rel_products").live("click", function()
        {
            $("#new_article_product_list").html("")
            $("#list_of_products").html("")

            $('#related_product_list').bPopup({
                closeClass:'Closebut',
                modalClose: false,
                position: [(screen.width / 2) - (270/2), $(window).scrollTop() + 150],
                follow: [false, false] //x, y
            });

        })

        $('#deleteTag').live('click', function(){
            var item_id = $(this).attr("item_id")
            console.log(item_id)

            var item_ids = $("#related_item_ids").val()

            item_ids = item_ids.split(",")

            item_ids = $.grep(item_ids, function(value) {
                return value != item_id;
            });

            $("#related_item_ids").val(item_ids.join(","))

            $(this).closest('li').remove();

            return false;
        })

        $(".populate_btn").live("click", function()
        {
            var checked_length = $('.related_item:checked').length
            $.each($('.related_item:checked'), function(i, val) {
                var item_id = $(val).attr("value")
                var name = $(val).siblings(".item_name").text()

                if (item_id != "All"){
                    $.addTag("ad_product", "ad_product_list", settings_new, name, item_id, false);
                    $.addIdToField(settings_new.hidden_field, item_id, true);
                }
            })

            $("#new_article_product_list").html("")
            $("#list_of_products").html("")
            if (checked_length == 0)
                alert("Nothing to populate")
        })

        $("#plmenu li").click(function()
        {
            var this_val = $(this)
            console.log(this_val)
            $("#plmenu li").removeClass('active')
            this_val.addClass('active')
            $(".div_values").hide()
            var exp_id = this_val.attr("id")
            $("."+exp_id).show()
        });
    })


</script>

<style type="text/css">
    .main_form {
        margin: 0px 0 0 54px;
        width: 600px;
        padding-top: 20px;
    }

    #new_advertisement h2, .edit_advertisement h2 {
        font-size: 20px;
        margin: 22px;
        text-align: center;
    }

    .title_header.float_lft {
        font-size: 13px;
        text-align: right;
    }

    .main_form .fields-div {
        line-height: 40px;
    }

    .title_header {
        width: 150px;
        clear: both;
        margin: 10px 10px 0 0;;
    }

    .fields-div input, .fields-div select {
        width: 250px;
    }

    .remove-file {
        cursor: pointer;
        color: blue;
        float: left;
    }

    #add_another_file {
        clear: both;
        float: right;
        font-size: 13px;
        position: relative;
        text-decoration: underline;
    }

    .existing_images > a {
        color: #FF0000;
        font-size: 12px;
        position: absolute;
    }

    .ad_type, .template_type, .bid_radio_button {
        width: 10px !important;
    }

    a.Closebut {
        display:block; width:43px; height:42px; background:url(/images/pclose_but.png) no-repeat left top;
        position:absolute; right:-18px; text-indent:-9999px; top:-18px;}

    a.Closebut:hover { background-position:left -41px;}

    #related_product_list {
        background: none repeat scroll 0 0 #f9f9f9;
        left: 30% !important;
        top: 10% !important;
        width: 600px;
        height:500px;
    }

    .populate_btn {
        margin-right: 250px;
        margin-top: 30px;
    }

    #advertisement_offer {
        height: 65px;
    }

    .plnav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .plnav > li {
        position: relative;
        display: block;
        text-align: center;
    }
    .plnav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    .plnav > li > a:hover,
    .plnav > li > a:focus {
        text-decoration: none;
        background-color: #eee;
    }
    .plnav > li.disabled > a {
        color: #999;
    }
    .plnav > li.disabled > a:hover,
    .plnav > li.disabled > a:focus {
        color: #999;
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
    }
    .plnav .open > a,
    .plnav .open > a:hover,
    .plnav .open > a:focus {
        background-color: #eee;
        border-color: #428bca;
    }
    .plnav .plnav-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    .plnav > li > a > img {
        max-width: none;
    }

    .plnav-pills > li {
        float: left;
    }
    .plnav-pills > li > a {
        border-radius: 4px;
    }
    .plnav-pills > li + li {
        margin-left: 2px;
    }
    .plnav-pills > li.active > a,
    .plnav-pills > li.active > a:hover,
    .plnav-pills > li.active > a:focus {
        color: #fff;
        background-color: #428bca;
    }

    .plnav-tabs,
    .plnav-pills {
        *zoom: 1;
    }

    .plnav-tabs:before,
    .plnav-pills:before,
    .plnav-tabs:after,
    .plnav-pills:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .plnav-tabs:after,
    .plnav-pills:after {
        clear: both;
    }

    .plnav-tabs > li,
    .plnav-pills > li {
        float: left;
        min-width: 120px;
    }

    .plnav-tabs > li > a,
    .plnav-pills > li > a {
        padding-right: 12px;
        padding-left: 12px;
        margin-right: 2px;
        line-height: 14px;
    }

    .plnav-tabs {
        border-bottom: 1px solid #ddd;
    }

    .plnav-tabs > li {
        margin-bottom: -1px;
    }

    .plnav-tabs > li > a {
        color:#428BCA!important;
        padding-top: 10px;
        padding-bottom: 5px;
        line-height: 20px;
        border: 1px solid transparent;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        height:23px;
        font-size: 13px;
    }

    .plnav-tabs > li > a:hover,
    .plnav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #dddddd;
    }

    .plnav-tabs > .active > a,
    .plnav-tabs > .active > a:hover,
    .plnav-tabs > .active > a:focus {
        color: #555!important;
        cursor: default;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    .plnav-pills > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .plnav-pills > .active > a,
    .plnav-pills > .active > a:hover,
    .plnav-pills > .active > a:focus {
        color: #ffffff;
        background-color: #0088cc;
    }

    a { outline: none; }
</style>

<% unless @advertisement.new_record? %>
<script type="application/javascript">
  $(function()
  {
      previous_val = $("#ad_status").val()

      $("#ad_status").change(function()
      {
          var ad_status = $(this).val()
          var return_val = confirm("Are you sure?")
          if (return_val == true)
          {
              console.log(ad_status)
              window.location.href = "/admin/advertisements/change_ad_status?status="+ad_status+"&ad_id="+<%= @advertisement.id %>
          }
          else
          {
              console.log(previous_val)
              $("#ad_status").val(previous_val)
          }
      })
  });
</script>
<% end %>