<%= form_for [:admin, @advertisement] do |f| %>
    <% if @advertisement.errors.any? %>
        <div id="error_explanation"%>
        <%= "#{pluralize(@advertisement.errors.count, "error")} prohibited this product from being saved:" %>
        <ul>
          <% @advertisement.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
          <% end %>
        </ul>
        </div>
    <% end %>
    <h2> Advertisement </h2>

    <div class="main_form">
      <div class="fields-div">
        <div class="title_header float_lft">Advertisement Type :</div>
        <div>
          <%= f.radio_button :advertisement_type, 'static', :class => "ad_type", :checked => true %>Static
          <%= f.radio_button :advertisement_type, 'dynamic', :class => "ad_type" %>Dynamic
          <% if current_user.is_admin? %>
            <%= f.radio_button :advertisement_type, 'dynamicpc', :class => "ad_type" %>Dynamic PC
            <%= f.radio_button :advertisement_type, 'plannto', :class => "ad_type" %>Plannto
          <% end %>
        </div>
      </div>

      <div class="fields-div dynamic_details additional_details">
        <div class="title_header float_lft">Template Type :</div>
        <div>
          <%= f.radio_button :template_type, 'type_1', :class => "template_type", :checked => true %>Type 1
          <%= f.radio_button :template_type, 'type_2', :class => "template_type" %>Type 2
        </div>
      </div>

      <div class="fields-div">
        <div class="title_header float_lft">Name :</div>
        <div class="float_lft"> <%= f.text_field :name %> </div>
      </div>

      <%= hidden_field_tag 'ad_item_id' %>

      <div class="fields-div" id="reviewProducts">

        <div class="title_header float_lft">Product :</div>
        <div class="taggingdiv">
          <ul id="ad_product_list" class="tagging"></ul>
          <div class="float_lft " id="displayTagBox">
            <input placeholder="Start Typing for suggestions.." type="text" value="" id="ad_product"/>
          </div>
        </div>
      </div>

      <div class="fields-div">
        <div class="title_header float_lft">Start Date :</div>
        <div>
          <%= f.text_field :start_date %></div>
      </div>
      <div class="fields-div">
        <div class="title_header float_lft">End Date :</div>
        <div>
          <%= f.text_field :end_date %></div>
      </div>

      <div class="fields-div" style="clear: both;">
        <div class="title_header float_lft">Click Url :</div>
        <div>
          <%= f.text_field :click_url %></div>
      </div>
      <div class="fields-div">
        <div class="title_header float_lft">Budget[per day] :</div>
        <div>
          <%= f.text_field :budget %></div>
      </div>
      <div class="fields-div">
        <div class="title_header float_lft">Bid[CPM/CPC/CPA] :</div>
        <div>
          <%= f.radio_button :bid, 'CPM', :class => "bid_radio_button", :checked => true %>CPM
          <%= f.radio_button :bid, 'CPC', :class => "bid_radio_button" %>CPC
          <%= f.radio_button :bid, 'CPA', :class => "bid_radio_button" %>CPA
        </div>
      </div>

      <div class="fields-div">
        <div class="title_header float_lft">Cost :</div>
        <div>
          <%= f.text_field :cost %></div>
      </div>

      <h3>Additional Details</h3>

      <div class="additional_details static_details" id="static_details">
        <div class="files-div">
          <%= link_to "Add One more file", "javascript:void(0)", :id => "add_another_file", :style => 'clear: both;' %>
          <% if @advertisement.new_record? %>
              <div class="file-div">
                <div>
                  <div class="title_header float_lft">Advertisement Size :</div>
                  <div class="float_lft">
                    <%= select_tag 'ad_size[]', options_for_select([["300*250", "300*250"], ["300*300", "300*300"], ["1000*600", "1000*600"]]), :placeholder => "" %>
                  </div>
                  <%#= f.select "ad_size[]",["250*250","300*300","1000*600"],:style => "margin-left:5px;width:400px;",:placeholder => "", :multiple => true%>
                </div>
                <div class="fields-div">
                  <div class="title_header float_lft">Image :</div>
                  <div class="float_lft">
                    <%= f.file_field :upload_image, name: "avatar[]" %>
                  </div>
                </div>
              </div>
          <% else %>

              <% @advertisement && @advertisement.images.each do |a| %>
                  <div class="existing_images" id="<%= a.id %>">
                    <%= image_tag(a.avatar, :size => a.ad_size.to_s.gsub("*", "x")) %>

                    <%= link_to "X", delete_ad_image_path(a), :method => :delete, :remote => true, :confirm => 'Are you sure you want to delete this?'  %>
                  </div>
              <% end %>

              <div class="file-div">
                <div>
                  <div class="title_header float_lft">Advertisement Size :</div>
                  <div class="float_lft">
                    <%= select_tag 'ad_size[]', options_for_select([["300*250", "300*250"], ["300*300", "300*300"], ["1000*600", "1000*600"]]), :placeholder => "" %>
                  </div>
                  <%#= f.select "ad_size[]",["250*250","300*300","1000*600"],:style => "margin-left:5px;width:400px;",:placeholder => "", :multiple => true%>
                </div>
                <div class="fields-div">
                  <div class="title_header float_lft">Image :</div>
                  <div class="float_lft">
                    <%= f.file_field :upload_image, name: "avatar[]" %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div class="additional_details dynamic_details" id="dynamic_details">
        <div class="fields-div">
          <div class="title_header float_lft">Vendor :</div>
          <div>
            <%= @vendor.blank? ? "" : @vendor.name %></div>
          <%= f.hidden_field :vendor_id %>
        </div>
      </div>

      <br/>

      <div class="submit_button">
        <%= f.submit 'Add Advertisement', :class => 'btn_submitanswer', :id => "publishanswer" %>
      </div>
    </div>

<% end %>


<script>
    $("#advertisement_start_date").datepicker({ dateFormat: 'dd-mm-yy' });
    $("#advertisement_end_date").datepicker({ dateFormat: 'dd-mm-yy' });

    $(document).ready(function () {

        <%if @advertisement.nil?%>
        settings = {
            close: true, addButton: false,
            url: "/search/autocomplete_items",
            editMode: false, multiple: true,
            hidden_field: "#ad_item_id"
        };
        $.textTagger("#ad_product", "#ad_product_list", settings);

        <% unless @item.blank? %>
        $.addTag("#ad_product", "#ad_product_list", settings, "<%= @item.name %>", "<%= @item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= @item.id %>", false);
        $("#ad_product_list li:first span a.icon_close_tagging").remove();
        <% end %>
        <%else%>
//error is here

        var settings = {has_parent: true, close: true, addButton: false, url: "/search/autocomplete_items", editMode: false, multiple: true,
            hidden_field: "#ad_item_id"};
        <%unless @items.nil? %>
        <% @items.each do |item| %>

        $.addTag("ad_product", "ad_product_list", settings, "<%= item.name %>", "<%= item.id %>", false);
        $.addIdToField(settings.hidden_field, "<%= item.id %>", true);
        //$("#article_create_product_list li:first span a.icon_close_tagging").remove();
        <%end%>
        <%end%>
        $.textTagger("#ad_product", "#ad_product_list", settings);
//ends
        <%end%>

        $("#add_another_file").live("click", function () {
            a = $(".file-div").clone();
            remove_link = $("<a class='remove-file'>Remove<a>");
            remove_link.bind("click", function () {
                $(this).parent().remove();
            })
            a.removeClass("file-div")
            a.children().find('input,select').each(function () {
                $(this).val('');
            });
            remove_link.appendTo(a);
            a.appendTo(".files-div");
        })


        // show additional details based on advertisement type
        $(".additional_details").hide()
        var exp_id = $(".ad_type:checked").val()
        $("." + exp_id + "_details").show()

        $(".ad_type").click(function () {
            var expected_id = $(this).val()
            $(".additional_details").hide()
            $("." + expected_id + "_details").show()
        })

    });


</script>

<style type="text/css">
    .main_form {
        margin: 0px 0 0 54px;
        width: 600px
    }

    #new_advertisement h2 {
        font-size: 20px;
        margin: 22px;
        text-align: center;
    }

    .title_header.float_lft {
        font-size: 13px;
        text-align: right;
    }

    .main_form .fields-div {
        line-height: 40px;
    }

    .title_header {
        width: 150px;
        clear: both;
        margin: 10px 10px 0 0;;
    }

    .fields-div input, .fields-div select {
        width: 250px;
    }

    .remove-file {
        cursor: pointer;
        color: blue;
        float: left;
    }

    #add_another_file {
        clear: both;
        float: right;
        font-size: 13px;
        position: relative;
        text-decoration: underline;
    }

    .existing_images > a {
        color: #FF0000;
        font-size: 12px;
        position: absolute;
    }

    .ad_type, .template_type, .bid_radio_button {
        width: 10px !important;
    }
</style>
