<div class="advt-block">
  <div class="advt-300">
    <div class="logo"><a href="#"><img src="<%= @vendor_image_url %>" alt="" width="124px" height="20px"></a>
    </div>
    <% if @item_details.count != 0 %>
        <div class="list_carousel">
          <div id="pager2" class="pager">
            <% [*1..@sliced_item_details.count].each do |each_loop| %>
                <a href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
            <% end %>
          </div>
          <ul id="foo3">
            <% @sliced_item_details.each_with_index do |sliced_item_detail, indx| %>
                <li class="item_details" id="item_detail_<%= indx + 1 %>">
                  <% sliced_item_detail.each do |item_detail| %>
                      <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url) %>
                      <% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>

                      <div class="advt-box">
                        <div class="product-container">
                          <div class="product-img-left">
                            <a href="#"><img src="<%= get_image_url(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name']) %>" alt="" width="119px" height="89px"></a>
                          </div>
                          <div class="product-txt-right">
                            <h3><%= item_detail.ItemName %></h3>

                            <p class="product-desc">
                              <%= raw get_offer_for_ad(@ad, item_detail, @vendor_ad_details[item_detail.site.to_i]['default_text'], 50, shop_now_url) %>
                            </p>

                            <p class="price"><%= prettify(item_detail.price) %></p>

                            <p class="btn">
                              <a href="<%= shop_now_url %>" target="_blank" class="shop-now">Shop
                                Now</a>
                            </p>
                          </div>
                        </div>
                      </div>
                  <% end %>
                  <img class="vendor_image_src" src="<%= @vendor_ad_details[sliced_item_detail.first.site.to_i]['imageurl'] %>" alt="" style="display: none;">
                </li>
            <% end %>
          </ul>
          <div class="clearfix"></div>
          <a id="prev3" class="prev" href="#">&lt;</a>
          <a id="next3" class="next" href="#">&gt;</a>

        </div>
    <% else %>
        No Product Found
    <% end %>

  </div>
  <!-- end of advt-300 -->
</div>
<!-- end of advt-block -->