<div class="advt-block">
  <div class="advt-120">
    <% if @item_details.count != 0 %>
        <% @item_details.each_with_index do |item_detail, indx| %>
            <div class="item_details" id="item_detail_<%= indx + 1 %>">
            <div class="advt-box">
              <div class="logo"><a href="javascript:void(0)"><img src="<%= @vendor_image_url %>" alt=""></a></div>

              <div id="pager2" class="pager">
                <% [*1..@item_details.count].each do |each_loop| %>
                    <a href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
                <% end %>
              </div>
                <div class="product-container">
                  <h3 class="product-title"><%= item_detail.ItemName %></h3>

                  <div class="product-img"><a href="javascript:void(0)"><img src="<%= item_detail.item.image_url %>" alt="" width="100px" height="100px"></a></div>
                  <p class="product-desc">If you think a notebook this out of your price range, think again.</p>

                  <p class="price-strike">Rs. <%= item_detail.price %></p>

                  <p class="price">Rs. <%= item_detail.price %></p>

                  <p class="btn"><a href="<%= history_details_path(:detail_id => item_detail.id, :iid => item_detail.item.id) %>" class="shop-now">Shop Now</a></p>
                </div>
                <div class="product-extra-desc"><p>* 100% Purchase Protection<br>* Free Delivery<br>* COD</p></div>
              </div>
            </div>
        <% end %>
    <% else %>
        No Product Found
    <% end %>

  </div>
  <!-- end of advt-120 -->
</div><!-- end of advt-block -->


<style type="text/css">
  .pager a {margin: 0px !important;}
</style>