<div class="advt-block">
  <div class="advt-300">
    <div class="logo">
      <div style="float:left;width:110px;"><a href="javascript:void(0)" target="_blank"><img src="<%= @vendor_image_url %>" alt=""></a></div>
      <div class="list_carousel">
          <div id="pager2" class="pager">
            <%if @item_details.count > 1 %>
            <% [*1..@item_details.count].each do |each_loop| %>
                <a href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
            <% end %>
            <% end %>
          </div>
     </div>
     <div class="clearfix"></div>
    </div>
      
    <% if @item_details.count != 0 %>

          <ul id="foo3" height="190px;">
            <% @item_details.each_with_index do |item_detail, indx| %>
                <% ad_url = history_details_path(:detail_id => item_detail.id, :iid => @impression_id, :ref_url => @ref_url) %>

                <li class="item_details" id="item_detail_<%= indx + 1 %>">
                  <div class="advt-box">
                    <div class="product-container">
                      <div class="product-img-left">
                        <a href="<%= @click_url.blank? ? ad_url : (@click_url+ad_url) %>" target="_blank"><img src="<%= item_detail.item.image_url %>" alt="" width="132px"></a>
                      </div>
                      <div class="product-txt-right">
                        <a href="<%= @click_url.blank? ? ad_url : (@click_url+ad_url) %>" target="_blank" class="">
                          <h3><%= item_detail.ItemName %></h3>

                          <p class="price"><%= prettify(item_detail.price) %></p>
                        </a>

                        <p class="btn">
                          <a href="<%= @click_url.blank? ? ad_url : (@click_url+ad_url) %>" target="_blank" class="shop-now">Shop
                            Now</a>
                        </p>

                      </div>
                    </div>
                    <div class="product-txt-desc">
                      <p> <%= item_detail.offer.blank? ? truncate_without_dot(@vendor_detail.default_text.to_s, 90) : truncate_without_dot(item_detail.offer.to_s, 90) %></p>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
          <div class="clearfix"></div>
          <!--<a id="prev3" class="prev" href="#">&lt;</a>
          <a id="next3" class="next" href="#">&gt;</a>
         -->
      
    <% else %>
        No Product Found
    <% end %>

  </div>
  <!-- end of advt-300 -->
</div>
<!-- end of advt-block -->

<style type="text/css">
    .pager a {
        margin: 0px !important;
    }

    .product-container a {text-decoration: none !important;}
</style>