<center><h1>List Of Campaigns </h1></center>
 <%=link_to "Create New Campaign",new_admin_advertisement_path + "#maincontainer", :class=>"btn btn-primary new_ad", :style=>'background:#16c3d7;' %>
 <%= select_tag(:date_from_dropdown, options_for_select(@collections_for_dropdown, params[:date]), :class => "styled-select") %>

 <div class="show_date_range">
   <span>Date: <%= @start_date.to_date.strftime("%d %b %y") %><%= "  -  #{@end_date.to_date.strftime("%d %b %y")}" unless @end_date.blank? %></span>
 </div>

<% if @advertisements.blank? %>
   <div class="warning_message">
     <span>There are no Campaigns Are Available, Please Click <b>Create New Campaign</b> to Create a New Campaign</span>
   </div>
<% else %>
    <div>
      <table border="1" width="90%" align="center">
        <tr>
          <th> Name </th>
          <th> Status </th>
          <% if current_user.is_admin? %>
              <th> Start Date</th>
              <th> End Date</th>
          <% end %>
          <th> Impr.</th>
          <th> Clicks</th>
          <th> CTR</th>
          <th> Cost</th>
          <% if current_user.is_admin? %><th> Revenue</th> <% end %>
          <th colspan="2">Actions</th>
        </tr>
        <%@advertisements.each do |ad | %>
            <tr id="<%= ad.id %>" class="ad_row">
              <td><%= ad.name  %> </td>
              <td><%= ad.status == 1 ? "Active" : "Inactive"  %> </td>
              <% if current_user.is_admin? %>
                  <td> <%= ad.start_date.strftime("%d-%m-%Y") unless ad.start_date.blank? %></td>
                  <td> <%= ad.end_date.strftime("%d-%m-%Y") unless ad.end_date.blank? %></td>
              <% end %>
              <td><%= @extra_ad_details["#{ad.id}"]["impressions"]%></td>
              <td><%= @extra_ad_details["#{ad.id}"]["clicks"]%></td>
              <td><%= @extra_ad_details["#{ad.id}"]["ctr"]%></td>
              <td><%= @extra_ad_details["#{ad.id}"]["cost"]%></td>
              <% if current_user.is_admin? %><td> <%= @extra_ad_details["#{ad.id}"]["revenue"]%> </td> <% end %>
              <!--<td> <%#= link_to "Edit",edit_admin_advertisement_path(ad) + "#maincontainer" %> </td>-->
              <td> <%= link_to(image_tag("#{configatron.root_image_path}static/images/chart1.jpeg", :size => "25x25"), admin_ad_report_view_ad_chart_path(:advertisement_id => ad.id), :target => "_blank") %> </td>
              <td> <%= link_to(image_tag("#{configatron.root_image_path}static/images/report.jpeg", :size => "25x25"), admin_ad_reports_report_path(ad.id), :target => "_blank") %> </td>
              <% if current_user.is_admin? %>
                  <td><%= link_to "Review", review_admin_advertisements_path(:advertisement_id => ad.id), :target => "_blank" %> </td>
              <% end %>
            </tr>
        <%end%>
      </table>
    </div>
     <%= will_paginate @advertisements %>
 <% end %>


<style type="text/css">
    .pagination {
        margin: 20px 67px 0 0 !important;
    }
    table {
        margin-left: 75px !important;
        font-size: 12px;
        margin-top: 40px;
    }
    .new_ad {
        margin: 20px;
    }
    .styled-select{
        background: none repeat scroll 0 0 whitesmoke;
        border: 1px solid;
        border-radius: 0;
        float: right;
        font-size: 14px;
        height: 27px;
        line-height: 1;
        margin: 23px 83px 0 0;
        padding: 3px;
        width: 170px;
    }
    .show_date_range > span {
        font-size: 13px;
        margin: 0 0 0 18px;
    }

    .warning_message {
        font-size: 17px;
        margin: 100px;
    }

    .maincontainerCss {
       width: auto !important;
    }

    .ad_row:hover {
        cursor: pointer !important;
    }
</style>

<script type="application/javascript">
    $("document").ready(function()
    {
        $(".styled-select").change(function()
        {
          var date = $(this).val()
          console.log($(this).val())
            window.location.href = "/admin/advertisements?date="+ date
        })

        $(".ad_row").click(function()
        {
            var id = $(this).attr("id")
            window.location.href = "/admin/advertisements/" + id + "/edit"
        })
    });
</script>

<style type="text/css">

    /*
    This was made by João Sardinha
    Visit me at http://johnsardine.com/

    The table style doesnt contain images, it contains gradients for browsers who support them as well as round corners and drop shadows.

    It has been tested in all major browsers.

    This table style is based on Simple Little Table By Orman Clark,
    you can download a PSD version of this at his website, PremiumPixels.
    http://www.premiumpixels.com/simple-little-table-psd/

    PLEASE CONTINUE READING AS THIS CONTAINS IMPORTANT NOTES

    */

    /*
    Im reseting this style for optimal view using Eric Meyer's CSS Reset - http://meyerweb.com/eric/tools/css/reset/
    ------------------------------------------------------------------ */
    body, html  { height: 100%; }
    html, body, div, span, applet, object, iframe,
        /*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    body { line-height: 1; }
    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
    :focus { outline: 0; }
    del { text-decoration: line-through; }
    table {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

    /*------------------------------------------------------------------ */

    /*This is not important*/

    /*a:link {*/
        /*color: #666;*/
        /*font-weight: bold;*/
        /*text-decoration:none;*/
    /*}*/
    /*a:visited {*/
        /*color: #666;*/
        /*font-weight:bold;*/
        /*text-decoration:none;*/
    /*}*/
    /*a:active,*/
    /*a:hover {*/
        /*color: #bd5a35;*/
        /*text-decoration:underline;*/
    /*}*/


    /*
    Table Style - This is what you want
    ------------------------------------------------------------------ */
    table a:link {
        color: #666;
        font-weight: bold;
        text-decoration:none;
    }
    table a:visited {
        color: #999999;
        font-weight:bold;
        text-decoration:none;
    }
    table a:active,
    table a:hover {
        color: #bd5a35;
        text-decoration:underline;
    }
    table {
        font-family:Arial, Helvetica, sans-serif;
        color:#666;
        font-size:12px;
        text-shadow: 1px 1px 0px #fff;
        background:#eaebec;
        margin:20px;
        border:#ccc 1px solid;

        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;

        -moz-box-shadow: 0 1px 2px #d1d1d1;
        -webkit-box-shadow: 0 1px 2px #d1d1d1;
        box-shadow: 0 1px 2px #d1d1d1;
    }
    table th {
        padding:10px 10px 10px 10px;
        border-top:1px solid #fafafa;
        border-bottom:1px solid #e0e0e0;

        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
        background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
    }
    table th:first-child{
        text-align: left;
        padding-left:20px;
    }
    table tr:first-child th:first-child{
        -moz-border-radius-topleft:3px;
        -webkit-border-top-left-radius:3px;
        border-top-left-radius:3px;
    }
    table tr:first-child th:last-child{
        -moz-border-radius-topright:3px;
        -webkit-border-top-right-radius:3px;
        border-top-right-radius:3px;
    }
    table tr{
        text-align: center;
        padding-left:20px;
    }
    table tr td:first-child{
        text-align: left;
        padding-left:20px;
        border-left: 0;
    }
    table tr td {
        padding:10px;
        border-top: 1px solid #ffffff;
        border-bottom:1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;

        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
        background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
    }
    table tr.even td{
        background: #f6f6f6;
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
        background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
    }
    table tr:last-child td{
        border-bottom:0;
    }
    table tr:last-child td:first-child{
        -moz-border-radius-bottomleft:3px;
        -webkit-border-bottom-left-radius:3px;
        border-bottom-left-radius:3px;
    }
    table tr:last-child td:last-child{
        -moz-border-radius-bottomright:3px;
        -webkit-border-bottom-right-radius:3px;
        border-bottom-right-radius:3px;
    }
    table tr:hover td{
        background: #f2f2f2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
        background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
    }

</style>