<center><h1>List Of Advertisements </h1></center>
 <%=link_to "Create New Advertisement",new_admin_advertisement_path, :class=>"btn btn-primary new_ad", :style=>'background:#16c3d7;' %>
 <%= select_tag(:date_from_dropdown, options_for_select(@collections_for_dropdown, params[:date]), :class => "styled-select") %>
<br />
<table border="1" width="90%">
<tr>
  <th> Name </th>
  <th> Status </th>
  <th> Start Date</th>
  <th> End Date</th>
  <th> Clicks</th>
  <th> Impr.</th>
  <th> CTR</th>
  <th> Cost</th>
  <th> Products</th>
  <th colspan="2">Actions</th>
</tr>
 <%@advertisements.each do |ad | %>
   <tr>
     <td><%= ad.name  %> </td>
     <td><%= get_ad_status(ad.id)  %> </td>
     <td> <%= ad.start_date.strftime("%d-%m-%Y") unless ad.start_date.blank? %></td>
     <td> <%= ad.end_date.strftime("%d-%m-%Y") unless ad.end_date.blank? %></td>
     <td><%= @extra_ad_details["#{ad.id}"]["impressions"]%></td>
     <td><%= @extra_ad_details["#{ad.id}"]["clicks"]%></td>
     <td><%= @extra_ad_details["#{ad.id}"]["ctr"]%></td>
     <td><%= @extra_ad_details["#{ad.id}"]["cost"]%></td>
     <% collected_item_ids = ad.content.blank? ? "" : ad.content.related_items.collect(&:item_id).join(',') %>
     <td><% Item.where("id in ('#{collected_item_ids}')").each do |it| %>
     <%= it.name %>,&nbsp; <%end%></td>
     <td> <%= link_to "Edit",edit_admin_advertisement_path(ad) %> </td>
     <td> <%= link_to "view chart", admin_ad_report_view_ad_chart_path(:advertisement_id => ad.id), :target => "_blank" %> </td>
  </tr>
<%end%>  
 </table>
 <%= will_paginate @advertisements, :params => {:test => 123} %>


<style type="text/css">
    .pagination {
        margin: 20px 67px 0 0 !important;
    }
    table {
        margin-left: 20px !important;
        font-size: 12px;
        margin-top: 40px;
    }
    .new_ad {
        margin: 20px;
    }
    .styled-select{
        background: none repeat scroll 0 0 whitesmoke;
        border: 1px solid;
        border-radius: 0;
        float: right;
        font-size: 14px;
        height: 27px;
        line-height: 1;
        margin: 23px 83px 0 0;
        padding: 3px;
        width: 170px;
    }
</style>

<script type="application/javascript">
    $("document").ready(function()
    {
        $(".styled-select").change(function()
        {
          var date = $(this).val()
          console.log($(this).val())
            window.location.href = "/admin/advertisements?date="+ date
        })
    });
</script>