<center><h2> Impression and Click Report - <%=@publisher.publisher_url %></h2> </center>
<br/>

<%= form_for :impression,:url => admin_click_reports_path,:method => :get do |f| %>
<span style="width: 100px;display: block;float: left;height: 20px;text-align: center;padding-top: 5px;">

	<%= select_tag(:date_from_dropdown, options_for_select([["Select a date Range", 0],['Yesterday', 1], ['Last Week', 7], ['Last month', 30], ['Last 3 months', 90], ['Last 6 Months', 180]])) %>
</span>

	<script>
		$("#date_from_dropdown").live("change", function(){
			days = $(this).val();
			var date = new Date();
			date.setDate(date.getDate() - days);
			var from_date = date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear();
			$("#from_date").val(from_date);
			date = new Date();
			// date.setDate(date.getDate() - 1);
			var to_date = date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear();
			$("#to_date").val(to_date);
		});
	</script>
	<br/>
	<br/>
	<br/>

<div>
	<span style="width:100px;display:block;float:left;padding-top:5px;">
From Date
</span>
<span style="width: 100px;display: block;float: left;height: 20px;text-align: center;padding-top: 5px;">
<%= text_field_tag :from_date,@start_date.to_date.strftime("%d-%m-%Y"), :style=> "padding:2px;width:100px;" %>
</span>
<script>
  $("#from_date").datepicker({ dateFormat: 'dd-mm-yy' });
</script>
<br/>
</div>
<div style="display:block;padding-top:10px;clear:both;">
<span style="width:100px;display:block;float:left;padding-top:5px;">
To Date
</span>
<span style="width: 100px;display: block;float: left;height: 20px;text-align: center;padding-top: 5px;">
<%= text_field_tag :to_date,@end_date.to_date.strftime("%d-%m-%Y"), :style=> "padding:2px;width:100px;" %>
</span>
</div>
<div style="width:200px;padding-left:100px;display:block;clear:both;padding-top:20px;">
<%= f.submit 'Generate Report', :class => "btn-link" %>
</div>
<%end%>
<script>
  $("#to_date").datepicker({ dateFormat: 'dd-mm-yy' });
</script>
<div style="border-bottom: 1px solid lightgray;width: 100%;clear: both;padding-top: 10px;"></div><br /><br />
<div id="report" >
  <%= render "report" %>
</div>
