 <script  type="text/javascript" src="/javascripts/expanding.js"></script>
 <%= form_for @contact_us,:url => {:action=>"create", :controller=>"contact_us"},:method => :post  do |f| %>
   <div ID="new_answer_content_block" style="padding:5px 5px 0px 5px;height:400px;">  
     <div style="padding:5px 5px 0px 0px;text-align:center">
    <span class="Popuptitle"><center> <h1>Contact US</h1> </center></span>
    You can send a mail to admin@plannto.com to contact us or fill the following form and send it to us.
 <br/>
 <br />
  <h2><%= flash[:notice] %></h2>
    <div class="productreview" style="clear:both;width:540px;margin:20px 0px 0px 0px;">
     <%if @contact_us.errors.any? %>
   <h2> Please fill required fields.. </h2>
   <br />
   <br />
  <%end%>
  <div class="title_header float_lft">Title* :</div> 
  <div style="float:left;"><%= f.text_field :report_type,:class => 'textFilling'%></div>
<br />
   <div style="clear:both;">
        <div class="title_header float_lft" style="padding:0px 0px 0px 0px;">Description* :</div>

        <div style="float:left;"><%= f.text_area :description, :class => 'textFilling',:style=> 'width:400px;height:75px;'%></div>
 

    <div style="padding:0px 5px 5px 5px; float:right; width:60%; margin-right:40px; margin-top:20px ">  <%= f.submit 'Send', :class => 'btn_submitanswer',:id => "publishanswer" %>
    </div>
       </div>
  </div>
</div>

</div>
<% end %>
<%= render "shared/expanding_text_area_style" %>

