<%= form_for content,:remote => true,:id =>"answer_content" do |f| %>
<div class="popup-background">
  <a href="#" class="Closebut" style="display:none;">&nbsp;</a>
<div ID="new_answer_content_block" style="padding:5px 5px 0px 5px;height:150px;">  
 <div style="padding:5px 5px 0px 0px;text-align:center">
  
 <span class="Popuptitle"><center> <h1>Edit <%=@content.type.underscore.humanize%></h1> </center></span>
 <br />
   <div style="clear:both;"></div>
<div class="productreview" style="clear:both;">
   <div class="title_header float_lft" style="display:none;">Rating :</div></div>
    <div style="padding:0px 500px 0px 5px;">
      <div style="clear:both;"></div>
       <%= f.text_area :description, :id => "answer_edit", :class => 'textFilling answer_editor', :style=> 'width:400px;height:50px;' %>
      </div>
    </div>
      <div style="clear:both;"></div>
    <div style="padding:0px 5px 5px 5px; float:right; width:100%; margin-right:40px; margin-top:20px ">  <%= f.submit 'Update Answer', :class => 'btn_submitanswer',:id => "updateanswer" %>
    <span id="spinner_answer" style="padding:0px 0px 0px 180px;display:none">
      <%= image_tag '/images/ajax-loader.gif' %>
     </span>
 <script type="text/javascript">
   <%= render "/shared/text_editor_js" %> 
</script>
<style>

span.defaultSkin table.mceLayout tbody tr.mceLast td.mceStatusbar {
    display: none !important;
}
</style>
       <script>
      $(function() {
       $("form").bind("ajax:beforeSend", function(){
        $("#spinner_answer").show();
      })
         $("form").bind("ajax:complete", function(){
         $("#spinner_answer").hide();
       })
      });
</script>
    </div>
   
    </div>
      <div style="clear:both;"></div>
</div>
<% end %>

<script>
 
  $(document).ready(function(){
    $("#updateanswer").click(function(e){
      var valid = validateAnswerForm();
      if (!valid){
        return false;
      }
   });
      }); 
    function validateAnswerForm(){
      $('#answer_edit').poshytip('destroy')
      var valid = true;
      if ($("#answer_edit").val() == ""){
        $('#answer_edit').poshytip({
          className: 'tip-darkgray',
          content: 'Please enter the answer.',
          showOn: 'none',
          alignTo: 'target',
          alignX: 'right',
          offsetX: 5,
          alignY: 'center'
        });
        $('#answer_edit').poshytip('show');
        valid = false

      }
       return valid
    }
  </script>
