<div id="breadcrump" class="breadcrump">
  <a class="alink" href="<%= display_item_type_url(@item) %>"><%= display_item_type(@item) %></a>
  <a class="grayarrow">></a>
  <a class="alink" href="<%= display_item_manufacturer_url(@item) %>"><%= display_item_manufacturer(@item) %></a>
  <a class="grayarrow">></a>
  <a class="alink" href="<%= display_item_group_url(@item) %>"><%= display_item_group(@item) %></a>
  <a class="grayarrow">></a>
  <a id="alink_active"><%= display_item(@item) %></a>

</div>


<!-- FIX ME -->

