<div id="breadcrump" class="breadcrump">
  <%= raw display_item_type(@item) %>
  <% if( (@item.is_a? Product) || (@item.is_a? CarGroup))
  %>
  <a class="grayarrow">></a>
  <a class="alink" href="<%= display_item_manufacturer_url(@item) %>"><%= display_item_manufacturer(@item) %></a>
  <%end%>
  <% if(@item.is_a? Product)
  %>
  <a class="grayarrow">></a>
  <a class="alink" href="<%= display_item_group_url(@item) %>"><%= display_item_group(@item) %></a>
  <%end%>
  <a class="grayarrow">></a>
  <a id="alink_active"><%= display_item(@item) %></a>

</div>


<!-- FIX ME -->

