<div id="breadcrump" class="breadcrump" style="padding:10px 0px 0px 10px;">
  <% if( (@item.is_a? Product) || (@item.is_a? CarGroup))
  %>
  <%= raw display_item_type(@item) %>
  
  <a class="grayarrow">></a>
  <a class="alink" href="<%= display_item_manufacturer_url(@item) %>"><%= display_item_manufacturer(@item) %></a>
  
  <% if((@item.is_a? (Product)) && !(@item.cargroup.nil?))
  %>
  <a class="grayarrow">></a>
  <a class="alink" href="<%= display_item_group_url(@item) %>"><%= display_item_group(@item) %></a>
  <%end%>
  <a class="grayarrow">></a>
  <a id="alink_active"><%= display_item(@item) %></a>
<%end%>
</div>


<!-- FIX ME -->

