<%= javascript_include_tag "/javascripts/expanding.js" %>
<div class="popup-background">
  <a href="#" class="Closebut">&nbsp;</a>
	<%= form_for  ContentAction.new, :url => content_action_admin_feed_path(@content), :method => :post,:remote => true do |f| -%>
	     <div style="padding:0px 500px 0px 5px;">
        <div class="title_header float_lft">Reason for delete/reject :</div>
        <div style="margin-left:80px;">
       <%= f.text_area :reason, :class => 'textFilling expanding', :id=>"report",:style=> 'width:400px;height:100px;' %>
     </div>
      <%= hidden_field_tag 'detail',@detail %>
       <div style="clear:both;"></div>
      </div>
      <br /> <br />
       <div class="title_header float_lft">Send mail :</div> <%= f.check_box :sent_mail %>
	 <div style="padding:100px 0px 0px 900px; float:right; width:100%; margin-right:5px; margin-top:20px ">
        <%= f.submit 'Submit', :class => 'btn_submitanswer',:id => "publishanswer" %>
        <%= render "shared/ajax_loader" %>
        <div style="clear:both;"></div>
    </div>
     <div style="clear:both;"></div>
	<% end -%>  			
	<%= render "shared/expanding_text_area_style" %>
	</div>
	
