<%if @static_page1=="true"%>
  <%= stylesheet_link_tag  "/stylesheets/newdesign.css" %>
<%end%>
  <%if @buying_warning_message == "true" && 1==2 %>
    <div class="outerdivwarning">
    <div  class="innerdivwarning">
        <span>This buying plan is created temporarily for you<!-- which will expire after sometime-->, to access it later please sign up. </span> 
     <%= link_to "Sign up", new_registration_path(User.new,:type => "without_login"),:class =>"hyperlinkwarning" %></a>
   </div>
  </div>
  <div style="display:block;height:30px;"></div>
 <%elsif @static_page!="true" && (session[:product_warning_message] == "true" || (!current_user&& session[:warning] == "true") &&  session[:itemtype]!='') && 1==2%>
 <div id="giveAdviceDialog"> </div>

  <div class="outerdivwarning">
  <div  class="innerdivwarning">
    <span>Are you planning to buy a <%= session[:itemtype] %>? Get all the information required for you to take a informed decision.</span> 
      <%buying_plan =  BuyingPlan.finding_buyng_plan(current_user,session[:itemtype],request.remote_ip) %>
      <%if buying_plan.blank? %>
        <%=link_to  'Show Me'.html_safe ,new_preference_path(:search_type => "#{session[:itemtype]}",:search => "true"),:class=> "hyperlinkwarning",:remote => :true %>
      <%else%>
       <%=link_to  'Show Me'.html_safe, buying_plan.preference_page_url,:class=> "hyperlinkwarning" %> 
     <%end%>    
  </div>
</div>
<div style="display:block;height:30px;"></div>
<%elsif @static_page!="true" && (session[:content_warning_message] == "true" || (!current_user && session[:warning]== "true") ) &&  session[:itemtype]!='' && 1==2%>
 <div class="outerdivwarning">
 <div id="giveAdviceDialog"> </div>
  <div  class="innerdivwarning">
    <span>Are you planning to buy a <%= session[:itemtype] %>? Get all the information required for you to take a informed decision.</span> 
   <%buying_plan =  BuyingPlan.finding_buyng_plan(current_user,session[:itemtype],request.remote_ip) %>
      <%if buying_plan.blank? %>
        <%=link_to  'Show Me'.html_safe ,new_preference_path(:search_type => "#{session[:itemtype]}",:search => "true"),:class=> "hyperlinkwarning",:remote => :true %>
      <%else%>
       <%=link_to  'Show Me'.html_safe, buying_plan.preference_page_url,:class=> "hyperlinkwarning" %> 
     <%end%>    
  </div>
</div>
<div style="display:block;height:30px;"></div>
<%end%>
 <% a= @static_page == 'true' ? 'display:none' : '' %>
 <%#if @static_page == 'true' %>    
    <div class="dppattern">
    <div id="header12" style="">       
          <div class="logodiv">
            <h1 class="logo"><a href="/">
                  <img src="/images/logo_new.png" alt="PlannTo" />
             </a></h1>
           </div>
      <div id="static" style="<%= a %>" >

              <div class="inner-top-search">
                <form id="search-form">
                    <input class="search-input-text" type="text" name="plannToSearch" placeholder="Search"  id="plannToSearch"/>
                    <input class="search-input-submit" type="submit" value="" />
                </form>
              </div>              

              <!-- <div class="search">
              
                <span class="search_txt" id="plannToSearchSpan">
                    <input name="Search" type="text" placeholder="Search Products or Topics or Contents" id="plannToSearch"/>
                        </span>
                    <div id="item_search1"></div>
                  -->
                        <!--<= select_tag "plannto_search_type",
                    options_for_select([["Select", ""], ["Car", "Car"], ["Mobile", "Mobile"], ["Tablet", "Tablet"], ["Camera", "Camera"], ["Others", "Others"] ], default_search_type(params[:search_type])), :style => "" %>   -->
               <!--

                      <a class="btn_search" href="#"></a>
                </div>
                
                <span>
                  -->
                <div class="top-icons">

                 <a href="<%= "/" + "#{current_user.username}" + "?follow=Followers"  rescue "#" %>" class="icon_user"></a>
                 
-                  <a class="icon_chat" href="<%=messages_url%>"></a>
                
                </div> 
          
   </div>
   <!-- dont delete div it requires for search autocomplete -->
<div id="item_search1"></div>

 <%#else%>
    <!--<div class="divbody">
        <div class="header" style="clear:both;">
            <span class="logo" ><a href="/"><img src="/images/logo.png"/></a></span>

            <div id="static" style="<%= a %>" >
               <div class="search">
              
                <span class="search_txt" id="plannToSearchSpan">
                    <input name="Search" type="text" placeholder="Search Products or Topics or Contents" id="plannToSearch"/>
                        </span>
                    <div id="item_search1"></div>
                    -->
                        <!--<= select_tag "plannto_search_type",
                    options_for_select([["Select", ""], ["Car", "Car"], ["Mobile", "Mobile"], ["Tablet", "Tablet"], ["Camera", "Camera"], ["Others", "Others"] ], default_search_type(params[:search_type])), :style => "" %>   -->
               <!--

                      <a class="btn_search" href="#"></a>
                </div>

                <span>
                 <a href="<%#= "/" + "#{current_user.username}" + "?follow=Followers"  rescue "#" %>" class="icon_user"></a>
                 
                  <a class="icon_chat" href="<%=messages_url%>"></a>
                </span>
            </div> 
             -->
 <%#end%>      
       
      <!--header right part start here-->
   
      
      <!--buttons-->
      <!--
      <div class="Headerrightbuttons">
        <ul>
          <li>
            <a href="#"><span>Create<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Question</a>
                 <a href="#">Apps</a>
              </div>
          </li>
          <li>
            <a href="#"><span>Submit<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Tips</a>
                 <a href="#">Apps</a>
              </div>
          </li>
        </ul>
      </div>
    -->

<%unless @homepage == "true" or (@static_page == "true" && current_user.nil?) %>
 
<div class="Headerrightpart"> 
 <script type="text/javascript">
 $(document).ready(function(){
   
    $.ajax({
            type: "get",
            dataType: "html",
            url: "/current_user_info",
            success: function(data) {
                // $('#DirectMessage').html(data);
                $(".Headerrightpart").html(data);
                
              $('span.Usernamedp').hoverIntent(hoverdropdown,hoverdropdownreverse);
              function hoverdropdown()
              {
              $('div.Useraccountinfo').css("display","block");
              $('span.Usernamedp').attr("style","background: #FFFFFF url(../images/down-arrow.png) no-repeat right 13px;border:1px solid #528fae; border-bottom:1px solid #FFFFFF; color:#000000; padding:7px 15px 10px 3px;");
              }
              function hoverdropdownreverse()
              {
              $('div.Useraccountinfo').css("display","none");
              $('span.Usernamedp').attr("style","padding:7px 16px 7px 4px; font-family:Arial, Helvetica, sans-serif; font-size:12px; display:block; float:left;color:#FFFFFF; background:url(../images/down-arrow.png) no-repeat right 13px; cursor:pointer;position:relative; z-index:90;");
              }
            }
        })
   
 })

 </script>
   </div>
  <%end%>
        <%if @static_page == "true" && (@homepage == "true" || current_user.nil?)  %>
          <%if @devise != "true" %>
             <div class="search-login-box">
                <div class="top-search">
                <%= form_for(@user, :as => :user, :url => session_path("user"), :method => :post, :html => {:class => "top-searchform"}) do |f| %>
                    <p><%= f.text_field :email,:placeholder=>"Email" ,:tabindex => "1", :class => "inputbox", :style=> "width:140px;"%></p>
                      <p><%= f.password_field :password,:placeholder=>"Password" ,:tabindex => "2" , :class=>"inputbox", :style=>"width:140px;"%></p>
                      <p><%= f.submit "Sign In" , :tabindex => "4" , :class=>"button org small", :style=>"width:68px;" %></p>
                      <p style="padding:0px"><label style="padding:0px;"> <%= f.check_box :remember_me, :size=>"0", :tabindex => "3", :style=>"min-height:13px;"%> Remember Me</label> | 
                        <%= link_to "Forgot password?",new_password_path(:user), :tabindex => "5" ,:style=>"min-height:13px;"%></p>
                  <%end%>           
                  </div>
                  <div class="orimg"></div>
                  <div class="fb-signup"> 
                    <%= link_to "Sign Up with Facebook", user_omniauth_authorize_path(:facebook, :display=>"popup"), :class => "fbpopup" %></div>                
                    <p><%= link_to "or Sign up with Email","#", :class => "signuplinkhome" , :tabindex => "5" %></p>
              </div>
              
              <script type="text/javascript">
                                $(".signuplinkhome").click(function(){
                $("#sign_up_dialog #click_message").hide();
                $('#sign_up_dialog').bPopup({
                   closeClass:'Closebut',
                   modalClose: false,
                   position: [(screen.width / 2) - (270/2), $(window).scrollTop() + 150],
                   follow: [false, false] //x, y
                 });
                 });

              </script>
              <div class="clr" style="clear:both;"></div>
              <%= render partial: "shared/home_signup" %>
            <br/>
      <%end%>
     <%else%>
     
   <%end%>
 
<!--
    |</a>,:style=> "color:white;"
    <a href="#">Home</a>-->
</div> 
</div>  
    <!--<%=raw navigation_sub_menu(params[:search_type])%>-->
    <%= render "/layouts/navigation" %>
  



<script type="text/javascript">
 function showLoginLinks(){
    $('#login_link').show();
  }

  function showLogout(){
    $('#logout_link').show();
  }

</script>
