<div class="header">
  <span class="logo"><a href="/"><img src="/images/logo.png"/></a></span>

  <div class="search">
    <span class="search_txt" id="plannToSearchSpan">
           <input name="Search" type="text" placeholder="Search Products or Topics" id="plannToSearch"/>
            <!--<= select_tag "plannto_search_type",
        options_for_select([["Select", ""], ["Car", "Car"], ["Mobile", "Mobile"], ["Tablet", "Tablet"], ["Camera", "Camera"], ["Others", "Others"] ], default_search_type(params[:search_type])), :style => "" %>
      -->
    </span>
    <a class="btn_search" href="#"></a>
  </div>

  <span>
    <a class="icon_user" href="#"></a>
    <a class="icon_chat" href="#"></a>
  </span>

       
      <!--header right part start here-->
    <div class="Headerrightpart">
      
      <!--buttons-->
      <!--
      <div class="Headerrightbuttons">
        <ul>
          <li>
            <a href="#"><span>Create<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Question</a>
                 <a href="#">Apps</a>
              </div>
          </li>
          <li>
            <a href="#"><span>Submit<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Tips</a>
                 <a href="#">Apps</a>
              </div>
          </li>
        </ul>
      </div>
    -->

  <span ><% if user_signed_in? %>

    <span class="Usrdropdown">
       
       <img src="<%=  current_user.get_photo%>" alt="User Name" title="<%=  current_user.name%>" style="width:24px;height:24x;"/>
       
         <span class="Usernamedp"><a href="#"><%=  current_user.name%></a>
           <div class="Useraccountinfo">
             <%= link_to "Account Setting", accounts_path %>
             <%= link_to "Profile",  "/" + "#{current_user.username}" %>
             <%= link_to "My feeds", my_feeds_path %>
             <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
           </div>
         </span>
       
    </span> 
    <% else %>
      <span class="txt_welcome">
      <%= link_to "Sign In", "#",:onclick =>"$('#dialog-form').dialog({modal: true,height: 600,width: 350 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();" , :class => "sign_in" %> | <%= link_to "Sign Up", "#",:onclick =>"$('#sign_up_dialog').dialog({modal: true,height: 600,width: 350 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();" %>
    </span>
    <% end %>

<!--
    |</a>
    <a href="#">Home</a>-->
  </span>
</div>
  
    <!--<%=raw navigation_sub_menu(params[:search_type])%>-->
    <%= render "/layouts/navigation" %>
  
</div>

<script type="text/javascript">


  function showLoginLinks(){
    $('#login_link').show();
  }

  function showLogout(){
    $('#logout_link').show();
  }

</script>
