<div id="giveAdviceDialog"></div>
  <%if @buying_warning_message == "true" %>
    <div class="outerdivwarning">
    <div  class="innerdivwarning">
        <span>This buying plan is created temporarily for you<!-- which will expire after sometime-->, to access it later please sign up. </span> 
     <%= link_to "Sign up", new_registration_path(User.new,:type => "without_login"),:class =>"hyperlinkwarning" %></a>
   </div>
  </div>
 <%elsif @static_page!="true" && @product_warning_message == "true"%>
  <div class="outerdivwarning">
  <div  class="innerdivwarning">
    <span>Are you planning to buy a <%= @item.itemtype.itemtype.downcase%>? Get all the information required for you to take a informed decision.</span> 
    <%=link_to  'Show Me'.html_safe ,new_preference_path(:search_type => "#{@item.itemtype.itemtype}"),:class=> "hyperlinkwarning",:remote => :true %>
  </div>
</div>
<%elsif @static_page!="true" && @content_warning_message == "true"%>
 <div class="outerdivwarning">
  <div  class="innerdivwarning">
    <span>Are you planning to buy a <%= @content.items.first.itemtype.itemtype.downcase%>? Get all the information required for you to take a informed decision.</span> 
    <%=link_to  'Show Me'.html_safe ,new_preference_path(:search_type => "#{@content.items.first.itemtype.itemtype}"),:class=> "hyperlinkwarning",:remote => :true %>
  </div>
</div>

<%end%>
 <% a= @static_page == 'true' ? 'display:none' : '' %>
 <%if @static_page == 'true' %>
    <div class="divbody1">
 <%else%>
    <div class="divbody">
 <%end%>      
<div class="header" style="clear:both;">
  <span class="logo" ><a href="/"><img src="/images/logo.png"/></a></span>

  <div id="static" style="<%= a %>" >
   <div class="search">
  
    <span class="search_txt" id="plannToSearchSpan">
           <input name="Search" type="text" placeholder="Search Products or Topics" id="plannToSearch"/>
            <!--<= select_tag "plannto_search_type",
        options_for_select([["Select", ""], ["Car", "Car"], ["Mobile", "Mobile"], ["Tablet", "Tablet"], ["Camera", "Camera"], ["Others", "Others"] ], default_search_type(params[:search_type])), :style => "" %>   -->
   
    </span>
    <a class="btn_search" href="#"></a>
  </div> 

  <span>
   <a href="<%= "/" + "#{current_user.username}" + "?follow=Followers"  rescue "#" %>" class="icon_user"></a>
   
    <a class="icon_chat" href="<%=messages_url%>"></a>
  </span>
  </div> 

       
      <!--header right part start here-->
   
      
      <!--buttons-->
      <!--
      <div class="Headerrightbuttons">
        <ul>
          <li>
            <a href="#"><span>Create<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Question</a>
                 <a href="#">Apps</a>
              </div>
          </li>
          <li>
            <a href="#"><span>Submit<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Tips</a>
                 <a href="#">Apps</a>
              </div>
          </li>
        </ul>
      </div>
    -->

  <% if user_signed_in? %>
<div class="Headerrightpart"> <span>
    <span class="Usrdropdown">
       
       <img src="<%=  current_user.get_photo%>" alt="User Name" title="<%=  current_user.name%>" />
       
         <span class="Usernamedp"><a href="#"><%=  current_user.name%></a>
           <div class="Useraccountinfo">
             <%= link_to "Account Setting", accounts_path %>
             <%= link_to "Profile",  "/" + "#{current_user.username}" %>
             <%= link_to "My feeds", "/" %>
              
             <%= link_to "Buying Plans","/" + "#{current_user.username}" + "?follow=Preferences" %>
             
             <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
           </div>
         </span>
       
    </span> 
   </span>
   </div>
    <% else %>
      <%if @static_page == "true"  %>
      <%if @devise != "true" %>
     <div style="float:right;padding:6px 0px 0px 0px;">
         <div>
         <div style="float:left;"> 
         <%= form_for(@user, :as => :user, :url => session_path("user"), :method => :post) do |f| %>
         <%= f.text_field :email,:placeholder=>"Email" ,:tabindex => "1" , :style=> "width:180px;padding-left:2px;"%>
          <%= f.password_field :password,:placeholder=>"Password" ,:tabindex => "2" , :style=> "width:180px;padding-left:2px;"%>
        </div>
          <div style="float:right;padding-left:4px;">
          <%= f.submit "Sign In" , :tabindex => "4" , :class=>"Bluesubmit3" %> 
          </div>
          </div>
          <br/>
          <div style="clear:both;float:left;padding-left:3px;margin-top:-5px;">
            <label style="margin:0px 0px 0px 0px; font-family: Tahoma; font-size: 9px;top:-5px;display:block;text-indent:-15px;padding-left:13px;color:grey;"> Remember me.
            
             <%= f.check_box :remember_me, :size=>"0", :tabindex => "3" , :style => "height:13px;width:13px;vertical-align:bottom; position: relative;margin:0;*overflow: hidden;top:3px;"%>
           
           </label>
           </div>
          <div style="float:left;padding-left:110px;">
         <%= link_to "Forgot password?",new_password_path(:user), :tabindex => "5" , :style=>"color:grey;font-size:9px;text-decoration:none;"%>
          </div>
          
        <%end%>            
 
   
    </div>
    <%end%>
     <%else%>
       <%if @devise != "true" %>
  
      <div style="float:right;padding:20px 0px 0px 0px;">
         <span>
 <%= link_to "Sign In", "#",:onclick =>"$('#dialog-form #click_message').hide();$('#dialog-form').dialog({modal: true,height: 480,width: 275 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();" , :class => "sign_in" %> | <%= link_to "Sign Up", "#",:onclick =>"$('#sign_up_dialog').dialog({modal: true,height: 480,width: 275 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();" %> 
        
   </span>
   </div> 
   <%end%>
   <%end%>
  
    <% end %>

<!--
    |</a>
    <a href="#">Home</a>-->
 
  
    <!--<%=raw navigation_sub_menu(params[:search_type])%>-->
    <%= render "/layouts/navigation" %>
  
</div>

</div>
<script type="text/javascript">


  function showLoginLinks(){
    $('#login_link').show();
  }

  function showLogout(){
    $('#logout_link').show();
  }

</script>
