<div class="header">
  <span class="logo" ><a href="/"><img src="/images/logo.png"/></a></span>
  <% if @static_page != "true" %>
   <div class="search">
  
    <span class="search_txt" id="plannToSearchSpan">
           <input name="Search" type="text" placeholder="Search Products or Topics" id="plannToSearch"/>
            <!--<= select_tag "plannto_search_type",
        options_for_select([["Select", ""], ["Car", "Car"], ["Mobile", "Mobile"], ["Tablet", "Tablet"], ["Camera", "Camera"], ["Others", "Others"] ], default_search_type(params[:search_type])), :style => "" %>   -->
   
    </span>
    <a class="btn_search" href="#"></a>
  </div> 

  <span>
    <a class="icon_user" href="#"></a>
    <a class="icon_chat" href="<%=messages_url%>"></a>
  </span> 
 <%end%>
       
      <!--header right part start here-->
   
      
      <!--buttons-->
      <!--
      <div class="Headerrightbuttons">
        <ul>
          <li>
            <a href="#"><span>Create<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Question</a>
                 <a href="#">Apps</a>
              </div>
          </li>
          <li>
            <a href="#"><span>Submit<span class="Arrow"></span></span></a>
              <div class="Useraccountinfo">
                 <a href="#">Review</a>
                 <a href="#">Tips</a>
                 <a href="#">Apps</a>
              </div>
          </li>
        </ul>
      </div>
    -->

  <% if user_signed_in? %>
<div class="Headerrightpart"> <span>
    <span class="Usrdropdown">
       
       <img src="<%=  current_user.get_photo%>" alt="User Name" title="<%=  current_user.name%>" style="width:24px;height:24x;"/>
       
         <span class="Usernamedp"><a href="#"><%=  current_user.name%></a>
           <div class="Useraccountinfo">
             <%= link_to "Account Setting", accounts_path %>
             <%= link_to "Profile",  "/" + "#{current_user.username}" %>
             <%= link_to "My feeds", "/" %>
             <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
           </div>
         </span>
       
    </span> 
   </span>
   </div>
    <% else %>
      <%if @static_page == "true" %>
     <div style="float:right;padding:6px 0px 0px 0px;">
         <div>
         <%= form_for(@user, :as => :user, :url => session_path("user"), :method => :post) do |f| %>
         <%= f.text_field :email,:placeholder=>"Email" ,:tabindex => "1" , :style=> "width:180px;"%>
          <%= f.password_field :password,:placeholder=>"Password" ,:tabindex => "1" , :style=> "width:180px;"%>
          <%= f.submit "Sign In" , :tabindex => "4" %> 
          </div>
          <div style="float:left;padding-left:3px;">
            <label style="margin:0px 0px 0px 0px; font-family: Tahoma; font-size: 11px;top:-2px;display:block;text-indent:-15px;padding-left:15px;"> Remember me.
            
             <%= f.check_box :remember_me, :size=>"0", :tabindex => "3" , :style => "height:13px;width:13px;vertical-align:bottom; position: relative;margin:0;*overflow: hidden;top:-1px;"%>
           
           </label>
           </div>
          <div style="float:left;padding-left:100px;">
         <%= link_to "Forgot password?",new_password_path(:user), :tabindex => "5" %>
          </div>
          
        <%end%>            
 
   
    </div>
     <%else%>
      <div style="float:right;padding:20px 0px 0px 0px;">
         <span>
 <%= link_to "Sign In", "#",:onclick =>"$('#dialog-form').dialog({modal: true,height: 480,width: 275 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();" , :class => "sign_in" %> | <%= link_to "Sign Up", "#",:onclick =>"$('#sign_up_dialog').dialog({modal: true,height: 480,width: 275 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();" %> 
        
   </span>
   </div> 
   <%end%>
  
    <% end %>

<!--
    |</a>
    <a href="#">Home</a>-->
 
  
    <!--<%=raw navigation_sub_menu(params[:search_type])%>-->
    <%= render "/layouts/navigation" %>
  
</div>


<script type="text/javascript">


  function showLoginLinks(){
    $('#login_link').show();
  }

  function showLogout(){
    $('#logout_link').show();
  }

</script>
