<div class="Popuptitlebar">
<span class="Popuptitle"><center> <h1><label class="signupin">Sign In</label> </center><%if @popup == "true" %><a href="#" class="Closebut">&nbsp;</a> <%end%></h1></span>
<div id="click_message"></div>
</div>
<div class="Popupmiddercontent">
<div class="Popupfacebook">

<div class="FaceImg">
  <%= link_to image_tag('/images/facebook_btn.png'), user_omniauth_authorize_path(:facebook, :display=>"popup"), :class => "fbpopup" %>
</div>
</div>

<div class="PopupOr"><img alt="" src="/images/or_icon.png"></div>
   
   <div class="Popupinputblock">
              
                <label style="margin-left:-2px;">Email</label>
                <span class="Textinput">
                  <%= f.text_field :email,:size =>"27", :tabindex => "1" %>
               	 
                  </span>
            </div>
            
       <div class="Popupinputblock">
                <span>Password</span><span class="Forgotpassword" ><%= link_to "forgot password?",new_password_path(:user), :tabindex => "5" ,:style=>"font-family: Tahoma; font-size: 10px;"%></a></span>
                <span class="Textinput">
                <%= f.password_field :password,:size =>"27" , :tabindex => "2"%>

         </span>
            </div>
            
        <div class="Popupinputblock">
      
        <div class="Rememberme" style="font-family: Tahoma; font-size: 10px;margin-top:3px;">Remember me</div>
         <div><%= f.check_box :remember_me , :tabindex => "3"%> </div>
         </div>
        
        <div class="Bluesubmit2"  >
          <%= f.submit "Sign In" , :tabindex => "4"%>
          <%= link_to "Sign Up", new_user_registration_path, :class => "sign_up_btn" %>
        </div>
    </div>
<div class="Clearboth"></div>








<style type="text/css">
    .sign_up_btn {
        background: -moz-linear-gradient(center top, #90cddb, #528d9c) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #727272;
        color: #fef4e9;
        cursor: pointer;
        display: inline-block;
        float: left;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        outline: medium none;
        padding: 2px 10px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }

    .sign_up_btn {
        clear: both;
        float: left;
        margin-left: 15px;
        position: absolute;
    }
</style>