<div class="Popuptitlebar">
<span class="Popuptitle"><center> <h1><label class="signupin">Sign In</label> </center><%if @popup == "true" %><a href="#" class="Closebut">&nbsp;</a> <%end%></h1></span>
<div id="click_message"></div>
</div>
<div class="Popupmiddercontent" >
<div class="Popupfacebook">

<div class="FaceImg">
  <%= link_to image_tag('facebook_btn.png'), user_omniauth_authorize_path(:facebook, :display=>"popup"), :class => "fbpopup" %>
</div>
</div>

<div class="PopupOr"><img alt="" src="/images/or_icon.png"></div>
   
   <div class="Popupinputblock">
              
                <label style="margin-left:-2px;">Email</label>
                <span class="Textinput">
                  <%= f.text_field :email,:size =>"27", :tabindex => "1" %>
               	 
                  </span>
            </div>
            
       <div class="Popupinputblock">
                <span>Password</span><span class="Forgotpassword" ><%= link_to "forgot password?",new_password_path(:user), :tabindex => "5" ,:style=>"font-family: Tahoma; font-size: 10px;"%></a></span>
                <span class="Textinput">
                <%= f.password_field :password,:size =>"27" , :tabindex => "2"%>
               	
         </span>
            </div>
            
        <div class="Popupinputblock">
      
        <div class="Rememberme" style="font-family: Tahoma; font-size: 10px;margin-top:3px;">Remember me</div>
         <div><%= f.check_box :remember_me , :tabindex => "3"%> </div>
         </div>
        
        <div class="Bluesubmit2" style="margin:5px 0px 0px 98px;"  ><%= f.submit "Sign In" , :tabindex => "4"%> </div>           
    </div>
<div class="Clearboth"></div>











