<div class="mb-inside">
  <div class="productcontentmain">
    <div>
      <%= image_tag(get_image_url(item, 'Car'), :title => item.name, :class => "productimage") %>
    </div>
    <div>
      <span class="producttitle"><%= item.name %></span>
      <%#*</div>%>
      <div class="productprice">
        <%= item.get_price_info('Price') %>
      </div>
      <div class="productreview">
        <img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/white.gif"/>Ratings
        <a class="feedlink">(100 Reviews)</a>
      </div>
      <div class="productspecification">

        <% item.priority_specification.each do |item_attribute| %>
          <%= item_attribute.unit_of_measure %> <%= item_attribute.value %> ( <%= item_attribute.name %> ),
        <% end %>
        <div>
          <label style="color:red"><%= get_the_follow_text(follow.follow_type) %></label>
        </div>
      </div>
    </div>
  </div>
</div>
