<div class="width356" id="criteriaPopup" style="display:none">
	<!--<div class="Close_dialog" style="width:43px;overflow:hidden;float:right;height:40px;background:url(../images/pclose_but.png);" onclick="$('#criteriaPopup').hide();"></div>-->
  <span class="bg_popup_top">
    <a class="txt_black popup_heading" id="criteriaHeading"></a>
    <br/>
    <a class="txt_subcategories margin_left32" id="searchCriteriaLabel" style="font-size:10px;"></a>
    <a onclick="$('#criteriaPopup').hide();" style="float:right;margin-right:15px;margin-top:-15px;cursor:pointer;">[X]</a>
  </span><br/>
  <span class="bg_popup_bottom">
    <%=hidden_field_tag :which_attribute%>
    <%=hidden_field_tag :which_type%>
    <%=hidden_field_tag :which_form_field%>
    <%=hidden_field_tag :which_unit%>
    <%=hidden_field_tag :form_field_val%>
    <br/>
    <div class="slider">
      <%@search_info_lookups.each do |search|%>
        <%if search[:param_1][:vt] == "Between" || search[:param_1][:vt] == "GreaterThan" || search[:param_1][:vt] == "LessThen"%>
          <input id="Slider<%=search[:param_2]%>" type="slider" name="price" style="display:none" />
        <%end%>
      <%end%>
      <input id="autocompleteField" style="display:none;width: 220px;"></input>
    </div>
    <div style="clear:both;margin-top:60px;margin-right:0px">
      <a class="btn_submitanswer search" id="criteriaSubmit">Ok</a>
    </div>
  </span>
</div>
