
                    <div class="social-share box-div" style="padding:10px;">
                    	<span>Share: </span>
                    	  <a rel="nofollow external" href="http://www.facebook.com/dialog/feed?app_id=312988822129373&redirect_uri=<%=request.url%>&link=<%=request.url%>&caption= <%= caption_text %>" class="facebook" title="Share with friends on Facebook"></a>
                    	<a rel="nofollow external" href="https://twitter.com/intent/tweet?text=<%= caption_text %>  &url=<%=request.url%>&related=plannto" class="twitter" title="Share with followers on Twitter"></a>
  <a rel="nofollow external" href="https://plus.google.com/share?url=<%=request.url%>" class="gplus" title="Share with followers on Google+"></a>
  <a rel="nofollow external" href="http://pinterest.com/pin/create/button/?url=<%=request.url%>&description=<%= caption_text %>" class="pinterest" title="Share with followers on Pinterest"></a>

                    </div><!-- end of social-share -->

 

