 Share : 
  <a rel="nofollow external" href="http://www.facebook.com/dialog/feed?app_id=312988822129373&redirect_uri=<%=request.url%>&link=<%=request.url%>&caption= <%= caption_text %>" class="fbicon" title="Share with friends on Facebook">facebook</a>
  <a rel="nofollow external" href="https://twitter.com/intent/tweet?text=<%= caption_text %>  &url=<%=request.url%>&related=plannto" class="twicon" title="Share with followers on Twitter">twitter</a>
  <a rel="nofollow external" href="https://plus.google.com/share?url=<%=request.url%>" class="gpicon" title="Share with followers on Google+">google+</a>
  <a rel="nofollow external" href="http://pinterest.com/pin/create/button/?url=<%=request.url%>&description=<%= caption_text %>" class="piicon" title="Share with followers on Pinterest">pinterest</a>


