<!--popup heading bar-->
<div class="Popuptitlebar">
<center> <h1>Sign up</h1> </center>

</div>
<!--popup heading bar-->


<!--poupmidder container-->
<div class="Popupmiddercontent">


<!--content goes here-->

<div class="Popupfacebook">
<div class="FaceImg">
    <%= link_to image_tag('facebook_btn_signup.jpg'), user_omniauth_authorize_path(:facebook, :display=>"popup"), :class => "fbpopup" %>
 </div>
</div>

<div class="PopupOr"><img alt="" src="/images/or_icon.png"></div>



       <div class="Popupinputblock">
                <!--<label>Name</label>-->
                <span class="Textinput">
                  <%= f.text_field :name,:size =>"27", :placeholder => "Name" , :class => "PopupinputblockNew"%>
               	 
                  </span>
            </div>
         
       <div class="Popupinputblock">
                <!--<label>Email</label>-->
                <span class="Textinput">
                  <%= f.text_field :email,:size =>"27" , :placeholder => "Email", :class => "PopupinputblockNew"%>
               	 
                  </span>
            </div>   
             <div class="Popupinputblock">
                <!--<label>Password</label>-->
                <span class="Textinput">
                  <%= f.password_field :password,:size =>"27" , :placeholder => "Password", :class => "PopupinputblockNew"%>
               	 
                  </span>
            </div>  
       <div class="Popupinputblock">
                <!--<label>Password Confirmation</label>-->
                <span class="Textinput">
                <%= f.password_field :password_confirmation,:size =>"27" , :placeholder => "Password Confirmation", :class => "PopupinputblockNew"%>
               	
         </span>
            </div>
            
         
         <div class="Bluesubmit"><%= f.submit "Sign up" %> </div>           
         
        </div>
<!--poupmidder container-->

<div class="Clearboth"></div>


