 <div id="plannto_signin_box" style="display:none;">
   <div id="loginnotification" style="display:none"> Validation failed</div>
<div id="plannto_login">
      <%= form_for(@user, :remote => true, :as => :user, :url => session_path("user"), :method => :post) do |f| %>
<div class="plannto_Close_dialog" style="display:none;width:43px;
overflow:hidden;height:42px; background:url(../images/pclose_but.png) no-repeat left top;
position:relative; left:296px; text-indent:-9999px; top:-12px;" onclick="$('#sign_up_dialog').dialog('close');$('#dialog-form').dialog('close');"></div>
  <div class="Popuptitlebar">
<span class="Popuptitle"><center> <h1>Sign In</h1> </center></span>
</div>
<div class="Popupmiddercontent">
<div class="Popupfacebook">
<p>Sign in to PlannTo using Facebook</p>
<div class="FaceImg"><a href="#" onclick="myfunc();" ><img alt="facebook" border="0" src="/images/facebook_btn.png"></a></div>
</div>

<div class="PopupOr"><img alt="" src="/images/or_icon.png"></div>
   <div class="Popupinputblock">
                <label>Email</label>
                <span class="Textinput">
                  <%= f.text_field :email,:size =>"25" %>

                  </span>
            </div>

       <div class="Popupinputblock">
                <label>Password</label>
                <span class="Textinput">
                <%= f.password_field :password,:size =>"25" %>

         </span>
            </div>

        <div class="Popupinputblock">

        <div class="Rememberme">Remember me</div>
         <div><%= f.check_box :remember_me %> </div>
         </div>

         <div class="Bluesubmit"><%= f.submit "Sign In" %> </div>

         <div class="Forgotpassword"><%= link_to "forgot password?",new_password_path(:user) %></a></div>

</div>

<div class="Clearboth"></div>


 <%end%>

<script type="text/javascript">
function myfunc() {
  FB.login(function(response) {
    if (response.session) {
      if (response.perms) {
    } else {
   }
    } else {

    }
  }, {perms:'offline_access,read_stream'});
}
 FB.init({
    appId: "<%= Facebook.config[:client_id] %>",
    cookie: true,
    xfbml: true,
    oauth: true
  });
</script>


          <div class="Dontsignup">Don't have an account. <%= link_to "Sign up now" ,"#", :onclick =>"$('#sign_up_dialog_1').show();$('#login').hide();" %></div>
   </div>
 </div>
