<% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params) %>
<% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>

<div class="product-container-new">
  <a href="<%= shop_now_url %>" target="_blank" class="">
    <h3 class="product-title-new"><%= item_detail.ItemName.to_s.truncate(57) %></h3>
    <p class="price"><%= prettify(item_detail) %></p>
  </a>


  <div class="product-img">
    <a href="<%= shop_now_url %>" target="_blank">
      <%= get_image_tag(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name'], @item.base_item_image_url(:medium), 106, 0).html_safe %>
      <!-- <img src="<%#= item_detail.item.image_url %>" alt="" width="100px" height="100px"> -->
    </a>
  </div>


  <p class="btn">
    <a href="<%= shop_now_url %>" target="_blank" class="shop-now">Shop
      Now</a>
  </p>
</div>
<div class="product-extra-desc-new"><p>
  <%= raw get_offer_for_ad(@ad, item_detail, @vendor_ad_details[item_detail.site.to_i]['default_text'], 60, shop_now_url) %>
</p></div>


<style type="text/css">
    .advt-120 .advt-box .product-container-new {
        height: 420px;
        margin: 5px 0 0;
        padding: 5px 0px;
    }
    .product-container-new a {
        text-decoration: none !important;
    }

    .advt-120 .advt-box .product-container-new h3 {
        color: #222;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        height: 60px;
        margin: 15px 0;
        padding: 0;
        text-align: center;
        word-break:break-word;
    }
    h3.product-title-new {
        word-break: break-all;
    }
    .advt-120 .advt-box .product-container-new .price {
        color: #bf0000;
        font-family: Arial monospace;
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0;
        padding: 0;
        text-align: center;
    }
    .advt-120 .advt-box .product-container-new .product-img {
        margin: 0;
        padding: 30px 0;
      }
    .advt-120 .advt-box .product-container-new .product-img img {
        margin: 0 auto;
        text-align: center;
      }

    .advt-120 .advt-box .product-container-new.btn{ margin:15px 0px 0px 0px; padding:0; text-align:center;}
    .advt-120 .advt-box .product-container-new .btn .shop-now { margin:0; padding:5px 5px; background:#F76300; color:#fff; font-size:11px; text-transform:uppercase; border:0; cursor:pointer; display:inline-block; text-decoration:none; font-weight:bold;  text-align:center;}

    .advt-120 .advt-box .product-extra-desc-new {
        position: absolute;;
        color: #222;
        font-size: 11px;
        margin: 5px 0 0;
        padding: 15px 5px 5px 0px;
        text-align: center;
        width: 112px;
    }
</style>