<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Advt <%= @suitable_ui_size %></title>
  <link href="<%= configatron.root_image_path %>static/stylesheets/ads/fashion/<%= @ad_template_type %>/<%= @suitable_ui_size %>/style.css" type="text/css" rel="stylesheet" media="all"/>
  <link href="/stylesheets/ads/fashion/<%= @ad_template_type %>/<%= @suitable_ui_size %>/style.css" type="text/css" rel="stylesheet" media="all"/>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>

  <% if (params[:t].to_i == 1) %>
      <% if !@cookie_match.blank? && !@cookie_match.google_user_id.blank? %>
          <img src="https://www.plannto.com/pixels?google_gid=<%= @cookie_match.google_user_id %>&source=google&ref_url=<%=params[:ref_url] %>" />
      <% else %>
          <img src="https://cm.g.doubleclick.net/pixel?google_nid=plannto&google_cm&ref_url=<%= params[:ref_url] %>&t=<%= params[:t] %>&google_ula=8326120&google_ula=8365600" />
      <% end %>
  <% end %>
</head>
<body>

<div class="plannto-advertisement main_div" style="cursor:pointer;">
  <%= render :partial => "/advertisements/fashion/#{@ad_template_type}_size_#{@suitable_ui_size}.html.erb" %>
</div>
<%= hidden_field_tag :present_item_id, @item.blank? ? "" : @item.id, :id => "present_item_id=#{@item.blank? ? "" : @item.id}#" %>
</body>
</html>

<style type="text/css">
    .main_div {
        width: <%= @iframe_width %>px !important;
        height: <%= @iframe_height %>px !important;
        overflow: hidden;
    }

    h3.product-title {word-break: break-all;}

    .product-txt-desc p a {text-decoration: none;}

    a#offer_ad {
        color:#222 !important;
        font-family: Arial !important;
        font-size: 10px !important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 600;
    }

    a#offer_ad:hover
    {
        color: #009CC4 !important;

    }

    li {
        list-style: outside none none
    }

    .divshadow {
        width: 284px;
        height: 243px;
    }
</style>

<script type="application/javascript">
    $(document).ready(function()
    {
        stop_sliding = false

        if ("<%= configatron.fashion_auto_scroll %>" == "true")
        {
            auto_scroll()
        }
        else
        {
            $(".slider_plannto").hide()
            $("#1").show()
            $("#1").addClass("active")
        }
    });

    function auto_scroll()
    {
        $(".slider_plannto").each(function (index) {
            index = index + 1

            var that = this;
            var t = setTimeout(function () {
                if (stop_sliding == false) {
                    $(".slider_plannto").hide();
                    $(".slider_plannto").removeClass('active')

                    $(that).show();
                    $(that).addClass('active')

                    if (index == $(".slider_plannto").length)
                        setTimeout(function () {
                            if (stop_sliding == false) {
                                $(".slider_plannto").hide()
                                $(".slider_plannto").removeClass('active')
                                $("#1").show()
                                $("#1").addClass("active")

                                if ("<%= configatron.fashion_auto_scroll_count %>" == "infinity")
                                {
                                    auto_scroll()
                                }
                            }
                        }, "<%= configatron.fashion_auto_scroll_time %>")
                }
            }, "<%= configatron.fashion_auto_scroll_time %>" * index);
        });
    }

    $(".advt-block").click(function () {
        stop_sliding = true
    })

    $(".item_details").click(function()
    {
        var shop_now_url = $(this).find(".shop-now").attr("href")
        window.open(shop_now_url, "_blank")
        stop_sliding = true
        return false;
    });
</script>

<% if @suitable_ui_size != "300_600" %>
    <script type="application/javascript">
        $(".prev").click(function(event)
        {
            stop_sliding = true
            prev_arrow_check()
            event.preventDefault();
            return false;
        });

        function prev_arrow_check()
        {
            var active_div = $(".active")
            var prev_div = $(active_div).prev()
            $(".slider_plannto").hide()
            $(".slider_plannto").removeClass("active")

            if ($(prev_div).attr("class") != "prev")
            {
                $(prev_div).show()
                $(prev_div).addClass("active")
            }
            else
            {
                $(".slider_plannto").last().show()
                $(".slider_plannto").last().addClass("active")
            }
        }

        function next_arrow_check()
        {
            var active_div = $(".active")
            var next_div = $(active_div).next()
            $(".slider_plannto").hide()
            $(".slider_plannto").removeClass("active")

            if ($(next_div).attr("class") != "next")
            {
                $(next_div).show()
                $(next_div).addClass("active")
            }
            else
            {
                $(".slider_plannto").first().show()
                $(".slider_plannto").first().addClass("active")
            }
        }

        $(".next").click(function(event)
        {
            stop_sliding = true
            next_arrow_check()
            event.preventDefault();
            return false;
        });
    </script>
<% end %>