<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Advt <%= @suitable_ui_size %></title>
  <link href="<%= configatron.root_image_path %>static/stylesheets/ads/<%= @ad_template_type %>/<%= @suitable_ui_size %>/style.css" type="text/css" rel="stylesheet" media="all"/>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>

  <% if (params[:t].to_i == 1) %>
    <% if !@cookie_match.blank? && !@cookie_match.google_user_id.blank? %>
        <img src="https://www.plannto.com/pixels?google_gid=<%= @cookie_match.google_user_id %>&source=google&ref_url=<%=params[:ref_url] %>" width=1px height=1px />
    <% else %>
        <img src="https://cm.g.doubleclick.net/pixel?google_nid=plannto&google_cm&ref_url=<%= params[:ref_url] %>&t=<%= params[:t] %>&google_ula=8326120" width=1px height=1px />
    <% end %>
  <% end %>
</head>
<body>

<div class="plannto-advertisement main_div">
  <%= render :partial => "/advertisements/#{@ad_template_type}_size_#{@suitable_ui_size}.html.erb" %>
</div>
<%= hidden_field_tag :present_item_id, @item.blank? ? "" : @item.id, :id => "present_item_id=#{@item.blank? ? "" : @item.id}#" %>
</body>
</html>

<style type="text/css">
    .main_div {
        width: <%= @iframe_width %>px !important;
        height: <%= @iframe_height %>px !important;
        overflow: hidden;
    }

    h3.product-title {word-break: break-all;}

    .product-txt-desc p a {text-decoration: none;}

    a#offer_ad {
        color:#222 !important;
        font-family: Arial !important;
        font-size: 10px !important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 600;
    }

    a#offer_ad:hover
    {
        color: #009CC4 !important;

    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $(".ad_img_tag").on("error", function()
        {
           var img_id = $(this).attr('id')
            if (img_id == "item_details") {
              $(this).attr('id', 'item')
              $(this).attr("src", $(this).attr('next_src'))
            }
            else if (img_id == "item")
            {
                $(this).attr('id', 'default_image')
                $(this).attr("src", $(this).attr('default_src'))
            }
        });

        var stop_sliding = false

        $(".item_details").hide();
        $(".item_details").first().show();
        $(".item_details").first().addClass('active')
        set_logo_url($(".item_details").first(), "shop-now")

        $("#1").addClass('selected')

// TODO: temporary commented
       <% if 1 !=1 %>
        $(".item_details").each(function (index) {

            if (index == 0)
                return

            var that = this;
            var t = setTimeout(function () {
                if (stop_sliding == false) {
                    $(".item_details").hide();
                    $(".item_details").removeClass('active')
                    $("#pager2 a").removeClass('selected')

                    split_div = $(that).attr('id').split('_')
                    $("#" + split_div[split_div.length - 1]).addClass('selected')

                    $(that).show();
                    $(that).addClass('active')
                    set_logo_url(that, "shop-now")

                    if (index == ($(".item_details").length - 1))
                        setTimeout(function () {
                            if (stop_sliding == false) {
                                $(".item_details").last().hide()
                                $(".item_details").removeClass('active')
                                $("#pager2 a").removeClass('selected')
                                $(".item_details").first().show();
                                $(".item_details").first().addClass('active')
                                set_logo_url($(".item_details").first(), "shop-now")

                                $("#1").addClass("selected")
                            }
                        }, 5000)
                }
            }, 5000 * index);
        });

        <% end %>

        $(".next").click(function () {
            var current_div = $(".item_details.active")
            $(".item_details").hide();
            $(".item_details").removeClass('active')
            $("#pager2 a").removeClass('selected')

            var splited_val = $(current_div).attr("id").split('_')

            if (parseInt(splited_val[splited_val.length - 1]) < $(".item_details").length) {
                $(current_div).next().show().addClass('active')
                set_logo_url($(current_div).next(), "shop-now")

                split_div = $(current_div).next().attr("id").split('_')
                $("#" + split_div[split_div.length - 1]).addClass('selected')
            }
            else {
                $(".item_details").first().show().addClass('active')
                set_logo_url($(".item_details").first(), "shop-now")

                $("#1").addClass('selected')
            }
        });


        $(".prev").click(function () {
            var current_div = $(".item_details.active")
            $(".item_details").hide();
            $(".item_details").removeClass('active')
            $("#pager2 a").removeClass('selected')

            var splited_val = $(current_div).attr("id").split('_')

            if (parseInt(splited_val[splited_val.length - 1]) > 1) {
                $(current_div).prev().show().addClass('active')
                set_logo_url($(current_div).prev(), "shop-now")

                split_div = $(current_div).prev().attr("id").split('_')
                $("#" + split_div[split_div.length - 1]).addClass('selected')
            }
            else {
                $(".item_details").last().show().addClass('active')
                set_logo_url($(".item_details").last(), "shop-now")

                last = $(".item_details").length
                $("#" + last).addClass('selected')
            }
        });

        $("#pager2 a").click(function () {
            var that = this
            selected_id = $(that).attr("id")
            selected_div = $("#item_detail_" + selected_id)

            $(".item_details").hide();
            $(".item_details").removeClass('active')

            $(selected_div).show()
            $(selected_div).addClass('active')
            set_logo_url($(selected_div), "shop-now")

            $("#pager2 a").removeClass('selected')
            $(that).addClass('selected')
        })

        $(".advt-block").click(function () {
            stop_sliding = true
        })

//        $(".plannto-advertisement").click(function(event)
//        {
//            check_navigation = $(event.target).closest('#pager2')
//
//            console.log(check_navigation)
//
//            if (check_navigation.size() == 0)
//            {
//                event.preventDefault()
//                url = $(".shop-now").attr('href')
//                window.open("http://"+url);
//            }
//        })

    });

    function set_logo_url(that, class_name)
    {
        var href_val = $(that).find("."+class_name).attr('href')

        var image_src = $(that).find(".vendor_image_src").attr('src')

        if (href_val == "" || href_val == undefined)
        {
            href_val = $("."+class_name).attr('href')
        }
        $(".logo").find('a img').attr('src', image_src)
        $(".logo").find('a.vendor_image').attr('href', href_val)
    }
</script>