
<%# cache ('home_page') do %>
  <% content_for :image, "http://www.plannto.com/images/n_logo.png" %>
  <% content_for :description, "Everything you want to know about the products that you own or planning to buy." %>
  <div id="maincontainer1" class="maincontainerCss1">
  <div class="Homeinnercontent1">
    <style type="text/css">
    body {font: 14px/21px 'PTSansRegular', sans-serif;font-size: 100%;font: inherit;vertical-align: baseline;}
    h1, h2, h3, h4, h5, h6 {font-family: "PTSansRegular", serif;font-weight: 400;}

    </style>
    <script> // To make this work on localhost
//var nAgt = navigator.userAgent;
//if ((nAgt.indexOf("Chrome"))!=-1) {
//document.domain = /(\w+)(.\w+)?$/.exec(location.hostname)[0];
//}
  function removeCompare(obj){
    $(obj).parents('.compare-view').remove();
    key = $(obj).attr('rel') ;
    $.cookie(key,null);
    $('#add_to_compare_' + key ).attr('checked',false);
    var url = $('#compare-items a').attr('href')
    idsPrt = url.split('=');
    idsStr = idsPrt[1];
    var url = url.split('=')[0];
    idsArr = idsStr.split(',');
    ids = jQuery.grep(idsArr,function(a){
        return a != key
    } );
    idsStr = ids.join(',')
    $.cookie('allItems',idsStr)
    url = $('#compare-items a').attr('href',url + '=' + idsStr)
    if($('#compare-list .compare-view').length > 1){
        $('#compare-items').show();
    }else{
        $('#compare-items').hide();
    }
    if($('#compare-list div.compare-view').length == 0){
        $('#compare-list').hide();
    }
    return false;
  };

//##################################### ADDED BY GANESH #####################################
  function reinitialiseVotingPoshyTip(){   
    $('.btn_dislike_positive').poshytip('destroy')

    $('.btn_like_positive').poshytip('destroy')

    $('.btn_like_default').poshytip('destroy')

    $('.btn_dislike_default').poshytip('destroy')

    $('.btn_like_negative').poshytip('destroy')
    $('.btn_dislike_negative').poshytip('destroy')


    $('.btn_dislike_positive').poshytip({
        content: 'Dislike It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_like_positive').poshytip({
        content: 'Already Liked It, click to cancel it',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_like_default').poshytip({
        content: 'Like It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_dislike_default').poshytip({
        content: 'Dislike It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_like_negative').poshytip({
        content: 'Like It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_dislike_negative').poshytip({
        content: 'Alread Disliked it, click to cancel',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
}

  $(document).ready(function(){
    reinitialiseVotingPoshyTip();

    $("#ui-active-menuitem").mouseout(function() {
        $("#ui-active-menuitem").hide();
    });

    $('#plannToSearch1, #cmp1stitem, #cmp2nditem').focus(function(){
        $(this).val('');
        $(this).keydown();
    });

    $("#compare_items").live("click", function(e){
      if($("#cmp1stitem").attr("product_id") && $("#cmp2nditem").attr("product_id")){
        window.location.href = "/items/compare?ids="+$("#cmp1stitem").attr("product_id")+","+$("#cmp2nditem").attr("product_id");
      }else{
        alert("To compare please choose Two items");
      }
      e.preventDefault();
    })



    $("#plannToSearch1").autocomplete({
        minLength: 2,
        format: "js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source: function( request, response )
        {
            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('plannToSearchSpan');
            var spinner = new Spinner(opts).spin(target);
            $.ajax(
            {
                url: "/search/autocomplete_items",
                data: {
                    term: request.term,
                    search_type: $("#plannto_search_type").val()
                },
                type: "get",
                dataType: "json",
                success: function( data )
                {
                    response( $.map( data, function( item )
                    {
                        return{
                            id: item.id,
                            value: item.value,
                            imgsrc: item.imgsrc,
                            type: item.type,
                            url: item.url
                        }
                    }));
                    spinner.stop();
                }
            });
        },
        focus:function(e, ui) {
            return false
        },
        select: function( event, ui ) {

          if($(this).attr("id")=="cmp2nditem" || $(this).attr("id")=="cmp1stitem"){
            $(this).attr("product_id", ui.item.id)
          }else{
            if (ui.item.id  == 0){
                //alert(ui.item.url)
                location.href = "/search/search_items?q=" + ui.item.url
            // return false;
            }
            else{
                location.href = "" + ui.item.url
            // return false;
            }
          }
        // return false;
        }
    })
       _renderMenu = function(ul, items) {
        var self = this;
        $.each(items, function(index, item) {
            self._renderItem(ul, item, index);
        });
        
        item = {
            value: "Search more items...",
            id: "0",
            imgsrc: ""
        }
        self._renderItem(ul, item, -1);
    };

    $("#cmp1stitem, #cmp2nditem").autocomplete({
        minLength: 2,
        format: "js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source: function( request, response )
        {
            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('plannToSearchSpan');
            var spinner = new Spinner(opts).spin(target);
            $.ajax(
            {
                url: "/search/autocomplete_items",
                data: {
                    term: request.term,
                    type: "owner"
                },
                type: "get",
                dataType: "json",
                success: function( data )
                {
                    response( $.map( data, function( item )
                    {
                        return{
                            id: item.id,
                            value: item.value,
                            imgsrc: item.imgsrc,
                            type: item.type,
                            url: item.url
                        }
                    }));
                    spinner.stop();
                }
            });
        },
        focus:function(e, ui) {
            return false
        },
        select: function( event, ui ) {

          if($(this).attr("id")=="cmp2nditem" || $(this).attr("id")=="cmp1stitem"){
            $(this).attr("product_id", ui.item.id)
          }else{
            if (ui.item.id  == 0){
                //alert(ui.item.url)
                location.href = "/search/search_items?q=" + ui.item.url
            // return false;
            }
            else{
                location.href = "" + ui.item.url
            // return false;
            }
          }
        // return false;
        }
    })
       _renderMenu = function(ul, items) {
        var self = this;
        $.each(items, function(index, item) {
            self._renderItem(ul, item, index);
        });
        
        item = {
            value: "Search more items...",
            id: "0",
            imgsrc: ""
        }
        self._renderItem(ul, item, -1);
    };


    jQuery.each(["#plannToSearch1", "#cmp1stitem", "#cmp2nditem"], function(index, item) {
    $(item).data("autocomplete")._renderItem = function(ul, item, index) {
        if (item.id == 0) {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a class='searchMore'>" + item.value + "" + "</a>")
            .appendTo(ul);
        }
        else {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + "<div style='margin-left:5px;float:left' class='autocompletediv'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
            .appendTo(ul);
        }
      };
    });
});

  
  $(document).ready(function() {
        
      $('a.youtube').youtube();
      $('span.buttonLink a#youtube_form').click(function() {
          $("#image_share").hide();
          $("#article_share").hide();
          $("#youtube").toggle(2000);
          //          alert('Handler for .click() called.');
          return false;
      });


      $('span.buttonLink a#image_form').click(function() {
          $("#article_share").hide();
          $("#youtube").hide();
          $("#image_share").toggle(2000);
          return false;
      });


      $('span.buttonLink a#article_form').click(function() {
          $("#youtube").hide();
          $("#image_share").hide();
          $("#article_share").toggle(2000);
          return false;
      });

});

    $("#share_an_article").click(function(){
        $("share_an_article_form").show();
    }
);
    </script>
<!-- <link rel="stylesheet" href="slider/themes/default/default.css" type="text/css" media="screen" /> -->

    <!--<link rel="stylesheet" href="slider/themes/light/light.css" type="text/css" media="screen" />-->
    <!-- <link rel="stylesheet" href="slider/themes/dark/dark.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="slider/themes/bar/bar.css" type="text/css" media="screen" /> -->
<script src="/javascripts/jquery.smooth-scroll.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.jcarousel.js" type="text/javascript"></script>
<script src="/layerslider/jQuery/jquery-easing-1.3.js" type="text/javascript"></script>
<script src="/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
  
 /* $('#layerslider').layerSlider({
  skinsPath : 'layerslider/skins/',
  skin : 'fullwidth',
  thumbnailNavigation : 'hover',
  hoverPrevNext : true,
  responsive : false,
  responsiveUnder : 960,
  thumbnailNavigation : false,
  sublayerContainer : 1000
  });
*/
      $('#plannToSearch1').focus(function(){
        $(this).val('');
        $(this).keydown();
    });


  

    $("#plannToSearch1").autocomplete({
        minLength: 2,
        format: "js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source: function( request, response )
        {
            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('plannToSearchSpan');
            var spinner = new Spinner(opts).spin(target);
            $.ajax(
            {
                url: "/search/autocomplete_items",
                data: {
                    term: request.term,
                    search_type: $("#plannto_search_type").val()
                },
                type: "get",
                dataType: "json",
                success: function( data )
                {
                    response( $.map( data, function( item )
                    {
                        return{
                            id: item.id,
                            value: item.value,
                            imgsrc: item.imgsrc,
                            type: item.type,
                            url: item.url
                        }
                    }));
                    spinner.stop();
                }
            });
        },
        focus:function(e, ui) {
            return false
        },
        select: function( event, ui ) {
            if (ui.item.id  == 0){
              //alert(ui.item.url)
                location.href = "/search/search_items?q=" + ui.item.url
            // return false;
            }
            else{
                location.href = "" + ui.item.url
            // return false;
            }
        // return false;
        }
    })
       _renderMenu = function(ul, items) {
        var self = this;
        $.each(items, function(index, item) {
            self._renderItem(ul, item, index);
        });
        
        item = {
            value: "Search more items...",
            id: "0",
            imgsrc: ""
        }
        self._renderItem(ul, item, -1);
    };

  

    $("#plannToSearch1").data("autocomplete")._renderItem = function(ul, item, index) {
      
        if (item.id == 0) {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a class='searchMore'>" + item.value + "" + "</a>")
            .appendTo(ul);
        }
        else {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + "<div style='margin-left:5px;float:left' class='autocompletediv'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
            .appendTo(ul);
        }
    };

});   
</script>
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('.first-and-second-carousel').jcarousel();
});

</script>
    <link rel="stylesheet" type="text/css" href="stylesheets/skin.css" />
    <link rel="stylesheet" href="layerslider/css/layerslider.css" type="text/css" media="screen">
<!--    <link rel="stylesheet" href="slider/nivo-slider.css" type="text/css" media="screen" />-->

<a name="top" class="top"></a>
    <div class="banner-container">
      <div class="banner-div">
        
             
             <div id="layerslider-container-fw1">
              <div id="layerslider1" style="width: 100%; height: 354px; margin: 0px auto;background: url(../images/banner-1.jpg) no-repeat center top;">
                
                
                  <div  style="position: relative;width:960px; margin: 0px auto;">
                    <!--<img src="images/banner-1.jpg" class="ls-bg" alt="">-->
                       <div style="text-align:center;margin: 0 auto;"> 
                        <h2 class="ls-s3 banner1-cap-title" style="padding-top:30px;position:relative;" >All the information you need on the products that you own or plan to buy</h2>
                        <p class="ls-s8 banner1-sub-title" style="padding:0px;" >Find it all here. Its a one stop place to get all the information about a product. Informations are searched across web and organzied in a structured way for you to consume it easily. All the products that are available in the market are ranked based on the rating given by the experts around the world and can be searched using various preferences.</p>
                         <p class="banner-btns ls-s8"  style="padding-top:50px;padding-left:170px;">
                            <a href="/car/search" class="cars"><span class="margin-btm"></span>Cars</a>
                            <a href="/bike/search" class="bikes"><span class="margin-btm"></span>Bikes</a>
                            <a href="/cycle/search" class="cycles"><span class="margin-btm"></span>Cycles</a>
                            <a href="/mobile/search" class="mobiles"><span class="margin-btm"></span>Mobiles</a>
                            <a href="/tablet/search" class="tablets"><span class="margin-btm"></span>Tablets</a>
                            <a href="/camera/search" class="cameras"><span class="margin-btm"></span>Cameras</a>

                          <!--<a href="#" class="findbutton">Find All Here</a>--></p>
                        </div>
                      </div>
                  
                          
      
                
                <div class="clr"></div>  
                </div>
            </div><!-- end of layerslider-container-fw -->
             
             
             <div class="clr"></div>
             
        </div><!-- end of banner div -->
    </div><!-- end of banner container -->


<!--  <div class="Titledes" style="margin-top:-5px;">All the information you need on the products that you own or plan to buy.</div>
<div class="Titledessmall" style="margin-top:-5px;">Join now to explore a new way to get all the information about products and connect with people with similar interests.</div>

<div>
  <div style="width:745px;height:373px;margin-left:0px;float:left;border: solid 1px #cdd3d7;display:block;padding:0px;">
   <div id="wrapper">
  
        <div class="slider-wrapper theme-light">
            <div id="slider" class="nivoSlider">
               <img src="images/slider1_img.png" data-thumb="images/slider1.png" alt=""/>
                  
                <img src="images/slider2_img.png" data-thumb="images/slider2.png" alt=""  />
                <img src="images/slider3_img.png" data-thumb="images/slider3.png" alt="" />
                <img src="images/slider4_img.png" data-thumb="images/slider4.png" alt="" />
            </div>
    
            </div>
        </div>

    </div>
  </div>


    <div style="float:right;width:240px;">
       <%#= render "/shared/home_signup" %>

    </div>
</div>
-->

<div class="dppattern">
      <div class="container">
      <div class="home-search">
          <h2>Are you looking to find information about specific product?</h2>
            <span>Enter the name of the car, bike, mobile, tablet, camera or cycle in the following box to get all the information.</span><br />
           <form id="search-form"> 
                <input class="search-input-text" type="text" name="Search"  id="plannToSearch1" placeholder="Search Products" />
                <input class="search-input-submit" type="submit" value="" />
            </form>
            <div class="clr"></div>
        </div><!-- end of home-search -->
        </div>
    
    </div>
    
    <div id="middlecontainer">
      <div class="container" style="width:960px;">
          
            <div class="home-left">
              <h3>Are you planning to buy?<br />
                  <span>Click the products below to get all the information required for you to take a informed buying decision.</span>
                </h3>
                <div class="box-div">
                  <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                      <li>  <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/car/medium/landrover_evoque_1.jpeg" alt="Bike"   style="width:112px;heigh:84px;"/>'.html_safe,new_preference_path(:search_type => "Car"),:remote => :true  %></li>
                        <li><%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/bike/medium/KTM Duke 390 1.jpeg" alt="Bike"  style="width:112px;heigh:84px;"/>'.html_safe,new_preference_path(:search_type => "Bike"),:remote => :true  %>
                        </li>
                        <li><%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/mobile/medium/Samsung Galaxy S III 2.jpeg" alt="Mobile" style="width:112px;heigh:84px;"/>'.html_safe,new_preference_path(:search_type => "Mobile"),:remote => :true  %>

                        </li>
                        <li><%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/camera/medium/Canon EOS 650D 3.jpeg" alt="Camera"  style="width:112px;heigh:84px;"/>'.html_safe,new_preference_path(:search_type => "Camera"),:remote => :true  %>
                        </li>
                        <li>
                          <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/tablet/medium/Apple iPad 2 Wi-Fi 16GB 1.jpeg" alt="Tablet"  style="width:112px;heigh:84px;"/>'.html_safe,new_preference_path(:search_type => "Tablet"),:remote => :true  %>
                        </li>
                        <li><%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/cycle/medium/Schwinn Sporterra Sport 2012 1.jpeg" alt="Cycle" style="width:112px;heigh:84px;"/>'.html_safe,new_preference_path(:search_type => "Cycle"),:remote => :true  %>
                        </li>
                        </ul>
                  <div class="clr"></div>
                </div>                
            </div><!-- end of home-left -->
            <div class="home-right">
              <h3>Are you interested in Photography or Cycling?<br />
                  <span>Check out all the topics of interest around Photography and Cycling and connect with others based on your interest.</span>
                </h3>
                <div class="box-div">
                  <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                      <li> <a href="/topics/landscape-photography">
                                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/HDR%20or%20Travel.jpeg" alt="Bike"  style="width:112px;height:84px;"/>
                             </a></li>
                        <li> <a href="/topics/bird-photography">
                             <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/Bird.jpeg" alt="Bike"  style="width:112px;height:84px;"/>
                         </a>
                        </li>
                        <li> <a href="/topics/cycle-training">
                             <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/cycle%20(2).jpeg" alt="Bike"  style="width:112px;height:84px;"/>
                             </a>
                        </li>
                        <li>     <a href="/topics/composition">
                             <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/Composition.jpeg" alt="Bike"  style="width:112px;height:84px;"/>
                         </a>
                        </li>
                        <li> <a href="/topics/lighting">
                             <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/butterfly.jpeg" alt="Bike"  style="width:112px;height:84px;"/>
                         </a></li>
                        <li><a href="/topics/cycle-maintenance">
                         <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/Cycle.jpeg" alt="Bike"  style="width:112px;height:84px;"/>
                             </a>       </li>
                    </ul>
                  <div class="clr"></div>
                </div>
            </div><!-- end of home-right -->
            <div class="clr"></div>
            
            <div class="container">   
    <div class="home-compare-product" >
              <h3>Do you like to compare the products?<br /><span>Select two products in following text box and click compare.</span></h3>
                <div class="white-box-div">
                  <div class="home-compare-product-div">
                    
                      <div class="compare-left">
                          <form class="compareform">
                              <p><input type="text" name="cmp1stitem" id="cmp1stitem" value="Add to Compare" class="inputbox" /></p>
                                <p><input type="text" name="cmp2nditem" id="cmp2nditem" value="Add to Compare" class="inputbox" /></p>
                                <p><input type="button" name="compare_items" id="compare_items" value="Compare" class="button staticblue" /></p>
                            </form>
                        
                        </div><!-- end of compare-left -->
                        <div class="compare-right">
                          <h3>Popular Comparisons</h3>
                            
                            <div class="comparison-div">
                              
                                <div class="prd-div">
                                    <%items = Item.find(configatron.homepagecompareitems1.split(",")) %>
                                        <a href="/items/compare?ids=<%=items.collect(&:id).join(',')%>">
                                        <div class="compare-prd">
                                            <p class="title"><%=items[0].name%></p>
                                            <p class="compare-img"><img src="<%=items[0].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="compare-symbol compare-line"></div> 
                                        <div class="compare-prd">
                                            <p class="title"><%=items[1].name%></p>
                                            <p class="compare-img"><img src="<%=items[1].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="clr"></div>
                                        <p><a><%= items[0].name + " Vs. " + items[1].name%></a></p>
                                    </a>
                                </div>
                                        <div class="prd-div">
                                    <%items = Item.find(configatron.homepagecompareitems2.split(",")) %>
                                    
                                        <a href="/items/compare?ids=<%=items.collect(&:id).join(',')%>" >
                                        <div class="compare-prd">
                                            <p class="title"><%=items[0].name%></p>
                                            <p class="compare-img"><img src="<%=items[0].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="compare-symbol compare-line"></div> 
                                        <div class="compare-prd">
                                            <p class="title"><%=items[1].name%></p>
                                            <p class="compare-img"><img src="<%=items[1].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="clr"></div>
                                        <p><a><%= items[0].name + " Vs. " + items[1].name%></a></p>
                                    </a>
                                </div>
                                        <div class="prd-div">
                                    <%items = Item.find(configatron.homepagecompareitems3.split(",")) %>
                                    
                                        <a href="/items/compare?ids=<%=items.collect(&:id).join(',')%>" >
                                        <div class="compare-prd">
                                            <p class="title"><%=items[0].name%></p>
                                            <p class="compare-img"><img src="<%=items[0].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="compare-symbol compare-line"></div> 
                                        <div class="compare-prd">
                                            <p class="title"><%=items[1].name%></p>
                                            <p class="compare-img"><img src="<%=items[1].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="clr"></div>
                                        <p><a><%= items[0].name + " Vs. " + items[1].name%></a></p>
                                    
                                </div>
                                        <div class="prd-div">
                                    <%items = Item.find(configatron.homepagecompareitems4.split(",")) %>
                                    
                                        <a href="/items/compare?ids=<%=items.collect(&:id).join(',')%>" >
                                        <div class="compare-prd">
                                            <p class="title"><%=items[0].name%></p>
                                            <p class="compare-img"><img src="<%=items[0].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="compare-symbol compare-line"></div> 
                                        <div class="compare-prd">
                                            <p class="title"><%=items[1].name%></p>
                                            <p class="compare-img"><img src="<%=items[1].image_url%>" alt="" /></p>
                                        </div>
                                        <div class="clr"></div>
                                        <p><a><%= items[0].name + " Vs. " + items[1].name%></a></p>
                                    
                                </div>
                                
                                
                                <div class="clr"></div>
                                
                            </div>
                            <div class="clr"></div>
                        
                        </div><!-- end of compare-right -->
                    
                    <div class="clr"></div>
                    </div>
                 <div class="clr"></div>
                </div><!-- end of white box -->
            </div><!-- end of home-compare-product -->

   </div>

            
            <div class="home-pop-product">
              <h3>Are you looking for popular products?<br /><span>Check out all the cars, bikes, mobiles, tablets, cameras and cycles available in the market.</span></h3>
                <div class="white-box-div">
                
                  <div class="home-pop-product-div">
                    
                  <div class="category-row">
                      <div class="top-row"><p class="title">Popular Cars</p><p class="links"><a href="/car/search">View All >></a></p></div>
                        <div class="category-div">
                          <div class="col1">
                            <% configatron.popular_cars.split(",")[0..1].each do | id| %>
                               <% item = Item.find(id) rescue "" %>
                              <div class="cats-row">
                                  <div class="imgdiv"><a href="#"><img src="<%=item.image_url%>" alt="<%=item.name%>"  style="width:136px;height:102px;"/></a></div>
                                    <div class="desc">
                                      <h4><a href="<%=item.get_url()%>"><%= item.name %></a></h4>
                                        <p class="price"><%= item.get_price_info('Price',false) %></p>
                                        <div class="rating"><%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "car#{item.id}"} %> <span>Ratings 
                                            <a href="<%= item.get_url + '?fl=Reviews'%>"><%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>   </a></span></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <%end%>
                                <div class="clr"></div>
                                <div class="col1-bottom">
                                    <p> Reviews:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Car","Reviews")}","/cars?fl=Reviews"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Deals:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Car","Deals")}","/cars?fl=Deals"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;News:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Car","News")}","/cars?fl=News" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;How To:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Car","HowTo/Guide")}","/cars?fl=HowTo" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Travelogue:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Car","Travelogue")}","/cars?fl=Travelogue" %></a>
                                    </p>        
                                </div>
                                
                            </div>
                            <div class="col2">
                              <div class="col2-links">
                                  <ul class="blue-link">
                              <li><a href="/search?search_type=car&sort_by=Rating&7=Hatchback">Top Hatchback</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&7=Sedan">Top Sedans</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&7=SUV/MUV">Top SUVs/MUVs</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&43=Automatic">Top Automatic Cars</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&7=Hatchback&41=Diesel">Top Cars Under Rs 5,00,000</a></li>   
                               <li><a href="/search?search_type=car&sort_by=Rating&status=2">Upcoming Cars</a></li>                                     </ul>
                                </div>
                            </div>
                            
                            <div class="clr"></div>
                        </div>                        
                    </div><!-- 1st category-row -->
                    
                    <div class="category-row">
                      <div class="top-row"><p class="title">Popular Bikes</p><p class="links"><a href="/bike/search">View All >></a></p></div>
                        <div class="category-div">
                          <div class="col1">
                              <% configatron.popular_bikes.split(",")[0..1].each do | id| %>
                               <% item = Item.find(id) rescue "" %>
                              <div class="cats-row">
                                  <div class="imgdiv"><a href="#"><img src="<%=item.image_url%>" alt="<%=item.name%>"  style="width:136px;height:102px;"/></a></div>
                                    <div class="desc">
                                      <h4><a href="<%=item.get_url()%>"><%= item.name %></a></h4>
                                        <p class="price"><%= item.get_price_info('Price',false) %></p>
                                        <div class="rating"><%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "bike#{item.id}"} %> <span>Ratings 
                                            <a href="<%= item.get_url + '?fl=Reviews'%>"><%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>   </a></span></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <%end%>
                                <div class="clr"></div>
                                <div class="col1-bottom">
                                    <p> Reviews:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Bike","Reviews")}","/bikes?fl=Reviews"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Deals:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Bike","Deals")}","/bikes?fl=Deals"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;News:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Bike","News")}","/bikes?fl=News" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Travelogue:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Bike","Travelogue")}","/bikes?fl=Travelogue" %></a>
                                    </p>        
                                </div>
                                
                            </div>
                            <div class="col2">
                              <div class="col2-links">
                                  <ul class="blue-link">
                                                    
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Sports">Top Sports Bikes</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Naked">Top Naked Bikes</a></li>                                
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Cruiser">Top Cruiser Bikes</a></li>
        <li><a href="/search?search_type=bike&sort_by=Rating&7=Scooter">All Scooters</a></li>                                     
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Touring">Top Touring Bikes</a></li>                                
                                <li><a href="/bike/search?type=scroll&status=1&sort_by=Rating&min_1=45000&max_1=55000">Top Bikes Under Rs 50,000</a></li>                          
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="clr"></div>
                        </div>                        
                    </div><!-- 2nd category-row -->
                    
                    <div class="category-row">
                      <div class="top-row"><p class="title">Popular Mobiles</p><p class="links"><a href="/mobile/search">View All >></a></p></div>
                        <div class="category-div">
                          <div class="col1">
                              <% configatron.popular_mobiles.split(",")[0..1].each do | id| %>
                               <% item = Item.find(id) rescue "" %>
                              <div class="cats-row">
                                  <div class="imgdiv"><a href="#"><img src="<%=item.image_url%>" alt="<%=item.name%>"  style="width:136px;height:102px;"/></a></div>
                                    <div class="desc">
                                      <h4><a href="<%=item.get_url()%>"><%= item.name %></a></h4>
                                        <p class="price"><%= item.get_price_info('Price',false) %></p>
                                        <div class="rating"><%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "mobile#{item.id}"} %> <span>Ratings 
                                            <a href="<%= item.get_url + '?fl=Reviews'%>"><%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>   </a></span></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <%end%>
                                <div class="clr"></div>
                                <div class="col1-bottom">   <p> Reviews:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Mobile","Reviews")}","/mobiles?fl=Reviews"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Deals:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Mobile","Deals")}","/mobiles?fl=Deals"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;News:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Mobile","News")}","/mobiles?fl=News" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;How To:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Mobile","HowTo/Guide")}","/mobiles?fl=HowTo" %></a>                                       
                                    </p>        </div>
                                
                            </div>
                            <div class="col2">
                              <div class="col2-links">
                                  <ul class="blue-link">
                                   
                                <li><a href="/search?search_type=mobile&sort_by=Rating&265=Android">Top Android Mobiles</a></li>
                                   <li><a href="/search?search_type=mobile&sort_by=Rating&265=Windows">Top Windows Mobiles</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&min_1=4000&max_1=10000">Top Mobiles under Rs 10,000</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&min_1=10000&max_1=25000">Top Mobiles under Rs 25,000</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&117=5">Top Phablets</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&status=2">Upcoming Mobiles</a></li>   
                       
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="clr"></div>
                        </div>                        
                    </div><!-- 3rd category-row -->
                    
                    <div class="category-row">
                      <div class="top-row"><p class="title">Popular Tablets</p><p class="links"><a href="tablet/search">View All >></a></p></div>
                        <div class="category-div">
                          <div class="col1">
                              <% configatron.popular_tablets.split(",")[0..1].each do | id| %>
                               <% item = Item.find(id) rescue "" %>
                              <div class="cats-row">
                                  <div class="imgdiv"><a href="#"><img src="<%=item.image_url%>" alt="<%=item.name%>"  style="width:136px;height:102px;"/></a></div>
                                    <div class="desc">
                                      <h4><a href="<%=item.get_url()%>"><%= item.name %></a></h4>
                                        <p class="price"><%= item.get_price_info('Price',false) %></p>
                                        <div class="rating"><%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "tablet#{item.id}"} %> <span>Ratings 
                                            <a href="<%= item.get_url + '?fl=Reviews'%>"><%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>   </a></span></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <%end%>
                                <div class="clr"></div>
                                <div class="col1-bottom"> 
                                  <p> Reviews:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Tablet","Reviews")}","/tablets?fl=Reviews"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Deals:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Tablet","Deals")}","/tablets?fl=Deals"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;News:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Tablet","News")}","/tablets?fl=News" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;How To:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Tablet","HowTo/Guide")}","/tablets?fl=HowTo" %></a>
                                         </div>
                                
                            </div>
                            <div class="col2">
                              <div class="col2-links">
                                  <ul class="blue-link">
                                                       <li><a href="/search?search_type=tablet&sort_by=Rating&265=Android">Top Android Tablets</a></li>                    
              <li><a href="/search?search_type=tablet&sort_by=Rating&193=True">Top Voice Calling Tablets</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&min_1=4000&max_1=10000">Top Tablets under Rs 10,000</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&min_1=10000&max_1=15000">Top Tablets under Rs 15,000</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&min_1=15000&max_1=25000">Top Tablets under Rs 25,000</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&status=2">Upcoming Tablets</a></li>  
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="clr"></div>
                        </div>                        
                    </div><!-- 4th category-row -->
                    
                    <div class="category-row">
                      <div class="top-row"><p class="title">Popular Cameras</p><p class="links"><a href="/camera/search">View All >></a></p></div>
                        <div class="category-div">
                          <div class="col1">
                              <% configatron.popular_cameras.split(",")[0..1].each do | id| %>
                               <% item = Item.find(id) rescue "" %>
                              <div class="cats-row">
                                  <div class="imgdiv"><a href="#"><img src="<%=item.image_url%>" alt="<%=item.name%>"  style="width:136px;height:102px;"/></a></div>
                                    <div class="desc">
                                      <h4><a href="<%=item.get_url()%>"><%= item.name %></a></h4>
                                        <p class="price"><%= item.get_price_info('Price',false) %></p>
                                        <div class="rating"><%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "camera#{item.id}"} %> <span>Ratings 
                                            <a href="<%= item.get_url + '?fl=Reviews'%>"><%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>   </a></span></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <%end%>
                                <div class="clr"></div>
                                <div class="col1-bottom">   
                                    <p> Reviews:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Camera","Reviews")}","/cameras?fl=Reviews"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Deals:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Camera","Deals")}","/cameras?fl=Deals"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Photos:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Camera","Photo")}","/cameras?fl=Photo" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;How To:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Camera","HowTo/Guide")}","/cameras?fl=HowTo" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Travelogue:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Camera","Travelogue")}","/cameras?fl=Travelogue" %></a>
                                    </p>   </div>
                                
                            </div>
                            <div class="col2">
                              <div class="col2-links">
                                  <ul class="blue-link">
                                            <li><a href="/search?search_type=camera&sort_by=Rating&7=SLR">Top SLRs</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&7=Mirrorless">Top Mirrorless</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&295=Ultracompact">Top Sleek Compact Cameras</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&7=Point & Shoot&183=10">Top High Zoom Compacts</a></li>   
                                <li><a href="/search?search_type=camera&sort_by=Rating&295=Compact SLR">Top Entry Level SLR Cameras</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&302=True">Top WaterProof Cameras</a></li>       
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="clr"></div>
                        </div>                        
                    </div><!-- 5th category-row -->
                    
                    <div class="category-row">
                      <div class="top-row"><p class="title">Popular Cycles</p><p class="links"><a href="cycle/search">View All >></a></p></div>
                        <div class="category-div">
                          <div class="col1">
                               <% configatron.popular_cycles.split(",")[0..1].each do | id| %>
                               <% item = Item.find(id) rescue "" %>
                              <div class="cats-row">
                                  <div class="imgdiv"><a href="#"><img src="<%=item.image_url%>" alt="<%=item.name%>"  style="width:136px;height:102px;"/></a></div>
                                    <div class="desc">
                                      <h4><a href="<%=item.get_url()%>"><%= item.name %></a></h4>
                                        <p class="price"><%= item.get_price_info('Price',false) %></p>
                                        <div class="rating"><%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "cycle#{item.id}"} %> <span>Ratings 
                                            <a href="<%= item.get_url + '?fl=Reviews'%>"><%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>   </a></span></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <%end%>
                                <div class="clr"></div>
                                <div class="col1-bottom">   
                                  <p> Reviews:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Cycle","Reviews")}","/cycles?fl=Reviews"%></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Deals:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Cycle","Deals")}","/cycles?fl=Deals"%></a>                                      
                                        &nbsp;&nbsp;|&nbsp;&nbsp;How To:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Cycle","HowTo/Guide")}","/cycles?fl=HowTo" %></a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;Travelogue:&nbsp;&nbsp;
                                        <a href="#"><%= link_to  "#{Content.total_number_of_contents("Cycle","Travelogue")}","/cycles?fl=Travelogue" %></a>
                                    </p>  </div>
                                
                            </div>
                            <div class="col2">
                              <div class="col2-links">
                                  <ul class="blue-link">
                                       <li><a href="/search?search_type=cycle&sort_by=Rating&7=Mountain">All Mountain Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Road">All Road Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Hybrid">All Hybrid Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Folding">All Folding Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&min_1=10000&max_1=30000&7=Mountain">MTBs Under Rs 30,000</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&min_1=10000&max_1=50000&7=Road">Road Bikes Under Rs 50,000</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="clr"></div>
                        </div>                        
                    </div><!-- 6th category-row -->
                    
                    
                    <div class="clr"></div>
                    </div><!-- end of home-pop-product-div -->
                </div><!-- end of box div -->
            
            </div><!-- end of home-pop-product -->
            
            
        </div>




   

    </div><!-- end of middlecontainer -->