<% cache ('home_page') do %>
  <% content_for :image, "http://www.plannto.com/images/n_logo.png" %>
  <% content_for :description, "Everything you want to know about the products that you own or planning to buy." %>
  <div id="maincontainer" class="maincontainerCss1">
  <div class="Homeinnercontent">
    <script> // To make this work on localhost
//var nAgt = navigator.userAgent;
//if ((nAgt.indexOf("Chrome"))!=-1) {
//document.domain = /(\w+)(.\w+)?$/.exec(location.hostname)[0];
//}
  function removeCompare(obj){
    $(obj).parents('.compare-view').remove();
    key = $(obj).attr('rel') ;
    $.cookie(key,null);
    $('#add_to_compare_' + key ).attr('checked',false);
    var url = $('#compare-items a').attr('href')
    idsPrt = url.split('=');
    idsStr = idsPrt[1];
    var url = url.split('=')[0];
    idsArr = idsStr.split(',');
    ids = jQuery.grep(idsArr,function(a){
        return a != key
    } );
    idsStr = ids.join(',')
    $.cookie('allItems',idsStr)
    url = $('#compare-items a').attr('href',url + '=' + idsStr)
    if($('#compare-list .compare-view').length > 1){
        $('#compare-items').show();
    }else{
        $('#compare-items').hide();
    }
    if($('#compare-list div.compare-view').length == 0){
        $('#compare-list').hide();
    }
    return false;
  };

//##################################### ADDED BY GANESH #####################################
  function reinitialiseVotingPoshyTip(){   
    $('.btn_dislike_positive').poshytip('destroy')

    $('.btn_like_positive').poshytip('destroy')

    $('.btn_like_default').poshytip('destroy')

    $('.btn_dislike_default').poshytip('destroy')

    $('.btn_like_negative').poshytip('destroy')
    $('.btn_dislike_negative').poshytip('destroy')


    $('.btn_dislike_positive').poshytip({
        content: 'Dislike It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_like_positive').poshytip({
        content: 'Already Liked It, click to cancel it',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_like_default').poshytip({
        content: 'Like It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_dislike_default').poshytip({
        content: 'Dislike It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_like_negative').poshytip({
        content: 'Like It',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
    $('.btn_dislike_negative').poshytip({
        content: 'Alread Disliked it, click to cancel',
        className: 'tip-darkgray',
        bgImageFrameSize: 11,
        offsetX: -25
    });
}

  $(document).ready(function(){
    reinitialiseVotingPoshyTip();

    $("#ui-active-menuitem").mouseout(function() {
        $("#ui-active-menuitem").hide();
    });

    $('#plannToSearch1').focus(function(){
        $(this).val('');
        $(this).keydown();
    });




    $("#plannToSearch1").autocomplete({
        minLength: 2,
        format: "js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source: function( request, response )
        {
            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('plannToSearchSpan');
            var spinner = new Spinner(opts).spin(target);
            $.ajax(
            {
                url: "/search/autocomplete_items",
                data: {
                    term: request.term,
                    search_type: $("#plannto_search_type").val()
                },
                type: "get",
                dataType: "json",
                success: function( data )
                {
                    response( $.map( data, function( item )
                    {
                        return{
                            id: item.id,
                            value: item.value,
                            imgsrc: item.imgsrc,
                            type: item.type,
                            url: item.url
                        }
                    }));
                    spinner.stop();
                }
            });
        },
        focus:function(e, ui) {
            return false
        },
        select: function( event, ui ) {
            if (ui.item.id  == 0){
            	//alert(ui.item.url)
                location.href = "/search/search_items?q=" + ui.item.url
            // return false;
            }
            else{
                location.href = "" + ui.item.url
            // return false;
            }
        // return false;
        }
    })
       _renderMenu = function(ul, items) {
        var self = this;
        $.each(items, function(index, item) {
            self._renderItem(ul, item, index);
        });
        
        item = {
            value: "Search more items...",
            id: "0",
            imgsrc: ""
        }
        self._renderItem(ul, item, -1);
    };
    $("#plannToSearch1").data("autocomplete")._renderItem = function(ul, item, index) {
    	
        if (item.id == 0) {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a class='searchMore'>" + item.value + "" + "</a>")
            .appendTo(ul);
        }
        else {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
            .appendTo(ul);
        }
    };

});

  
  $(document).ready(function() {
        
      $('a.youtube').youtube();
      $('span.buttonLink a#youtube_form').click(function() {
          $("#image_share").hide();
          $("#article_share").hide();
          $("#youtube").toggle(2000);
          //          alert('Handler for .click() called.');
          return false;
      });


      $('span.buttonLink a#image_form').click(function() {
          $("#article_share").hide();
          $("#youtube").hide();
          $("#image_share").toggle(2000);
          return false;
      });


      $('span.buttonLink a#article_form').click(function() {
          $("#youtube").hide();
          $("#image_share").hide();
          $("#article_share").toggle(2000);
          return false;
      });

});

    $("#share_an_article").click(function(){
        $("share_an_article_form").show();
    }
);
    </script>
<!-- <link rel="stylesheet" href="slider/themes/default/default.css" type="text/css" media="screen" /> -->

    <link rel="stylesheet" href="slider/themes/light/light.css" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="slider/themes/dark/dark.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="slider/themes/bar/bar.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="slider/nivo-slider.css" type="text/css" media="screen" />
  <div class="Titledes" style="margin-top:-5px;">All the information you need on the products that you own or plan to buy.</div>
<div class="Titledessmall" style="margin-top:-5px;">Join now to explore a new way to get all the information about products and connect with people with similar interests.</div>

<div>
  <div style="width:745px;height:373px;margin-left:0px;float:left;border: solid 1px #cdd3d7;display:block;padding:0px;">
   <div id="wrapper">
  
        <div class="slider-wrapper theme-light">
            <div id="slider" class="nivoSlider">
               <img src="images/slider1_img.png" data-thumb="images/slider1.png" alt=""/>
                  
                <img src="images/slider2_img.png" data-thumb="images/slider2.png" alt=""  />
                <img src="images/slider3_img.png" data-thumb="images/slider3.png" alt="" />
                <img src="images/slider4_img.png" data-thumb="images/slider4.png" alt="" />
            </div>
    
            </div>
        </div>

    </div>
  </div>
 

    <div style="float:right;width:240px;">
       <%= render "/shared/home_signup" %>

    </div>
</div>
<div id="giveAdviceDialog"> </div>
<%#if Rails.env.development? %>
   <br/><br/>
<div style="clear:both;margin-top:380px;padding:top:100px;">
<div style="width:100%;height:250px;float:left;border: solid 0px #cdd3d7;display:block;padding:3px;align:center;">
  <div  class="Titledes">Are you planning to buy?</div>
<div class="Titledessmall" style="margin-top:-5px;">Click the products below to get all the information required for you to take a informed buying decision.</div>

<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top:15px">
      <tbody><tr>
        
        
        <td>
          <div class="divheader">
                 <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/car/medium/landrover_evoque_1.jpeg" alt="Bike"  class="imgbuyingplanhome"/>'.html_safe,new_preference_path(:search_type => "Car"),:remote => :true  %>
             </a><br>
         <p class="textbuyingplanhome">Car</p>        
      </div>
    </td>

        <td>
          <div class="divheader">
             <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/bike/medium/KTM Duke 390 1.jpeg" alt="Bike"  class="imgbuyingplanhome"/>'.html_safe,new_preference_path(:search_type => "Bike"),:remote => :true  %>
             </a><br>
         <p class="textbuyingplanhome">Bike</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
            <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/camera/medium/Canon EOS 650D 3.jpeg" alt="Camera"  class="imgbuyingplanhome"/>'.html_safe,new_preference_path(:search_type => "Camera"),:remote => :true  %>
             </a><br>
         <p class="textbuyingplanhome">Camera</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
            <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/mobile/medium/Samsung Galaxy S III 2.jpeg" alt="Mobile"  class="imgbuyingplanhome"/>'.html_safe,new_preference_path(:search_type => "Mobile"),:remote => :true  %>
             </a><br>
         <p class="textbuyingplanhome">Mobile</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
              <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/tablet/medium/Apple iPad 2 Wi-Fi 16GB 1.jpeg" alt="Tablet"  class="imgbuyingplanhome"/>'.html_safe,new_preference_path(:search_type => "Tablet"),:remote => :true  %>
             </a><br>
         <p class="textbuyingplanhome">Tablet</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
              <%=link_to '<img src="http://s3.amazonaws.com/Plannto/items/cycle/medium/Schwinn Sporterra Sport 2012 1.jpeg" alt="Cycle"  class="imgbuyingplanhome"/>'.html_safe,new_preference_path(:search_type => "Cycle"),:remote => :true  %>
             </a><br>
         <p class="textbuyingplanhome">Cycle</p>        
      </div>
    </td>
  </tr>
        
</tbody></table>
</div>

</div>
<div class="PopupOr" style="clear:both;"><img alt="" src="/images/or_icon.png"></div>

<div style="clear:both;padding-top:15px;">
<div style="width:100%;height:150px;float:left;border: solid 0px #cdd3d7;display:block;padding:3px;align:center;">
  <div  class="Titledes">Are you looking to find information about specific product?</div>
<div class="Titledessmall" style="margin-top:-5px;">Enter the name of the car, bike, mobile, tablet, camera or cycle in the following box to get all the information.</div>

 <div class="search" style="align:center;padding-left:280px;">
  
    <span class="search_txt" id="plannToSearchSpan" style="background:none;">
        <input name="Search" type="text" placeholder="" id="plannToSearch1" style="border:solid 1px;padding-left:5px;"/>
   
    </span>
    <a class="btn_search" href="#"></a>
  </div> 
</div>
<div class="PopupOr" style="clear:both;"><img alt="" src="/images/or_icon.png"></div>
<div style="clear:both;margin-top:15px;padding:top:100px;">
<div style="width:100%;height:250px;float:left;border: solid 0px #cdd3d7;display:block;padding:3px;align:center;">
  <div  class="Titledes">Are you interested in Photography or Cycling?</div>
<div class="Titledessmall" style="margin-top:-5px;">Check out all the topics of interest around Photography and Cycling and connect with others based on your interest.</div>

<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top:15px">
      <tbody><tr>
        
        
        <td>
          <div class="divheader">
             <a href="/topics/landscape-photography">
                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/HDR%20or%20Travel.jpeg" alt="Bike"  class="imgbuyingplanhome"/>
             </a><br>
         <p class="textbuyingplanhome">Landscape Photography</p>        
      </div>
    </td>

        <td>
          <div class="divheader">
           <a href="/topics/bird-photography">
                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/Bird.jpeg" alt="Bike"  class="imgbuyingplanhome"/>
             </a><br>
         <p class="textbuyingplanhome">Bird Photography</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
              <a href="/topics/composition">
                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/Composition.jpeg" alt="Bike"  class="imgbuyingplanhome"/>
             </a><br>
         <p class="textbuyingplanhome">Composition</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
              <a href="/topics/lighting">
                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/butterfly.jpeg" alt="Bike"  class="imgbuyingplanhome"/>
             </a><br>
         <p class="textbuyingplanhome">Lighting</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
          <a href="/topics/cycle-training">
                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/cycle%20(2).jpeg" alt="Bike"  class="imgbuyingplanhome"/>
             </a><br>
         <p class="textbuyingplanhome">Cycling Training</p>        
      </div>
    </td>
      <td>
          <div class="divheader">
              <a href="/topics/cycle-maintenance">
                 <img src="http://s3.amazonaws.com/Plannto/items/topic/medium/Cycle.jpeg" alt="Bike"  class="imgbuyingplanhome"/>
             </a><br>
         <p class="textbuyingplanhome">Cycling Maintenance</p>        
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding-top:10px;text-align:left;"><a href="/camera/topics">View all Photography Topics</a></td>
    <td colspan="3" style="padding-top:10px;text-align:right;"><a href="/cycle/topics">View all Cycling Topics</a></td>
  </tr>      
</tbody></table>
</div>

</div>

<div class="PopupOr" style="clear:both;"><img alt="" src="/images/or_icon.png"></div>
<div style="clear:both;margin-top:15px;padding:top:100px;">
<div style="width:100%;float:left;border: solid 0px #cdd3d7;display:block;padding:3px;align:center;">
  <div  class="Titledes">Are you looking for popular products?</div>
<div class="Titledessmall" style="margin-top:-5px;">Check out all the cars, bikes, mobiles, tablets, cameras and cycles available in the market.</div>


<table>
  <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cars
        </div>
        <% configatron.popular_cars.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/car/search" class="txt_blue" style="float:right;">View All Cars</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Bikes
        </div>
        <% configatron.popular_bikes.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/bike/search" class="txt_blue" style="float:right;">View All Bikes</a>
       </div>
    </td>
 </tr>
   <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Mobiles
        </div>
        <% configatron.popular_mobiles.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/mobile/search" class="txt_blue" style="float:right;">View All Mobiles</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Tablets
        </div>
        <% configatron.popular_tablets.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/tablet/search" class="txt_blue" style="float:right;">View All Tablets</a>
       </div>
    </td>
 </tr>
   <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cameras
        </div>
        <% configatron.popular_cameras.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/camera/search" class="txt_blue" style="float:right;">View All Cameras</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cycles
        </div>
        <% configatron.popular_cycles.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/cycle/search" class="txt_blue" style="float:right;">View All Cycles</a>
       </div>
    </td>

   
 </tr>
</table>
</div>
<%#end%>
    <script type="text/javascript" src="slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider1').nivoSlider();
        $('#slider').nivoSlider();
    });
    </script>
   </div>
 </div>
<%end%>

<div>
  <div style="width:315px;height:323px;margin-left:0px;float:left;border: solid 1px #cdd3d7;display:block;padding:0px;">
    <div id="wrapper">
       <div class="slider-wrapper theme-light">
          <div id="slider1" class="nivoSlider">
            <% configatron.popular_cars.split(",")[0..3].each do | id| %>
              <% item = Item.find(id) rescue "" %>
              <a href="<%=(item.get_url())%>"> <img  src="<%=item.image_url%>" alt="<%=item.name%>" title="#htmlcaption<%= id %>" ></a>
              <%end%>
             </div>
           <% configatron.popular_cars.split(",")[0..3].each do | id| %>
              <% item = Item.find(id) rescue "" %>   
             <div id="htmlcaption<%= id %>" class="nivo-html-caption">
               <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a>
              </div>
             <%end%>
             </div>
         </div>
      </div>
      
     <div style="width:315px;height:323px;margin-left:10px;float:left;border: solid 1px #cdd3d7;display:block;padding:0px;">
        <span class="search_txt" id="plannToSearchSpan" style="background:none;">
      Search Car:<input name="Search" type="text" placeholder="" id="plannToSearch_car" style="border:solid 1px;margin:130px 5px 0px 5px;width:240px;"/>
        </span>
     </div>
     
      <div style="width:315px;height:323px;margin-left:10px;float:left;border: solid 1px #cdd3d7;display:block;padding:0px;">
        <% Content.latest_contents("Car").each do |id| %>
          <%content = Content.find(id) rescue "" %>
          <%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %>
          <% if (content.is_a?(ArticleContent) && content.url? rescue false) %>
        - (<a class="txt_black_description txt_onhover" style="cursor: pointer; cursor: hand;" href="/external_contents/<%= content.id %>"><%=  URI.parse(URI.encode(URI.decode(content.url))).host.gsub("www.","") %> </a>)
       <%end%>
          <%if content.thumbnail?%><div><img src="<%= content.thumbnail %>" class="uploadedarticleContentdisplay"/></div><%end%><hr></hr>
       <%end%>
       <%= link_to  "#{Content.total_number_of_contents("Car","Reviews")}  Reviews","/cars?fl=Reviews" %>&nbsp;&nbsp;&nbsp;  
       <%= link_to  "#{Content.total_number_of_contents("Car","Deals")} Deals","/cars?fl=Deals" %>&nbsp;&nbsp;&nbsp;  
       <%= link_to  "#{Content.total_number_of_contents("Car","News")} News","/cars?fl=News" %> &nbsp;&nbsp;&nbsp; 
       <%= link_to  "#{Content.total_number_of_contents("Car","Travelogue")} Travelogue","/cars?fl=Travelogue" %>
       <%= link_to  "#{Content.total_number_of_contents("Car","HowTo/KB")} HowTo","/cars?fl=HowTo/KB" %>
       
      </div>
   </div>
   
<script>
$(document).ready(function(){
    reinitialiseVotingPoshyTip();

    $("#ui-active-menuitem").mouseout(function() {
        $("#ui-active-menuitem").hide();
    });

    $('#plannToSearch_car').focus(function(){
        $(this).val('');
        $(this).keydown();
    });




    $("#plannToSearch_car").autocomplete({
        minLength: 2,
        format: "js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source: function( request, response )
        {
            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('plannToSearchSpan');
            var spinner = new Spinner(opts).spin(target);
            $.ajax(
            {
                url: "/search/autocomplete_items",
                data: {
                    term: request.term,
                    search_type: "Car"
                },
                type: "get",
                dataType: "json",
                success: function( data )
                {
                    response( $.map( data, function( item )
                    {
                        return{
                            id: item.id,
                            value: item.value,
                            imgsrc: item.imgsrc,
                            type: item.type,
                            url: item.url
                        }
                    }));
                    spinner.stop();
                }
            });
        },
        focus:function(e, ui) {
            return false
        },
        select: function( event, ui ) {
            if (ui.item.id  == 0){
            	//alert(ui.item.url)
                location.href = "/search/search_items?q=" + ui.item.url
            // return false;
            }
            else{
                location.href = "" + ui.item.url
            // return false;
            }
        // return false;
        }
    })
       _renderMenu = function(ul, items) {
        var self = this;
        $.each(items, function(index, item) {
            self._renderItem(ul, item, index);
        });
        
        item = {
            value: "Search more items...",
            id: "0",
            imgsrc: ""
        }
        self._renderItem(ul, item, -1);
    };
    $("#plannToSearch_car").data("autocomplete")._renderItem = function(ul, item, index) {
    	
        if (item.id == 0) {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a class='searchMore'>" + item.value + "" + "</a>")
            .appendTo(ul);
        }
        else {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
            .appendTo(ul);
        }
    };

});
</script>

