<div id="maincontainer" class="maincontainerCss1">
<div class="Homeinnercontent">

<script type="text/javascript" language="javascript" src="/javascripts/jquery.easing.min.1.3.js"></script>
<script type="text/javascript" language="javascript" src="/javascripts/jquery.jcontent.0.8.min.js"></script>
   <script type="text/javascript" language="javascript">
      $("document").ready(function(){
       $("div#demo3").jContent({orientation: 'horizontal', 
                                   easing: "easeOutCirc", 
                                   duration: 8000,
                                   width: 1000,
                                   height: 430,
                                   auto: true,
										 pause_on_hover: true,
                                    direction: 'next',
                                    pause: 8000});
                                     
              				 
            });
        </script>	         	        
   <div id="demo3" class="demo3" style="height:450px;">	
      <div class="slider slides" id="slider1" >
        <div>
          <span onclick="slider3.style.display='block';slider1.style.display='none';" class="left_arrow"></span>
	<span onclick="slider2.style.display='block';slider1.style.display='none';" class="right_arrow"></span>
    <ul>
	   <li>
	<img src="/images/slider_3.png" alt="Sliderone" />
	  <h1>Trusted Platform for Buyers, Owners, Sellers and Experts </h1></li>
	  <li><p>
	1000s of products and Topics in Mobiles, Cars, Bikes, Cycles, Tablets and Cameras.<br/><br/>
	Follow each product as a buyer, owner or expert and share the knowledge about the product.<br/><br/>
	Get all the information about the product in a personalized way.<br/>
    </p>
	    </li>
	  </ul>
      </div>
        <div>
         <span onclick="slider1.style.display='block';slider2.style.display='none';" class="left_arrow"></span>
	<span onclick="slider3.style.display='block';slider2.style.display='none';" class="right_arrow"></span>
	<ul>
	 <li>
     <img src="images/slider2.png" alt="Sliderone" />
        <h1>Search all available and upcoming products</h1></li>
     <li><p>Search the products based on various preferences<br/>
       </p></li>
	  </ul>
        </div>
      <div>
       <span onclick="slider2.style.display='block';slider3.style.display='none';" class="left_arrow"></span>
	<span onclick="slider1.style.display='block';slider3.style.display='none';" class="right_arrow"></span><ul>
	 <li>
	<img src="images/slider_pic.png" alt="Sliderone" />
		<h1>Structured Knowledge about the product. </h1></li>
		<li><p>Each product information is structured in such way that it can be accessed based on the need.<br/><br/>
		Compare prices from various sellers for each product.<br/>
		</p>
	</li>
	</ul>
</div>
     </div>		
  </div>
   </div>
 </div>
<table>
  <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cars
        </div>
        <% configatron.popular_cars.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/car/search" class="txt_blue" style="float:right;">View All Cars</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Bikes
        </div>
        <% configatron.popular_bikes.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/bike/search" class="txt_blue" style="float:right;">View All Bikes</a>
       </div>
    </td>
 </tr>
   <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Mobiles
        </div>
        <% configatron.popular_mobiles.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/mobile/search" class="txt_blue" style="float:right;">View All Mobiles</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Tablets
        </div>
        <% configatron.popular_tablets.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/tablet/search" class="txt_blue" style="float:right;">View All Tablets</a>
       </div>
    </td>
 </tr>
   <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cameras
        </div>
        <% configatron.popular_cameras.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/camera/search" class="txt_blue" style="float:right;">View All Cameras</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cycles
        </div>
        <% configatron.popular_cycles.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">Ratings
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/cycle/search" class="txt_blue" style="float:right;">View All Cycles</a>
       </div>
    </td>
 </tr>
</table>
