<div id="maincontainer" class="maincontainerCss1">
<div class="Homeinnercontent">
 <!-- <link rel="stylesheet" href="slider/themes/default/default.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="slider/themes/light/light.css" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="slider/themes/dark/dark.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="slider/themes/bar/bar.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="slider/nivo-slider.css" type="text/css" media="screen" />
  <div style="width:927px;margin-left:25px;">
   <div id="wrapper">
        <div class="slider-wrapper theme-light">
            <div id="slider" class="nivoSlider">
                <img src="images/slider1_img.png" data-thumb="images/slider1.png" alt="" />
                <img src="images/slider2_img.png" data-thumb="images/slider2.png" alt=""  />
                <img src="images/slider3_img.png" data-thumb="images/slider3.png" alt="" />
            </div>
      
        </div>

    </div>
  </div>
  
    <script type="text/javascript" src="slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
   </div>
 </div>
 <!--
<table>
   <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Mobiles
        </div>
        <% configatron.popular_mobiles.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/mobile/search" class="txt_blue" style="float:right;">View All Mobiles</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Tablets
        </div>
        <% configatron.popular_tablets.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/tablet/search" class="txt_blue" style="float:right;">View All Tablets</a>
       </div>
    </td>
 </tr>  
  <tr>
    <td width="460px">
        <div class="homepageprodheaddiv">
          Popular Cars
        </div>
        <% configatron.popular_cars.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/car/search" class="txt_blue" style="float:right;">View All Cars</a>
       </div>
    </td>
    <td width="80px;"></td>
    </td>
    <td width="460px">
        <div class="homepageprodheaddiv">
          Popular Bikes
        </div>
        <% configatron.popular_bikes.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/bike/search" class="txt_blue" style="float:right;">View All Bikes</a>
       </div>
    </td>
 </tr>
   <tr>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cameras
        </div>
        <% configatron.popular_cameras.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/camera/search" class="txt_blue" style="float:right;">View All Cameras</a>
       </div>
    </td>
    <td width="40px;"></td>
    </td>
    <td width="480px">
        <div class="homepageprodheaddiv">
          Popular Cycles
        </div>
        <% configatron.popular_cycles.split(",")[0..2].each do | id| %>
           <% item = Item.find(id) rescue "" %>
           <div class="homepageproddiv">
            <span class="homepageimgspan">
              <img  src="<%=item.image_url%>" alt="<%=item.name%>" width="120" height="90" style= "cursor: pointer;" onclick="parent.location='<%=(item.get_url())%>'"/></span>
              <span class="homepagenamespan">
              <a href="<%=item.get_url()%>" class="homepageprodname txt_onhover"><%= item.name %></a><br/>
            <% if item.is_a? Product %>
                   <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
                    <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "item#{item.id}"} %>
                 <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
              <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %>      
            </a><br />
            
             <%end%> 
           </div>
           <br/>
       <%end%>
       <div class="homepageviewall" >
            <a href="/cycle/search" class="txt_blue" style="float:right;">View All Cycles</a>
       </div>
    </td>
 </tr>
</table>
-->
<div class="FaceImg" style="padding-left:300px;">
    <%= link_to image_tag('facebook_btn_signup.jpg'), user_omniauth_authorize_path(:facebook, :display=>"popup"), :class => "fbpopup" %>
     <span style="margin-left:50px;"><%= link_to image_tag('home_sign_up.png'),new_user_registration_path %></span>
   
 </div>
