
<h2>Report From <%= @start_date.to_date.strftime("%d-%m-%Y") %> To <%= @end_date.to_date.strftime("%d-%m-%Y") %></h2>
<br />
<h3>Total Impressions: <%= @impressions.count %></h3>
<h3>Total Clicks: <%= @clicks.count %></h3>

<h2> Impressions </h2>

<table border="1" width="800px">
<tr>
  <th> Advertisement type</th>
  <th> Impression ID </th>
  <th> Item </th>
  <th> Hosted Site Url </th>
  <th> Impression Time </th>
  <th> User </th>
  <th> Ip address </th>
</tr>
 <%@impressions.each do |im | %>
   <tr>
     <td><%= im.advertisement_type  %> </td>
     <td><%= im.impression_id %> </td>
     <td><%= im.item.name rescue '' %> </td>
     <td><%= im.hosted_site_url %> </td>
     <td><%=  im.impression_time %> </td>
     <td><%= im.user.name rescue '' %> </td>
     <td><%= im.ip_address %> </td>
  </tr>
<%end%>  
 </table> 
  <%= will_paginate @impressions %>
 <h2> Clicks </h2> 
<table border="1" width="800px">
  <tr>
    <th> Impression ID </th>
    <th> Click Url </th>
    <th> Item </th>
    <th> Hosted Site Url </th>
    <th> Timestamp </th>
    <th> User </th>
    <th> Ip address </th>
  </tr>
  <%@clicks.each do |c| %>
    <tr>
      <td><%= c.impression_id %> </td>
      <td><%= c.click_url %> </td>
      <td><%= c.item.name rescue '' %> </td>
      <td><%= c.hosted_site_url %> </td>
      <td><%= c.timestamp %> </td>
      <td><%= c.user.name rescue '' %> </td>
      <td><%= c.ipaddress %> </td>
    </tr>
  <%end%>
  </table>
  <%= will_paginate @clicks %>     
