<% @sliced_item_details = @item_details.each_slice(02) %>

<div class="advt-block">
  <div class="advt-120">
    <% if @sliced_item_details.count != 0 %>
         <!--<div class="planntoadlogo">
           <%#= link_to image_tag("#{configatron.root_image_path}static/images/logosc.png", :width => "12px"), configatron.hostname + "/opt_out", :target => "_blank" %>
         </div>-->
        <div class="logo"><a href="javascript:void(0)"><img src="<%= @vendor_image_url %>" alt="" width="100px" height="32px"></a></div>
        <div id="pager2" class="pager">
          <% if @item_details.count > 2 %>
          <% [*1..@sliced_item_details.count].each do |each_loop| %>
              <a href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
          <% end %>
          <% end %>
        </div>
        <div class="advt-box">
          <% @sliced_item_details.each_with_index do |sliced_item_detail, indx| %>
              <% vendor_detail = get_vendor_detail(sliced_item_detail.first.site.to_i) %>
              <% ad_url_extra = get_ad_url(sliced_item_detail.first.id, @impression_id, @ref_url, @sid, params[:ads_id], params) %>
              <div class="item_details" id="item_detail_<%= indx + 1 %>">
                <% if sliced_item_detail.count > 1 %>
              <% sliced_item_detail.each_with_index do |item_detail, itindex| %>
                        <% vendor_detail = get_vendor_detail(item_detail.site.to_i) %>
                    <div class="product-container" >
                       <div class="product-img">
                      <a href="javascript:void(0)" style="text-decoration:none;">
                        <%= get_image_tag(item_detail, vendor_detail.vendor_name, @item.base_item_image_url(:medium), 106,79).html_safe %>
                        <!-- <img src="<%#= item_detail.item.image_url %>" alt="" width="100px" height="100px"> -->
                      </a>
                    </div>

                      <div>
                        <span><h3 class="product-title" title="<%=item_detail.ItemName%>"><%= item_detail.ItemName.to_s.truncate(46) %></h3>
                    </span>
                        <span style="font-size: 11px;color: #000;">Starting at - </span>
                        <span class="price"><%= convert_num_to_laksh_or_crore(item_detail.price) %></span>
                  
                      <div style="padding: 5px 0px;color: #000;font-size: 10px;">
                        <!--  <span style="font-style:italic;">Benefits upto Rs 32,000<sup>*</sup>.</span> -->
                        <span>EMI: <%= prettifyforcaremi(item_detail) %></span><span>*</span>
                      </div>
                      <div style="padding: 5px 0px;color: #000;font-size: 10px;font-weight:bold;">
                         <%= raw get_autoportal_links_for_ad(@click_url, ad_url_extra, sliced_item_detail.first) %>
                       </div> 
                          </div>
                   
                    

                    <!--
                    <p class="product-desc">
                      <%#= truncate_without_dot(get_offer_for_ad(@ad, sliced_item_detail.first, vendor_detail.default_text), 45) %>
                    </p> -->
                    <!--<p class="price-strike">Rs. 40, 000</p>-->
                    

                    <p class="btn">
                      <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params) %>
                      <% @ad_url = ad_url %>
                      <% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>
                      <a href="<%= shop_now_url %>" target="_blank" class="shop-now">Check On-Road Price</a>
                    </p>
                  </div>
              <% end %>
              <!-- <div class="product-extra-desc">
                <p>
                  <%= raw get_autoportal_links_for_ad(@click_url, ad_url_extra, sliced_item_detail.first) %>
                  <%#= raw get_offer_for_ad(@ad, sliced_item_detail.first, vendor_detail.default_text, 50, nil) %>
                </p>
              </div> -->
                <img class="vendor_image_src" src="<%= vendor_detail.full_imageurl %>" alt="" style="display: none;">
                <% else %>
                    <%= item_detail = sliced_item_detail.first %>
                    <% vendor_detail = get_vendor_detail(item_detail.site.to_i) %>
                    <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params) %>
                    <% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>

                    <div class="product-container-new">
                      <a href="<%= shop_now_url %>" target="_blank" class="">
                        <h3 class="product-title-new"><%= item_detail.ItemName.to_s.truncate(57) %></h3>
                        <div>
                          <span style="font-size: 11px;color: #000;">Starting at - </span>
                          <span class="price"><%= convert_num_to_laksh_or_crore(item_detail.price) %></span>
                        </div>
                        <div style="padding: 5px 0px;color: #000;font-size: 10px;">
                          <!--  <span style="font-style:italic;">Benefits upto Rs 32,000<sup>*</sup>.</span> -->
                          <span>EMI: <%= prettifyforcaremi(item_detail) %></span><span>*</span>
                        </div>
                      </a>


                      <div class="product-img">
                        <a href="<%= shop_now_url %>" target="_blank">
                          <%= get_image_tag(item_detail, vendor_detail.vendor_name, @item.base_item_image_url(:medium), 106, 0).html_safe %>
                          <!-- <img src="<%#= item_detail.item.image_url %>" alt="" width="100px" height="100px"> -->
                        </a>
                      </div>


                      <p class="btn">
                        <a href="<%= shop_now_url %>" target="_blank" class="shop-now">
                          <%= @vendor_detail.action_text.blank? ? "Shop Now" : @vendor_detail.action_text %>
                        </a>
                      </p>
                    </div>
                    <div class="product-extra-desc-new"><p>
                      <%= raw get_autoportal_links_for_ad(@click_url, ad_url, item_detail) %>
                      <%#= raw get_offer_for_ad(@ad, item_detail, vendor_detail.default_text, 60, shop_now_url) %>
                    </p></div>


                    <style type="text/css">
                        .advt-120 .advt-box .product-container-new {
                            height: 420px;
                            margin: 5px 0 0;
                            padding: 5px 0px;
                        }
                        .product-container-new a {
                            text-decoration: none !important;
                        }

                        .advt-120 .advt-box .product-container-new h3 {
                            color: #222;
                            font-family: Arial;
                            font-size: 15px;
                            font-weight: bold;
                            height: 60px;
                            margin: 15px 0;
                            padding: 0;
                            text-align: center;
                            word-break:break-word;
                        }
                        h3.product-title-new {
                            word-break: break-all;
                        }
                        .advt-120 .advt-box .product-container-new .price {
                            color: #bf0000;
                            font-family: Arial monospace;
                            font-size: 15px;
                            font-weight: bold;
                            margin: 10px 0;
                            padding: 0;
                            text-align: center;
                        }
                        .advt-120 .advt-box .product-container-new .product-img {
                            margin: 0;
                            padding: 30px 0;
                        }
                        .advt-120 .advt-box .product-container-new .product-img img {
                            margin: 0 auto;
                            text-align: center;
                        }

                        .advt-120 .advt-box .product-container-new.btn{ margin:15px 0px 0px 0px; padding:0; text-align:center;}
                        .advt-120 .advt-box .product-container-new .btn .shop-now { margin:0; padding:5px 5px; background:#F76300; color:#fff; font-size:11px; text-transform:uppercase; border:0; cursor:pointer; display:inline-block; text-decoration:none; font-weight:bold;  text-align:center;}

                        .advt-120 .advt-box .product-extra-desc-new {
                            position: absolute;;
                            color: #222;
                            font-size: 11px;
                            margin: 5px 0 0;
                            padding: 15px 5px 5px 0px;
                            text-align: center;
                            width: 112px;
                        }
                    </style>
                    <img class="vendor_image_src" src="<%= vendor_detail.full_imageurl %>" alt="" style="display: none;">
                <% end %>
              </div>
          <% end %>
        </div>
    <% else %>
        No Product Found
    <% end %>

  </div>
  <!-- end of advt-120 -->
</div><!-- end of advt-block -->


<style type="text/css">
    .pager a {
        margin: 0px !important;
    }
    .advt-120 .logo {
        padding: 5px 0 !important;
    }


    .advt-120 .advt-box .product-container {
        height: 265px;
    }
    .main_div {
        text-align: center;
    }

    .advt-120 .advt-box .product-extra-desc {
        padding: 4px !important;
    }

</style>