<div class="content-box">
  <div class="sidebar-box sidebar-box-search">
  <div class="sidebar-box-contents">
    <form method="post" action="<%= configatron.hostname %>/pages/estore_search" id="sidebar-search-form">
      <input type="text" placeholder="Search..." value="" name="keywords" id="sidebar-search-keywords">
      <input type="submit" value="Search" class="button button-sidebar button-sidebar-search button-sidebar-search-submit">
    </form>
  </div>
  </div>


  <div style="" class="content-box-header category-header">
    <h1 id="categoryproducts-title" class="heading content-box-title"><span class="category-title-overlay">Helmets</span>
    </h1>
  </div>

  <div class="content-box-contents">
    <div id="categoryproducts-text-main" class="page-text-main"></div>

    <div class="clearall"></div>


    <div id="categoryproducts-productlisting" class="productlisting">

      <% @item_details.each do |item_detail| %>
          <div class="productlisting-box ">
            <div class="productlisting-image">
              <a href="<%= item_detail.url %>" target="_blank">
                <% if @search == true %>
                    <img width="132px" height="px" class="ad_img_tag" id="item_details" alt="" src="<%= item_detail.image_url %>">
                <% else %>
                    <%= get_image_tag(item_detail, "Amazon", @item.base_item_image_url(:medium), 132, '').html_safe %>
                <% end %>
              </a>
            </div>

            <h3 class="productlisting-title">
              <a href="<%= item_detail.url %>" target="_blank">
                <%= item_detail.ItemName.to_s.truncate(50) %>
              </a></h3>

	<span class="productlisting-price-details">
					<span class="productlisting-notreduced product-notreduced product-price productlisting-price">only</span>

					<span class="product-price-current productlisting-price-current product-price productlisting-price">
                      <%= prettify(item_detail) %>
					</span>
			</span>

            <div class="clearall"></div>

          </div>
      <% end %>
    </div>
    <br clear="both" />
    <div id="categoryproducts-text-secondary" class="page-text-secondary"></div>

    <% if @search  == true %>
        <%= link_to "More Items...", @more_items, :target => "_blank", :class => "more_items", :style => "color:black;" %>
    <% else %>
        <%= will_paginate @item_details , :page_links => true %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function()
  {
      item_type = "<%= params[:item_type] %>"

      $(".category-title-overlay").text($(".sidebar-category.selected a").text())
  })
</script>