<style type="text/css">

body {font-family: Arial; padding: 20px 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a { color: #4390BB; text-decoration: none; }
a:hover { color: #4390BB; text-decoration: underline; }
ol { color: #4c4c4c; }
.clearall { clear: both; height: 0; margin: 0 !important; padding: 0 !important; }
.content-box-title { font-size: 155%; font-family: 'Trebuchet MS', sans-serif; color: #4c4c4c; }
textarea { overflow: auto; }
.nobullet { list-style: none; }
.padlist { padding-left: 5px; }
.content-sidebar { float: left; max-width: 240px;min-height:900px; width:25%;padding-left: 10px; padding-right: 20px;border-right: 1px solid #C8C8C8;}
.content-main { float: right; width: 75%; margin-right: 5px; }
header { background-color: #fff; }
sidebar-box { margin-bottom: 20px; }
.sidebar-box-header h4 { font-size: 125%; font-family: 'Trebuchet MS', sans-serif; color: #4c4c4c; margin-bottom: 10px; }
.sidebar-box-header a { text-decoration: none; font-size: 85%; color: #4390BB; }
.sidebar-box-header a:hover { color: #4390BB; text-decoration: underline; }
.sidebar-box-contents { overflow: hidden; }
.sidebar-box-contents li {list-style: none;}
.sidebar-box-contents li a { color: #4c4c4c; text-decoration: none; display: inline; font-size: 14px; }
.sidebar-links-list li a, .sidebar-brand a { padding-left: 4px; }
.sidebar-box-contents li span { color: #8c8c8c; padding: 0px 3px; }
.sidebar-box-contents li a:hover { color: #4390BB; text-decoration: underline; }
.sidebar-box-contents .selected a { color: #46738b; font-weight: bold; }
span.nocount { display: none; }
#sidebar-search-keywords { width: 100%; border: 1px solid #dee6ec; height: 25px; background: #eef2f5 ; color: #333; padding-left: 10px; }
.button-sidebar-search-submit { display: none; }
.category-title-overlay {font-size:18px; float: left; margin-top: 2px; margin-left: 1px; padding: 5px;  background-color: #616161;width:100%;}

h1#categoryproducts-title, h1#categorysubcategories-title { color: #fff; font-size: 180%; font-family: 'Trebuchet MS',sans-serif; letter-spacing: 1px; }

#categoryproducts-text-main { clear: left; }
.productlisting-box { width: 170px; margin: 0 10px 20px 0; padding: 10px; float: left; }
.productlisting .last { margin-right: 0px; padding-right: 0px; }
.productlisting-image { height: 115px; line-height: 115px; text-align: center; }
.productlist-image { top: 10px; }
.productlisting-image img { vertical-align: middle; }
.productlisting-title { padding-top: 5px; font-size: 14px; height: 60px; margin-bottom: 0px; text-align: center; }
.productlisting-title a { color: #4c4c4c; font-weight: normal; text-decoration: none; }
.productlisting-title a:hover { color: #4390BB; text-decoration: underline; }
.productlisting-buttons { font-size: 120%; font-family: 'Trebuchet MS', sans-serif; line-height: 1.5em; margin-left: 15px; }
.productlisting-price-details, .bundle-product-price-details { font-size: 100%; display: block; text-align: center; margin-bottom: 10px; font-weight: bold; }
.productlisting-price, .bundle-product-price { color: #3c3c3c; }
.productlisting-price-original, .bundle-product-price-original { color: #999; font-weight: normal; }
.productlisting-notreduced, .bundle-product-not-reduced { color: #46738B; }
.pagination-options { border-bottom: 1px dotted #EFF2F5; background-color: #E0E5EA; overflow: auto; font-size: 99%; padding: 5px 5px 2px; margin-top: 10px; }
.pagination-options label { margin-right: 5px; }
.pagination-options select { margin-right: 30px; color: #666; padding: 1px; }
.pagination-options-sortby { float: left; margin-left: 15px; }
.pagination-options-perpage { float: left; }
 #pagination-previousnext-container, .pagination-previousnext-padsges { text-align: right; margin-right: 10px; float: right; }
.pagination-previousnext-listing li { display: inline; }
.pagination-previousnext { float: right; padding-bottom: 10px; padding-right: 20px; }
.pagination-previousnext-info { text-align: center; float: left; padding-right: 20px; color: #4c4c4c; }




/* @end */
        </style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript"
        src="http://www.hawgy.com/templates/xko-serenity/scripts/selectivizr-min.js"></script><![endif]-->

<div id="content-categoryproducts" class="content">



<div id="content-main-categoryproducts" class="content-main">
  <%= render :partial => "contents" %>
</div>

<div id="content-sidebar-categoryproducts" class="content-sidebar">


<div class="sidebar-box sidebar-box-categories">

  <% @categories.each do |k, val| %>
      <div class="sidebar-box-header">
        <h4><%= k %></h4>
      </div>

      <div class="sidebar-box-contents">
        <ul class="sidebar-category-list">
          <% val.each do |each_key, each_val| %>
              <li class="sidebar-category sidebar-category-level-0 icon-arrow-right nocount" style="padding-bottom:5px;">
                <a href="<%= configatron.hostname %>/pages/estore_plugin?item_type=<%= each_val %>"><%= each_key %></a> <span class="count nocount">(410)</span>
              </li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>


</div>

<div class="clearall"></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        $(".sidebar-category").first().addClass("selected")
        $(".category-title-overlay").text($(".sidebar-category.selected a").text())
        $(".sidebar-category a").click(function()
        {
            $(".sidebar-category").removeClass("selected")
            $(this).parent().addClass("selected")
            var params = $(this).attr("href").split("?")[1]
            var this_item_type = params.split("=")[1]

            $(".category-title-overlay").text($(this).text())

            $.get("",{page: 1, item_type: this_item_type},null,"script").success(function() {

            })
            return false
        })

        item_type = "<%= params[:item_type] %>"
        $('div.pagination a').live('click', function(){
            var page = $(this).text()
            var current = $('em.current').text();
            if (page == "← Previous"){
                page = parseInt(current) -1
            }
            else if (page == "Next →"){
                page = parseInt(current) + 1
            }

            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('spinner');
//            var spinner = new Spinner(opts).spin(target);
            console.log(item_type)
            console.log(123)
            $.get("",{page: page, item_type: item_type},null,"script").success(function() {
//                spinner.stop();
            })
            return false;
        })
    });

    $(".ad_img_tag").on("error", function()
    {
        var img_id = $(this).attr('id')
        if (img_id == "item_details") {
            $(this).attr('id', 'item')
            $(this).attr("src", $(this).attr('next_src'))
        }
        else if (img_id == "item")
        {
            $(this).attr('id', 'default_image')
            $(this).attr("src", $(this).attr('default_src'))
        }
    });
</script>