<%= render "shared/breadcrumb" %>
<div class="float_rgt">
<%= render 'shared/follow_buttons', :follow_type => 'CarGroup', :follow_html => 'button', :button_class => '', :item => @item, :related_items => false %>
  </div>
</div>




<div class="leftcolumnbig">
  <div class="productdetails">

    <%= render "manufacturers/" + @item.car_groups.last.class.superclass.name.underscore + '_image', :image_type => 'CarGroup' unless @item.car_groups.blank? %>
    <span class="product_details">
      <h1><%= @item.name %></h1>
    </span>
  </div>

  <br>

  <%= render :partial => "shared/review" %>
  <div id="usual2" class="usual">
    <ul class="tabs">
      <li class="tabstyle"><a href="#tabs1">Overview</a></li>
      <li class="tabstyle"><a href="#tabs2" id="specification">Specification</a></li>
      <li class="tabstyle"><a href="#tabs3">Questions</a></li>
    </ul>
  </div>
  <div id="tabs1" style="display: block; " class="main-content-section">


    <%= render "manufacturers/" + @item.car_groups.last.class.superclass.name.underscore unless @item.car_groups.blank? %>

    <div id="tabs2" style="display: none; " class="main-content-section">
      This specification tab
    </div>
    <div id="tabs3" style="display: none; ">Any Questions</div>
  </div>


</div>
<div class="rightcolumnsmall">
  <br/>

  <div>


    <a class="btns" href="#">Compare Cars</a>
    <a class="btns" href="#">Ask Advices</a>
    <a class="btns" href="#">Top Questions</a>

  </div>
  <br/>
  <%= render :partial =>"items/related_products" %>

    <%= render 'shared/product_button_javascript', :button_class => '', :item => @item, :related_follower => user_follow_type(@item, current_user), :related_items => false %>
    <%= render 'shared/show_hide_login_form', :item => @item %>

