<div id="main-content">
  <div>
    <span><a class="feedlink">Cars</a><span class="BreadCrumpG">></span><a class="feedlink">Fiat</a><span class="BreadCrumpG">></span><a class="feedlink">Grande
      Punto</a><span class="BreadCrumpG">></span><a class="feedlink">Grande Punto Active 1.2</a></span>
  </div>
  <div id="comment-notice"></div>
  <%= render 'shared/follow_buttons', :follow_type => 'CarGroup', :follow_html => 'button' %>  
  <div class="feedcontentheader">
    <div>
      <span class="producttitle"><%= @item.name %></span>
    </div>

    <%= render "manufacturers/" + @item.car_groups.last.class.superclass.name.underscore + '_image', :image_type => 'CarGroup' unless @item.car_groups.blank? %>
    

    <div class="productcontentcreation">
      <div class="">
        <span class="buttonLink">Review Car</span>
        <span class="buttonLink"><a class="feedlink">Ask a Question</a></span>
        <span class="buttonLink"><a class="feedlink">Share a Tip</a></span>
      </div>

      <%= render :partial => 'reviews/review_block' %>

    </div>
    <div id="usual2" class="usual">
      <ul>
        <li class="tabstyle">
          <a href="#tabs1">All Models</a>
        </li>
        <li class="tabstyle">
          <a class="" href="#tabs2" id="specification">Specification</a>

        </li>
        <li class="tabstyle">

          <a href="#tabs3" class="">Questions</a>

        </li>
      </ul>
      <div id="tabs1" style="display: block; " class="main-content-section">


        <%= render "manufacturers/" + @item.car_groups.last.class.superclass.name.underscore unless @item.car_groups.blank? %>

      <div id="tabs2" style="display: none; " class="main-content-section">
        This specification tab
      </div>
      <div id="tabs3" style="display: none; ">Any Questions</div>
    </div>


  </div>
</div>
<div id="dialog-form" title="Create new user">
  <%= form_for(@user, :as => :user, :url => session_path("user"), :method => :post) do |f| %>
    <%= render "shared/login_fields", {:f => f} %>
  <% end %>
</div>

</div>
<script type="text/javascript">
  <% if @user_follow && @user_follow.follow_type == "Buyer" %>
  Product.load_buyer();
  <% end %>
  <% if @user_follow && @user_follow.follow_type == "Owner" %>
  Product.load_owner();
  <% end %>
  <% if @user_follow && @user_follow.follow_type == "Follow" %>
  Product.load_follow();
  <% end %>
  <% if current_user.blank? %>
  Product.load_signout_user_link();
  <% end %>

  Product.related_products('<%= related_products_product_path(@item, :follow_type => @user_follow ? @user_follow.follow_type : "") %>');

  $("#usual2 ul").idTabs("tabs1");
  Product.detailed_specification();
  <% if current_user.blank? %>
  Product.login_dialog();
  Product.show_login_dialog("#plan_to_buy, #plan_to_own, #plan_to_follow");
  <% else %>
  Product.hide_login_dialog();
  <% end %>
</script>