
<!--<div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(../images/pclose_but.png) no-repeat left top;position:relative;left:910px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div> -->
<br />
<br />
<br />
<div class="step_main_page" style="padding-top:40px;">
<div class="main_step">
	<ul>
<li >Step 1</li>
<li class="selected">Step 2</li>
<li>Step 3</li>
</ul>

<div class="clearboth"></div>
</div>
<br/>
<div class="alert alert-block">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
  <strong>Please specify the list of <%=@itemtype.itemtype.pluralize.downcase%> that you are considering to buy? </strong>
  
</div>
 <%= hidden_field_tag 'category',@itemtype.itemtype.downcase %>
<div class="search_block">
    <div class="title_header" style="padding:0px 0px 0px 0px;width:450px;height:26px;">
     <input name="search" style="margin-top:5px;width:360px; float:left;font-size:14px;min-height:20px;" type="text"  id="search_buying_car" /><input style="float:left;margin-top:5px;" class="wizardbutton" type="button"/> 
    </div>
       <div style="clear:both;padding:0px 0px 0px 55px;width:500px;height:20px;display:block">
      <label style="font-size:9px;color:gray;">[Type the name of the <%=@itemtype.itemtype.downcase%> in the above textbox to select it]</label>
    </div>

   </div>
     <div style="clear:both;"></div>
     <%= render "preferences/display_items", :items => items,:without_login => (without_login rescue "") %>
     <div class="search_block" style="float:right;padding:0px;margin-top:50px;">
     <button href="#" class="searchButton" style="font-size:15px;" id="preferenceGoToStep3">Next Step</button>
     
    <%#= f.submit 'Next Step',:id => "publishanswer",:class=>"searchButton",:style=>"font-size:15px;" %>
     <p style="margin:10px 0px 0px 5px;font-size:15px;color:gray;" id="skip">or <a href="#">skip</a></p>
      <div>
         <%= render "shared/ajax_loader" %>
      </div>
        </div>
</div>
 
<script type="text/javascript">
  $('#preferenceGoToStep3').click(function() {

 $.ajax(
            {
                url:"/preferences/edit_user_question?buying_plan_id=" + $("#buying_plan_id").val()  ,
                type:"GET",
                dataType:"script"
            });

  });
 
</script>
<script type="text/javascript">
  $('#skip a').click(function() {

 $.ajax(
            {
                url:"/preferences/edit_user_question?buying_plan_id=" + $("#buying_plan_id").val()  ,
                type:"GET",
                dataType:"script"
            });

  });
 
</script>

</div>

