
<% if (!@where_to_buy_items.empty?) %>
<div class="clearboth align_right font_11 pad_tb5">Last Updated On <%=@where_to_buy_items.collect(&:last_verified_date).max.strftime("%d-%m-%Y- %H:%M") %></div>
<div class="clearboth pad_b29">
<table  width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td class="th_blue">Seller Name</td>
    <td class="th_blue">Price</td>
    <td class="th_blue">Estimated Delivery Time</td>
    <td class="th_blue">&nbsp;</td>
  </tr>
  <% @where_to_buy_items.group_by(&:site).each do |site, items| %>
    <% displayBorder  = 0%>
    <%items.each_with_index do |item, index|%>      
      <%if display_item_details(item)%>
        <% displayBorder  = 1%>
        <%if index == 0%>
          <tr>
            <td class="bdb_gray1"><img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>" /></td>
            <td class="bdb_gray1 price_text"><%=display_price_detail(item)%></td>
            <td class="bdb_gray1 font_13"><%=display_shipping_detail(item)%></td>
            <td align="center" class="bdb_gray1" valign="top"><a href="/history_details?detail_id=<%=item.item_details_id%>" class="blue_small_but" target="_blank"><span>view store</span></a></td>
          </tr>
       <%= render "products/deals_offer",:item => item,:site => site %>
       <!--   
        <%#else%>
          <%#if index == 1%>
            <br/>
            <td colspan="4">Other variants <a class="bdb_gray1 price_text" target="_blank" style="padding:0px 5px 0px 10px;" href="/history_details?detail_id=<%=item.item_details_id%>"><%=display_price_detail(item)%></a>
            <%#elsif (items.size == index + 1) && index > 1%>
             |  <a style="padding:0px 0px 0px 5px;" class="bdb_gray1 price_text" target="_blank" href="/history_details?detail_id=<%=item.item_details_id%>"><%=display_price_detail(item)%></a>  </td></tr>
            <%#else%>
             | <a target="_blank" class="bdb_gray1 price_text" href="/history_details?detail_id=<%=item.item_details_id%>"><%=display_price_detail(item)%></a> 

          <%#end%>           
          -->
        <%end%>
      <%end%>
    <%end%>
    <%if displayBorder  == 1%>
      <tr  ><td colspan="4" style="border-bottom: solid 1px #cdd3d7;height:5px;"></td></tr>
    <%end%>
  <%end%>
  <tr></tr>
</table>
</div>
<%else%>
   <div style="clear:both;padding-top:10px;padding-bottom:50px;">
   <%= render  '/shared/alert_message',:type => 'buying_plan_deals'%>
 </div>
<%end%>
 <%unless @contents.blank? %>
       <h1><center> Deals </b></h1>
      <%= render "contents/contents" %>
 <%end%> 
<!--<% if (!@where_to_buy_items.empty?) %>
		
<div class="clearboth align_right font_11 pad_tb5">Last Updated On <%=@where_to_buy_items.collect(&:last_verified_date).max.strftime("%d-%m-%Y- %H:%M") %></div>
<div class="clearboth pad_b29">
<table  width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
  	<td class="th_blue">Product Name</td>
    <td class="th_blue">Seller Name</td>
    <td class="th_blue">Price</td>
    <td class="th_blue">Estimated Delivery Time</td>
    <td class="th_blue">&nbsp;</td>
  </tr>
     <% combine_list = [] %>
     <% @where_to_buy_items.group_by(&:itemid).each do |site, items| %>
    <%items.each_with_index do |item, index|%>
      <%if display_item_details(item)%>
          <% price = display_price_detail(item) %>
          <% shipping = display_shipping_detail(item) %>
          <% combine = "#{price}-#{shipping}" %>
         <%if !combine_list.include?(combine) %>
          <tr>
          	<td class="bdb_gray"><%=item.ItemName%></td>
            <td class="bdb_gray"><img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>" /></td>
            <td class="bdb_gray price_text"><%= price %></td>
            <td class="bdb_gray font_13"><%= shipping %></td>
            <td align="center" class="bdb_gray" valign="top"><a href="/history_details?detail_id=<%=item.item_details_id%>" class="blue_small_but" target="_blank"><span>view store</span></a></td>
          </tr>
        
      <%end%>
       <% combine_list << "#{price}-#{shipping}" %>
      <%end%>
    <%end%>
  <%end%>
</table>
</div>
<%else%>
   <div style="clear:both;padding-top:10px;padding-bottom:50px;">
   <%= render  '/shared/alert_message',:type => 'buying_plan_deals'%>
 </div>
<%end%>
   <%unless @contents.blank? %>
       <h1><center> Deals </b></h1>
      <%= render "contents/contents" %>
    <%end%>  -->
