<div class="">
 
  <span>
    <%if can_update_preference?(@buying_plan)%>
     
    <%end%>
      <%if request.xhr?%>
      <div id="btnDiv" style="display:block;">
      <div id="preferenceSpinner"></div>
    </div>
      <%end%>
  </span>
</div>
<div id="photo_box"  style="padding:20px 00px 0px 85px;">

  <div class="clear"></div>
    <% items.each do |follow| %>
      <%if !current_user %>
          <%item = follow %>
      <%else%> 
          <% item = follow.followable %>
      <%end%>  
        <div class="productinwizard" id="product_<%= item.id %>" style="width:160px;height:180px;display:block;background-color:#f9f9f9;">
          <div id="product_image" style="display:none;">image</div>
          <div class="imgprofilediv">
          <div class="imgpicbtnspan">
           <div style="margin-left:20px;width:160px;height:120px;display:block;">
              <%= link_to image_tag(item.image_url, height: "120", width: "160"), follow.blank?? follows_path(:follow => {followable_id: item.id, followable_type: item.type, follow_type: "buyer",type: "wizard"}) : "#", :method => :post%>
         
        </div>
       </div>
        <span class="imgtextspan">
            <%= link_to item.name, link_url(item), :class => "produ_bgimg" ,:style=>"width:155px;;margin-left:20px"%>
        </span>
      </div>
    
     <%if follow.blank? %>
        <div class="btn-group PadT10" style="margin-left:50px;">
            <%= link_to 'Plan to buy', follows_path(:follow => {followable_id: item.id, followable_type: item.type, follow_type: "buyer",type: "wizard"}), :method => :post,:class=>"btn btn-primary", :style=>'background:#ece1e1;'%> </a>
          </div>
        <%else%>
           <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                     <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= "Plan to buy" rescue "" %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a> 
                        <ul class="dropdown-menu">
                          <%if !current_user %>
                             <li><a href="#" id='write_review'><i class="icon-pencil"></i><%= link_to "Delete" , considered_item_delete_preferences_path(:item_id => follow.id,:buying_plan_id => @buying_plan.id ) ,:id => "close_#{item.id}",:remote => :true %></a></li>
                          <%else%>
                            <li><a href="#" id='write_review'><i class="icon-pencil"></i><%= link_to "Delete" , follow_path(follow,:buying_plan_id => @buying_plan.id ) ,:id => "close_#{item.id}",:method => :delete ,:remote => :true %></a></li>
                          <%end%>   
                           
                          <li class="divider"></li>
                          <li> </li>
                        </ul>
                     
                    </div></td>
              </tr>
            </table>
            
           
          </div>      
           <%end%>
            
            </div>
    <%end%>
 
<div class="clear"></div>
<% @default_considered_items.each do |follow| %>
  <%item = follow %> 
    <div class="productinwizard" id="" style="width:160px;height:180px;display:block;background-color:#f9f9f9;">
      <div id="product_image" style="display:none;">image</div>
       <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="margin-left:20px;width:160px;height:120px;display:block;">
         <%= link_to image_tag(item.image_url, height: "120", width: "160"), follow.blank?? follows_path(:follow => {followable_id: item.id, followable_type: item.type, follow_type: "buyer",type: "wizard"}) : "#", :method => :post%>
          </div>
        </div>
        <span class="imgtextspan">
            <%= link_to item.name, link_url(item), :class => "produ_bgimg" ,:style=>"width:155px;;margin-left:20px"%>
        </span>
      </div>
    
     <%if !item.blank? %>
        <div class="btn-group PadT10" style="margin-left:50px;">
            <%= link_to 'Plan to buy', plan_to_buy_preferences_path(:item_id => item.id,:buying_plan_id => @buying_plan.id,:display_type=> "popup"),:method => :get,:remote => :true,:class=>"btn btn-primary", :style=>'background:#ece1e1;'%> </a>
          </div>
      <%else%>
         <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                     <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= "Plan to buy" rescue "" %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a> 
                        <ul class="dropdown-menu">
                          <%if !current_user %>
                             <li><a href="#" id='write_review'><i class="icon-pencil"></i><%= link_to "Delete" , considered_item_delete_preferences_path(:item_id => follow.id,:buying_plan_id => @buying_plan.id ) ,:id => "close_#{item.id}",:remote => :true %></a></li>
                         <%else%>
                            <li><a href="#" id='write_review'><i class="icon-pencil"></i><%= link_to "Delete" , follow_path(follow,:buying_plan_id => @buying_plan.id ) ,:id => "close_#{item.id}",:method => :delete ,:remote => :true %></a></li>
                          <%end%>   
                         <li class="divider"></li>
                          <li> </li>
                        </ul>
                     
                    </div></td>
              </tr>
            </table>
           </div>      
           <%end%>
         </div>
    <%end%>


 </div>

<%= hidden_field_tag "buying_plan_id", @buying_plan.id %>
<%= hidden_field_tag "per_page_value", @per_page || ""%>
<script type="text/javascript">
  $('#updatePreference').click(function() {
window.location.href = '<%="/preferences/#{@buying_plan.itemtype.itemtype.downcase!}/#{@buying_plan.uuid}"%>'
  });
 
</script>

<script type="text/javascript">
  window._token = '<%= form_authenticity_token.to_s %>';
    /* ============================================================
 * bootstrap-dropdown.js v2.0.4
 * http://twitter.github.com/bootstrap/javascript.html#dropdowns
 * ============================================================
 * Copyright 2012 Twitter, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ============================================================ */


!function ($) {

  "use strict"; // jshint ;_;


 /* DROPDOWN CLASS DEFINITION
  * ========================= */

  var toggle = '[data-toggle="dropdown"]'
    , Dropdown = function (element) {
        var $el = $(element).on('click.dropdown.data-api', this.toggle)
        $('html').on('click.dropdown.data-api', function () {
          $el.parent().removeClass('open')
        })
      }

  Dropdown.prototype = {

    constructor: Dropdown

  , toggle: function (e) {
      var $this = $(this)
        , $parent
        , selector
        , isActive

      if ($this.is('.disabled, :disabled')) return

      selector = $this.attr('data-target')

      if (!selector) {
        selector = $this.attr('href')
        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
      }

      $parent = $(selector)
      $parent.length || ($parent = $this.parent())

      isActive = $parent.hasClass('open')

      clearMenus()

      if (!isActive) $parent.toggleClass('open')

      return false
    }

  }

  function clearMenus() {
    $(toggle).parent().removeClass('open')
  }


  /* DROPDOWN PLUGIN DEFINITION
   * ========================== */

  $.fn.dropdown = function (option) {
    return this.each(function () {
      var $this = $(this)
        , data = $this.data('dropdown')
      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
      if (typeof option == 'string') data[option].call($this)
    })
  }

  $.fn.dropdown.Constructor = Dropdown


  /* APPLY TO STANDARD DROPDOWN ELEMENTS
   * =================================== */

  $(function () {
    $('html').on('click.dropdown.data-api', clearMenus)
    $('body')
      .on('click.dropdown', '.dropdown form', function (e) { e.stopPropagation() })
      .on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
  })

}(window.jQuery);
</script>
