   <script  type="text/javascript" src="/javascripts/expanding.js"></script>
<!--  <div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(../images/pclose_but.png) no-repeat left top;position:relative;left:910px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div> -->
<br />
<br />
<br />
 <div class="step_main_page">
<div class="main_step">
<ul>
<li >Step 1</li>
<li>Step 2</li>
<li class="selected">Step 3</li>
</ul>
<div class="clearboth"></div>
</div>
<br/>
<div class="alert alert-block">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
  <strong>Please specify additional information about your buying preferences like expected usage or any other preferences that you couldnt specifiy in step 1.</strong>
</div>

<!--<div class="text_box">
<div style="font: bold 11px Tahoma,Arial, Helvetica, sans-serif;">Are you planning to buy a car, mobile, cycle, tablet, bike or camera? Select the product that you are considering. This will help us to provide the customized home page with the content that will help you to decide the right product.</div>
</div>-->

<div class="search_block">
    <div class="title_header" style="padding:0px 500px 0px 0px;width:50px;height:25px;">
        
    </div>
    </div>
   <div style="clear:both;"></div>
    <%= form_for :question,:url => { :controller => "preferences", :action => "update_question", :id =>  @question.id}, :html => {:id => "getAdviceForm1"} ,:remote => :true do |f|%>
              <%=  hidden_field_tag :question_id, @question.id %><br/>
              <div style="padding:5px 5px 0px 50px;text-align:center">

               <div class="title_header float_lft" style="width:100px;">Title:</div>
               <div class="float_lft" > 
              <%= text_field_tag :title,@buying_plan.user_question.title , :style=>"padding-left:5px;width:400px;"%>
               </div>
                  </div>
              <br />
              <br />  
             <div style="padding:5px 5px 0px 50px;">  
              <div class="title_header float_lft" style="width:100px;">Additional Information:</div>
              <div class="float_lft" >  
                 <%= text_area_tag :question,  @question.question ,:rows=>4,:cols=>80, :class => 'textFilling expanding', :style=>"padding-left:5px;width:400px;"%><div/>
             </div>
              <%= hidden_field_tag :display_type,"popup" %>
               <div  style="clear:both;float:right;padding:5px;width:180px;">
               <br /> <br />
         <%= f.submit 'Complete',:id => "preference_question1",:class=>"searchButton",:style=>"font-size:15px;" %>
      
      <div>
      <%= render "shared/expanding_text_area_style" %>
            <% end %>
      </div>
        </div>
</div>




















