   <script  type="text/javascript" src="/javascripts/expanding.js"></script>
  <div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(../images/pclose_but.png) no-repeat left top;position:relative;left:820px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>
 <div class="step_main_page">
<div class="main_step">
<ul>
<li >Step 1</li>
<li>Step 2</li>
<li class="selected">Step 3</li>
</ul>
<div class="clearboth"></div>
</div>
<br/>
<div class="alert alert-block">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
  <strong>Please add question.</strong>
</div>

<!--<div class="text_box">
<div style="font: bold 11px Tahoma,Arial, Helvetica, sans-serif;">Are you planning to buy a car, mobile, cycle, tablet, bike or camera? Select the product that you are considering. This will help us to provide the customized home page with the content that will help you to decide the right product.</div>
</div>-->

<div class="search_block">
    <div class="title_header" style="padding:0px 500px 0px 0px;width:450px;height:25px;">
        
    </div>
    </div>
   <div style="clear:both;"></div>
    <%= form_for :question,:url => { :controller => "preferences", :action => "update_question", :id =>  @question.id}, :html => {:id => "getAdviceForm1"} ,:remote => :true do |f|%>
              <%=  hidden_field_tag :question_id, @question.id %><br/>
               <b>Title</b>
               
              <%= text_field_tag :title,@buying_plan.user_question.title %>
             <!-- Send to Friends:
              <%= f.radio_button :plannto_network, false, :checked => true %>
              Plannto Network:
              <%= f.radio_button :plannto_network, true %><br/> -->
              <br />
              <br />
              <b>Description</b>
              <br />
              <%= text_area_tag :question,  @question.question ,:rows=>2,:cols=>60, :class => 'textFilling expanding'%><br/>
              <%= hidden_field_tag :display_type,"popup" %>
               <div  style="float:right;padding:5px;width:180px;">
         <%= f.submit 'Complete',:id => "preference_question1",:class=>"searchButton",:style=>"font-size:15px;" %>
      
      <div>
      <%= render "shared/expanding_text_area_style" %>
            <% end %>
      </div>
        </div>
</div>




















