<div id="giveAdviceTag"><ul></ul></div>
<br/><br/><br/>
<%= form_for :question,:url => { :controller => "preferences", :action => "save_advice_question" }, :html => {:id => "getAdviceForm"} do |f|%>
  <%=  f.hidden_field :buying_plan_id%><br/>
  Send to Friends:
  <%= f.radio_button :plannto_network, false, :checked => true %>
  Plannto Network:
  <%= f.radio_button :plannto_network, true %>
  <%= f.text_area :question, :rows=>2, :cols=>60%><br/>
  <%= f.submit "Ask Question", :class=> 'button' %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#getAdviceForm').click(function() {
      var valid = validateGetAdviceForm();
      if (!valid){
        return false;
      }
    });
  });

  function validateGetAdviceForm(){
    $('#question_question').poshytip('destroy')
    if ($("#question_question").val() == ""){

      $('#question_question').poshytip({
        className: 'tip-darkgray',
        content: 'Please enter your question.',
        showOn: 'none',
        alignTo: 'target',
        alignX: 'right',
        offsetX: 5,
        alignY: 'center'
      });
      $('#question_question').poshytip('show');
      return false
    }
    return true
  }
  $(".button").button();

  $('#giveAdviceTag ul').empty();
<%@preferences_list.each do |preference|%>
    var lineHeight = "";
    var searchCriteria = "";
    var tagId = "";
    var searchName = "<%=preference[:search_name]%>"
  <%if preference[:value_type] == "Between"%>
      searchCriteria = ""
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;
      //      var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      //     var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%elsif (preference[:value_type] == "GreaterThan" || preference[:value_type] == "LessThen")%>
      searchCriteria = ""
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var value = searchCriteria
      var searchCriteria = "<span class='txt_subcategories'>" + value +"</span>"
      //var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;
  <%elsif (preference[:value_type] == "ListOfValues" || preference[:value_type] == "manufacturer")%>
      var value   = "<%="#{preference[:value]}"%>"
      var selectedList = value.split(',')
      var searchCriteria = ""
      var anchorId
      searchCriteria = searchCriteria +  ""
      var spanHTML = ""
      var updatedSearchList= [];
      $.each(selectedList, function(index, value) {
        updatedSearchList.push( value)
      })
      spanHTML = spanHTML + "<span class='txt_subcategories'>" + value + "</span>"
      searchCriteria = searchCriteria + spanHTML
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "</span>" + searchCriteria + "</li>" ;


  <%else%>
      var list = "<li id='" +tagId +"' class='middlebg attributeTag' ><span class='title_txt'>" + searchName + "</span></li>" ;
  <%end%>
    $(list).appendTo('#giveAdviceTag ul');
<%end%>
  //$("#deleteTag").hide()

</script>
