	<div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(/images/pclose_but.png) no-repeat left top;position:relative;left:540px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>
<div id=""></div><ul id="recommendation_list"></ul><br/>
Select Recommendation<input type="text" name="textfield" value="" id="recommendation"/>
<%= form_for @user_answer,:url => { :controller => "preferences", :action => "save_advice" }, :html => {:id => "saveAdviceForm"} do |f|%>
  <%=f.fields_for :user_question_answers do |uqa|%>
    <%= hidden_field_tag "user_question_answers[user_question_id]", @question.id %>
  <%end%>
  <%=f.fields_for :recommendations do |rec|%>
    <%= hidden_field_tag "recommendations[item_id]" %>
  <%end%>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :answer, :rows=>2, :cols=>60%><br/>
  <%= f.submit "Give Suggestion", :class=> 'suggestionButton' %>
<% end %>

<script type="text/javascript">
  jQuery(document).ready(function(){ 
  });
  $(".suggestionButton").button();
  $(".suggestionButton").click(function (e) {
    var valid = validateGiveAdviceForm();
      if (!valid){
        return false;
      }
      $.post('/preferences/save_advice',$("#saveAdviceForm").serialize(),null,"script");
      e.preventDefault();
  //  }
    return false;
  });

    function validateGiveAdviceForm(){
    $('#user_answer_answer').poshytip('destroy')
    $('#recommendation').poshytip('destroy')
    var valid = true;
    if ($("#user_answer_answer").val() == ""){
      $('#user_answer_answer').poshytip({
        className: 'tip-darkgray',
        content: 'Please enter your suggestion.',
        showOn: 'none',
        alignTo: 'target',
        alignX: 'right',
        offsetX: 5,
        alignY: 'center'
      });
      $('#user_answer_answer').poshytip('show');
      valid = false
      
    }
    if ($("#recommendations_item_id").val() == ""){

      $('#recommendation').poshytip({
        className: 'tip-darkgray',
        content: 'Please select your recommendation.',
        showOn: 'none',
        alignTo: 'target',
        alignX: 'right',
        offsetX: 5,
        alignY: 'center'
      });
      $('#recommendation').poshytip('show');
      valid = false
    }
    return valid
  }

</script>
<script type="text/javascript">
  $.textTagger("recommendation",
    "recommendation_list",
    {close:true, addButton: false, url: "/search/preference_items", editMode: false, multiple: true, hidden_field: "recommendations_item_id", search_type_array: ["Mobile", "Car", "AttributeTag"]}
  );
</script>

