<div class="popup-background">
   <a href="#" class="Closebut">&nbsp;</a>
<div id=""></div>
 <div class="alert alert-block" style="margin-left:100px;margin-right:50px;">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
      <strong>
       Please select the product that you like to suggest and provide your comments below.</strong>
    </div>
<div style="padding:5px 5px 5px 115px;clear:both;">
<ul id="recommendation_list"></ul><br/>
</div>
<div style="padding:5px 5px 5px 0px;clear:both;">
 <div class="title_header float_lft" style="width:100px;">Select Product:</div>
 <div class="float_lft" >
 <input type="text" name="textfield" value="" id="recommendation"  style="padding-left:5px;width:400px;" placeholder="Start typing for recommendations"/>
</div>
</div>
	<div style="clear:both;"></div>
<div style="padding:5px 5px 5px 0px;clear:both;">
<%= form_for @user_answer,:url => { :controller => "preferences", :action => "save_advice" }, :html => {:id => "saveAdviceForm"} do |f|%>
  <%=f.fields_for :user_question_answers do |uqa|%>
    <%= hidden_field_tag "user_question_answers[user_question_id]", @question.id %>
  <%end%>
  <%=f.fields_for :recommendations do |rec|%>
    <%= hidden_field_tag "recommendations[item_id]" %>
  <%end%>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="title_header float_lft" style="width:100px;">Comments:</div>
 <div class="float_lft" >
  <%= f.text_area :answer, :rows=>2, :cols=>60 , :style=>"padding-left:5px;width:400px;"%>
</div>
	<div style="clear:both;"></div>
</div>
<div style="padding:5px 50px 5px 0px;clear:both;float:right;">
  <%= f.submit "Give Suggestion", :class=> 'suggestionButton' %>
<% end %>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){ 
  });
  $(".suggestionButton").button();
  $(".suggestionButton").click(function (e) {
    var valid = validateGiveAdviceForm();
      if (!valid){
        return false;
      }
      $.post('/preferences/save_advice',$("#saveAdviceForm").serialize(),null,"script");
      e.preventDefault();
  //  }
    return false;
  });

    function validateGiveAdviceForm(){
    $('#user_answer_answer').poshytip('destroy')
    $('#recommendation').poshytip('destroy')
    var valid = true;
    if ($("#user_answer_answer").val() == ""){
      $('#user_answer_answer').poshytip({
        className: 'tip-darkgray',
        content: 'Please enter your suggestion.',
        showOn: 'none',
        alignTo: 'target',
        alignX: 'right',
        offsetX: 5,
        alignY: 'center'
      });
      $('#user_answer_answer').poshytip('show');
      valid = false
      
    }
    if ($("#recommendations_item_id").val() == ""){

      $('#recommendation').poshytip({
        className: 'tip-darkgray',
        content: 'Please select your recommendation.',
        showOn: 'none',
        alignTo: 'target',
        alignX: 'right',
        offsetX: 5,
        alignY: 'center'
      });
      $('#recommendation').poshytip('show');
      valid = false
    }
    return valid
  }

</script>
<script type="text/javascript">
  $.textTagger("recommendation",
    "recommendation_list",
    {close:true, addButton: false, url: "/search/preference_items", editMode: false, multiple: true, hidden_field: "recommendations_item_id", search_type_array: ["Mobile", "Car", "Camera","Tablet","Cycle","Bike"]}
  );
</script>
<div style="clear:both;"></div>
</div>
