<div class="">
  <span><h2>Add car that you own to your profile</h2></span>
  <span>
    <%if can_update_preference?(@buying_plan)%>
      <input name="search" type="text" class="search_inputfield" placeholder="Search <%= params[:follow]%>" id="search_car"/>
      <a style="border:solid 0px; left:left; width:21px; height:21px; float:left; margin:5px;"><img src="/images/icon_search_gray.png"/></a>
    <%end%>
      <%if request.xhr?%>
      <div id="btnDiv" style="height:100px;display:block;">
      <a href="#" class="btn_submitanswer float_rgt" style="width:150px;" id="updatePreference">Next</a>
      <div id="preferenceSpinner"></div>
    </div>
      <%end%>
  </span>
</div>
<div id="plantobuyContent">
  <%= render "plan_to_buy_items", :items => items %>
</div>
<a class="txt_compare" href="<%=get_item_ids_to_compare_url(items)%>">COMPARE</a>
<%= hidden_field_tag "buying_plan_id", @buying_plan.id %>
<%= hidden_field_tag "per_page_value", @per_page || ""%>
<script type="text/javascript">
  $('#updatePreference').click(function() {
window.location.href = '<%="/preferences/#{@buying_plan.itemtype.itemtype.downcase!}/#{@buying_plan.uuid}"%>'
  });
</script>
