

<div class="clearboth pad_b29">
<table  width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td class="header_compare">vendor</td>
    <td class="header_compare">Item Name</td>
    <td class="header_compare">Price</td>
     <td class="header_compare">Deilvery Period</td>
    <td class="header_compare">&nbsp;</td>
  </tr>
<% @personal_deals.each do |personal_deal| %> 
        <tr>
            <td class="bdb_gray1"><img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + personal_deal.vendor.imageurl%>" alt="<%= personal_deal.vendor.name %>" /> </td>
            <td class="bdb_gray1 price_text"> <%= personal_deal.item.name %></td>
            <td class="bdb_gray1 font_13"> <%= personal_deal.item_price %></td>
            <td class="bdb_gray1 font_13"> <%= personal_deal.delivery_period %></td>
            <%if (current_user && (personal_deal.user_id = current_user.id || current_user.id = personal_deal.buying_plan.user_id)) %>
            <td align="center" class="bdb_gray1" ><%= link_to "Details",view_proposal_admin_buying_plan_path(personal_deal),:class=> "btn-link" %></td>
          <%end%>  
          </tr>
      <%end%>    
    </table>
</div>


