<div style="marign-right:300px;font-size:15px;" %>
<p> <b>Item name:</b>
 <%= @personal_deals.item.name %></p>
 <p><b> Price of the Item: </b>
 <%= @personal_deals.item_price %>
 <p><b> Delivery Period: </b>
 <%= @personal_deals.delivery_period %>
 <p><b> Shipping Cost:</b>
 <%= @personal_deals.shipping_cost %>
 <p><b> Color: </b>
 <%= @personal_deals.color %>
 <p><b> Expiry Date: </b>
 <%= @personal_deals.expiry_date %>
 <p><b> Purchase details/comments: </b>
 <%= @personal_deals.comments %>
</div> 
