
<div id="plantobuyContent">
 
<% if @owned == "true" %>
    
 <div class="items_list" style="clear:both;">
  <% items.each do |item| %>
     <div class="product" id="product_<%= item.id %>">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <a href="<%= link_url(item) %>">
            <img src='<%= item.image_url %>' height="120" width="160">
          </a>
         
        </div>
          <span class="imgtextspan">
             <%= link_to item.name, link_url(item), :class => "produ_bgimg" %>
          </span>
      </div>
     </div>
  <% end rescue "" %>
</div>

<div id="plantobuyPaginate">
<%= will_paginate items if items.respond_to? :total_pages, :page_links => true %>
</div>
</div>
	
<%else%>


<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Recommendations (<%= @buying_plan.user_question.user_answers.size%>)</td>
    </tr>
     <tr><td><%if @buying_plan.user_question.user_answers.size == 0 %>
	<%if current_user && current_user.id == @buying_plan.user. id %>
	<div style="padding:5px;"> <strong>There are no recommendations yet, please send this to your friends/experts for their feedbacks</strong> <br /><br /><div><%= render "shared/share_buttons", :caption_text => @buying_plan.user.name + ' is planning to buy a ' + @buying_plan.itemtype.itemtype.downcase + ', recommend a ' + @buying_plan.itemtype.itemtype.downcase + ' for ' + @buying_plan.user.name + '.' %></div>
</div>
	 <%else%>

	 <div style="padding:5px;"><strong> Currently, there are no recommendations.</strong></div>
<%end%>  <%end%><%if (can_add_recommendation?(@buying_plan) || !current_user) && !@buying_plan.completed? %>
		<div class="float_rgt" style="margin-top:8px;">
		<%unless @follow_item == '' %>
	    <a style="" href="#" class="btn_submitanswer" id='giveAdviceTag'>Add Recommendation</a>
	  <%end%>  
<%end%> </td> </tr>
 <script>
        $("#giveAdviceTag").click(function(e){
          <%if !current_user %>
             $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'recommendation')%>");
            openLoginPopup("#" + $(this).attr('id'), "click");
            return false
          <%end%>
        })
        </script>
        <%unless @follow_item == "" %>
         <script>
        $(".btn_submitanswer").click(function(e){
          <%if !current_user %>
             $("#login-1 #click_message").html("<%= escape_javascript(render  '/shared/login_popup_message',:type => 'recommendation')%>");
            openLoginPopup("#" + $(this).attr('id'), "click");
            return false
          <%end%>
        })
        </script>
        <%end%>
    <tr>
      <td valign="top">
       <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
           
         <% items.each do |item| %>
           <tr id="product_<%= item.id %>">
            <td width="113" height="85"><a href="<%=(item.get_url()) rescue ''%>"><img src="<%= item.image_url rescue ''%>" width="92" height="69"/></td>
            <td width="113">
            <div>
            <a href="<%=item.get_url() rescue ''%>" class="txt_black txt_onhover"><%= item.name rescue ''%></a>
             
           </div>
           <%unless item.type == "Topic" || item.type == "CarGroup" || item.type == "Manufacturer"%>
           <a class="txt_price"><%= item.get_price_info('Price',false) %></a><br />
            <%= render :partial => 'shared/rating',:locals => {:item => item, :rating_id => "related_item1_id#{item.id}"} %><br />
            <a class="txt_normal" href="<%= item.get_url + '?fl=Reviews'%>">
      <span class="txt_blue" > <%= "(" + pluralize(item.rated_users_count,'Review') + ")" if item.rated_users_count > 0 %><span style="display:none;" itemprop="count"><%=item.rated_users_count%></span></span>
    
    </a><br />
    <%end%>
            </td>
          </tr>
         <%end%>
           <tr >
      
          </tr>
        </table>
        </td>
    </tr>
   
  </table>
  <br/>
<br />
<%end%>
