<div id="preferencesTag"><ul></ul></div><br/><br/><br/>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Recommendations</a></li>
  </ul>
  <ul><li id='giveAdviceTag' style= 'line-height:35px;' class='textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable' >Add a Recommendation</li></ul>
  <p>My Question: <%=@question.question%></p>
  <p>Advices</p>
  <div id="giveAdviceDialog" title="Add a recommendation" style="display:none"></div>
  <div class="answerList">
    <%=display_empty_row(@answers.size).html_safe%>
    <%@answers.each_with_index do |ans, index|%>
      <div class="box" id="box_<%=index%>"><%=ans.answer%><br/>
        <%ans.recommendations.each_with_index do |reco, index|%>
          <p>Recommendations<img class="profile_photo_img" width="50" height="50" alt="image" src="<%=image_url(reco.item)%>"/> <%=reco.item.name%></p>
        <%end%></div>
      <%end%>
  </div>
</div>

<script type="text/javascript">
  $('#giveAdviceTag').live('click', function(){
    $.get('/preferences/give_advice',{question_id: <%=@question.id%>},null,"script");
  })
</script>
<script type="text/javascript">
<%@preferences_list.each do |preference|%>
    var lineHeight = "";
    var searchCriteria = "";
    var tagId = "";
    var searchName = "<%=preference[:search_name]%>"
  <%if preference[:value_type] == "Between"%>
      searchCriteria = ""
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;
      //      var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      //     var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%elsif (preference[:value_type] == "GreaterThan" || preference[:value_type] == "LessThen")%>
      searchCriteria = ""
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var value = searchCriteria
      var searchCriteria = "<span class='txt_subcategories'>" + value +"</span>"
      //var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt'>" + searchName + "<a id= 'deleteTag' class='icon_close'></a></span>" + searchCriteria + "</li>" ;

      // var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      //    var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%elsif (preference[:value_type] == "ListOfValues" || preference[:value_type] == "manufacturer")%>
      var value   = "<%="#{preference[:value]}"%>"
      var selectedList = value.split(',')
      var searchCriteria = "<br/> "
      var anchorId
      searchCriteria = searchCriteria +  "<span id=''>"
      var updatedSearchList= [];
      $.each(selectedList, function(index, value) {
        updatedSearchList.push( value)
      })
      searchCriteria = searchCriteria + updatedSearchList.toString() +  "</span>"
      var className = "textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;

  <%else%>
      var list = "<li id='" +tagId +"' style= 'line-height:35px;' class='textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable' >" + searchName + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%end%>
    $(list).appendTo('#preferencesTag ul');
<%end%>
  //$("#deleteTag").hide()

</script>

