<style type="text/css">
  #clearTag, #deleteTag, #addPreferenceTag, #getAdviceTag{
    cursor: pointer;
    text-align: center;
  }

  .attributeTag:hover{
    cursor: pointer;
  }

  #content {
    width: 100%;
  }
  #navbar {
    float: left;
    width: 20%;
    background-color: #f2f2f2;
  }
  .box{
    background-color: #ffffff;
    border-bottom: 1px solid #E0E0E0;
    min-height: 30px;
    cursor:pointer;
  }
  .w4_5 {
    width: 760px;
  }

  h1.heading {
    border-bottom: 1px solid #B0B0B0;
    margin-bottom: 1px;
    padding-bottom: 0.4em;
  }

  .w0_5 {
    width: 50px;
  }
  .col, .e_col {
    float: left;
    margin: 0 10px 0 0;
  }
  .feed_item {
    border-bottom: 1px solid #E0E0E0;
    float: left;
    margin-left: 10px;
    position: relative;
  }
  .p1 {
    padding: 10px 0;
  }
</style>
<style type="text/css">

  .textboxlist { font: 11px "Lucida Grande", Verdana; cursor: text; }
  .textboxlist-bits { zoom: 1; overflow: hidden; margin: 0; padding: 3px 4px 0; border: 1px solid #999; padding-bottom: 3px; }
  .textboxlist-bit { color: #19558D; list-style-type: none; float: left; display: block; padding: 0; margin: 0 5px 3px 0; cursor: default; }
  .textboxlist-bit-editable { border: 1px solid #fff; }
  .textboxlist-bit-editable-input { border: 0; padding: 2px 0; padding-bottom: 0; height: 14px; font: 11px "Lucida Grande", Verdana; }
  .textboxlist-bit-editable-input:focus { outline: 0; }
  .textboxlist-bit-box { position: relative; vertical-align:middle; height: 35px; text-align: center; padding: 0 5px; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; border: 1px solid #CAD8F3; background: #DEE7F8; cursor: default; }
  .textboxlist-bit-box-deletable { padding-right: 15px; }
  .textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 13px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('/images/close.gif'); }
  .textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
  .textboxlist-bit-box-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
  .textboxlist-bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
  .textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }
  .deleteOption { color:black; position: absolute; display: block; width: 7px; height: 7px; font-size: 1px; }
  /* background: url('/images/close.gif');*/
</style>
<div id="preferencesTag"><ul></ul></div><br/><br/><br/>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Recommendations</a></li>
  </ul>
  <div id="tabs-1" style="height:500px">
    <ul><li id='giveAdviceTag' style= 'line-height:35px;' class='textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable' >Add a Recommendation</li></ul>

    <p>My Question: <%=@question.question%></p>
    <p>Advices</p>
    <div id="giveAdviceDialog" title="Add a recommendation" style="display:none"></div>
    <div class="answerList">
      <%=display_empty_row(@answers.size).html_safe%>
      <%@answers.each_with_index do |ans, index|%>
        <div class="box" id="box_<%=index%>"><%=ans.answer%><br/>
          <%ans.recommendations.each_with_index do |reco, index|%>
            <p>Recommendations<img class="profile_photo_img" width="50" height="50" alt="image" src="<%=image_url(reco.item)%>"/> <%=reco.item.name%></p>
          <%end%></div>
      <%end%>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(function() {
    $( "#tabs" ).tabs();
  });
  $('#giveAdviceTag').live('click', function(){
    $.get('/preferences/give_advice',{question_id: <%=@question.id%>},null,"script");
  })
</script>

<script type="text/javascript">
<%@preferences_list.each do |preference|%>
    var lineHeight = "";
    var searchCriteria = "";
    var tagId = "";
    var searchName = "<%=preference[:search_name]%>"
  <%if preference[:value_type] == "Between"%>
      searchCriteria = "<br/>"
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%elsif (preference[:value_type] == "GreaterThan" || preference[:value_type] == "LessThen")%>
      searchCriteria = "<br/>"
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var className = "attributeTag textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%elsif (preference[:value_type] == "ListOfValues" || preference[:value_type] == "manufacturer")%>
      var value   = "<%="#{preference[:value]}"%>"
      var selectedList = value.split(',')
      var searchCriteria = "<br/> "
      var anchorId
      searchCriteria = searchCriteria +  "<span id=''>"
      var updatedSearchList= [];
      $.each(selectedList, function(index, value) {
        updatedSearchList.push( value)
      })
      searchCriteria = searchCriteria + updatedSearchList.toString() +  "</span>"
      var className = "textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable "
      var list = "<li id='" + tagId + "'" + lineHeight + " class='" + className + "'>" + searchName + searchCriteria + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;

  <%else%>
      var list = "<li id='" +tagId +"' style= 'line-height:35px;' class='textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable' >" + searchName + "<a id= 'deleteTag' class='textboxlist-bit-box-deletebutton'></a></li>" ;
  <%end%>
    $(list).appendTo('#preferencesTag ul');
<%end%>

</script>

<!--<h1>Tagger Demo</h1>
<div id="tag_list"></div><br/><br/>

<input type="text" name="test2" value="" id="tags_input" /><br/>-->

<script type="text/javascript">
  $.textTagger2 = function(fieldId, taggingField, options){
    $.ui.autocomplete.prototype._renderMenu = function(ul, items) {
      var self = this;
      //if (settings.addNew){
      //  item = {value: "Create New Tag", id: "0"}
      //  self._renderItem( ul, item, "New" );
      //}
      $.each( items, function( index, item ) {
        self._renderItem( ul, item, index );
      });
    };

    var
    defaults = {
      background: '#e3e3e3',
      url: '',
      editMode: false,
      addNew: false,
      close: true,
      addButton: true,
      color: 'black',
      multiple: true,
      rounded: false,
      hidden_field: ""
    },
    settings = $.extend({}, defaults, options);
    $("#"+ fieldId).each(function(){
      $(this).bind('keypress', function(e) {
        if(e.keyCode==13){
          var text = $("#"+ fieldId).val();

          var add = true;
          $("#tag_list").find("li").each(function(index) {
            // var compText = text + "href='#'>"
            if ($(this).text().toString() == text.toString())  {
              add = false;
            }
          });

          if ((text != "") && add == true)
          {
            if (multiple == false){
              //remove old tags is multiple tags are not allowed.
              $("#"+ taggingField).find("li").remove();
            }
            var str = "<li   style= 'line-height:35px;' id = 'textTaggers' class = 'textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable '>" +text +"<a id= 'deleteTaggers' class='textboxlist-bit-box-deletebutton'></a></li>"
            //$(str).insertAfter('#' + taggingField);
            $(str).appendTo('#' + taggingField);
            $("#" + fieldId).val("")
            $('#' + fieldId).autocomplete("enable");
            if (settings.editMode){
              $(".textboxlist-bit-box-deletebutton").show();
            }
            else{
              $(".textboxlist-bit-box-deletebutton").hide();
            }
          }
          $("#"+ fieldId).val("");
          //  $(".textboxlist-bit-box-deletebutton").hide();
        }
      });
    });
    if (settings.addButton){
      var tagButton = "<button id='addTag'> Add </button>"

      $(tagButton).insertAfter("#"+ fieldId);
      var doneButton = "<button id='doneButton'> Done </button>"
      $(doneButton).insertAfter("#addTag");
    }
    else
    {
      // $("#" + fieldId).hide();
    }
    $.setMode(fieldId, taggingField, settings.editMode);

    $( "#" + fieldId ).autocomplete({
      minLength: 0,
      format: "js",
      source: settings.url,
      focus: function( event, ui ) {
        //$( "#project" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        if (settings.hidden_field != "")
        {
          $.addIdToField(settings.hidden_field, ui.item.id)
        }
        $.addTag(fieldId, taggingField, settings, ui.item.value, ui.item.id);
        $("#" + fieldId).val("");
        return false;
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item,index ) {

      //if (index == "New"){
      //  return $( "<li></li>" )
      //  .data( "item.autocomplete", item )
      //   .append( "<a>" + "Create New Tag"+ "</a>" )
      //   .appendTo( ul );
      // }
      //else{
      return $( "<li></li>" )
      .data( "item.autocomplete", item )
      //.append( "<a>" + item.id + " " + item.value+ "</a>" )
      .append( "<a>" + item.value+ "</a>" )
      .appendTo( ul );
      //}
    };

    $('#addTag').live( 'click', function(){
      $.addTag(fieldId, taggingField, settings, $("#" + fieldId).val(), '');
    })

    $('#textTaggers').live('click', function(){
      //alert($(this).text());
    })

    $('#deleteTaggers').live('click', function(){
      if (settings.hidden_field != ""){
        var deleteId = $(this).closest('li').attr('id').replace("textTaggers",'');
        $.removeIdFromField(settings.hidden_field, deleteId);
      }
      $(this).closest('li').remove();
      return false;
    })
    
    $('#doneButton').live( 'click', function(){
      settings.addButton = false;
      $(".textboxlist-bit-box-deletebutton").hide();
      $.doneEvent(fieldId, taggingField, settings.editMode);
    })

    $('#editTag').click(function() {
      $(this).hide();
      $(".textboxlist-bit-box-deletebutton").show();
      settings.addButton = true;
      $.editTag(fieldId, taggingField, settings.addButton);
    });
  }

  jQuery.addIdToField = function(hidden_field, id){
    var formVal = $("#" + hidden_field).val();
    var formValArray = formVal == "" ? [] : formVal.split(",")
    var add = true
    $.each(formValArray, function(index, value) {
      if (value.toString() == id.toString())  {
        add = false;
      }
    })
    if (add == true){
      formValArray.push(id)
    }
    $("#" + hidden_field).val(formValArray.toString())
  }

  jQuery.removeIdFromField = function(hidden_field, deleteId){
    var formVal = $("#" + hidden_field).val();
    var formValArray =  formVal == "" ?  [] : formVal.split(",")
    var idList = [];
    $.each(formValArray, function(index, value) {
      if (value.toString() != deleteId.toString())  {
        idList.push(value);
      }
    })
    $("#" + hidden_field).val(idList);
    }
  jQuery.doneEvent = function(fieldId, taggingField, editMode){

    if(editMode){
      //add edit button
      $("#" + fieldId).hide();
      $("#addTag").hide();
      $("#doneButton").hide();
      $("#editTag").show();
    }

  }

  jQuery.setMode = function(fieldId, taggingField, editMode){
    if(editMode){
      //add edit button
      var tagButton = "<button id='editTag'>Edit</button>"

      $(tagButton).insertAfter("#"+ taggingField);
      //show close buttons
      $(".textboxlist-bit-box-deletebutton").show();
    }
    else
    {
      $(".textboxlist-bit-box-deletebutton").hide();
    }
  }

  jQuery.editTag = function(fieldId, taggingField, addButton) {
    if(addButton)
    {
      $("#" + fieldId).val("")
      $("#" + fieldId).show();

      if (!$('#addTag').length) {
        var tagButton = "<button id=" + '"' +"addTag" + '"' + "> Add </button>"
        $(tagButton).insertAfter("#"+ fieldId);
      }
      else{
        $("#addTag").show();

      }
      if (!$('#doneButton').length) {
        var doneButton = "<button id='doneButton'> Done </button>"
        $(doneButton).insertAfter("#addTag");
      }
      else{
        $("#doneButton").show();
      }
    }
  }

  jQuery.addTag = function(fieldId, taggingField, settings, value, id) {
    var text = value;
    var add = true;
    $("#" + taggingField).find("li").each(function(index) {
      if ($(this).text().toString() == text.toString())  {
        add = false;
      }
    });
    if ((text != "") && add == true)
    {
      if (settings.multiple == false){
        //remove old tags is multiple tags are not allowed.
        $("#"+ taggingField).find("li").remove();
      }
      var listTagId = 'textTaggers' + id
      var str = "<li  id = '" + listTagId + "'  style= 'line-height:35px;' class = 'textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable '>" +text +"<a id= 'deleteTaggers' class='textboxlist-bit-box-deletebutton'></a></li>"
      $(str).appendTo('#' + taggingField);
      $("#" + fieldId).val("")
      $('#' + fieldId).autocomplete("enable");
      if (settings.editMode || settings.close){
        $(".textboxlist-bit-box-deletebutton").show();
      }
      else{
        $(".textboxlist-bit-box-deletebutton").hide();
      }
    }
    $("#"+ fieldId).val("");
  }

</script>