<% content_for :title, @question.title + " - " %>
<% content_for :description, @question.question_part%>
<% @type = params[:type] %>
<div id="giveAdviceDialog" title="Add a recommendation" style="display:none"></div>
<div id="maincontainer" class="maincontainerCss">
	<!-- Till this will go into main layout and common for all pages.-->
  <br/>
	<br/>
	<div class="leftcolumnbig">
		<!-- Product Details - Start -->
		<div class="contentDetailsMainDiv">

			<!-- Question - Start -->
			<div  class="mainContentDiv">
				<%= render :partial => "votes/voting_detail", :locals => {:item => @buying_plan, :user => user_signed_in? ? current_user : nil}%>
				<div  class="float_rgt">
				<a href="<%= @buying_plan.user.get_url()%>"> 	<img src="<%= @buying_plan.user.get_photo%>" class="userImageSmall" /> </a>
				</div>
				<div  class="subContentDiv">
					<div>
							<div  id="questionTitle" ><h2><%= @question.title%><%= @buying_plan.completed? ? "<font color='red'> (Completed)</font>".html_safe : "" %></h2> </div>
					</div>
					<div>
					<a href="<%= @buying_plan.user.get_url()%>" class="txt_brown" > <%= @buying_plan.user.name%> </a> 	<a class="txt_brown" >- <%= time_ago_in_words(@buying_plan.created_at)%> ago</a>
					</div>
					<div class="subContentGap">
						<div id="displayQuestion">
							<a class="txt_black_description" id="question_part"><%if  !@question.question_part.blank? %> <%= @question.question_part%> <%elsif @buying_plan.user_id == current_user.id %> Please add more information about your usage or buying preference here 	<%= link_to_function "Edit", "$('#updateQuestion').dialog({width:550, height:300});$('.Close_dialog').show();
$('.ui-dialog-titlebar').hide();", :class => "txt_blue"%> <%end%></a>
							
						</div>
					</div>

					<script type="text/javascript">
						$('#giveAdviceTag').live('click', function(){
						$.get('/preferences/give_advice',{question_id: <%= @question.id%>},null,"script");
						})

						$('#editPreferences').live('click', function(e){
						e.preventDefault()
						$.get('/preferences/edit_preference',{id: <%= @buying_plan.id%>},null,"script");
						return false
						})

						$('#preference_question').live('click', function(e){
						$('#question_question').poshytip('destroy')
						if ($("#question_question").val() == ""){
						$('#question_question').poshytip({
						className: 'tip-darkgray',
						content: 'Please enter your question.',
						showOn: 'none',
						alignTo: 'target',
						alignX: 'right',
						offsetX: 5,
						alignY: 'center'
						});
						$('#question_question').poshytip('show');
						return false
						}
						e.preventDefault()
						$.ajax(
						{
						url: "/preferences/update_question",
						data: {
						question_id: <%= @question.id%>
							, question: $("#question_question").val(),
							plannto_network: $("input[name='question[plannto_network]']:checked").val(),
							title : $("#question_title").val()

							}, type: "get",
							dataType: "script"
							});
							return false
							});
					</script>
					<br/>
					<div style="float:left;">
						<ul class="divCommentsConent">
						<!--	<li class="subContentGap float_lft" >
								<a class="txt_blue ">Recommendations (<%= @buying_plan.user_question.user_answers.size%>)</a>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li> -->
							<li class="subContentGap float_lft" >
								<a class="txt_blue "><%= render_comments_anchor(@buying_plan.user_question).html_safe  %></a>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_blue ">Report</a>
							</li>
							<% if can_update_preference?(@buying_plan)%>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							
							<li class="subContentGap float_lft"><!--<img src="/images/delete.jpg"/>--><%= link_to " Delete This",{:controller => "preferences", :action => "delete_buying_plan", :id => @buying_plan.id}, :remote => true, :confirm => "Are you sure you want to delete #{@buying_plan.user_question.title} ,this will delete the items that are considered to buy from your profile, do you like to proceed?", :method => :delete, :class => "txt_blue"%>
							</li>
							<%end%>
							
							<%if !@buying_plan.completed? && can_update_preference?(@buying_plan)%>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							
							<li class="subContentGap float_lft"><%= link_to "Mark as Completed",{:controller => "preferences", :action => "delete_buying_plan", :id => @buying_plan.id,:type => "complete"},:remote => true, :method => :delete, :class => "txt_blue"%>
							</li>
							<li class="subContentGap float_lft">
								<a class="txt_gray ">|</a>
							</li>
							
							<li class="subContentGap float_lft">
								<%= link_to_function "Update This", "$('#updateQuestion').dialog({width:550, height:300});$('.Close_dialog').show();
$('.ui-dialog-titlebar').hide();", :class => "txt_blue"%>
							</li>
						</ul>
						<%end%>
						<%= render :partial => "comments/new", :locals => { :content => @buying_plan.user_question }  %>
						</div >

						<!--<%if can_update_preference?(@buying_plan)%>
						<div style="float:right;">
							<a style="" href="#" class="btn_submitanswer">Ask Advice</a>
						</div>
						<%end%> -->
					</div>
					<ul id="Newtabs" style="padding-top:15px;">
   <li <%unless params[:type].present?%> class="tab_active" <%end%>><a href="?"><span>Overview</span></a></li>
        <li <%if params[:type] == "Recommendations"%> class="tab_active" <%end%>><a href="?type=Recommendations"><span>Recommendations<%if (@buying_plan.user_question.user_answers.size > 0)%> ( <%=@buying_plan.user_question.user_answers.size.to_s %>)<%end%></span></a></li> 
        <li <%if params[:type] == "deals"%> class="tab_active" <%end%>><a href="?type=deals"><span>Compare Prices</span></a></li> 
        <li <%if params[:type] == "guides"%> class="tab_active" <%end%>><a href="?type=guides"><span>Buyer Guides</span></a></li> 
  </ul>
          <br/>
					<br/>
					<br />
		      <br />
		      <br />
		      <br />
		      <br />
		      <%if params[:type] == "Recommendations" %>
						<!-- Answer this question - Start -->
						
						<%if @buying_plan.user_question.user_answers.size == 0 %>
						  <%if current_user.id == @buying_plan.user. id %>
							<div class="alert alert-block">
<strong>There are no recommendations yet, please send this to your friends/experts for their feedbacks</strong> <br /><br /><div style="padding-left:470px;"><%= render "shared/share_buttons", :caption_text => @buying_plan.user.name + ' is planning to buy a ' + @buying_plan.itemtype.itemtype.downcase + ', recommend a ' + @buying_plan.itemtype.itemtype.downcase + ' for ' + @buying_plan.user.name + '.' %>
   </div></div>
						<%else%>
						    <%= render  '/shared/alert_message',:type => 'no_recommendations'%>
						  <%end%>
						<%else%>
							
						 <%end%>		
								<%if can_add_recommendation?(@buying_plan)%>
								<div class="float_rgt" style="margin-top:8px;">
									<a style="" href="#" class="btn_submitanswer" id='giveAdviceTag'>Add Recommendation</a>
								</div>
							<%end%>
							
						<div  style="border-top:solid 1px #ccd4d8;clear:both;"></div>
						<!-- Answer this question - End -->
						<%= display_empty_row(@answers.size).html_safe%>
						<%@answers.each_with_index do |ans, index|%>
						  <%=render "preferences/update_answer", :ans => ans%>
			      <%end%>
			      <%unless @preferences_list.nil? %>
			       <div id="content_all">
    
      <%= hidden_field_tag :page_pagination,2%>
     <div style="width:735" >
        <div style="border-bottom: solid 1px #CCCCCC;clear:both;margin-bottom:10px"></div>

  <div width="375" height="50" class="txt_search_result float_lft" id="totalSearchResults">Total Search Results from PlannTo based on your preferences: <span id="total_result"> <%=@items.total%></span></div> 
    
 
    <div style="border-bottom: solid 1px #CCCCCC;clear:both;padding-top:10px;"></div>
  </div>
   <a id="content_next" style="display:none"></a>
     <div id="content">
      
      <%= render :partial => "/search/index" %>
    </div>
    </div>
     <div style="padding-left:100px;">
 <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
         <%= image_tag '/images/ajax-loader.gif' %>
      </span>
      </div>
    </div>
     <script>
  
    $(window).scroll(function () {
       lnk = $('#content_next');
      
    if (!running && lnk && $(window).scrollTop() >= $('#content_all').height() - $(window).height()) {
         running = true;
            $.ajax(
              {
               
        url: "/preferences/<%= @buying_plan.itemtype.itemtype.downcase %>/<%= @buying_plan.uuid %>?page=" + $("#page_pagination").val(),
               


                type: "get",
                dataType: "script",
                before: $('#spinner1').show(),
                success: function(data){$('#spinner1').hide();
                 
                  }
              });
              return false
            //lnk.click();
       }
        });
      
    </script>
    <%end%>
         <%end%>  
      <%if params[:type] == "deals"%>
        <%unless @item_ids.nil?%>
       <br />
       <%=render "preferences/deals"%>
      <%end%> 
      
         
      <%end%>
  	
       <%unless params[:type].present?%>           
					<div>
			<% unless @buying_plan.completed? %>
        <!--<div class="hdr_Category float_lft margin_lft10">
					 Contents
			  </div>-->
					<div id="content_all">
    <%= render "contents/filter_by_options"%>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
    <%= render "contents/sort_by_options"%>
  <%=hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
   <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
     <% params = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id, "status" => 1, "items" => @item_ids} %>
    
      <% @contents = Content.filter(params)%>
       <%= render :partial => 'contents/contents', :locals => {:params => params} %>
        <a id="content_next" style="display:none"></a>
    </div> 
     <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
       <%= image_tag '/images/ajax-loader.gif' %>
   </span>
</div>
<%else%>
<div class="listing_items" style="height:250px;">
 <br/>
  <% @owned = "true" %>
 <%@items = Item.where('id =?',@buying_plan.owned_item_id)%>
 <span><h2>Owned Item</h2></span>
 <br />
 <%= @buying_plan.owned_item_description %>
<%= render 'recommend_items', :items => @items,:complete => @owned %>
</div>
 <%end%>
		<%= @owned = "" %>					
    
	</div>
					<!-- Product Details - End -->
		<%end%>
		<%if @type == 'guides' %>
		        	
		  <div class="hdr_Category float_lft margin_lft10">
					 Buyer Guides
			  </div>
					<div id="content_all">
    <%= render "contents/filter_by_options"%>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
    <%= render "contents/sort_by_options"%>
 	 <%= hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
	 <%= hidden_field_tag "search_type","undefined" %>
   <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
     <% params = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id, "status" => 1,"guide" => @guide.id, "items" => @item_ids} %>
    
      <% @contents = Content.filter(params)%>
       <%= render :partial => 'contents/contents', :locals => {:params => params} %>
        <a id="content_next" style="display:none"></a>
    </div> 
     <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
       <%= image_tag '/images/ajax-loader.gif' %>
   </span>
</div> 
<% params[:type] = "guides" %>
		<%end%>
	
	     </div>
			</div>
		</div>
		<div style="display:none;" id="updateQuestion">
		<div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(/images/pclose_but.png) no-repeat left top;position:relative;left:490px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>
			<%= form_for :question,:url => { :controller => "preferences", :action => "save_advice_question", :id =>  @question.id}, :html => {:id => "getAdviceForm"} do |f|%>
			<%= f.hidden_field :buying_plan_id%>
			Title
			<%= f.text_field :title, :value => @question.title %>
		  <br />
		  <br />
			Description
				
			<br/>
			<%= f.text_area :question, :rows=>2, :cols=>60, :value => @question.question%>
			<br/>

			<div  style="float:right;padding:5px;width:180px;">
				<%= f.submit 'Complete',:id => "preference_question",:class=>"searchButton",:style=>"font-size:15px;" %>

			</div>
			<% end %>
		</div>
		<!--<div class="rightcolumnsmall">

			<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
				<tr>
					<td class="bg_widgethdr txt_white">Related Questions</td>
				</tr>
				<tr>
					<td height="252" valign="top">
					<table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
							<td width="113" height="85"><img src="/images/car1.png" width="101" height="68" /></td>
							<td width="113"><a href="#" class="txt_black">Renault Pulse</a><img src="/images/rating_stars.png" width="87" height="20" />
							<br />
							<a style="" href="#" class="btn_follow">Follow</a></td>
						</tr>
						<tr>
							<td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
						</tr>

						<tr>
							<td width="113" height="85"><img src="/images/car1.png" width="101" height="68" /></td>
							<td width="113"><a href="#" class="txt_black">Renault Pulse</a><img src="/images/rating_stars.png" width="87" height="20" />
							<br />
							<a style="" href="#" class="btn_follow">Follow</a></td>
						</tr>
						<tr>
							<td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
						</tr>
					</table></td>
				</tr>
				<tr>
					<td height="33" class="padding1_lft15"><a href="#" class="txt_blue">View All</a></td>
				</tr>
			</table>

			<!-- Related Cars -- End -->

			<!--<br /> ->

			<!-- Related Cars -- Start -->

			<!--<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
				<tr>
					<td class="bg_widgethdr txt_white">Top Hatchback Cars</td>
				</tr>
				<tr>
					<td height="252" valign="top">
					<table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
							<td width="113" height="85"><img src="/images/car1.png" width="101" height="68" /></td>
							<td width="113"><a href="#" class="txt_black">Renault Pulse</a><img src="/images/rating_stars.png" width="87" height="20" />
							<br />
							<a style="" href="#" class="btn_follow">Follow</a></td>
						</tr>
						<tr>
							<td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
						</tr>

						<tr>
							<td width="113" height="85"><img src="/images/car1.png" width="101" height="68" /></td>
							<td width="113"><a href="#" class="txt_black">Renault Pulse</a><img src="/images/rating_stars.png" width="87" height="20" />
							<br />
							<a style="" href="#" class="btn_follow">Follow</a></td>
						</tr>
						<tr>
							<td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
						</tr>
					</table></td>
				</tr>
				<tr>
					<td height="33" class="padding1_lft15"><a href="#" class="txt_blue">View All</a></td>
				</tr>
			</table>

			<!-- Related Cars -- End -->
		<!--</div> -->


        <div id="owned_item"> </div>	
         <div class="rightcolumnsmall">
			       <br/>
						 
							<%= render 'preferences_list' %>
			      </div>	
          <div class="rightcolumnsmall">
				    <%if @buying_plan.completed? %>
				      <% @items = Item.where('id in (?)', @buying_plan.items_considered) %>
				       <%= render 'items', :items => @items%>
				    <%else%> 
				      <%= render 'items', :items => get_items_with_constraint(@follow_item, @follow_types)%>
						 <%end%>
				  </div>
			      <div class="rightcolumnsmall">
			       <%@items =  BuyingPlan.recommended_items(@answers) %>
							<%= render 'recommend_items', :items => @items%>
			      </div>
			   	<script type="text/javascript">
  //LOAD PREFERENCE TAGS AND SETTING UP FORM FIELDS WITH PREFERENCE VALUES///////////
<%@preferences_list.each do |preference|%>
    var lineHeight = "";
    var searchCriteria = "";
    var index = "<%=@search_info_lookups.index{|x|x[:id]== preference[:attribute]}%>"
    var searchName = "<%=preference[:search_name]%>"
    var tagId = "attribute_menu_" + index + "_tag"
  <%if preference[:value_type] == "Between"%>
      var minFieldId = "<%=preference[:min_attribute]%>"
      var maxFieldId = "<%=preference[:max_attribute]%>"
      var minValue   = "<%=preference[:min_value]%>"
      var maxValue   = "<%=preference[:max_value]%>"
      $("#" + minFieldId).val(minValue)
      $("#" + maxFieldId).val(maxValue)
      searchCriteria = ""
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt' style='text-transform:none;'>" + searchName + "<span style='font-size:10px;font-weight:normal;text-transform:none;line-height:20px;'>: "+ searchCriteria + "</span></span>" +  "</li>" ;

  <%elsif (preference[:value_type] == "GreaterThan" || preference[:value_type] == "LessThen")%>
      var fieldId = "<%="#{preference[:attribute]}"%>"
      var value   = "<%="#{preference[:value]}"%>"
      $("#" + fieldId).val(value)
      searchCriteria = ""
      searchCriteria   = searchCriteria + "<%=preference[:search_criteria]%>"
      var value = searchCriteria
      var searchCriteria = "<span class='txt_subcategories'>" + value +"</span>"
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"' ><span class='title_txt' style='text-transform:none;'>" + searchName + "<span style='font-size:10px;font-weight:normal;text-transform:none;line-height:20px;'>: "+ searchCriteria + "</span></span>" + "</li>" ;
  <%elsif (preference[:value_type] == "ListOfValues" || preference[:value_type] == "manufacturer")%>
      <%if preference[:value_type] == "manufacturer"%>      
        tagId = "manufacturerAtt_tag"
     <%end%>
      var fieldId = "<%="#{preference[:attribute]}"%>"
      var value   = "<%="#{preference[:value]}"%>"
      var selectedList = value.split(',')
      var searchCriteria = ""
      var anchorId
      var spanId = 'removablePreferenceListofValues' + fieldId
      var spanHTML = ""
      $.each(selectedList, function(index, value) {
        anchorId = "removeThis_" + index + "_" + fieldId
        spanHTML = spanHTML + "<span  style='margin-left:2px;font-size:10px;line-height:20px;font-weight:normal;text-transform:none;'>" + value + " " + "</span>"
      })
      searchCriteria = searchCriteria + spanHTML
      var className = "middlebg attributeTag"
      var list = "<li id='" + tagId + "'" + " class='" + className +"'><span class='title_txt' style='text-transform:none;line-height:20px;'>" + searchName  + ": "+ searchCriteria + "<span></li>" ;
      var fieldId = "<%="#{preference[:attribute]}"%>"
      var value   = "<%="#{preference[:value]}"%>"
      $("#" + fieldId).val(value)
  <%else%>
      var fieldId = "<%="#{preference[:attribute]}"%>"
      var value   = "<%="#{preference[:value]}"%>"
      $("#" + fieldId).val(value)
      var list = "<li id='" + tagId + "'" + " class='middlebg'  style= 'height:auto;'><span class='title_txt' style='text-transform:none;line-height:20px;'>" + searchName  + "</span></li>" ;
  <%end%>
    $(list).appendTo('ul#buyingPreferences');
<%end%> 

</script>
