<% @sliced_item_details = @item_details.each_slice(02) %>

<div class="advt-block">
  <div class="advt-120">
    <% if @item_details.count != 0 %>
        <div class="logo"><a class="vendor_image" href="javascript:void(0)" target="_blank"><img src="<%= @vendor_image_url %>" alt="" width="" height=""></a></div>
        <div id="pager2" class="pager">
          <% [*1..@item_details.count].each do |each_loop| %>
              <a href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
          <% end %>
        </div>
        <div class="advt-box">
          <% @item_details.each_with_index do |item_detail, indx| %>
              <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params) %>
              <% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>

              <div class="item_details" id="item_detail_<%= indx + 1 %>">
                <%# sliced_item_detail.each do |item_detail| %>
                    <div class="product-container">
                      <div class="product-img">
                        <a href="<%= shop_now_url %>" target="_blank">
                          <%= get_image_tag_from_item_detail_other(item_detail, @vendor_ad_details[item_detail.vendor_id.to_i]['vendor_name'], @item.base_item_image_url(:medium), 100 , 100, "original").html_safe %>
                          <!-- <img src="<%#= item_detail.item.image_url %>" alt="" width="100px" > -->
                        </a>
                      </div>

                      <a href="<%= shop_now_url %>" target="_blank" class="">
                        <h3 class="product-title"><%= item_detail.title.to_s.truncate(57) %></h3>

                      <!--<p class="price-strike">Rs. 40, 000</p>-->
                        <p class="price"><%= prettify_price(item_detail) %></p>
                      </a>

                      <p class="btn">
                        <a href="<%= shop_now_url %>" target="_blank" class="shop-now">
                          <%= @vendor_detail.action_text.blank? ? "Shop Now" : @vendor_detail.action_text %>
                        </a>
                      </p>
                    </div>
                <%# end %>
                <div class="product-extra-desc">
                           <p class="product-desc">
                             <%= raw get_offer_for_ad(@ad, item_detail, @vendor_ad_details[item_detail.vendor_id.to_i]['default_text'], 45, shop_now_url) %>
                      </p>
                </div>
                <img class="vendor_image_src" src="<%= @vendor_ad_details[item_detail.vendor_id.to_i]['imageurl'] %>" alt="" style="display: none;">
              </div>
          <% end %>
        </div>
    <% else %>
        No Product Found
    <% end %>

  </div>
  <!-- end of advt-120 -->
</div><!-- end of advt-block -->


<style type="text/css">
    .pager a {
        margin: 0px !important;
    }

    .product-container a {text-decoration: none !important;}
</style>