<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Welcome ::</title>
</head>

<body style="padding:36px 0 44px 0; margin:0px; background:#d8d8d8;">
<table width="666" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
    
    <table width="662" border="0" cellspacing="0" cellpadding="0">
  
  <tr>
    <td>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td width="37" ><img src="http://www.plannto.com/images/left_shadow.png" alt="LeftShadow" width="37" height="136" /></td>
    <td  align="left" valign="top" style="background:#FFFFFF; border-top:3px solid #d8d8d8;" >
    <span style="display:block; float:left;"><a href="http://www.planntp.com"><img src="http://www.plannto.com/images/n_logo.png" width="134" height="97" border="0" /></a></span>
    <p style="padding:53px 6px 0 0; margin:0;font-family:Georgia, 'Times New Roman', Times, serif; font-size:11px;
    text-align:right; color:#a3a3a3; font-style:italic;">
<span style="color:#676767"><em><%= Date.today.day %> <%= Date::MONTHNAMES[Date.today.month] %>
 <%= Date.today.year %></em></span><br /><br />

    If you cannot read this email, <a href="http://www.plannto.com/my_feeds" style="color:#787878; text-decoration:none;">click here</a><br />
Don't want this? Safely <a href="http://www.plannto.com/my_feeds" style="color:#787878; text-decoration:none;">unsubscribe</a>    </p>    </td>
    <td width="24"  align="right" valign="top"><img src="http://www.plannto.com/images/right_shadow.png" alt="RightShadow" width="24" height="136" /></td>
  </tr>
</table>

    
    </td>
  </tr>
  
  
  
  <tr>
    <td><table width="650" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#FFFFFF;">
     
      <tr>
        <td align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="597" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td style="border-bottom:1px solid #d8d8d8; padding-bottom:7px; padding-top:0px;" align="left" valign="top">
        <img src="http://www.plannto.com/images/topreviews.png" alt="Ending Soon" width="153" height="20" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
      <% @contents.each do |content| %>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0"  style="padding:10px 0 15px 0; border-bottom:1px dashed #c3c3c3;">
          <tr>
            <% if content.is_a?(ArticleContent) %>
             <%if content.thumbnail?%>
            <td width="18%" align="left" valign="top"><img src="<%= content.thumbnail %>" width="75" height="75" style="padding:3px; background:#FFFFFF; border:1px solid #c3c3c3; margin-left:10px;" /></td>
            <%else%>
              <td width="18%" align="left" valign="top"><img src="http://www.plannto.com/images/prodcut_reivew.png" width="75" height="75" style="padding:3px; background:#FFFFFF; border:1px solid #c3c3c3; margin-left:10px;" /></td>
              <%end%>
            <%end%>  
           <%unless content.is_a?(ArticleContent) %>
                  <td width="18%" align="left" valign="top"><img src="http://www.plannto.com/images/prodcut_reivew.png" width="75" height="75" style="padding:3px; background:#FFFFFF; border:1px solid #c3c3c3; margin-left:10px;" /></td>
               <%end%>    
            <td width="82%" align="left" valign="top">
           <h2 style="padding:0 0 0 0; margin:0; font-family: Georgia, 'Times New Roman', Times, serif; font-size:26px; font-style:italic; color:#1393b2; font-weight:normal;">
            <a href="<%= content_url(content.id) %>"  style="color: #1393b2; text-decoration:none;" onmouseover="this.style.color='#0f6c83'" onmouseout="this.style.color='#1393b2'">
            <%= content.title %></a>    <%if content.is_a?(ArticleContent) %> <% if content.url?  %>
        - (<a class="txt_black_description txt_onhover" style="cursor: pointer; cursor: hand;" href="http://www.plannto.com/external_contents/<%= content.id %>"><%=  URI.parse(URI.encode(URI.decode(content.url))).host.gsub("www.","") %> </a>)
       <%end%>  <%end%></h2> 
           
           <p  style="padding:0 0 0 0; margin:0; font-family: Georgia, 'Times New Roman', Times, serif; font-size:16px; font-style:italic; color:#676666;">
           <%= raw "#{content.description.split[0..(Content::WORDCOUNT-1)].join(' ')}" + "#{content.description.split.size > Content::WORDCOUNT ? "...": ""}" %>        </p>            </td>
          </tr>
        </table></td>
      </tr>
      <%end%>

  
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><img src="http://www.plannto.com/images/border_bottom.jpg" alt="Boder Bottom" width="650" height="20" align="left" style="margin:20px 0;" /></td>
  </tr>
</table>

        
        </td>
      </tr>
      
      <tr>
        <td align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="597" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td style="border-bottom:1px solid #d8d8d8; padding-bottom:7px; padding-top:20px;" align="left" valign="top">
        <img src="http://www.plannto.com/images/review_category.png" alt="Review Categories" width="219" height="19" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top:15px;">
      <tr>
        <td width="35">&nbsp;</td>
        <td><div style="border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#e9e9e9; box-shadow: 1px 1px 1px #b0b0b0; text-align:center;">
        <a href="http://www.plannto.com/cars"><img src="http://www.plannto.com/images/cars_img.png" alt="Car" border="0" style="padding:4px 0 4px 0;" /></a><br />
<p style="padding:0 0 5px 0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#444444;">Car</p>
        




</div></td>
        <td width="70">&nbsp;</td>
        <td><div style="border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#e9e9e9; box-shadow: 1px 1px 1px #b0b0b0; text-align:center;">
        <a href="http://www.plannto.com/bikes"><img src="http://www.plannto.com/images/bikes.png" alt="Bikes" border="0" style="padding:4px 0 4px 0;" /></a><br />
<p style="padding:0 0 5px 0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#444444;">Bikes</p>
        




</div></td>
        <td width="70">&nbsp;</td>
        <td><div style="border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#e9e9e9; box-shadow: 1px 1px 1px #b0b0b0; text-align:center;">
        <a href="http://www.plannto.com/cycles"><img src="http://www.plannto.com/images/cycle.png" alt="Cycle" border="0" style="padding:4px 0 4px 0;" /></a><br />
<p style="padding:0 0 5px 0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#444444;">Cycle</p>
        




</div></td>
        <td width="35">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="24">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div style="border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#e9e9e9; box-shadow: 1px 1px 1px #b0b0b0; text-align:center;">
        <a href="http://www.plannto.com/mobiles"><img src="http://www.plannto.com/images/mobiles.png" alt="Mobiles" border="0" style="padding:4px 0 4px 0;" /></a><br />
<p style="padding:0 0 5px 0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#444444;">Mobiles</p>
        




</div></td>
        <td>&nbsp;</td>
        <td><div style="border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#e9e9e9; box-shadow: 1px 1px 1px #b0b0b0; text-align:center;">
        <a href="http://www.plannto.com/tablets"><img src="http://www.plannto.com/images/tablet.png" alt="Tablet" border="0" style="padding:4px 0 4px 0;" /></a><br />
<p style="padding:0 0 5px 0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#444444;">Tablet</p>
        




</div></td>
        <td>&nbsp;</td>
        <td><div style="border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#e9e9e9; box-shadow: 1px 1px 1px #b0b0b0; text-align:center;">
        <a href="http://www.plannto.com/cameras"><img src="http://www.plannto.com/images/camera.png" alt="Camera" border="0" style="padding:4px 0 4px 0;" /></a><br />
<p style="padding:0 0 5px 0; margin:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#444444;">Camera</p>
        




</div></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><img src="http://www.plannto.com/images/border_bottom.jpg" alt="Boder Bottom" width="650" height="20" align="left" /></td>
  </tr>
</table>

        
        </td>
      </tr>
      
      
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td width="37" align="left" valign="bottom" ><img src="http://www.plannto.com/images/bottomleft_shadow.png" alt="LeftShadow" width="37" height="173" /></td>
    <td  align="left" valign="top" style="background:#FFFFFF; border-bottom:3px solid #d8d8d8;" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top" style="padding-top:20px;"><table width="494" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="177" align="left" valign="middle">
            <a href="#"><img src="http://www.plannto.com/images/email.png" alt="Email" width="16" height="16" border="0" align="left" style="margin-right:7px;" /></a>             
<a href="#" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#676767; text-decoration:none;">Forward this to a friend</a></td>
            <td width="167" align="left" valign="middle">   <a href="http://www.twitter.com/PlannTo"><img src="http://www.plannto.com/images/twitter.png" alt="Twitter" width="16" height="16" border="0" align="left" style="margin-right:7px;" /></a>             
<a href="http://www.twitter.com/PlannTo" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#676767; text-decoration:none;">Follow us on Twitter</a></td>
            <td>  <a href="http://www.facebook.com/PlannTo"><img src="http://www.plannto.com/images/facebook.png" alt="Facebook" width="16" height="16" border="0" align="left" style="margin-right:7px;" /></a>  
            
                         
<a href="http://www.facebook.com/PlannTo" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#676767; text-decoration:none;">Follow us on Facebook</a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>
        <p style="padding:32px 0 30px 0; margin:0px; font-family:Georgia, 'Times New Roman', Times, serif; font-size:12px; color:#676767; font-style:italic; text-align:center;">
  Copyright © 2012 <%= link_to "Plannto","http://www.plannto.com" %>  All rights reserved.<br />

You are receiving this email because you voluntarily opted in at our website.
 
        </td>
      </tr>
    </table>        </td>
    <td width="24"  align="right" valign="bottom"><img src="http://www.plannto.com/images/bottomright_shadow.png" alt="RightShadow" width="24" height="173" /></td>
  </tr>
</table></td>
  </tr>
</table>

  </tr>
</table>

</body>
</html>





