<%unless @item1.nil? %>
  <%type = @item1.itemtype.itemtype%>
<%else%>

<%type = session[:item_type] %>
 
<%end%>
<div class="popup-background">
  <a href="#" class="Closebut" style="display:none;">&nbsp;</a>
<td class="rowline" align="center">
  <div class="comparebox" id="compareBasicInfo<%=count%>">
    <div class="alert alert-block">
   <strong>Atleast one <%= type.downcase %> needs to be selected to compare <%= type.pluralize.downcase %>, please select a <%=type.downcase %> by typing the name of the <%= type.downcase %> in following box. </strong>
 </div>
    <span class="img_product_cmp" >
      <br/>
      <input name="" type="text" placeholder="Select a <%= type %>" id="moreCars<%=count%>" style="width: 150px;"/><div id="moreCarsDiv<%=count%>"></div>
    </span>
    <div class="PlanntoBuyBtncnt">
    </div>
    <div style="clear:both">
    </div>
  </div>
</td>

<script type="text/javascript">
  $(document).ready(function(){

    $("#ui-active-menuitem").mouseout(function() {
      $("#ui-active-menuitem").hide();
    });

    $('#moreCars<%=count%>').focus(function(){
      $(this).val('');
      $(this).keydown();
    });


    $.ui.autocomplete.prototype._renderMenu = function(ul, items) {
      var self = this;
      $.each(items, function(index, item) {
        self._renderItem(ul, item, index);
      });
    };

    $("#moreCars<%=count%>").autocomplete({
      minLength: 2,
      format: "js",
      source: function( request, response )
      {
        var opts = {
          lines: 12, // The number of lines to draw
          length: 5, // The length of each line
          width: 4, // The line thickness
          radius: 5, // The radius of the inner circle
          color: '#2EFE9A', // #rgb or #rrggbb
          speed: 1, // Rounds per second
          trail: 50, // Afterglow percentage
          shadow: true, // Whether to render a shadow
          hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('moreCarsDiv<%=count%>');
        var spinner = new Spinner(opts).spin(target);
        $.ajax(
        {
          url: "/search/autocomplete_items",
          data: {
            term: request.term,
            search_type: '<%= type %>'
          },
          type: "POST",
          dataType: "json",
          success: function( data )
          {
            response( $.map( data, function( item )
            {
              return{
                id: item.id,
                value: item.value,
                imgsrc: item.imgsrc,
                type: item.type,
                url: item.url
              }
            }));
            spinner.stop();
          }
        });
      },
      focus:function(e, ui) {
        return false
      },
      select: function( event, ui ) {
        var ids = compareIds.toString().split(",");
        if (ids.length == 4){
          alert("You have already selected four items.")
          return false;
        }
        var value = jQuery.inArray(ui.item.id.toString(), ids)
        if (value.toString() == "-1"){
          var spinnerId = $(this).attr('id').replace("moreCars",'');
          spinnerId = "moreCarsDiv" +spinnerId  
          ids.push(ui.item.id);
          compareIds = ids;
          reloadComparableItems(ids, spinnerId);
          // location.href = "/items/compare?ids=" + ids.toString();
        }
        else{
          $(this).val('');
          alert("You have already selected this item.")
          return false;
        }
      }
    })
    .data("autocomplete")._renderItem = function(ul, item, index) {
      return $("<li></li>")
      .data("item.autocomplete", item)
      .append("<a>" + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
      .appendTo(ul);
    };

  });
</script>
</div>
