<%= form_for(Item.new, :url => @action, :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li style="color: red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <label for="name">Item Name<span style="color: red">*</span> :</label>
    <%= f.text_field :name, :value => @item.name %> <br />

    <label for="itemtype_id">ItemType :</label>
    <%= f.collection_select :itemtype_id, @item_types, :id, :itemtype, {:selected => @item.itemtype_id} %> <br />

    <div class="city_div" style="display: none;">
      <label for="group_id">City :</label>
      <%= hidden_field_tag :city_id, "", :id => "city" %>
      <%= text_field_tag :city_id_serach, "", :class => "auto_complete_field" %> <br />
    </div>

    <label for="imageurl">Image Name<span style="color: red">*</span> :</label>
    <%= f.text_field :imageurl, :value => @item.imageurl %> <br />

    <label for="manufacturer">Manufacturer :</label>
    <%= hidden_field_tag :manufacturer_id, "", :id => "manufacturer" %>
    <%= text_field_tag :manufacturer_search, "", :class => "auto_complete_field" %>

    <br />
    <label for="group_id">Group :</label>
    <%= f.hidden_field :group_id, :id => "group" %>
    <%= text_field_tag :group_serach, "", :class => "auto_complete_field" %> <br />

    <div class="parent_div" style="display: none;">
      <label for="group_id">Parent :</label>
      <%= hidden_field_tag :parent_id, "", :id => "parent" %>
      <%= text_field_tag :parent_id_serach, "", :class => "auto_complete_field" %> <br />
    </div>

    <label for="status">Status :</label>
    <%= f.radio_button :status, '1', :checked => @item.status == "1" %>
    <%= label :status_1, 'Available' %>
    <%= f.radio_button :status, '2', :checked => @item.status == "2" %>
    <%= label :status_2, 'Future' %>
      <%= f.radio_button :status, '3', :checked => @item.status == "2" %>
    <%= label :status_2, 'Not Available' %>
    <br />

    <label for="manufacturer">Previous Version :</label>
    <%= f.hidden_field "old_version_id", :id => "old-version" %>
    <%= text_field_tag "old-version_search", "", :class => "auto_complete_field" %>
    <br/>

    <label for="alternative_name">Alternative Name :</label>
    <%= f.text_field :alternative_name, :value => @item.alternative_name %> <br />

    <label for="hidden_alternative_name">Hidden Alternative Name :</label>
    <%= f.text_field :hidden_alternative_name, :value => @item.hidden_alternative_name %> <br />

    <label for="alternative_name">Image :</label>
    <%= file_field_tag :upload_image %> <br />

    <%= f.submit button_name, :class => "btn_submitanswer", :style => "float:left;" %>
  <% end %>



<style type="text/css">
  .new_item label {  font-size: 14px;
      line-height: 33px;}

   .new_item {padding: 30px;}
</style>


<script type="text/javascript">
  $("document").ready(function()
  {
      $( ".auto_complete_field" ).autocomplete({
          source:  function (request, response) {
              that = $(this)[0]
              variable = that.element.attr('id')
              $required_id = variable.split("_")[0]

              if ($required_id == "manufacturer")
                var type = "manufacturer"
              else if ($required_id == "group")
                var type = "car_group"
              else if ($required_id == "parent")
                  var type = "beauty"
              else if ($required_id == "city")
                  var type = "City"
              else
                var type = $("#item_itemtype_id :selected").text()


              $.ajax({
                  url:"/search/autocomplete_items?search_type="+type,
                  data:{
                      term:request.term,
                      authenticity_token: window._token,

                  },
                  type:"POST",
                  dataType:"json",
                  success:function (data) {
                      response($.map(data, function (item) {
                          return{
                              id:item.id,
                              value:item.value,
                              type:item.type,
                              url:item.url
                          }
                      }));
//           spinner.stop();
                  }
              });
          },

          minLength: 2,
          select: function( event, ui ) {
              $('#'+$required_id).val(ui.item.id);
          }
      });

      $("#item_itemtype_id").on("change", function()
      {
          var type = $("#item_itemtype_id :selected").text()
          if (type == "Beauty")
          {
           $(".parent_div").show()
          }
          else if (type == "Place")
          {
              $(".city_div").show()
          }
          else
          {
              $(".parent_div").hide()
              $("#parent").val("")
              $("#parent_id_serach").val("")
          }
      })

      var type = $("#item_itemtype_id :selected").text()
      if (type == "Beauty")
      {
          $(".parent_div").show()
      }

      if (type == "Place")
      {
          $(".city_div").show()
      }


  })
</script>