<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
  <tr>
    <td class="bg_widgethdr txt_white">Related <%=display_item_type(@item)%></td>
  </tr>
  <tr>
    <td valign="top">
        <!--<table width="226" border="0" cellspacing="0" cellpadding="0" align="center" id="uisideRelatedProduct">
         </table>-->
        
        <table width="226" border="0" cellspacing="0" cellpadding="0" align="center" id="uisideRelatedProduct">
          <%@related_items.each do |related_item|%>
          <tr>
            <td width="113" height="85"><img src="<%=related_item.image_url%>" width="101" height="68" onclick="parent.location='<%=link_url(related_item)%>'"/></td>
            <td width="113">
            <a href="<%=link_url(related_item)%>" class="txt_black"><%=related_item.name%></a>
            <img src="../images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>
        <%end%>

        </table>

      </td>
    </tr>
  <tr>
    <td height="33" class="padding1_lft15"><a href="<%=view_all_related_items_url(@item)%>" class="txt_blue">View All</a></td>
  </tr>
  </table>
<br/>
<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
  <tr>
    <td class="bg_widgethdr txt_white">Top Hatchback Cars</td>
  </tr>
  <tr>
    <td height="252" valign="top">

        <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="113" height="85"><img src="../images/car1.png" width="101" height="68" /></td>
            <td width="113">
            <a href="#" class="txt_black">Renault Pulse</a>
            <img src="../images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>

           <tr>
            <td width="113" height="85"><img src="../images/car1.png" width="101" height="68" /></td>
            <td width="113">
            <a href="#" class="txt_black">Renault Pulse</a>
            <img src="../images/rating_stars.png" width="87" height="20" /><br />
            <a style="" href="#" class="btn_follow">Follow</a>
            </td>
          </tr>
          <tr>
            <td height="40" colspan="2" class="dotted_border" valign="top">Rahul, Deepak, and 100 other people owns this...</td>
          </tr>
        </table>

    </td>
  </tr>
  <tr>
    <td height="33" class="padding1_lft15"><a href="#" class="txt_blue">View All</a></td>
  </tr>
</table>


</div>