<%@items.each do |item|%>

    <div class="productcontentmain">
      <div>
        <img class="productimage" src="/assets/Fiat_Grande_Punto__175.jpg"/>
      </div>
      <div>
        <span class="producttitle"><%= item.name %></span>
        <%#*</div>%>
        <div class="productprice">
          <%= item.get_price_info('Price') %>
        </div>
        <div class="productreview">
          <img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/white.gif"/>Ratings
          <a class="feedlink">(100 Reviews)</a>
        </div>
        <div class="productspecification">

          <% item.item_attributes.select("attribute_values.value, name, unit_of_measure, category_name").limit(5).each do |item_attribute| %>
            <%= item_attribute.unit_of_measure %> <%= item_attribute.value %> ( <%= item_attribute.name %> ),
          <% end %>

        </div>
      </div>
    </div>


<% end %>