<H2>Compare Cars</H2>
<div class="comparedivcontainer">
  <div class="comparetopdiv">
    <div class="rightcol">
      <ul>
        <li><a href="#" class="tweet">twitter</a></li>
        <li><a href="#" class="fb">Facebook</a></li>
        <li><a href="#" class="printer">Printer</a></li>
      </ul>
    </div>

    <div class="comaredivbox dontfloat">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="comparetbl">
        <tr>
          <td class="rowline" valign="bottom" align="center">
            <p class="lefttitle" style="margin-top:40px;">If you are not sure what car to buy.</p>
            <br/>
            <span style="margin-right:30px;"><a href="#" class="btn_submitanswer" style="float:center;margin-left:30px;margin-right:30px;">Ask Advice</a></span>

          </td>
          <%@items.each do |item|%>
          <td class="rowline" align="center">
            <div class="comparebox">
              <span class="img_product_cmp">
                <span class="closebtndiv"><a href="#"><span class="icon_close2" alt="" /></a></span>
                <img height="120" width="160" src="<%=item.image_url%>" alt="<%=item.name%>"/></span>
              <p><b><a href="<%=link_url(item)%>"><%=item.name%></a></b> </p>

              <div class="PlanntoBuyBtncnt">
                <span class="action_btns_selected_small"><a class="btn_plantobuy_icon_selected_small"  href="#"></a></span>
                <span class="action_btns_small" ><a class="btn_iwonit_icon_small" href="#"></a></span>
                <span class="action_btns_small" ><a class="btn_followthiscar_icon_disabled_small" href="#"></a></span>
              </div>
              <div style="clear:both">
                <a class="txt_price"><%=item.get_price_info('Price')%></a><br />
                <img src="../images/rating_stars.png" width="87" height="20" /><br/>
              </div>
            </div>
          </td>
          <%end%>
        </tr>
        <%@attributes.group_by(&:category_name).each do |group, attributes|%>
          <%if group_display_required?(attributes.collect(&:id), @ids)%>
            <tr>
              <td id="comp-info-start-here" class="top cell titlename bordered" colspan="5"><b><%=group%></b></td>
            </tr>
            <%attributes.each do |att|%>
              <%if  attribute_display_required?(@ids, att.id)%>
                <tr>
                  <td id="comp-info-start-here" class="top cell name bordered"><b><%=att.name%></b></td>
                  <%@items.each do |item|%>
                    <td align="center" class="top cell bordered"> <span class="price"><%=raw show_item_value(item, att)%></span></td>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          <%end%>
        <%end%>
      </table>
    </div>
  </div>
  <br /><br />
</div>


<!--
<div id="compare-list" class="productcontentmain" style="display:none">
  <span id="compare-items"><%#= link_to(("<span>Compare</span>").html_safe, compare_items_path + '?ids=0' , :class => "imageButtonAsk") %></span>
</div>


<%#@items.each do |item|%>
  <div class="usual">
    <div>
      <img class="productimage" src="/assets/Fiat_Grande_Punto__175.jpg"/>
      <span class="producttitle"><%#= item.name %></span>
    </div>
    <div>
      <div id="tabs2" class="main-content-section">
        <%#= render :template => 'products/specification', :locals => { :@item => item } %>
      </div>
    </div>
  </div>
  <br style="clear:both;" />
<%# end %>

<script type="text/javascript">

  keys = ($.cookie('allItems')||'').split(',')
  url = $('#compare-items a').attr('href')
  for(i=0; i < keys.length; i++){
    value = $.cookie(keys[i]);
    if(value != null){
      $('#compare-list').append(value);
      $('#add_to_compare_' + keys[i] ).attr('checked',true);
      url = url + ',' + keys[i]
    }
  }
  $('#compare-items a').attr('href', url);
  if($('#compare-list div.compare-view').length == 0){
    $('#compare-list').hide();
  }else if($('#compare-list div.compare-view').length > 1){
    $('#compare-list').show();
    $('#compare-items').show();
  }else{
    $('#compare-list').show();
    $('#compare-items').hide();
  }

        
</script>
-->