<h2>Compare Cars</h2>
<div class="comparedivcontainer">
  <div class="comparetopdiv">
    <input name="" type="text" placeholder="Add More Items" id="moreCarsSearch" style="width: 250px;"/>
    <div class="rightcol">
      <ul>
        <li><a href="#" class="tweet">twitter</a></li>
        <li><a href="#" class="fb">Facebook</a></li>
        <li><a href="#" class="printer">Printer</a></li>
      </ul>
    </div>

    <div class="comaredivbox dontfloat">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="comparetbl">
        <tr>
          <td class="rowline" valign="bottom" align="center">
            <p class="lefttitle" style="margin-top:40px;">If you are not sure what car to buy.</p>
            <br/>
            <span style="margin-right:30px;"><a href="#" class="btn_submitanswer" style="float:center;margin-left:30px;margin-right:30px;">Ask Advice</a></span>

          </td>
          <%@items.each_with_index do |item, index|%>
            <%=render :partial =>"items/basic_info",:locals => {:item => item, :count => index+1} %>
            <%break if index == 3%>
          <%end%>
          <%if empty_boxes_required?(@items)%>
            <%for i in empty_boxes_count(@items)..4%>
              <%=render :partial =>"items/basic_info",:locals => {:item => "", :count => i } %>
            <%end%>
          <%end%>
        </tr>
        <%@attributes.group_by(&:category_name).each do |group, attributes|%>
          <%if group_display_required?(attributes.collect(&:id), @ids)%>
            <tr>
              <td id="comp-info-start-here" class="top cell titlename bordered" colspan="5"><b><%=group%></b></td>
            </tr>
            <%attributes.each do |att|%>
              <%if  attribute_display_required?(@ids, att.id)%>
                <tr>
                  <td id="comp-info-start-here" class="top cell name bordered"><b><%=att.name%></b></td>
                  <%@items.each_with_index do |compare_item, index|%>
                    <td align="center" class="top cell bordered attributeInfo<%=index+1%>"> <span class="price"><%=raw show_item_value(compare_item, att)%></span></td>
                    <%break if index == 3%>
                  <%end%>
                  <%if empty_boxes_required?(@items)%>
                    <%for i in empty_boxes_count(@items)..4%>
                      <td align="center" class="top cell bordered"> <span class="price"></span></td>
                    <%end%>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          <%end%>
        <%end%>
      </table>
    </div>
  </div>
  <br /><br />
</div>

<script type="text/javascript">
  var compareIds= "<%=params[:ids]%>";
  $(document).ready(function(){

    $("#ui-active-menuitem").mouseout(function() {
      $("#ui-active-menuitem").hide();
    });

    $('#moreCarsSearch').focus(function(){
      $(this).val('');
      $(this).keydown();
    });


    $.ui.autocomplete.prototype._renderMenu = function(ul, items) {
      var self = this;
      $.each(items, function(index, item) {
        self._renderItem(ul, item, index);
      });
    };

    $("#moreCarsSearch").autocomplete({
      minLength: 2,
      format: "js",
      source: function( request, response )
      {
        var opts = {
          lines: 12, // The number of lines to draw
          length: 5, // The length of each line
          width: 4, // The line thickness
          radius: 5, // The radius of the inner circle
          color: '#2EFE9A', // #rgb or #rrggbb
          speed: 1, // Rounds per second
          trail: 50, // Afterglow percentage
          shadow: true, // Whether to render a shadow
          hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('moreCarsSearch');
        var spinner = new Spinner(opts).spin(target);
        $.ajax(
        {
          url: "/search/autocomplete_items",
          data: {
            term: request.term,
            search_type: '<%=@item1.itemtype.itemtype%>'
          },
          type: "POST",
          dataType: "json",
          success: function( data )
          {
            response( $.map( data, function( item )
            {
              return{
                id: item.id,
                value: item.value,
                imgsrc: item.imgsrc,
                type: item.type,
                url: item.url
              }
            }));
            spinner.stop();
          }
        });
      },
      focus:function(e, ui) {
        return false
      },
      select: function( event, ui ) {
        var ids = compareIds.split(",");
        if (ids.length == 4){
          alert("You have already selected four items.")
          return false;
        }
        var value = jQuery.inArray(ui.item.id.toString(), ids)
        if (value.toString() == "-1"){
          ids.push(ui.item.id);
          location.href = "/items/compare?ids=" + ids.toString();
        }
        else{
          $(this).val('');
          alert("You have already selected this car.")
          return false;
        }
      }
    })
    .data("autocomplete")._renderItem = function(ul, item, index) {    
      return $("<li></li>")
      .data("item.autocomplete", item)
      .append("<a>" + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
      .appendTo(ul);
    };

  });


  function removeFromCompare(index, item_id){
    $("#compareBasicInfo" + index).html("")
    $(".attributeInfo" + index).text("")
    var ids = compareIds.split(",");
    ids = $.grep(ids, function(val) {
      return val != item_id;
    })
    compareIds = ids.toString();
  }
</script>
<!--
<div id="compare-list" class="productcontentmain" style="display:none">
  <span id="compare-items"><%#= link_to(("<span>Compare</span>").html_safe, compare_items_path + '?ids=0' , :class => "imageButtonAsk") %></span>
</div>


<%#@items.each do |item|%>
  <div class="usual">
    <div>
      <img class="productimage" src="/assets/Fiat_Grande_Punto__175.jpg"/>
      <span class="producttitle"><%#= item.name %></span>
    </div>
    <div>
      <div id="tabs2" class="main-content-section">
<%#= render :template => 'products/specification', :locals => { :@item => item } %>
      </div>
    </div>
  </div>
  <br style="clear:both;" />
<%# end %>

<script type="text/javascript">

  keys = ($.cookie('allItems')||'').split(',')
  url = $('#compare-items a').attr('href')
  for(i=0; i < keys.length; i++){
    value = $.cookie(keys[i]);
    if(value != null){
      $('#compare-list').append(value);
      $('#add_to_compare_' + keys[i] ).attr('checked',true);
      url = url + ',' + keys[i]
    }
  }
  $('#compare-items a').attr('href', url);
  if($('#compare-list div.compare-view').length == 0){
    $('#compare-list').hide();
  }else if($('#compare-list div.compare-view').length > 1){
    $('#compare-list').show();
    $('#compare-items').show();
  }else{
    $('#compare-list').show();
    $('#compare-items').hide();
  }


</script>
-->