<div class="alert-notice">
  <% if !flash[:notice].blank? %>
      <span class="notice"><%= flash[:notice] %></span>
  <% elsif !flash[:alert].blank? %>
      <span class="alert"><%= flash[:alert] %></span>
  <% end %>
</div>
<br/>
<br/>
<h1>New item</h1>

<%= render :partial => 'form', :locals => {:button_name => "Create"} %>

<%= link_to 'Back', items_path %>


<%= link_to 'Go to last Item', item_path(Item.last), :target => "_blank" %>
