<%= form_for [:admin, @order_history] do |f| %>
    <% if @order_history.errors.any? %>
        <div id="error_explanation"%>
        <%= "#{pluralize(@order_history.errors.count, "error")} prohibited this product from being saved:" %>
        <ul>
          <% @order_history.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
          <% end %>
        </ul>
        </div>
    <% end %>

    <h2 class="order_title"> Order </h2>

    <style>
    .label{font-size:12px;text-align:right;font-weight: bold;width:200px;}
    .input {font-size:12px;text-align:left;width:200px;}
    .input input {size:"160px;"}
    </style>


    <table style="width:800px;">
        <tr>
            <td class="label" width="25%">Order Date :</td>
            <td class="input" width="25%"><%= f.text_field :order_date, :value => Date.today.strftime("%d-%m-%Y") %></td>
            <td class="label" width="25%">No Of Orders :</td>
            <td class="input" width="25%"><%= f.text_field :no_of_orders %></td>
        </tr>
            <tr>
            <td class="label">Publisher :</td>
            <td class="input"><%= f.select :publisher_id, @publishers.collect {|a| [a.publisher_url, a.id]}, {:include_blank => true} %></td>
            <td class="label">Vendor :</td>
            <td class="input"><%= f.select :vendor_ids, @vendors.collect {|a| [a.name, a.item_id]}, {:include_blank => true} %></td>
        </tr>
    <tr>
            <td class="label">Order Status :</td>
            <td class="input"><%= f.select :order_status, ["Validated", "Cancelled", "Pending Validation"], {:selected => "Validated"} %></td>
            <td class="label">Payment Status :</td>
            <td class="input"><%= f.select :payment_status, ["Paid", "Pending", "Cancelled", "Ready for Payment"], {:selected => "Pending"} %></td>
        </tr>
            <tr>
            <td class="label">Total Revenue :</td>
            <td class="input"><%= f.text_field :total_revenue %></td>
            <td class="label">Product Price :</td>
            <td class="input"><%= f.text_field :product_price %></td>
        </tr>
            <tr>
            <td class="label">Impression ID :</td>
            <td class="input"><%= f.text_field :impression_id, :placeholder => "Enter Impression ID", :value => @order_history.impression_id.to_s %></td>
            <td class="label">Product :</td>
            <td class="input"><div class="taggingdiv">
          <ul id="ad_product_list" class="tagging"></ul>
          <div class="float_lft " id="displayTagBox">
            <input placeholder="Start Typing for suggestions.." type="text" value="" id="ad_product"/>
          </div>
        </div></td>
        </tr>
                    <tr>
             <td class="label">Item Name :</td>
            <td class="input"> <%= f.text_field :item_name, :readonly => false, :value => @order_history.item_name %></td>
            <td class="label">Item ID :</td>
            <td class="input"><%= f.text_field :item_id, :readonly => false, :value => @order_history.item_id %></td>
        </tr>
      <tr>
        <td class="label">Payment Report ID :</td>
        <td class="input"><%= f.text_field :payment_report_id, :value => @order_history.payment_report_id %></td>
        <td class="label">Hosted Site Url :</td>
        <td class="input"><%= text_field_tag :hosted_site_url, "", :id => "hosted_site_url_text_field" %></td>
      </tr>
      <tr>
        <td class="label">Sid :</td>
        <td class="input"> <%= f.text_field :sid, :readonly => false, :value => @order_history.sid %></td>
      </tr>
    </table>

  


      <br/>

      <div class="submit_button">
        <% button_name = ["edit", "update"].include?(params[:action]) ? "Update Order" : "Add Order" %>
        <%= f.submit button_name, :class => 'btn_submitanswer', :id => "publishanswer" %>
      </div>
  

<% end %>



<script>
    $(document).ready(function () {


        settings = {
            close: true, addButton: false,
            url: "/search/autocomplete_items",
            editMode: false, multiple: false,
            hidden_field: "order_history_item_id",
            has_parent: false
        };
        $.textTagger("ad_product", "ad_product_list", settings)


        $("#order_history_impression_id").change(function()
        {
            console.log('change')
            var impression_id = $(this).val()
            console.log(impression_id)

            update_form_with_item_details(impression_id)
        })

        $("#ad_product").keypress(function(e)
        {
            if (e.keyCode != 9)
            {
                $("#order_history_item_id").val('')
                $("#order_history_item_name").val('')
            }

        })


        $("#ad_product").blur(function(){
            if ($(".txt_tagging").text() != "")
            {
                $("#order_history_item_name").val($(".txt_tagging").text())
            }
        })

        $("#order_history_order_date").datepicker({ dateFormat: 'dd-mm-yy' });

        $("#deleteTag").live('click', function()
        {
            $("#order_history_item_name").val('')
        })

    });

    function update_form_with_item_details(impression_id)
    {
        $.ajax({
            url: '/admin/get_item_details',
            dataType: 'json',
            data: {impression_id: impression_id},
            success: function(response) {

                if (response.invalid_id == false)
                {
                    $("#order_history_item_id").val(response.item_id)
                    $("#order_history_item_name").val(response.item_name)
                    $("#order_history_sid").val(response.sid)
                    if ($("#order_history_publisher_id").val() == "")
                        $("#order_history_publisher_id").val(response.publisher_id)
                    $("#hosted_site_url_text_field").val(response.hosted_site_url)

                }
            }
        });
    }


</script>

<style type="text/css">
    .main_form {
        margin: 0px 0 0 54px;
        width: 600px
    }

    #new_advertisement h2 {
        font-size: 20px;
        margin: 22px;
        text-align: center;
    }

    .title_header.float_lft {
        font-size: 13px;
        text-align: right;
    }

    .main_form .fields-div {
        line-height: 40px;
    }

    .title_header {
        width: 150px;
        clear: both;
        margin: 10px 10px 0 0;;
    }

    .fields-div input, .fields-div select {
        width: 250px;
    }

    .remove-file {
        cursor: pointer;
        color: blue;
        float: left;
    }

    #add_another_file {
        clear: both;
        float: right;
        font-size: 13px;
        position: relative;
        text-decoration: underline;
    }

    .existing_images > a {
        color: #FF0000;
        font-size: 12px;
        position: absolute;
    }

    .ad_type, .template_type, .bid_radio_button {
        width: 10px !important;
    }
    .breadcrumpbtnDiv {
        display: block;
        height: 500px;
        width: 100%;
    }

    .float_lft.optional {
        font-weight: bold;
        padding: 0 0 0 97px;
        text-align: center;
    }

    .order_title {
        padding: 25px 0 25px 475px;
        font-size: 20px;
    }

    .order_histories {
        float: left;
    }

    .order_history_form {
        float: left;
    }


    #maincontainer {
        height: 310%;
    }

    .search_form {
        float: left;
    }
    #hosted_site_url_text_field {
        width: 500px;
    }
</style>
