
<center><h2>Report From <%= @start_date.to_date.strftime("%d-%m-%Y") %> To <%= @end_date.to_date.strftime("%d-%m-%Y") %></h2></center>
<br />

<h2> Summary </h2>

<br/>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <th class="header_compare"  > Total Impressions </th>
    <th class="header_compare"  > Total Clicks </th>
    <th class="header_compare"  > Total Order </th>
    <th class="header_compare"  > Total Revenue </th>
  </tr>
  <tr>
    <td class="bdb_gray1"  style="width:100px;text-align:center;border-bottom: 1px solid #808080;"> <%= @impressionscount %> </td>
    <td class="bdb_gray1"  style="width:100px;text-align:center;border-bottom: 1px solid #808080;"> <%= @clickscount %> </td>
    <td class="bdb_gray1"  style="width:100px;text-align:center;border-bottom: 1px solid #808080;"> <%= @total_orders %></td>
    <td class="bdb_gray1"  style="width:100px;text-align:center;border-bottom: 1px solid #808080;"> <%= @total_revenue %></td>
  </tr>

</table>

<br/><br/>

<div id="report">
  <%= render "admin/ad_reports/widget_chart" %>
</div>

<br/><br/>

<div class="search_form">
  <%= form_for :search, :url => "/admin/impression_reports", :html => {:method => 'get'} do |search_form| %>
      <%= hidden_field_tag :from_date, @start_date.to_date %>
      <%= hidden_field_tag :to_date, @end_date.to_date %>
      Vendor: <%= search_form.select :vendor_id, @vendors.collect {|a| [a.name, a.item_id]}, {:include_blank => true, :selected => params[:search][:vendor_id]} %>
      Order Status: <%= search_form.select :order_status, ["Validated", "Cancelled", "Pending Validation"], {:include_blank => true, :selected => params[:search][:order_status]} %>
      Payment Status: <%= search_form.select :payment_status, ["Ready for Payment", "Pending", "Cancelled"], {:include_blank => true, :selected => params[:search][:payment_status]} %>
      <%= search_form.submit "Filter" %>
      <%= search_form.submit "Clear" %>
  <% end %>
</div>

<ul id="Newtabs" style="padding-top:15px;">
		<!-- <li  class="tab_active1 impression_report" ><a href="#"><span>Impression Reports</span></a></li>
	   <li  class="tab_active1 click_report" ><a href="#"><span>Click Reports</span></a></li> -->
	     <li  class="tab_active order" ><a href="#"><span>Order & Revenue</span></a></li>
	  </ul>
<!--	  <script>
	  $(".click_report").click(function(e){
	     window.location.href = "/admin/click_reports?to_date=" + $("#to_date").val() + "&from_date=" + $("#from_date").val()
	  })
	  $(".impression_report").click(function(e){
	     window.location.href = "/admin/impression_reports?to_date=" + $("#to_date").val() + "&from_date=" + $("#from_date").val()
	  })
	    $(".order").click(function(e){
	     window.location.href = "/admin/order_histories?to_date=" + $("#to_date").val() + "&from_date=" + $("#from_date").val()
	  })
	  </script>
 -->
<%if @order_histories.count > 0 %>

<h2> Order Histories </h2>
<br/>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
  <th class="header_compare"  style="width:80px;"> Date </th>
  <th class="header_compare" width="80px"> Vendor</th> 
  <th class="header_compare" width="80px"> No. of order</th>
  <th class="header_compare" width="80px"> Total Revenue</th>
  <th class="header_compare" width="80px"> Order Status</th>
  <th class="header_compare" width="80px"> Payment Status</th>
  <th class="header_compare" width="80px"> Product Name</th>
  <th class="header_compare" width="80px"> Product Price</th>
 </tr>
 <%@order_histories.each do |oh | %>
   <tr>
    <% @vendor = @vendors.select{|a| a.item_id == oh.vendor_ids}%>
    <td class="bdb_gray1"  style="width:80px;text-align:center;border-bottom: 1px solid #808080;"><%=  oh.order_date.to_datetime.strftime("%d-%b-%Y" ) %> </td>
      <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;">
      <% unless @vendor.nil? or @vendor.empty? %>
        <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + @vendor[0].imageurl%>"  style="border:0;padding:0;"/>
       <%end%>
      </td>
     <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;"><%= oh.no_of_orders %> </td>      
     <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;font-weight: bold;"><%= oh.total_revenue %> </td>

     <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;"><%= oh.order_status %> </td>
     <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;"><%= oh.payment_status %> </td>
       <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;"><%= oh.item_name %> </td>
       <td class="bdb_gray1" width="80px" style="text-align:center;border-bottom: 1px solid #808080;"><%= oh.product_price %> </td>

  </tr>
<%end%>  
 </table> 

<br/><br/>
 <%= will_paginate @order_histories %>
<%end%>


<style type="text/css">
    .search_form {
        color: #A52A2A;
        font-size: 14px;
        margin: 30px;
        position: relative;
    }
</style>