<p>
 <b>Date:-</b>
 <%= @error_message.created_at %>
</p>
<p>
 <b>Message:-</b>
 <%= @error_message.message %>
</p>
<p>
 <b>User Info:-</b>
 <%= @error_message.user_info %>
</p>
<p>
 <b>Ip address:-</b>
 <%= @error_message.ip_address %>
</p>
<p>
 <b>Params:-</b>
 <%= @error_message.params %>
</p>
<p>
 <b>Class Name:-</b>
 <%= @error_message.class_name %>
</p>
<p>
 <b>Target url:-</b>
 <%= @error_message.target_url %>
</p>
<p>
 <b>Referer url:-</b>
 <%= @error_message.referer_url %>
</p>
<p>
 <b>Details:-</b>
 <%= @error_message.trace %>
</p>
 
