<div id="main-content">
  <div>
    <span><a class="feedlink">Cars</a><span class="BreadCrumpG">></span><a class="feedlink">Fiat</a><span class="BreadCrumpG">></span><a class="feedlink">Grande
      Punto</a><span class="BreadCrumpG">></span><a class="feedlink">Grande Punto Active 1.2</a></span>
  </div>
  <div id="comment-notice"></div>
  <div class="productbuttonsGrp">
    <%= get_follow_types(@item.id, [[ "Plan to buy", "plan_to_buy", "Buyer"], ["I Own it", "plan_to_own", "Owner"], ["Follow This Car", "plan_to_follow", "Follow"]], "select_box", {:remote => true, :class => "imageButtonAsk"}) %>    
  </div>
  <div class="feedcontentheader">
    <div class="productcontentmain">
      <div>
        <img class="productimage" src="/assets/Fiat_Grande_Punto__175.jpg"/>
      </div>
      <div>
        <span class="producttitle"><%= @item.name %></span>
        <%#*</div>%>
        <div class="productprice">
          <%= @item.get_price_info('Price') %>
        </div>
        <div class="productreview">
          <img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/white.gif"/>Ratings
          <a class="feedlink">(100 Reviews)</a>
        </div>
        <div class="productspecification">

          <% @item.priority_specification.each do |item_attribute| %>
            <%= item_attribute.unit_of_measure %> <%= item_attribute.value %> ( <%= item_attribute.name %> ),
          <% end %>
          <%= link_to("...Detailed Specification", "#tab2", :class => 'feedlink', :id => "detailed_specification") %>

        </div>
      </div>
    </div>
    <div class="productcontentcreation">
      <div class="">
        <span class="buttonLink">Review Car</span>
        <span class="buttonLink"><a class="feedlink">Ask a Question</a></span>
        <span class="buttonLink"><a class="feedlink">Share a Tip</a></span>
      </div>

      <%= render :partial => 'reviews/review_block' %>

    </div>
    <div id="usual2" class="usual">
      <ul>
        <li class="tabstyle">
            <a href="#tabs1">All Feeds</a>
        </li>
        <li class="tabstyle">
            <a class="" href="#tabs2" id="specification">Specification</a>

        </li>
        <li class="tabstyle">

            <a href="#tabs3" class="">Questions</a>

        </li>
      </ul>
      <div id="tabs1" style="display: block; " class="main-content-section">

        <div class="feedcontentheader">
          <img class="mediumimage" src="/assets/Saravana_50x50.jpg"/><a class="feedlink">Saravana Kumar</a>
          reviewed <a class="feedlink" href="Product.html">Fiat Grande Punto </a>

          <div class="feeddate">
            Reviewed on Sep 8th 2011
          </div>
          <div class="feedcontent">
            I bought punto car last week, its one of the best car i have driven. Its road sense and stability is
            excellent. Look of the care is also good. Only drawback is the interior of the
            car.<a class="feedlink">more...</a>
          </div>
          <div class="feedcontent">
            <span><a>10 people found it useful.</a></span>
            <span><a class="feedlinkcomments">(5) Comments</a><a></a></span>
          </div>
        </div>
        <div class="feedcontentheader">
          <img class="mediumimage" src="/assets/Saravana_50x50.jpg"/><a class="feedlink">Saravana Kumar</a>
          shared a tip on <a class="feedlink" href="Product.html">Fiat Grande Punto </a>

          <div class="feeddate">
            Shared on Sep 8th 2011
          </div>
          <div class="feedcontent">
            I bought punto car last week, its one of the best car i have driven. Its road sense and stability is
            excellent. Look of the care is also good. Only drawback is the interior of the
            car.<a class="feedlink">more...</a>
          </div>
          <div class="feedcontent">
            <span><a>10 people found it useful.</a></span>
            <span><a class="feedlinkcomments">(5) Comments</a><a></a></span>
          </div>
        </div>
        <div class="feedcontentheader">
          <img class="mediumimage" src="/assets/Saravana_50x50.jpg"/><a class="feedlink">Saravana Kumar</a>
          asked a question on <a class="feedlink" href="Product.html">Fiat Grande Punto </a>

          <div class="feeddate">
            Asked on Sep 8th 2011
          </div>
          <div class="feedcontent">
            I bought punto car last week, its one of the best car i have driven. Its road sense and stability is
            excellent. Look of the care is also good. Only drawback is the interior of the
            car.<a class="feedlink">more...</a>
          </div>
          <div class="feedcontent">
            <span><a>10 people found it useful.</a></span>
            <span><a class="feedlinkcomments">(5) Comments</a><a></a></span>
          </div>
        </div>
      </div>
      <div id="tabs2" style="display: none; " class="main-content-section">
        <%= render :template => 'products/specification' %>
      </div>
      <div id="tabs3" style="display: none; ">Any Questions</div>
    </div>

    

  </div>
</div>
<div id="dialog-form" title="Create new user">
  <%= form_for(@user, :as => :user, :url => session_path("user"), :method => :post) do |f| %>
    <%= render "shared/login_fields", {:f => f} %>
  <% end %>
</div>


<script type="text/javascript">
<% if @user_follow && @user_follow.follow_type == "Buyer" %>
  Product.load_buyer();
<% end %>
<% if @user_follow && @user_follow.follow_type == "Owner" %>
  Product.load_owner();
<% end %>
<% if @user_follow && @user_follow.follow_type == "Follow" %>
  Product.load_follow();
<% end %>
<% if current_user.blank? %>
  Product.load_signout_user_link();
<% end %>

Product.related_products('<%= related_products_product_path(@item, :follow_type => @user_follow ? @user_follow.follow_type : "") %>');

$("#usual2 ul").idTabs("tabs1");
Product.detailed_specification();
<% if current_user.blank? %>
  Product.login_dialog();
  Product.show_login_dialog("#plan_to_buy, #plan_to_own, #plan_to_follow #plan_to_buy_select");
  Product.show_login_dialog_change("#plan_to_buy_select");
<% else %>
 Product.hide_login_dialog();
<% end %>
</script>