 <% if (!@where_to_buy_items.empty?) %> 
 <table width="251" height="38" border="0" cellspacing="0" cellpadding="0px" style="border:solid 1px #cdd3d7;background:white;">
    <tr>
      <td><font color="red" size="4px">Best Prices</font><br/><br /></td>
    </tr>
    <% @where_to_buy_items[0..3].group_by(&:site).each do |site, items| %> 
          <tr>
             <%items.each_with_index do |item, index|%>      
              <%if display_item_details(item)%>
             <%if index == 0%>
               <td> <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>" /> </td>
               <td> <%=display_price_detail(item)%> </td>
               <td><a href="/history_details?detail_id=<%=item.item_details_id%>" class="btn-link" target="_blank">Go</a> </td>
              <%end%>
              <%end%>
              <%end%>
               </tr>
          <% end %>
         <tr> <td> <a href="<%=@item.get_url()%>?tab=compare" class="txt_black">See more prices >></a></td></tr>
     </table>
      <br /> 
      <%end %>
      
