  <%unless item.offer == "" || item.offer.nil? %>
    <tr><td colspan="4"> <img src="/images/offer.jpeg" style="padding-right:5px;float:left;"/><span style="padding-top: 2px;float:left;"><%= " - " + item.offer[0..119] rescue ""%>
      <%if item.offer.size > 120 %> 
        <%= link_to "[Read More]","#",:onclick => "$('#offer_#{item.id}#{site}').dialog({modal: true,height: 280,width: 275 }); $('.Close_dialog').show(); $('.ui-dialog-titlebar').hide();return false;"%> </span> <div id="offer_<%= item.id %><%= site %>" style="display:none;"> 
        <div class="Close_dialog" style="display:none;width:43px;overflow:hidden;height:42px;background:url(../images/pclose_but.png) no-repeat left top;position:relative;left:220px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div> <%= item.offer %> </div>  
    <%end%>
    </td></tr>
 <%end%>
