<%# cache ['detailed_specifications', @item] do%>
<div class="specificationcontainer">
  <div class="spacificationdiv">
    <br/>
    <% unless @items_specification["Pro"].empty? and  @items_specification["Con"].empty? %>
        <h3 class="producttabsubheader">Specifications Summary</h3>
        <table style="margin-top: 20px;">
              <tr>
                <th style="width: 200px;padding-left:50px;text-align:left;"><h1 style="color:green;"> Advantages</h1></th>
                <th style="width: 200px;padding-left:50px;text-align:left;"><h1 style="color:rgb(158, 0, 0)"> TradeOffs</h1></th>
              </tr>
              <tr style="vertical-align:top;">
                <% @items_specification.each do |key, value| %>
                <td style="padding-left:50px;">
                   <br/>
                  <%if key == "Con" and @items_specification["Con"].empty?%>
                      There are no major TradeOffs.
                      <br/>
                  <%end%>
                   <% value.each do |v| %>
                   <% v[:values].each do |av| %>
                   <h3><%=v[:title] %></h3>
                   <p class="txt_brown" style="text-align:inherit;">
                    <%= if (v[:description].nil? or v[:description].empty?) 
                     raw display_specification_value(av,av.attribute)
                    else 
                    v[:description] 
                    end%>
                  </p>
                  <br/>
                  <% end %>
                  <% end %>
                </td>
            <% end %>
          </tr>
        </table>
        <br/>
    <%end%>


      <br/>
    <% unless @pro_cons.empty? %>
        <h3 class="producttabsubheader">Pro Con Summary</h3>
        <table style="margin-top: 20px;">
              <tr>
                <th style="width: 200px;padding-left:50px;text-align:left;"><h1 style="color:green;"> Pros</h1></th>
                <th style="width: 200px;padding-left:50px;text-align:left;"><h1 style="color:rgb(158, 0, 0)"> Cons</h1></th>
              </tr>
              <tr style="vertical-align:top;">
                <% @pro_cons.each do |key, value| %>
                <td style="padding-left:50px;">
                   <br/>
                  
                   <% value.each do |v| %>
                   <%# v[:values].each do |av| %>
                   <h3><%=v.pro_con_category ? v.pro_con_category.text : "No Title"  %></h3>
                   <p class="txt_brown" style="text-align:inherit;">
                    
                    <%= v.text %> 
                  </p>
                  <br/>
                  <%# end %>
                  <% end %>
                </td>
            <% end %>
          </tr>
        </table>
        <br/>

        <div id="middlecontainer">
      <div class="container" style="width:960px;">
          
            <div class="home-left">
              
                <div class="box-div">
                  <ul id="<%= @item.id %>" class="first-carousel jcarousel-skin-tango">
                                         
                    </ul>
                  <div class="clr"></div>
                </div>                
            </div><!-- end of home-left -->
    </div>
    </div>
    <%end%>
    <h3 class="producttabsubheader">Detailed Specifications</h3>
    <br/>
    
    <div class="specificationblckdiv">
      <% @item.specification.group_by(&:category_name).each do |category, product_attributes| %>
         <%if item_group_display_required?(product_attributes.collect(&:attribute_id), @item)%>
          <ul class="specificationblckdivul">
            <li class="specificationblckdivtitletxt"><%= category %></li>
            <% reset_cycle("specificationinnerul") %>
            <li class="specificationblckdivli">
              <% product_attributes.each_with_index do |product_attribute| %>
            
                <%if display_specification?(product_attribute)%>
                  <ul class="<%= cycle("specificationinnerul", "specificationinnerul", :name => "specificationinnerul") -%>">
                 
                  <%unless product_attribute.name == "Price" %>
                     <%if (!product_attribute.description.nil? && !product_attribute.attributeshyperlink.nil?) || (!product_attribute.description.blank? && !product_attribute.attributeshyperlink.blank?) %>
                        <li class="specificationblcksublvltxt">
                          <span style="width:200px;float:left;">
                          <strong>
                            <%= product_attribute.name %>
                              <%= link_to "(?)","#",:onclick => "$('#description_#{product_attribute.attribute_id}').bPopup({
   closeClass:'Closebut',
   modalClose: false,
   position: [screen.width / 3, $(window).scrollTop() + 150],
   follow: [false, false] 
 });return false;", :title => "Description" %>
                                 :</strong>
                        </span>
                        <%= render "attribute_description_popup",:attribute => product_attribute %>
                     <%elsif !product_attribute.attributeshyperlink.nil? || !product_attribute.attributeshyperlink.blank? %>
                        <li class="specificationblcksublvltxt"><strong><%= product_attribute.name %>   
                        <% link = product_attribute.attributeshyperlink %>
                        <% if(link).include?("http://") || (link).include?("https://")  %>
                        
                            <%= link_to "(?)",product_attribute.attributeshyperlink,:title => "Description" %> : </strong>
                        <%else%>
                           <%= link_to "(?)","http://" + product_attribute.attributeshyperlink,:title => "Description" %> : </strong>
                         <%end%>
                    <%else%>
                         <li class="specificationblcksublvltxt">
                          <span style="width:200px;float:left;">
                          <strong><%= product_attribute.name %> : </strong></span>
                     <%end%>       
                     <span>
                    <%=raw display_specification_value(product_attribute)%></span><%#= product_attribute.value %> <%#= product_attribute.unit_of_measure %></li>
                  <%end%>  
                  </ul >
                <%end%>
              <% end %>
            </li>
            <!--<li class="specificationblckdivliempty dontfloat"></li>-->
          </ul>
        <%end%>
      <% end %>
    </div>
  </div>
  <div class="dontfloat"></div>
</div>


<%#end%>

