<%unless (@best_deals.blank?) %>
    <% length = @best_deals.length %>
    <%if @moredetails == "true" %>
		    <% loopcount = (length/2.0).round %>
		    <div id="plannto_insidediv">
		          <table id="plannto_intable" width="100%">   
		            <thead style="border:0px;">                    
				
		  			<% (0..loopcount-1).each do |i| %>  			
					<tr colspan="5" style='<%= "display:none;" if i > 0 %>'  colspan="5" id="offer<%=i%>">
						<td >				
							<% @deal  = @best_deals[((i)*2)]%>
							<%unless @deal.nil?%>
							<table style="width:100%;">
							<tr style="width:100%;border-bottom: 1px solid #EEE;clear:both;display:block;background:white;">
							<td style="vertical-align:top;">
								<div style="width:100px;float:left;padding-top:20px;">
									<%domain = VendorDetail.getdomain(@deal.url)%>
					  				<% @vendor = @vendors.select{|a| a.baseurl == domain}%>
					  				<% unless @vendor.nil? or @vendor.empty? %>
					  				<img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + @vendor[0].imageurl%>"  style="border:0;padding:0;"/>
					  				<%else%>
					  					<span style="font-size: 12px;word-wrap: break-word;font-weight:bold;"><%=domain%></span>
					  				<% end %>
					  				
					  		</td>
					  		<td width="100%">
					  			<div style="font-weight:bold;font-size:16px;min-height:20px;padding:10px 5px 5px 10px;">   
					  				<a style="text-decoration:none;color:#474747;" href="http://www.plannto.com/history_details?id=<%=@deal.id%>&iid=<%=@impression_id%>"> <%=@deal.title%> 					
					  				</a>
					  			</div>
					  			<div style="font-weight:normal;font-size:12px;padding-bottom:5px;padding-left:10px;color:#5F5F5F;"> <%=@deal.description%> </div>
					  			<%unless @deal.field1 == "" %>
					  			<div style="font-weight:normal;font-size:11px;font-style:italic;padding-left:10px;padding-bottom:5px;"><span> Expires on - <%=date_formate(@deal.field1.to_date)%></span></div>
					  			<%end%>
					  			<div style="clear:both;margin-left:10px;margin-right:30px;margin-top:10px;"><a href="http://www.plannto.com/history_details?id=<%=@deal.id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank">Grab the deal</a></div>
					  			<br style="clear:both;"/>
					  			</div>
					  		</td>
					  		</tr>
					  		<%end%>
				  			<% @deal  = @best_deals[((i)*2 + 1)]%>
				  			<%unless @deal.nil?%>
					  			
							<tr style="width:100%;border-bottom: 1px solid #EEE;clear:both;display:block;background:white;">
							<td style="vertical-align:top;">
								<div style="width:100px;float:left;padding-top:20px;">
									<%domain = VendorDetail.getdomain(@deal.url)%>
					  				<% @vendor = @vendors.select{|a| a.baseurl == domain}%>
					  				<% unless @vendor.nil? or @vendor.empty? %>
					  				<img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + @vendor[0].imageurl%>"  style="border:0;padding:0;"/>
					  				<%else%>
					  					<span style="font-size: 12px;word-wrap: break-word;font-weight:bold;"><%=domain%></span>
					  				<% end %>
					  		</td>
					  			  		<td width="100%">
					  			<div style="font-weight:bold;font-size:16px;min-height:20px;padding:10px 5px 5px 10px;">   
					  				<a style="text-decoration:none;color:#474747;" href="http://www.plannto.com/history_details?id=<%=@deal.id%>&iid=<%=@impression_id%>"> <%=@deal.title%> 					
					  				</a>
					  			</div>
					  			<div style="font-weight:normal;font-size:12px;padding-bottom:5px;padding-left:10px;color:#5F5F5F;"> <%=@deal.description%> </div>
					  			<%unless @deal.field1 == "" %>
					  			<div style="font-weight:normal;font-size:11px;font-style:italic;padding-left:10px;padding-bottom:5px;"><span> Expires on - <%=date_formate(@deal.field1.to_date)%></span></div>
					  			<%end%>
					  			<div style="clear:both;margin-left:10px;margin-right:30px;margin-top:10px;"><a href="http://www.plannto.com/history_details?id=<%=@deal.id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank">Grab the deal</a></div>
					  			<br style="clear: both;">
					  			</div>
					  		</td>
					  		</tr>
					  		<%end%>
					  		<tr  style="height:35px;padding: 5px;background:white;">
					  		<td colspan="2">
							<% if i>0 %>
								<span style="float:left;margin: 5px 10px;"><a href="offer<%= i - 1 %>" class="navigate_offer" style="text-decoration: none;padding:5px;font-size:12px;background-color: #F5F5F5;height: 30px;border: solid 1px #CCD4D8;border-radius: 3px;color: #4E4E4E;">Previous Offers</a></span>
							<% end %>
							<% if i != loopcount -1 %>
								<span style="float:right;margin: 5px 10px;"><a href="offer<%= i+1 %>" class="navigate_offer" style="text-decoration: none;padding:5px;font-size:12px;background-color: #F5F5F5;height: 30px;border: solid 1px #CCD4D8;border-radius: 3px;color: #4E4E4E;">Next Offers</a></span>
							<% end %>
							</td>
							</tr>	
							</table>
					  	</td>
						</tr>
					<% end %>
				  </thead>
				</table>
			   </div>
    <%else%>

    	<div id="plannto_insidediv">
		          <table id="plannto_intable" width="100%">   
		            <thead style="border:0px;">   
		            <% (0..length-1).each do |i| %>                  
					  <tr colspan="5" style='<%= "display:none;" if i > 0 %>'  colspan="5" id="offer<%=i%>">
						<td >				
							<% @deal  = @best_deals[i]%>
							<%unless @deal.nil?%>
							<table style="width:100%;">
							<tr style="width:100%;border-bottom: 1px solid #EEE;clear:both;display:block;background:white;">
							<td style="vertical-align:top;width:100%;">
								<div style="width:100%;padding-top:5px;vertical-align:middle;text-align:center;">
									<div style="display: inline-block;">
										<%domain = VendorDetail.getdomain(@deal.url)%>
						  				<% @vendor = @vendors.select{|a| a.baseurl == domain}%>
						  				<% unless @vendor.nil? or @vendor.empty? %>
						  				<img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + @vendor[0].imageurl%>"  style="border:0;padding:0;"/>
						  				<%else%>
						  					<span style="font-size: 12px;word-wrap: break-word;font-weight:bold;"><%=domain%></span>
						  				<% end %>
						  			</div>
					  			</div>

								<div>
						  			<div style="font-weight:bold;font-size:15px;min-height:20px;padding:10px 5px 5px 10px;">   
						  				<a style="text-decoration:none;color:#474747;" href="http://www.plannto.com/history_details?id=<%=@deal.id%>&iid=<%=@impression_id%>"> <%=@deal.title%> 					
						  				</a>
						  			</div>
					  		    </div>
					  			<div style="font-weight:normal;font-size:12px;padding-bottom:5px;padding-left:10px;color:#5F5F5F;"> <%=@deal.description%> </div>
					  			<div>
					  			<%unless @deal.field1 == "" %>
					  			<div style="font-weight:normal;font-size:11px;font-style:italic;padding-left:10px;padding-bottom:5px;"><span> Expires on - <%=date_formate(@deal.field1.to_date)%></span></div>
					  			<%end%>
					  			<div style="clear:both;float:right;;margin-right:5px;margin-top:10px;"><a href="http://www.plannto.com/history_details?id=<%=@deal.id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank">Grab the deal</a></div>
					  			<div style="clear:both;"><br style="clear: both;"></div>
					  			</div>	
					  		</td>
					  		<%end%>
					  	    </tr>
					  		<tr  style="height:35px;padding: 5px;background:white;">
					  		<td>
							<% if i>0 %>
								<span style="float:left;margin: 5px 10px;"><a href="offer<%= i - 1 %>" class="navigate_offer" style="text-decoration: none;padding:5px;font-size:12px;background-color: #F5F5F5;height: 30px;border: solid 1px #CCD4D8;border-radius: 3px;color: #4E4E4E;">Previous Offers</a></span>
							<% end %>
							<% if i != length -1 %>
								<span style="float:right;margin: 5px 10px;"><a href="offer<%= i+1 %>" class="navigate_offer" style="text-decoration: none;padding:5px;font-size:12px;background-color: #F5F5F5;height: 30px;border: solid 1px #CCD4D8;border-radius: 3px;color: #4E4E4E;">Next Offers</a></span>
							<% end %>
							</td>
							</tr>	
							</table>
						  </td>
						</tr>
					<% end %>
				  </thead>
				</table>

    <%end%>
	

<% else %>
	Currently there are no offers for this product.
<% end %>

