<div id="planntobuy">
     <div>
            <ul class="shadetabs">
                <li class="selected">
                    <a href="javascript:void(0)" id="where_to_buy_items_a" ><img src="<%= configatron.root_image_path%>static/images/<%= @vendor_detail.theme_image %>" ></a>
                </li>
            </div>
  <% @where_to_buy_items.each do |item_detail| %>

      <div style="padding: 8px 0px;">
   
        <span style="float: left;padding-right: 2px;">
          <%= get_image_tag(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name'], item_detail.item.base_item_image_url(:small), 50, 0, "medium").html_safe %>
        </span>
        <span style="font-size: 13px;float: left;padding-right: 2px;width:66%">
            <div style="font-size: 13px;font-weight: 600;color: #5A5A5A;" id="nametext">
              <%= item_detail.ItemName.to_s.truncate(34) %>
            </div>
            <div style="font-family: arial;font-size: 12px;color: #BF0000;font-weight: 600;line-height:1px;">
              <span style="float:left;margin-top: 10px;">
              <%= display_price_detail(item_detail) %>
            </span>
              <% if @multiple_vendors == true %>
               <span style="float: right;margin-top:3px;margin-right:40px;">
                <img width="50px" height="px" class="ad_vendor_logo" id="vendor_logo" alt="" src="<%= get_vendor_image(item_detail) %>">
              </span>
         <% end %>
            </div>
        </span>
        
        <span style="float: right;width:10%;text-align:center;">
    
         <div style="margin-top:10px;">
            <p class="btn">
              <a style="margin: 0; padding: 0;cursor: pointer; text-indent: -99999px; border: 0; background: #F76300;padding: 3px 5px; color: #FFF; font-weight: bold; font-family: Arial;font-size: 14px;text-decoration: none;" class="shop-now" target="_blank" href="<%= configatron.hostname%>/history_details?iid=<%=@impression_id%>&detail_id=<%= item_detail.id %>">
                Go
              </a>
            </p>
          </div>
        </span>
        
        <br clear="all">
      </div>
  <% end %>
</div>


