<% if (!@where_to_buy_items.empty?) or (!@best_deals.nil?) %>
<style type="text/css">

.shadetabs{padding:0; margin:0; width:100%; list-style-type: none; text-align: left;z-index:-1;}
.shadetabs li.unselected{float:left; padding:0px!important; margin:0 0 0 2px!important;background: #E65E7B!important;list-style-type: none!important; width:49.2%;text-align: center;border-bottom:2px solid #D2D2D2;}
.shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px;  display:inline-block; margin:0; text-align:center; }
.shadetabs li.selected{padding:0px!important; margin:0px !important; text-align:center; background: <%= @vendor_detail.theme_colour %> !important; list-style-type: none!important;text-align: center;text-transform: uppercase;border: 1px solid #929292;font-weight: 700;}
.shadetabs li.selected a{ color:black!important; font-size:14px; text-decoration: none; padding:4px 15px;  display:inline-block; margin:0; text-align:center;}

.product-container{ margin:0; padding:5px 0 0 0; float:left;cursor:pointer;height:139px;}
.planntocarosel-right{ width: 32px;float: right;}
.planntocarosel-right a{ background: no-repeat url(http://z-ecx.images-amazon.com/images/G/01/x-locale/personalization/shoveler/left-right-arrow-semi-rd._V236573507_.gif) -25px 0; right: 0;float: left;height: 50px;width:30px;}

.planntocarosel-left{ width: 32px;float: left;}
.planntocarosel-left a{ background: no-repeat url(http://z-ecx.images-amazon.com/images/G/01/x-locale/personalization/shoveler/left-right-arrow-semi-rd._V236573507_.gif) 5px 0; right: 0;float: left;height: 50px;width:30px;}
.bottompan{border-top:1px solid #E5E5E5;display:block;text-align: right;padding: 5px 10px;text-decoration:none;font-size:14px;}


<%if @items.size == 1%>
.product-container{width:100%;}
.product-container-top{width:76%;float:left;border-bottom:1px solid #E5E5E5;}
.planntocarosel-left{padding: 107px 3px 0 0px;}
.planntocarosel-right{padding: 107px 3px 0 0px;}
<%else%>
.product-container{width:50%}
.product-container-top{width:86%;float:left;}
.planntocarosel-left{padding: 35px 3px 0 0px;}
.planntocarosel-right{padding: 35px 3px 0 0px;}
<%end%>

@media (max-width: 600px) {
        .product-container{width:100%;border-bottom:1px solid #E5E5E5;}
        .product-container-top{width:76%;float:left;border-bottom:1px solid #E5E5E5;}
        .planntocarosel-left{padding: 100px 3px 0 0px;height: 157px;}
        .planntocarosel-right{padding: 100px 3px 0 0px;height: 157px;}

        }

.product-container h3{ margin:0 auto; padding:0; font-size:13px; color:#222; font-weight:normal;   font-family:Arial;word-break:break-word;}
.product-container .product-img{ margin:0 auto; padding:0;text-align:center; width:45%; float:left;min-height:110px;}
.product-container .product-img img { margin:0 auto; text-align:center; max-width:120px;max-height:110px; }
.product-container .product-text {width:55%;float:left;}
.product-container .product-text .product-title{height:38px;overflow:hidden;font-size:14px;padding:5px 0px;line-height:normal;margin:0px;}
.product-container .product-text .text-desc{margin: 0;padding: 0;color: #222; font-size: 11px;font-family: Arial;height:32px;}
.product-container .product-text .product-price {min-height:32px;}
.product-container .product-text .product-price .strike{list-style: outside none none;margin: 5px 0px;padding: 0;color: #585858;font-size: 12px;text-decoration: line-through; }
.product-container .product-text .product-price .price{list-style: outside none none; margin: 5px 0px; padding:0; color:#bf0000; font-size:14px; font-weight:bold;font-family: Arial monospace;}
.btn { margin:0 auto; padding:5px 0 0 0;}
.btn .shop-now{ margin:0; padding:3px 10px; background:#E47911; color:#fff; font-size:13px; text-transform:none; border:0; cursor:pointer;  text-decoration:none; font-weight:bold; text-align:center;}

#planntocontainer {border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;}
#productdiv {max-height:260px;overflow:hidden;}
a { outline: none; }

.strike_price {text-decoration: line-through;color: #555;
        font-size: 11px;
        }
.sale_price {list-style: outside none none;}
.price_class { list-style: outside none none; }
</style>
<div id="planntocontainer">
        <div>
            <ul class="shadetabs">
                <li class="selected">
                    <a href="javascript:void(0)" id="where_to_buy_items_a" >
                      <img src="<%= configatron.root_image_path%>static/images/<%= @vendor_detail.theme_image %>" style="height: 18px;">
                    </a>
                </li>
            </div>
            <div id="productdiv">
                <div class="planntocarosel-left">
                    <a  title="Prev" href="#" target="_blank">
                        <span></span>
                    </a>
                </div>
            <% @where_to_buy_items.first(6).each_slice(2).each_with_index do |itemdetails, indx| %>
                <div class="product-container-top" id="<%= indx + 1 %>">
                <% itemdetails.each do |item_detail| %>
                    <div class="product-container">
                        <div class="product-img">
                            <a href="<%= configatron.hostname%>/history_details?iid=<%=@impression_id%>&detail_id=<%= item_detail.id %>" target = "_blank" rel= "nofollow" >

                            <%= get_image_tag(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name'], item_detail.item.base_item_image_url(:medium), 132, '').html_safe %>

                                </a>

                            </div>
                            <div class="product-text">
                                <p class="product-title" style="height:38px;overflow:hidden;font-size:14px;padding:5px 0px;line-height:normal;margin:0px;"><%= item_detail.ItemName.to_s.truncate(48) %></p>
                                <div class="product-price">
                                    <ul style="margin:0px;">
                                        <li class='price'><%= display_price_detail(item_detail) %></li>
                                    </ul>

                                </div>


                                <p class="btn">
                                    <a class="shop-now" href="<%= configatron.hostname%>/history_details?iid=<%=@impression_id%>&detail_id=<%= item_detail.id %>" target = "_blank" rel="nofollow">
                                      <%= @vendor_detail.action_text.blank? ? "Shop Now" : @vendor_detail.action_text %>
                                    </a>
                                </p>
                            </a>
                            <br clear="both" />

                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
                <div class="planntocarosel-right">
                    <a  title="Next" href="#" target="_blank">
                        <span></span>
                    </a>
                </div>
                  
            </div>

            <%if @vendor = "73017" %>
            <div style="height:15px;">
        <!--<div style="float:left" "> <a href="http://www.junglee.com/Mobile-Phones/b/803073031/ref=nav_menu_1_1_1_0" style="font-size:14px;color: #5A5A5A;text-decoration:none;padding-left:20px;">View more products. </a></div>-->
        <div style="float:right;" style ="font-size:14px;">
         <span style="float:left;font-size:12px;"> Powered by </span><span style="float:left"><a href="http://www.junglee.com" style="display:inline-block;margin-top:1px"><img height="14px" class="ad_vendor_logo" id="vendor_logo" alt="" src="<%= get_vendor_image(@where_to_buy_items[0]) %>"></a></span>
         </div>
        </div>
        <%end%>
        </div>

        <% end %>

        <script type="text/javascript">
        PlannTo.jQuery(".product-container").click(function()
        {
            var shop_now = PlannTo.jQuery(this).find(".shop-now")
            window.open(shop_now.attr("href"))
            return false;
        });

PlannTo.jQuery(document).ready(function()
{
    PlannTo.jQuery(".product-container-top").hide()
    PlannTo.jQuery("#1").show()
    PlannTo.jQuery("#1").addClass("activeplannto")
    PlannTo.jQuery(".planntocarosel-left").css("opacity", 0.2);

    var active_div = PlannTo.jQuery(".activeplannto")
    var next_div = PlannTo.jQuery(active_div).next()

    if (active_div.length == 0 || PlannTo.jQuery(next_div).attr("class") == "planntocarosel-right")
    {
        PlannTo.jQuery(".planntocarosel-right").css("opacity", 0.2);
        PlannTo.jQuery(".planntocarosel-left").css("opacity", 0.2);
    }
});

PlannTo.jQuery(".planntocarosel-left").click(function(event)
{
    var active_div = PlannTo.jQuery(".activeplannto")
    var prev_div = PlannTo.jQuery(active_div).prev()

    if (PlannTo.jQuery(prev_div).next().attr("class") == "planntocarosel-right")
    {
        PlannTo.jQuery(".planntocarosel-right").css("opacity", 0.2);
    }
    else
    {
        PlannTo.jQuery(".planntocarosel-right").css("opacity", 1);
    }

    if (PlannTo.jQuery(prev_div).prev().attr("class") == "planntocarosel-left")
    {
        PlannTo.jQuery(".planntocarosel-left").css("opacity", 0.2);
    }

    if (PlannTo.jQuery(prev_div).attr("class") != "planntocarosel-left")
    {
        PlannTo.jQuery(".product-container-top").hide()
        PlannTo.jQuery(prev_div).show()
        PlannTo.jQuery(".product-container-top").removeClass("activeplannto")
        PlannTo.jQuery(prev_div).addClass("activeplannto")
    }
    event.preventDefault();
    return false;
});

PlannTo.jQuery(".planntocarosel-right").click(function(event)
{
    var active_div = PlannTo.jQuery(".activeplannto")
    var next_div = PlannTo.jQuery(active_div).next()

    if (PlannTo.jQuery(next_div).next().attr("class") == "planntocarosel-right")
    {
        PlannTo.jQuery(".planntocarosel-right").css("opacity", 0.2);
    }

    if (PlannTo.jQuery(next_div).prev().attr("class") != "planntocarosel-left")
    {
        PlannTo.jQuery(".planntocarosel-left").css("opacity", 1);;
    }

    if (PlannTo.jQuery(next_div).attr("class") != "planntocarosel-right")
    {
        PlannTo.jQuery(".product-container-top").hide()
        PlannTo.jQuery(next_div).show()
        PlannTo.jQuery(".product-container-top").removeClass("activeplannto")
        PlannTo.jQuery(next_div).addClass("activeplannto")
    }
    event.preventDefault();
    return false;
});
</script>

