
 <style type="text/css">


.advt-block { margin:0; padding:0;}
.advt-300 { margin:0; padding:0; width:300px; height:250px; background:#fff; border:1px solid #BEBEBE;}
.advt-300 .logo{ margin:0 5px; padding:3px 0; border-bottom:0px solid #F1F0F0;}

.advt-box { margin:0; padding:0;}

.advt-box .product-container{ margin:5px 0 0 0; padding:5px;height:155px;}
.advt-box .product-container:before, .advt-box .product-container:after { content:''; display:block; width:0; height:0;}
.advt-box .product-container:after { clear:both;}
.advt-box .product-container .product-img-left{ margin:0 5px 0 0; padding:0; float:left; width:132px;float:left;white-space:nowrap;}
.advt-box .product-container .product-img-left img { margin:0 auto; text-align:center;height:auto;}
.advt-box .product-container .product-txt-right{ margin:0; padding:0; float:right; width:135px;}
.advt-box .product-container h3{ margin:0; padding:0 0 0 0; font-size:15px; color:#222; font-weight:800; font-family: Arial!important;word-break:break-word;min-height: 40px;}
.advt-box .product-container .price{ margin:0; padding:10px 0 10px 0; color:#bf0000; font-size:16px; font-weight:bold;font-family: Arial monospace;}
.advt-box .product-container .btn{ margin:10px 0px; }
.advt-box .product-container .btn .shop-now{ margin:0; padding:0; width:105px; height:28px; cursor:pointer;  text-indent:-99999px; border:0;background: #F76300;padding: 5px 5px;color: #FFF;font-weight: bold;font-family: Arial;font-size:13px;text-transform: uppercase;}

.advt-box .product-txt-desc { margin:0; padding:5px 10px;text-align: center;min-height: 34px;}
.advt-box .product-txt-desc p{ margin:0; padding:0; font-size:11px; color:#222;font-family: Arial;}
.divshadow{margin: 0px 7px 7px 7px;border: 1px solid rgba(158, 157, 157, 0.65);border-radius: 10px 10px 10px 10px;-moz-box-shadow: 2px 2px 3px 3px #E0E0E0;-webkit-box-shadow: 2px 2px 3px 3px #E0E0E0;box-shadow: 2px 2px 3px 3px #E0E0E0;}




#pager2 {
  float:right;
  top:5px;
  z-index:1000;
  background:#fff;
  padding:5px 0px 0px 0px;
}
#pager2 a {
  /* margin: 0 2px; */
  text-decoration: none;
  padding:2px 5px;
  background:#ccc;
  color:#222;
  font-size:12px;
  font-family: Arial monospace;
}
#pager2 a.selected {
  text-decoration: none;
  background:#F76300;
  color:white;
}



/* end Sliding gallery */
 </style>
<div class="plannto-advertisement main_div" style="cursor:pointer;height:250px!important;">
  <div class="advt-block">
    <div class="advt-300">
      <!--<div class="planntoadlogo">
      <%#= link_to image_tag("#{configatron.root_image_path}static/images/logosc.png", :width => "12px"), configatron.hostname + "/opt_out", :target => "_blank" %>
    </div>
  -->
      <div class="logo">
        <div style="float:left;width:110px;">
          <a class="vendor_image" href="javascript:void(0)" target="_blank"><img src="<%= @vendor_image_url="" %>" alt="">
          </a>
        </div>
        <div class="list_carousel">
          <div id="pager2" class="pager">
            <%if @where_to_buy_items.count > 1 %>
                <% [*1..@where_to_buy_items.count].each do |each_loop| %>
                    <a href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
                <% end %>
            <% end %>
          </div>
        </div>
        <div style="float: none;clear: both;"></div>
      </div>

      <% if @where_to_buy_items.count != 0 %>
          <div class="divshadow">
            <ul id="foo3" height="190px;" style="margin:0px;text-indent:0;padding:0px;list-style-type:none;">
              <% @where_to_buy_items.each_with_index do |item_detail, indx| %>
                  <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params, item_detail) %>
                  <% params[:tag] = "bgrarticles-21" %>
                  <% ad_url = get_update_with_tag_and_ascsubtag(ad_url) %>
                  <% shop_now_url = @click_url.blank? ? ad_url : (@click_url+ad_url) %>

                  <li class="item_details" id="item_detail_<%= indx + 1 %>" style="list-style-position:outside;margin: 0px;list-style-type:none;">
                    <div class="advt-box">
                      <div class="product-container" style="padding:0px;">
                        <div class="product-img-left" style="height:145px;">
                          <a href="<%= shop_now_url %>" target="_blank">
                            <span style="  display: inline-block;height: 100%;vertical-align: middle;"></span>
                            <%= get_image_tag(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name'], @item.base_item_image_url(:medium), 132, '').html_safe %>
                            <!-- <img src="<%#= get_image_url(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name']) %>" onerror="this.error=null;this.src='<%#=@item.base_item_image_url(:medium)%>';" alt="" width="132px"> -->
                          </a>
                        </div>
                        <div class="product-txt-right">
                          <a href="<%= shop_now_url %>" target="_blank" class="">
                            <h3 style="font-family:Arial!important;line-height:20px;font-size:14px!important;margin:5px 0px 0px 0px"><%= item_detail.ItemName.to_s.truncate(62) %></h3>

                            <p class="price"><%= prettify(item_detail) %></p>
                          </a>

                          <p class="btn">
                            <a href="<%= shop_now_url %>" target="_blank" class="shop-now">
                              <%= @vendor_detail.action_text.blank? ? "Shop Now" : @vendor_detail.action_text %>
                            </a>
                          </p>

                        </div>
                      </div>
                      <div class="product-txt-desc">
                        <p>
                          <%#= truncate_without_dot(get_offer_for_ad(@ad, item_detail, @vendor_ad_details[item_detail.site.to_i]['default_text']), 90) %>
                          <%= raw get_offer_for_ad(@ad, item_detail, @vendor_ad_details[item_detail.site.to_i]['default_text'], 90, shop_now_url) %>
                        </p>
                      </div>
                    </div>
                    <img class="vendor_image_src" src="<%= @vendor_ad_details[item_detail.site.to_i]['imageurl'] %>" alt="" style="display: none;">
                  </li>
              <% end %>
            </ul>
          </div>
          <div style="float: none;clear: both;"></div>
          <!--<a id="prev3" class="prev" href="#">&lt;</a>
          <a id="next3" class="next" href="#">&gt;</a>
         -->

      <% else %>
          No Product Found
      <% end %>

    </div>
    <!-- end of advt-300 -->
  </div>
  <!-- end of advt-block -->

  <style type="text/css">
      .pager a {
          margin: 0px !important;
      }

      .product-container a {text-decoration: none !important;}

      .advt-box .product-container h3 {
          font-size: 14px !important;
      }
  </style>
</div>
<%= hidden_field_tag :present_item_id, @item.blank? ? "" : @item.id, :id => "present_item_id=#{@item.blank? ? "" : @item.id}#" %>
</body>
</html>

<style type="text/css">
   
   
    .product-txt-desc p a {text-decoration: none;}


    .ad_img_tag {
        max-height: 140px;
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function () {
        //hide pixel img
        jQuery(".plannto-advertisement").siblings("img").hide()

        jQuery(".ad_img_tag").on("error", function()
        {
            var img_id = jQuery(this).attr('id')
            if (img_id == "item_details") {
                jQuery(this).attr('id', 'item')
                jQuery(this).attr("src", jQuery(this).attr('next_src'))
            }
            else if (img_id == "item")
            {
                jQuery(this).attr('id', 'default_image')
                jQuery(this).attr("src", jQuery(this).attr('default_src'))
            }
        });

        var stop_sliding = false

        jQuery(".item_details").hide();
        jQuery(".item_details").first().show();
        jQuery(".item_details").first().addClass('active')
        set_logo_url(jQuery(".item_details").first(), "shop-now")

        jQuery("#1").addClass('selected')

// TODO: temporary commented
        <% if (@ad_template_type == "type_5" || (!@ad.blank? && @ad.sort_type == "random")) %>
        jQuery(".item_details").each(function (index) {

            if (index == 0)
                return

            var that = this;
            var t = setTimeout(function () {
                if (stop_sliding == false) {
                    jQuery(".item_details").hide();
                    jQuery(".item_details").removeClass('active')
                    jQuery("#pager2 a").removeClass('selected')

                    split_div = jQuery(that).attr('id').split('_')
                    jQuery("#" + split_div[split_div.length - 1]).addClass('selected')

                    jQuery(that).show();
                    jQuery(that).addClass('active')
                    set_logo_url(that, "shop-now")

                    if (index == (jQuery(".item_details").length - 1))
                        setTimeout(function () {
                            if (stop_sliding == false) {
                                jQuery(".item_details").last().hide()
                                jQuery(".item_details").removeClass('active')
                                jQuery("#pager2 a").removeClass('selected')
                                jQuery(".item_details").first().show();
                                jQuery(".item_details").first().addClass('active')
                                set_logo_url(jQuery(".item_details").first(), "shop-now")

                                jQuery("#1").addClass("selected")
                            }
                        }, 5000)
                }
            }, 5000 * index);
        });

        <% end %>


      

        jQuery("#pager2 a").click(function () {
            var that = this
            selected_id = jQuery(that).attr("id")
            selected_div = jQuery("#item_detail_" + selected_id)

            jQuery(".item_details").hide();
            jQuery(".item_details").removeClass('active')

            jQuery(selected_div).show()
            jQuery(selected_div).addClass('active')
            set_logo_url(jQuery(selected_div), "shop-now")

            jQuery("#pager2 a").removeClass('selected')
            jQuery(that).addClass('selected')
        })

        jQuery(".advt-block").click(function () {
            stop_sliding = true
        })

//        jQuery(".plannto-advertisement").click(function(event)
//        {
//            check_navigation = jQuery(event.target).closest('#pager2')
//
//            console.log(check_navigation)
//
//            if (check_navigation.size() == 0)
//            {
//                event.preventDefault()
//                url = jQuery(".shop-now").attr('href')
//                window.open("http://"+url);
//            }
//        })

        // All place clickable

        jQuery(".plannto-advertisement.main_div").click(function(a)
        {
            var ids_list = []
            ids_list.push(a.target.id)
            ids_list.push(a.target.parentNode.id)
            ids_list.push(a.target.parentNode.parentNode.id)
            var present = jQuery.inArray("pager2", ids_list)
            if (present < 0)
            {
                <% if ["728", "120", "160_600"].include?(@suitable_ui_size) %>
                var x = a.target
                var d = jQuery(x).closest(".product-container")
                var shop_now_url = d.find(".shop-now").attr('href')
                <% else %>
                var x = a.target
                var d = jQuery(x).closest(".advt-box")
                var shop_now_url = d.find(".shop-now").attr('href')
                <% end %>

                if (shop_now_url == undefined)
                {
                    var shop_now_url = jQuery(".item_details.active").find(".shop-now").attr('href')
                }

                window.open(shop_now_url, "_blank")
                return false;
            }
        });

     

    });

    function set_logo_url(that, class_name)
    {
        var href_val = jQuery(that).find("."+class_name).attr('href')

        var image_src = jQuery(that).find(".vendor_image_src").attr('src')

        if (href_val == "" || href_val == undefined)
        {
            href_val = jQuery("."+class_name).attr('href')
        }
        jQuery(".logo").find('a img').attr('src', image_src)
        jQuery(".logo").find('a.vendor_image').attr('href', href_val)
    }
</script>