<% if !@items.empty? %>
    <%= javascript_include_tag "http://cdn1.plannto.com/static/javascripts/owl.carousel.min.js" %>

    <!--<link rel="stylesheet" type="text/css" href="http://cdn1.plannto.com/static/stylesheets/owl.carousel.css"/>-->

    <style type="text/css">

        /* preloading images */

        /*
         * 	Core Owl Carousel CSS File
         *	v1.3.3
         */

        /* clearfix */
        .owl-carousel .owl-wrapper:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        /* display none until init */
        .owl-carousel{
            display: none;
            position: relative;
            width: 100%;
            -ms-touch-action: pan-y;
        }
        .owl-carousel .owl-wrapper{
            display: none;
            position: relative;
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        .owl-carousel .owl-wrapper-outer{
            overflow: hidden;
            position: relative;
            width: 100%;
        }
        .owl-carousel .owl-wrapper-outer.autoHeight{
            -webkit-transition: height 500ms ease-in-out;
            -moz-transition: height 500ms ease-in-out;
            -ms-transition: height 500ms ease-in-out;
            -o-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
        }

        .owl-carousel .owl-item{
            float: left;
        }
        .owl-controls .owl-page,
        .owl-controls .owl-buttons div{
            cursor: pointer;
        }
        .owl-controls {
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        /* mouse grab icon */
        .grabbing {
            /*    cursor:url(grabbing.png) 8 8, move;*/
        }

        /* fix */
        .owl-carousel  .owl-wrapper,
        .owl-carousel  .owl-item{
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
        }

        /*
        * 	Owl Carousel Owl Demo Theme
        *	v1.3.3
        */

        .owl-theme .owl-controls{
            margin-top: 0px;
            text-align: center;
        }

        /* Styling Next and Prev buttons */

        .owl-theme .owl-controls .owl-buttons div{
            color: #FFF;
            display: inline-block;
            zoom: 1;
            *display: inline;/*IE7 life-saver */
            margin: 5px;
            padding: 3px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            background: #869791;
            filter: Alpha(Opacity=50);/*IE7 fix*/
            opacity: 0.5;
        }
        /* Clickable class fix problem with hover on touch devices */
        /* Use it for non-touch hover action */

        .owl-theme .owl-controls.clickable
        {

        }

        .owl-theme .owl-controls.clickable{
            position: relative;
            top:-15px;
        }

        /* Styling Pagination*/

        .owl-theme .owl-controls .owl-page{
            display: inline-block;
            zoom: 1;
            *display: inline;/*IE7 life-saver */
        }
        .owl-theme .owl-controls .owl-page span{
            display: block;
            width: 8px;
            height: 8px;
            margin: 2px 4px;
            filter: Alpha(Opacity=50);/*IE7 fix*/
            opacity: 0.5;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #869791;
        }

        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span{
            filter: Alpha(Opacity=100);/*IE7 fix*/
            opacity: 1;
        }

        /* If PaginationNumbers is true */

        .owl-theme .owl-controls .owl-page span.owl-numbers{
            height: auto;
            width: auto;
            color: #FFF;
            padding: 2px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }

        /* preloading images */
        .owl-item.loading{
            min-height: 150px;
            background: url(AjaxLoader.gif) no-repeat center center
        }

        .shadetabs{padding:0; margin:0; width:100%; list-style-type: none; text-align: center;z-index:-1;}
        .shadetabs li.unselected{float:left; padding:0px!important; margin:0 0 0 2px!important;background: #E65E7B!important;list-style-type: none!important; width:49.2%;text-align: center;border-bottom:2px solid #D2D2D2;}
        .shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px;  display:inline-block; margin:0; text-align:center; }
        .shadetabs li.selected{padding:0px!important; margin:0px; text-align:center; background: #FF6 !important; list-style-type: none!important;text-align: center;text-transform: uppercase;border: 1px solid #929292;font-weight: 700;}
        .shadetabs li.selected a{ color:black!important; font-size:14px; text-decoration: none; padding:4px 15px;  display:inline-block; margin:0; text-align:center;}

        .product-container{ margin:0; padding:5px 0 0 0; float:left;cursor:pointer;width:160px;}
        .planntocarosel-right{ width: 32px;float: right;}
        .planntocarosel-left{ width: 32px;float: left;height:4px;}
        .bottompan{border-top:1px solid #E5E5E5;display:block;text-align: right;padding: 5px 10px;text-decoration:none;font-size:14px;}


        .product-container h3{ margin:0 auto; padding:0; font-size:13px; color:#222; font-weight:normal;font-family:Arial;word-break:break-all;}
        .product-container .product-img{ margin:0 auto; padding:0;text-align:center; width:100%; float:left;min-height:110px;}
        .product-container .product-img img { margin:0 auto; text-align:center; max-width:140px;max-height:110px; }
        .product-container .product-text {float:left;}
        .product-container .product-text .product-title{height:38px;overflow:hidden;font-size:14px;padding:2px 0px;line-height:normal;margin:0px;}
        .product-container .product-text .text-desc{margin: 0;padding: 0;color: #222; font-size: 11px;font-family: Arial;height:32px;}
        .product-container .product-text .product-price {}
        .product-container .product-text .product-price .strike{list-style: outside none none;margin: 0px 0px;padding: 0;color: #585858;font-size: 12px;text-decoration: line-through; }
        .product-container .product-text .product-price .price{list-style: outside none none; margin: 0px 0px; padding:0; color:#bf0000; font-size:14px; font-weight:bold;font-family: Arial monospace;text-align: center;}
        .btn { margin:0 auto; padding:5px 0 0 0;}
        .btn .shop-now{ margin:0; padding:3px 10px; background:#E47911; color:#fff; font-size:13px; text-transform:none; border:0; cursor:pointer;  text-decoration:none; font-weight:bold; text-align:center;}

        #container {border:0px solid #E5E5E5;}
        .productdiv {max-height:260px;overflow:hidden;}
        a { outline: none; }

        .strike_price {text-decoration: line-through;color: #555;
            font-size: 11px;
        }
        .sale_price {list-style: outside none none;}
        .price_class { list-style: outside none none; }
    </style>
    <div id="container">
      <div style="padding:5px;">
        <ul class="shadetabs">
          <li class="">
            <a href="javascript:void(0)" id="where_to_buy_items_a" style ="    color: #3D3D3D;text-transform: uppercase;font-weight: bold;text-decoration: none;font-size: 18px;letter-spacing:2px;font-family: itc_avant_garde_pro_mdbold,sans-serif;">Shop This Story</a>
          </li>
        </ul>
      </div>
      <% search_url = !@search_url.blank? ? "#{configatron.hostname}/history_details?item_id=&geo=#{params[:geo]}&red_url=#{@search_url}&iid=#{@impression_id}" : "" %>

     <div class="planntocarosel-left prev" style="position: relative;z-index: 10;top: 80px;left: 10px;cursor:hand;">
         <img src="<%= configatron.root_image_path%>static/images/arrow_left.png" style="height:40px;cursor:pointer;"/>
        </div>
      <div style="padding:0px 40px">
      <div class="productdiv owl-carousel" id="owl-demo" width="100%">

        <!--<div class="planntocarosel-left">-->
          <!--<a  title="Prev" href="<%= search_url %>" target="_blank">-->
            <!--<span></span>-->
          <!--</a>-->
        <!--</div>-->
        <% @items.first(12).each do |item| %>
           
                  <% if item.itemdetail_id.blank? %>
                      <% history_detail_path = "#{configatron.hostname}/history_details?item_id=#{@item.id}&geo=#{params[:geo]}&red_url=#{item.click_url}&iid=#{@impression_id}" %>
                  <% else %>
                      <% history_detail_path = "#{configatron.hostname}/history_details?item_id=#{@item.id}&geo=#{params[:geo]}&detail_id=#{item.itemdetail_id}&red_url=&iid=#{@impression_id}" %>
                  <% end %>
                  <div class="product-container">
                    <div class="product-img">
                      <a href="<%= history_detail_path %>" target = "_blank" rel= "nofollow" >
                        <% if !item.image_name.blank? %>
                          <%= get_image_tag_from_image_name(item.image_name, "Amazon", @item.base_item_image_url(:medium), 140,105).html_safe %>
                        <% else %>
                            <img src="<%= item.image_url.to_s.gsub("SL75","SL150") %>" alt="" id="item_details" style="width:auto;height:auto;">
                        <% end %>
                      </a>

                    </div>
                    <div class="product-text">
                      <div class="product-title" style="height:34px;overflow:hidden;font-size:14px;padding:2px 8px;line-height:normal;margin:0px;"><%= item.name.to_s.truncate(42) %></div>
                      <div class="product-price">
                      <ul style="margin:0px;padding:0px;height:31px;">
                        <% if ((!item.sale_price.blank?) && item.sale_price != item.price) %>
                          <li class="strike"><%= (item.price.blank?) ? "" : prettifyforprice(item.price) %> </li>
                        <%end%>  
                          <li class='price'><%= item.sale_price.blank? ? item.price.blank? ? "" : prettifyforprice(item.price) : prettifyforprice(item.sale_price) %></li>
                        </ul>

                      </div>
                       <p class="btn">
                        <a class="shop-now" href="<%= history_detail_path %>" target = "_blank" rel="nofollow">Buy
                          Now</a>
                        </p>
                     </a>
                      <br clear="both" />

                    </div>
             
                </div>
        <% end %>
        <!--<div class="planntocarosel-right">-->
          <!--<a  title="Next" href="<%= search_url %>" target="_blank">-->
            <!--<span></span>-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
       <div class="planntocarosel-right next" style="position: relative;z-index: 10;top: -145px;right: 0px;cursor:hand;">
          <img src="<%= configatron.root_image_path%>static/images/arrow_right.png" style="height:40px;cursor:pointer;"/>
        </div>
      <% if !search_url.blank? %>
          <div class="bottompan">
                  <span >
                                     <a href="<%= search_url %>" id="plannto_go_button" target="_blank" style="text-decoration:none;color: #428BCA!important;" rel="nofollow">View All</a>
                    </span>
          </div>
      <% end %>
      
    </div>
    <br clear="both" />


<script type="text/javascript">
    PlannTo.jQuery(".product-container").click(function()
    {
        var shop_now = PlannTo.jQuery(this).find(".shop-now")
        window.open(shop_now.attr("href"))
        return false;
    });

    function owl_carousel()
    {
        owl.owlCarousel({
            /*   navigation: true,
             navigationText: [
             "<i class='icon-chevron-left icon-white'></i>",
             "<i class='icon-chevron-right icon-white'></i>"
             ],*/
            items : 4, //10 items above 1000px browser width
            itemsDesktop : [1000,4], //5 items between 1000px and 901px
            itemsTablet: [600,3], //2 items between 600 and 0
            itemsMobile : [450,2]// itemsMobile disabled - inherit from itemsTablet option

        });

      PlannTo.jQuery(".next").click(function(){
        owl.trigger('owl.next');
      })
      PlannTo.jQuery(".prev").click(function(){
        owl.trigger('owl.prev');
      })
    }

//    PlannTo.jQuery(window).load(function()
    PlannTo.jQuery(function()
    {
        owl = PlannTo.jQuery("#owl-demo")

        setTimeout(owl_carousel, 1000)

        setTimeout(owl_carousel, 3000)
    });

   
</script>

<% end %>