<style type="text/css">

.shadetabs{padding:0; margin:0; width:100%; list-style-type: none; text-align: left;z-index:-1;}
.shadetabs li.unselected{float:left; padding:0px!important; margin:0 0 0 2px!important;background: #E65E7B!important;list-style-type: none!important; width:49.2%;text-align: center;border-bottom:2px solid #D2D2D2;}
.shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px;  display:inline-block; margin:0; text-align:center; }
.shadetabs li.selected{padding:0px!important; margin:0px !important; text-align:center; background: <%= @vendor_detail.theme_colour %> !important; list-style-type: none!important;text-align: center;text-transform: uppercase;border: 1px solid #929292;font-weight: 700;}
.shadetabs li.selected a{ color:black!important; font-size:14px; text-decoration: none; padding:4px 15px;  display:inline-block; margin:0; text-align:center;}
</style>
<div id="planntobuy">
     <div>
            <ul class="shadetabs">
                <li class="selected">
                    <a href="javascript:void(0)" id="where_to_buy_items_a" ><img src="<%= configatron.root_image_path%>static/images/<%= @vendor_detail.theme_image %>" style="max-width:270px;"></a>
                </li>
            </div>
  <% @where_to_buy_items.each do |item_detail| %>

      <div style="padding: 8px 0px;">
   
        <span style="float: left;padding-right: 2px;">
          <%= get_image_tag(item_detail, @vendor_ad_details[item_detail.site.to_i]['vendor_name'], item_detail.item.base_item_image_url(:small), 50, 0, "medium").html_safe %>
        </span>
        <span style="font-size: 13px;float: left;padding-right: 2px;width:66%">
            <div style="font-size: 13px;font-weight: 600;color: #5A5A5A;" id="nametext">
              <%= item_detail.ItemName.to_s.truncate(34) %>
            </div>
            <div style="font-family: arial;font-size: 12px;color: #BF0000;font-weight: 600;line-height:1px;">
              <span style="float:left;margin-top: 10px;">
              <%= display_price_detail(item_detail) %>
            </span>
              <% if @multiple_vendors == true %>
               <span style="float: right;margin-top:3px;margin-right:40px;">
                <img width="50px" height="px" class="ad_vendor_logo" id="vendor_logo" alt="" src="<%= get_vendor_image(item_detail) %>">
              </span>
         <% end %>
            </div>
        </span>
        
        <span style="float: right;width:10%;text-align:center;">
    
         <div style="margin-top:10px;">
            <p class="btn">
              <a style="margin: 0; padding: 0;cursor: pointer; text-indent: -99999px; border: 0; background: #F76300;padding: 3px 5px; color: #FFF; font-weight: bold; font-family: Arial;font-size: 14px;text-decoration: none;" class="shop-now" target="_blank" href="<%= configatron.hostname%>/history_details?iid=<%=@impression_id%>&detail_id=<%= item_detail.id %>">
                Go
              </a>
            </p>
          </div>
        </span>

        <br clear="all">
      </div>
  <% end %>
        <%if @vendor = "73017" %>
        <div style="float:left" "> <a href="http://www.junglee.com/Mobile-Phones/b/803073031/ref=nav_menu_1_1_1_0" style="font-size:15px;color: #5A5A5A;text-decoration:none;padding-left:20px;">View More Products. </a></div>
        <div style="float:right;" style ="font-size:14px;">
         <span style="float:left;font-size:12px;"> Powered by </span><span style="float:left"><a href="http://www.junglee.com" style="display:inline-block;margin-top:1px;"><img height="14px" class="ad_vendor_logo" id="vendor_logo" alt="" src="<%= get_vendor_image(@where_to_buy_items[0]) %>"></a></span>
         <div>
        <%end%>
</div>


