<table  width="100%" style="float:left">
  <tr class="wheretobuyheadder"><td width="25%" class="wheretobuytitletxt">Seller Name</td><td width="25%" class="wheretobuytitletxtothercolumns">Price</td><td width="25%" class="wheretobuytitletxtothercolumns">Estimated Delivery Time</td><td width="25%"></td></tr>
  <% @where_to_buy_items.group_by(&:site).each do |site, items| %>
  <%items.each_with_index do |item, index|%>
  <%if display_item_details(item)%>
  <%if index == 0%>
    <tr class="wheretobuyrows"><td width="25%" class=""><img class="imagevendor" src="<%=item.image_url%>" alt="<%=item.vendor_name%>" /></td><td class="wheretobuytext" style="font-style:bold"><%=display_price_detail(item)%></td><td width="25%" class="wheretobuytext"><%=display_shipping_detail(item)%></td><td><input type="button" value="Visit Store" onclick="document.location.href ='<%=item.url%>'"/></td></tr>
<%else%>
    
    <%end%>
<%end%>
    <%end%>
  <%end%>
  <tr></tr>
</table>
