<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet' type='text/css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  <style>
      html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
      }

      table {
          border-collapse: collapse;
          border-spacing: 0;
      }

      .ad > span {
          font-size: 14px;
      }
  </style>
</head>
<body>
<div class="advertisements">
  <h3 style="font-size: 35px;text-align: center;padding: 20px;">Amazon Deals Corner</h3>

<center >
  <div style="margin: 0 60px;padding: 20px;background: #eaecec;width: 800px;text-align: left;font-size:14px;">
<p style="font-weight:bold;">Instructions:</p>
1.    Select the dimensions of the widget you want to use from the “Size” field<br/>

2.    Enter your tracking ID in the “Tag” field and press “Go” <br/>

3.    Copy paste the script that you see at the bottom of the screen on to the HTML of the page on which you want to display the widget (the script should contain the tag that you entered)

  </div>
</center>
  <div class="demo_form row">
    <div class="search_form" style="font-weight:bold;text-align:center;">
      <%= form_for :search, :url => "/deal_widget_demo", :html => {:method => 'get', :id => "search_form"} do |search_form| %>
          Size: <%= select_tag  :size, options_for_select(["300x250", "336x280", "728x90", "300x100", "300x600"], params[:size]),:style => "margin-right:50px;" %>
          Tag: <%= text_field_tag :tag, params[:tag], :style => "width: 200px;border-color: mintcream;" ,:placeholder => "Eg. Test-21", :title => "Enter Valid tag : Eg. Test-21" %>
          <%= search_form.submit "Go" %>
      <% end %>
    </div>
  </div>

<center>
  <div class="ad_list">
    <div class="row">
      <div class="widget_row">
        <!-- <span><%= params[:size] %> </span> -->

        <div id="where_to_buy_items" style="width: <%= @weight.to_i + 2 %>px;height: <%= @height %>px;">
        </div>
        <script src="<%= "#{configatron.hostname}/javascripts/plannto.sports.widget.js?ref_url=&item_id=&show_details=true&element_id=where_to_buy_items&page_type=#{params[:page_type]}&size=#{params[:size]}&tag=#{params[:tag]}"; %>" style="border: medium none;;"></script>
        <div class="text_area" style="padding-top:30px;font-weight:bold;">
           Widget Script<br/><br/>
            <textarea style="width: 800px;height: 50px;"><div id="where_to_buy_items" style="width: <%= @weight %>px;height: <%= @height %>px;"></div><script src="<%= "#{configatron.hostname}/javascripts/plannto.sports.widget.js?ref_url=&item_id=&show_details=true&element_id=where_to_buy_items&page_type=#{params[:page_type]}&size=#{params[:size]}&tag=#{params[:tag]}"; %>" style="border: medium none;;"></script></textarea>
        </div>
      </div>
    </div>
  </div>
</center>
</div>
</body>
</html>


<style type="text/css">
    .advertisements h1 {
        text-align: center;
    }

    /*.ad_728_90 {
        padding-left: 20%;
    }

    .row {
        padding-bottom: 50px;
    }

    .widget_row {
        padding-left: 10%;
    }

    .ad_300_600 {
        padding-left: 20%;
        float: left;
    }

    .ad_120_600 {
        padding-left: 67.5%;
    }*/

    .search_form {
        padding: 20px;
    }

    .ad_list {
        padding: 10px 30px 30px;
    }

    body {
        /*border-color: lightyellow;*/
        /*border-style: solid;*/
        /*border-width: 4px;*/
        /*padding: 4px;*/

        border: 1px solid rgba(158, 157, 157, 0.65);
        border-radius: 10px;
        box-shadow: 2px 2px 3px 3px #e0e0e0;
        margin: 0 7px 7px;
    }

    .error {
        box-shadow: 0 0 3px #cc0000 !important;
    }

</style>


<script type="application/javascript">
  $(document).ready(function()
  {
      $("#search_form").submit(function(event)
      {
          console.log($("#tag").val())
          var tag_val = $("#tag").val()
          var valid_tag = tag_val.match(/-21/)
          if (valid_tag == null)
          {
              $("#tag").addClass("error")

              event.preventDefault()
              return false;
          }
      })
  })
</script>