<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Advt <%= @suitable_ui_size %></title>
  <link href="<%= configatron.root_image_path %>static/stylesheets/widget/300/style.css" type="text/css" rel="stylesheet" media="all"/>
  <!--<link href="http://localhost:3000/stylesheets/widget/300/style.css" type="text/css" rel="stylesheet" media="all"/>-->
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/PlannTo.jQuery/1.7.1/PlannTo.jQuery.min.js" %>
</head>
<body>

<div class="plannto-advertisement main_div" style="cursor:pointer;">
  <div class="advt-block">
    <div class="advt-300">
      <!--<div class="planntoadlogo">
      <%#= link_to image_tag("#{configatron.root_image_path}static/images/logosc.png", :width => "12px"), configatron.hostname + "/opt_out", :target => "_blank" %>
    </div>
  -->
      <div class="logo" style="border-bottom:1px solid #F1F0F0;">
        <div style="float:left;width:110px;">
          <a rel="nofollow" class="vendor_image" href="javascript:void(0)" target="_blank"><img src="<%= @vendor_image_url="" %>" alt="" style="max-height:30px;">
          </a>
        </div>
        <div class="list_carousel">
          <div id="pager2" class="pager">
            <%if @item_details.count > 1 %>
                <% [*1..@item_details.count].each do |each_loop| %>
                    <a rel="nofollow" href="javascript:void(0)" id="<%= each_loop %>" class=""><span> <%= each_loop %></span></a>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <% if @item_details.count != 0 %>
          <div class="">
            <ul id="foo3" height="165px;">
              <% @item_details.each_with_index do |item_detail, indx| %>
                  <% vendor_detail = get_vendor_detail(item_detail.site.to_i) %>
                  <% ad_url = get_ad_url(item_detail.id, @impression_id, @ref_url, @sid, params[:ads_id], params, item_detail) %>
                  <% shop_now_url = get_general_click_url(item_detail.url) %>

                  <li class="item_details" id="item_detail_<%= indx + 1 %>">
                    <div class="advt-box">
                      <div class="product-container">
                        <div class="product-img-left">
                          <a rel="nofollow" href="<%= shop_now_url %>" target="_blank">
                            <span style="  display: inline-block;height: 100%;vertical-align: middle;"></span>
                            <span style="  display: inline-block;vertical-align: middle;">
                            <%= get_image_tag_using_src(item_detail.image_url.to_s, '', '').html_safe %>
                          </span>
                            <!-- <img src="<%#= get_image_url(item_detail, vendor_detail.vendor_name) %>" onerror="this.error=null;this.src='<%#=@item.base_item_image_url(:medium)%>';" alt="" width="132px"> -->
                          </a>
                        </div>
                        <div class="product-txt-right">
                          <a rel="nofollow" href="<%= shop_now_url %>" target="_blank" class="">
                            <p style="    margin: 0;padding: 0 0 0 0;font-size: 14px;color: #0066c0;font-weight: 800;font-family: Arial;word-break: break-word;min-height: 40px;line-height: 15px;font-weight: bold;"><%= item_detail.deal_title.to_s.truncate(52) %></p>

                            <p class="price"><%= prettify_mrpprice_widget(item_detail.deal_price) %></p>
                          </a>

                          <p class="btn">
                            <a rel="nofollow" href="<%= shop_now_url %>" target="_blank" class="shop-now">
                              <%= "Shop Now" %>
                            </a>
                          </p>

                          <p style="padding: 3px 0px;font-size:11px;"><%= get_expire_time_from_deal_item(item_detail) == "" ? "" : "#{get_expire_time_from_deal_item(item_detail)}"%></p>

                        </div>
                      </div>
                      <div class="product-txt-desc">
                        <p>
                          <%#= truncate_without_dot(get_offer_for_ad(@ad, item_detail, vendor_detail.default_text), 90) %>
                         <h3 style="font-size:13px;font-weight:bold;">Amazon.in Great Indian Festive Sale</h3>
                        </p>
                      </div>
                    </div>
                    <img class="vendor_image_src" src="<%= vendor_detail.full_imageurl %>" alt="" style="display: none;">
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="clearfix"></div>
          <!--<a id="prev3" class="prev" href="#">&lt;</a>
          <a id="next3" class="next" href="#">&gt;</a>
         -->

      <% else %>
          No Product Found
      <% end %>

    </div>
    <!-- end of advt-300 -->
  </div>
  <!-- end of advt-block -->

  <style type="text/css">
      #pager2 a {
          margin: 0px !important;
      }

      .product-container a {text-decoration: none !important;}

      .advt-box .product-container h3 {
          font-size: 14px !important;
      }
  </style>
</div>
<%= hidden_field_tag :present_item_id, @item.blank? ? "" : @item.id, :id => "present_item_id=#{@item.blank? ? "" : @item.id}#" %>
</body>
</html>

<style type="text/css">
    .main_div {
        width: <%= @iframe_width %>px !important;
        height: <%= @iframe_height %>px !important;
        overflow: hidden;
    }

    h3.product-title {word-break: break-all;}

    .product-txt-desc p a {text-decoration: none;}

    a#offer_ad {
        color:#222 !important;
        font-family: Arial !important;
        font-size: 10px !important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 600;
    }

    a#offer_ad:hover
    {
        color: #009CC4 !important;

    }

    .ad_img_tag {
        max-height: 140px;
        max-width: 132px;
        width:auto;
        height: auto;
        vertical-align: middle;
    }
</style>

<script type="text/javascript">
    PlannTo.jQuery(document).ready(function () {
        //hide pixel img
        PlannTo.jQuery(".plannto-advertisement").siblings("img").hide()

        PlannTo.jQuery(".ad_img_tag").on("error", function()
        {
            var img_id = PlannTo.jQuery(this).attr('id')
            if (img_id == "item_details") {
                PlannTo.jQuery(this).attr('id', 'item')
                PlannTo.jQuery(this).attr("src", PlannTo.jQuery(this).attr('next_src'))
            }
            else if (img_id == "item")
            {
                PlannTo.jQuery(this).attr('id', 'default_image')
                PlannTo.jQuery(this).attr("src", PlannTo.jQuery(this).attr('default_src'))
            }
        });

        var stop_sliding = false

        PlannTo.jQuery(".item_details").hide();
        PlannTo.jQuery(".item_details").first().show();
        PlannTo.jQuery(".item_details").first().addClass('active')
        set_logo_url(PlannTo.jQuery(".item_details").first(), "shop-now")

        PlannTo.jQuery("#1").addClass('selected')

        PlannTo.jQuery(".item_details").each(function (index) {

            if (index == 0)
                return

            var that = this;
            var t = setTimeout(function () {
                if (stop_sliding == false) {
                    PlannTo.jQuery(".item_details").hide();
                    PlannTo.jQuery(".item_details").removeClass('active')
                    PlannTo.jQuery("#pager2 a").removeClass('selected')

                    split_div = PlannTo.jQuery(that).attr('id').split('_')
                    PlannTo.jQuery("#" + split_div[split_div.length - 1]).addClass('selected')

                    PlannTo.jQuery(that).show();
                    PlannTo.jQuery(that).addClass('active')
                    set_logo_url(that, "shop-now")

                    if (index == (PlannTo.jQuery(".item_details").length - 1))
                        setTimeout(function () {
                            if (stop_sliding == false) {
                                PlannTo.jQuery(".item_details").last().hide()
                                PlannTo.jQuery(".item_details").removeClass('active')
                                PlannTo.jQuery("#pager2 a").removeClass('selected')
                                PlannTo.jQuery(".item_details").first().show();
                                PlannTo.jQuery(".item_details").first().addClass('active')
                                set_logo_url(PlannTo.jQuery(".item_details").first(), "shop-now")

                                PlannTo.jQuery("#1").addClass("selected")
                            }
                        }, 5000)
                }
            }, 5000 * index);
        });

        PlannTo.jQuery(".next").click(function () {
            var current_div = PlannTo.jQuery(".item_details.active")
            PlannTo.jQuery(".item_details").hide();
            PlannTo.jQuery(".item_details").removeClass('active')
            PlannTo.jQuery("#pager2 a").removeClass('selected')

            var splited_val = PlannTo.jQuery(current_div).attr("id").split('_')

            if (parseInt(splited_val[splited_val.length - 1]) < PlannTo.jQuery(".item_details").length) {
                PlannTo.jQuery(current_div).next().show().addClass('active')
                set_logo_url(PlannTo.jQuery(current_div).next(), "shop-now")

                split_div = PlannTo.jQuery(current_div).next().attr("id").split('_')
                PlannTo.jQuery("#" + split_div[split_div.length - 1]).addClass('selected')
            }
            else {
                PlannTo.jQuery(".item_details").first().show().addClass('active')
                set_logo_url(PlannTo.jQuery(".item_details").first(), "shop-now")

                PlannTo.jQuery("#1").addClass('selected')
            }
        });


        PlannTo.jQuery(".prev").click(function () {
            var current_div = PlannTo.jQuery(".item_details.active")
            PlannTo.jQuery(".item_details").hide();
            PlannTo.jQuery(".item_details").removeClass('active')
            PlannTo.jQuery("#pager2 a").removeClass('selected')

            var splited_val = PlannTo.jQuery(current_div).attr("id").split('_')

            if (parseInt(splited_val[splited_val.length - 1]) > 1) {
                PlannTo.jQuery(current_div).prev().show().addClass('active')
                set_logo_url(PlannTo.jQuery(current_div).prev(), "shop-now")

                split_div = PlannTo.jQuery(current_div).prev().attr("id").split('_')
                PlannTo.jQuery("#" + split_div[split_div.length - 1]).addClass('selected')
            }
            else {
                PlannTo.jQuery(".item_details").last().show().addClass('active')
                set_logo_url(PlannTo.jQuery(".item_details").last(), "shop-now")

                last = PlannTo.jQuery(".item_details").length
                PlannTo.jQuery("#" + last).addClass('selected')
            }
        });

        PlannTo.jQuery("#pager2 a").click(function () {
            var that = this
            selected_id = PlannTo.jQuery(that).attr("id")
            selected_div = PlannTo.jQuery("#item_detail_" + selected_id)

            PlannTo.jQuery(".item_details").hide();
            PlannTo.jQuery(".item_details").removeClass('active')

            PlannTo.jQuery(selected_div).show()
            PlannTo.jQuery(selected_div).addClass('active')
            set_logo_url(PlannTo.jQuery(selected_div), "shop-now")

            PlannTo.jQuery("#pager2 a").removeClass('selected')
            PlannTo.jQuery(that).addClass('selected')
        })

        PlannTo.jQuery(".advt-block").click(function () {
            stop_sliding = true
        })

//        PlannTo.jQuery(".plannto-advertisement").click(function(event)
//        {
//            check_navigation = PlannTo.jQuery(event.target).closest('#pager2')
//
//            console.log(check_navigation)
//
//            if (check_navigation.size() == 0)
//            {
//                event.preventDefault()
//                url = PlannTo.jQuery(".shop-now").attr('href')
//                window.open("http://"+url);
//            }
//        })

        // All place clickable

        PlannTo.jQuery(".plannto-advertisement.main_div").click(function(a)
        {
            var ids_list = []
            ids_list.push(a.target.id)
            ids_list.push(a.target.parentNode.id)
            ids_list.push(a.target.parentNode.parentNode.id)
            var present = PlannTo.jQuery.inArray("pager2", ids_list)
            if (present < 0)
            {
                <% if ["728", "120", "160_600"].include?(@suitable_ui_size) %>
                var x = a.target
                var d = PlannTo.jQuery(x).closest(".product-container")
                var shop_now_url = d.find(".shop-now").attr('href')
                <% else %>
                var x = a.target
                var d = PlannTo.jQuery(x).closest(".advt-box")
                var shop_now_url = d.find(".shop-now").attr('href')
                <% end %>

                if (shop_now_url == undefined)
                {
                    var shop_now_url = PlannTo.jQuery(".item_details.active").find(".shop-now").attr('href')
                }

                window.open(shop_now_url, "_blank")
                return false;
            }
        });

        PlannTo.jQuery(".car_extra_link_ad").click(function()
        {
            var href = PlannTo.jQuery(this).attr("href")

            window.open(href, "_blank")
            return false;
        })

    });

    function set_logo_url(that, class_name)
    {
        var href_val = PlannTo.jQuery(that).find("."+class_name).attr('href')

        var image_src = PlannTo.jQuery(that).find(".vendor_image_src").attr('src')

        if (href_val == "" || href_val == undefined)
        {
            href_val = PlannTo.jQuery("."+class_name).attr('href')
        }
        PlannTo.jQuery(".logo").find('a img').attr('src', image_src)
        PlannTo.jQuery(".logo").find('a.vendor_image').attr('href', href_val)
    }
</script>