        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  </head>
  <body>
    <% unless @ac.blank? %>
<table id="plannto_intable" width="100%">   
                            <thead style="border:0px;">
                              <tr id="plannto_intr">
                                <td colspan="5" id="plannto_intd" >
                                
                                 <span style="float:left;padding-left: 10px;padding-top: 5px;">
                                 
                                 <img  src="<%=@item.image_url(:medium)%>" alt="<%=@item.name%>"  onerror="this.error=null;this.src='<%=@item.base_item_image_url(:medium)%>';" style="width:60px;"/>
                               </td>
                                       <%items.each_with_index do |item, index|%>      
                                          <%if display_item_details(item)%>
                                            <%if index == 0%>
                                              <td id="plannto_incol1" width="20%"> <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>"  style="width:85px;border:0;padding:0;"/> </td>
                                              <td id="plannto_incol2" width="20%"> <%=display_price_detail(item)%> </td>
                                              <!--
                                              <td id="plannto_incol2" width="20%"><%#=display_availability_detail(item)%></td> -->
                                              <td id="plannto_incol2" width="25%" style="font-weight:normal;"><%=display_shipping_detail(item)%></td>
                                              <td width="15%" id="plannto_incol3"><a href="http://www.plannto.com/history_details?detail_id=<%=item.item_details_id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> </td>
                                            <%end%>
                                          <%end%>
                                        <%end%> 
                                    </tr>  
                                  </table>
                                  <% else %>
                                  No Item
                                  <% end %>
          </body>
          </html>
