<% content_for :title, @itemtype.itemtype.pluralize.humanize + " - " %>
<% content_for :description, "Read reviews, latest news, HowTos, Tips about all the " + @itemtype.itemtype.pluralize.humanize + " in India. Check out Buyers Guide, Beginners Guide, Owners Guide and experts guides on " + @itemtype.itemtype.pluralize.humanize%>
<div class="Homepopupgraybox">

  <div class="Boxtopblock">
    <div class="Headingtext"><%=@itemtype.itemtype%> - Quick Navigation Wizard</div>
    <span class="Openclosebut"><a href="" id="wizardbutton" class="Open">Open</a></span>
  </div>

  <div class="Grayboxmid" style="display:none;">


    <div class="Homeinnercontent">

      <!--Planning to buy-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Buytag"></span>

        <div class="Textdescriptions" id="plantobuySection">
          <h2>PlannTo Buy</h2>
          <p>
            Are you planning to buy a <%=@itemtype.itemtype.downcase%>? Not sure about what are the options available or confused about which one to buy?
          </p>

        </div>
        <div class="Bluecyanbut"><a href="#"><span>Click here</span></a></div>


      </div>
      <div id="giveAdviceDialog"></div>
      <script type="text/javascript">
  $(document).ready(function(){
    $('#plantobuySection').live('click', function(){

            $.get('/preferences/new',{search_type: "<%=@itemtype.itemtype%>"},null,"script");
            return false;

    });
     });
</script>
      <!--Planning to buy-->

      <!--Owners-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Ownertag"></span>

        <div class="Textdescriptions">
          <h2>Owners</h2>
          <p>
            Are you a proud owner of a <%=@itemtype.itemtype.downcase%>. Do you like to know what are the tips/tricks for using the item effectively or talk to fellow owners and experts to troubleshoot any issues.
          </p>

        </div>
        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>

      </div>
      <!--Owners-->

      <!--Experts/Enthusiastic-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Expertstar"></span>

        <div class="Textdescriptions">
          <h2>Experts/Enthusiastic</h2>
          <p>
            Are you interested in <%=@itemtype.itemtype.downcase%> and like to know about latest happening on those items or network with like-minded people.
          </p>
        </div>

        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>


      </div>
      <!--Experts/Enthusiastic-->

      <!--Browse Cars-->
      <a href="/<%=@itemtype.itemtype%>/search" style="text-decoration: none">
      <div class="Blueblockhome smallhomeblock Lastblock">
        <span class="Redcar"></span>

        <div class="Textdescriptions">
          <h2>Browse <%=@itemtype.itemtype.pluralize%></h2>
          <p>
            Are you looking for various <%=@itemtype.itemtype.downcase.pluralize%> available in market <br />
            Click here to check that options.
          </p>
        </div>

        <!--<div class="Bluecyanbut"><span>Click to know more</span></div>-->

      </div>
    </a>
      <!--Browse Cars-->
    </div>


  </div>


  <div class="Boxbotcorner"></div>
</div>

<div class="leftcolumnbig">
  <!-- Product Details - Start -->
  <!-- Overview Tabs -  Start -->
  <br/><br/>
  <!-- Product Details - End -->
  <ul id="Newtabs">
    <li id="all_feeds_tab"><a href="#"><span>All Feeds</span></a></li>
        <li id="my_feed_tab"><a href="#"><span>My Feed</span></a></li>
  </ul>

  <div id="content_all">
    <!--filter by block start here-->
    <div id="Filterby">
      <div class="Filternav">
            <div style="float:left;width:60px;">
              <span style="padding:2px 5px 0px 0px;"><b>Filter by:</b></span>     
            </div>
            <div style="float:left;width:630px;">
              <ul>
              <!--  <li class="Labeltext" style="padding-right:2px;">Filter by:</li>-->
                <li class="Currentfilter feeds_filter" id="All"><a href="#">All</a></li>
                <%@article_categories.each do |category|%>
                <%if category.name == "HowTo/Guide"%>
                  <li id="HowTo"><a href=""><%=category.name%></a></li>
                <%else%>
                <li id="<%=category.name%>"><a href=""><%=category.name%></a></li>
                <%end%>
                <%end%>
              </ul>
            </div>
      </div>
    </div>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
    <div >
      <span class="sortby" id="sortBy">
        <span style="padding:2px 5px 0px 0px;"><b>Sort by:</b></span>
         <a class="txt_blue" href="#"  class="link_active">Newest</a> <span style="padding:0px 5px;">|</span>
        <a class="txt_blue" href="#">Votes</a> <span style="padding:0px 5px;">|</span>
        <a class="txt_blue" href="#">Most Comments</a>
         <%= form_for :content_search, :url => {:controller => "contents", :action => "search_contents"}, :remote => true, :html => { :style => "float:right;", :id => "contentSearchForm"} do |f| -%>
		<%= f.text_field :search, :class => "txt_gray new_comment", :size => "20", "placeholder"=> "Search content" %>
		<%= f.hidden_field :sub_type %>
		<%= f.hidden_field :item_ids, :value => ""%>
		<%= f.hidden_field :sort_by, :value => ""%>
		<%= f.hidden_field :itemtype_ids, :value => @itemtype.id%>
		<%= f.hidden_field :previous_search_value%>
		<%= f.hidden_field :page, :value =>1%>
		<% end -%>  
      </span>
    </div>
 
    <% items = [] %>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
     <%if current_user.nil? %>
      <span id="all_feeds">
        <% params_1 = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id, "status" => 1} %>
        <% @contents = Content.filter(params_1)%>
         <%= render :partial => 'contents/contents', :locals => {:params => params_1} %>
      </span>
     
      <%else%>
      <span id="my_feed" style="display:none;">
       <% items = Item.get_follows_item_ids_for_user(current_user,@itemtype.itemtype) %>
        <% unless items.size == 0%>
          <% params_2 = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id, "status" => 1,:items => items }%>
           <% @contents = Content.filter(params_2)  %>
         <%= render :partial => 'contents/contents', :locals => {:params => params_2} %>
         <%else%>
         <div id="my_feed_content">
            <center> <h3> Follow an item or user to have my feed content</h3> </center>
          </div>
         <%end%> 
       <%end%>
       </span>
       </div>
     <a id="content_next" style="display:none"></a>
    <%=hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
  </div> 
</div>


<script type="text/javascript">
  $(document).ready(function(){
  	$("span#sortBy a").click(function (e) {
  		 $("span#sortBy").find('a').removeClass('link_active');
        $(this).addClass("link_active");
          if ($("#content_search_search").val().toString() == ""){
          	$("#filter_page_no").val('1');
          	var id = $("div#Filterby div.Filternav ul li.Currentfilter").text();
	        var sub_type = find_sub_type(id);
            var filter_page_no = $("#filter_page_no").val();
            var itemtype_id = <%=@itemtype.id%>;
            var items =  <%= items %>;
            var sort_by = $(this).text();
            <%if current_user %>
              if ($('#my_feed_tab').attr("class") == "tab_active")
               { 
            contentSearchFilterAction("filter",sub_type, items, filter_page_no, itemtype_id, sort_by, "");       
              }
             else
             {
              contentSearchFilterAction("filter", sub_type, "", filter_page_no, itemtype_id, sort_by, "");  
             }
             <%else%>
              contentSearchFilterAction("filter", sub_type, "", filter_page_no, itemtype_id, sort_by, "");  
             <%end%>
             
          return false
           }
           else{
         $("#content_search_page").val(1);
         $("#content_search_sort_by").val($(this).text());
          $("#contentSearchForm").bind('ajax:complete', function() { running = false});
         $("#contentSearchForm").submit();
         }
  	});
  	
    $("div#Filterby div.Filternav ul li").click(function (e) {
       $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
        $(this).closest('li').addClass("Currentfilter");
      if ($(this).text() != "Labeltext"){
        $("#filter_page_no").val('1');
        var id = $(this).attr('id');
        var sub_type = find_sub_type(id);
            $("#content_search_page").val(1)
            $("#content_search_search").val("")
          	$("#content_search_sub_type").val(sub_type);
            var filter_page_no = $("#filter_page_no").val();
            var itemtype_id = <%=@itemtype.id%>;
            var items =  <%= items %>;
            var sort_by = $("span#sortBy a.link_active").text();
           <%if current_user %>
              if ($('#my_feed_tab').attr("class") == "tab_active")
               { 
            contentSearchFilterAction("filter", sub_type, items, filter_page_no, itemtype_id, sort_by, "");       
              }
             else
             {
              contentSearchFilterAction("filter", sub_type, "", filter_page_no, itemtype_id, sort_by, "");  
             }
             <%else%>
               if ($('#my_feed_tab').attr("class") == "tab_active")
               {
              $('#login-feed').dialog({modal: true,height: 600,width: 350 }); 
  	          $('.Close_dialog').show();
  	          $('.ui-dialog-titlebar').hide();
  	          }
  	          else
  	          {
             contentSearchFilterAction("filter", sub_type, "", filter_page_no, itemtype_id, sort_by, "");
             }  
             <%end%>
        
            return false
          }
      });

     <%if !@filter_by.nil?%>
      $("div#Filterby div.Filternav ul li#<%=@filter_by%>").trigger("click");
      <%end%> 
       var running =false;
   
    });
</script>
<div class="rightcolumnsmall">
  <br/><br/>
  <div >

   <%= render "shared/quick_links", :search_type => request.path.split("/").last%>
  </div>
  <br/>  

<%= render :partial => 'products/popular_items',:locals => {:type => @type} %>
<br/>
  <table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Top Contributors</td>
    </tr>
    
    <tr>
      <td height="170" valign="top">
        <ul class="imgContributors">
          <% @top_contributors.each(:as => :hash) do |top_c| %>
  		<li class="imgfollowers"></li>
          <% user= User.find(top_c['user_id']) %>
          <li class="imgContributors">
            <div style="clear:both;">
              <div class="float_lft">
                <a href="<%= user.get_url()%>"><%= image_tag user.get_photo , :class => "userImageSmall"%></a>
              </div>
              <div class="contributorname">
                <a class="txt_black" href="#">
                  <%= user.name %>
                </a>
              </div>
              <div class="contributorpoints">
                 <%= top_c["sum(points)"] %> Points
              </div>
            </div>

          </li>
          <%end%>
         
        </ul>


      </td></tr>
  </table>

  <br/>
<% if @followers.empty? %>
<% else %>
 <div class="txt_black imgfollowers" >Followed by - <%= @followers_count rescue 0%>
    <ul class="imgfollowers">
     <% @followers.each do |follower | %>
      <li class="imgfollowers"><a href="<%=follower.get_url()%>"><%= image_tag follower.get_photo , :class => "userImageSmall"%></a></li>
     <%end%>
    </ul>
  </div>
  <br/>
<%end%>

  <!-- Related Cars -- Start -->
<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Bookmarklet</td>
    </tr>
    <tr>
        <td>Share the contents easily using this bookmarklet, drag and drop the following button in your bookmark toolbar.</td>
    </tr>
    <tr>
        <td><a href="javascript:void((function(){ var f='http://www.plannto.com/article_contents/bmarklet?url='+encodeURIComponent(window.location.href);var cw=window.open(f+'&external=yes','PlannTo','location=1,links=0,scrollbars=0,toolbar=0,width=710,height=660');if(!cw)location.href=f+'&external=yes';})());">Add To Plannto</a></td>
    </tr>
</table>



  <!-- Related Cars -- End -->
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
      $('#load_content').live("click",function(){
        type='';
        $('#filter_contents :checked').each(function(){
          type+="&type[]="+$(this).attr("class");
        });
<% unless @item.blank? %>
          var url = "<%= feed_contents_path(:items => @item.id  ) %>";
<% else %>
          var url = "<%= feed_contents_path %>";
<% end %>
        $("#content_all").html("");
        url=url+"&limit=5"+type;
        $.get(url, function(data) {
          $("#content_all").html(data);
        });
      });

      $('#select_all').click(function(){
        if($('#select_all').is(':checked')){
          $('#filter_contents input').attr('checked','checked');
        }
        else {
          $('#filter_contents input').removeAttr('checked');
        }
      });
      
	 $(document).ready(function(){
   		var sub_type = find_sub_type($("div#Filterby div.Filternav ul li.Currentfilter").text())
   		var items = <%= items %>;
      var itemtype_id = <%=@itemtype.id%>;
   		triggerScrollFunctionfeeds(sub_type, items, itemtype_id, ""); 
   	}); 
    });
</script>

 <script> 
    $("#my_feed_tab").click(function(){
      if ($('li#my_feed_tab').attr("class") == "tab_active")
        { 
        }
        else
        {
      <%if current_user  %>
        
        $("ul#Newtabs").find('li').removeClass('tab_active');
  	    $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
  	    $("li.feeds_filter").addClass('Currentfilter');
  	    $('li#my_feed_tab').addClass('tab_active');
  	    $("#filter_page_no").val('1');
  	    var sub_type = find_sub_type($("div#Filterby div.Filternav ul li.Currentfilter").text())  
        var filter_page_no = $("#filter_page_no").val();
        var itemtype_id = <%=@itemtype.id%>;
        var items =  <%= items %>;
        var sort_by = $("span#sortBy a.link_active").text();
        if (items.length > 0)
         {
          	contentSearchFilterAction(action, sub_type, i, filter_page_no, itemtype_id, sort_by, guide);   }
         else
          {
         $("#contentsList").html("<center> <h3> Follow an item or user to have my feed content</h3> </center>")
        }
       <%else%>
       $("#contentsList").html("<center> <h3>Please login for my feed content.</h3> </center>");
       $('#login-feed').dialog({modal: true,height: 600,width: 350 }); 
  	   $('.Close_dialog').show();
  	   $('.ui-dialog-titlebar').hide();
  	 
  	  <%end%> 
  	  } 
  	});
  	
</script>	

 <script>
  
  $("#all_feeds_tab").click(function(){
    if ($('li#all_feeds_tab').attr("class") == "tab_active")
     { 
     }
    else
    {
    $("ul#Newtabs").find('li').removeClass('tab_active');
    $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
    $("li.feeds_filter").addClass('Currentfilter');
  	$('li#all_feeds_tab').addClass('tab_active');
  	$("#filter_page_no").val('1');
  	$("#my_feed_content").html('');
  	var sub_type = find_sub_type($("div#Filterby div.Filternav ul li.Currentfilter").text())  
    var filter_page_no = $("#filter_page_no").val();
    var itemtype_id = <%=@itemtype.id%>;
    var items = "";
    var sort_by = $("span#sortBy a.link_active").text();
    contentSearchFilterAction("filter", sub_type, items, filter_page_no, itemtype_id, sort_by, ""); 
  }
  }); 
  
 </script>
 
 <script>
   <% if current_user %>
      $("ul#Newtabs").find('li').removeClass('tab_active');
      $('li#my_feed_tab').addClass('tab_active');
  	  $("#my_feed").show();
  	  $("#all_feeds").hide();
  <%else%>
     $("ul#Newtabs").find('li').removeClass('tab_active');
  	 $('li#all_feeds_tab').addClass('tab_active');
  	 $("#my_feed").hide();
  	 $("#all_feeds").show();
  <%end%>
  </script> 	   
