<% content_for :title, @itemtype.itemtype.pluralize.humanize + " - " %>
<% content_for :description, "Read reviews, latest news, HowTos, Tips about all the " + @itemtype.itemtype.pluralize.humanize + " in India. Check out Buyers Guide, Beginners Guide, Owners Guide and experts guides on " + @itemtype.itemtype.pluralize.humanize%>
<div style="border: solid 0px;width: 1000px;position:relative;margin: 0 auto;height: auto;min-height: 600px;
    padding:10px;">

<div style="background:white;padding:5px;height:40px;">
    <div style="float:left;width:200px;">
        <span style="float: left;display: block;"><img src="/images/<%=@itemtype.itemtype.downcase%>-icon.png" style="height:40px;"> </span>
        <span style="float: left;margin-top: 12px;font-size: 15px;font-weight: bold;display: block;">  &nbsp;&nbsp; <%=@itemtype.itemtype.pluralize.capitalize %> Feed</h2></span>

    </div>
    <%= render "contents/quick_content_container"%>
</div>
<div style="clear:both;background:white;padding:5px;width:727px;float:left;margin-top:10px;">
<div class="leftcolumnbig" >
  <ul id="Newtabs" style="margin-top:0px;display:none;">
     <li class="tab_active"><a href="#"><span>All Feeds</span></a></li>
  </ul>

  <div id="content_all">
    <%= render "contents/filter_by_options"%>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
    <%= render "contents/sort_by_options"%>
  <%=hidden_field_tag :filter_page_no, (@contents.current_page+ 1 rescue 2)%>
  
   <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
     <% params = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id, "status" => 1} %>
     <% @contents = Content.filter(params)%>
        <%= render :partial => 'contents/contents', :locals => {:params => params} %>
      <a id="content_next" style="display:none"></a>
     
  </div> 
   <span id="spinner1" style="padding:0px 0px 0px 300px;display:none">
     <%= image_tag '/images/ajax-loader.gif' %>
</span>
</div>

</div>

<div id="contentEditView"></div>
</div>

<div class="rightcolumnsmall">
  
  <div style="background:white;padding:5px;margin-top:10px;">
   <%= render "shared/quick_links", :search_type => request.path.split("/").last%>
  </div>
  
<div style="margin-top:10px;">
    <%= render "shared/share_buttons", :caption_text => 'Check out ' + @itemtype.itemtype.downcase + ' section on PlannTo.com' %>
</div>

<%= render :partial => 'products/popular_items',:locals => {:type => @type} %>
<%= render :partial => 'products/popular_topics', :locals => {:type => @type} %> 
<br/>
  <table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;background:white;">
    <tr>
      <td class="bg_widgethdr txt_white">Top Contributors</td>
    </tr>
    
    <tr>
      <td height="170" valign="top">
        <ul class="imgContributors">
          <% @top_contributors.each(:as => :hash) do |top_c| %>
  		<li class="imgfollowers"></li>
          <% user= User.find(top_c['user_id']) %>
          <li class="imgContributors">
            <div style="clear:both;">
              <div class="float_lft">
                <a href="<%= user.get_url()%>"><%= image_tag user.get_photo , :class => "userImageSmall"%></a>
              </div>
              <div class="contributorname">
                <a class="txt_black" href="/<%= user.username %>">
                  <%= user.name %>
                </a>
              </div>
              <div class="contributorpoints">
                 <%= top_c["sum(points)"].to_i %> Points
              </div>
            </div>

          </li>
          <%end%>
         
        </ul>


      </td></tr>
  </table>

  <br/>
<%=render :partial => "shared/google_adsense_square" %>
<% unless @followers.empty? %>
   <table width="251" height="38" border="0" cellspacing="0" cellpadding="0px" style="border:solid 1px #cdd3d7;background:white;">
    <tr>
      <td class="bg_widgethdr txt_white">Followed by - <%= @followers_count rescue 0%></td>
    </tr>
    <tr>
    <td>
        <ul class="imgfollowers">
         <% @followers.each do |follower | %>
          <li class="imgfollowers"><a href="<%=follower.get_url()%>"><%= image_tag follower.get_photo , :class => "userImageSmall"%></a></li>
         <%end%>
        </ul>
  </td></tr></table>
<%end%>
<br/>
  <!-- Related Cars -- Start -->
<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;background:white;padding-top:10px;">
    <tr>
      <td class="bg_widgethdr txt_white">Bookmarklet</td>
    </tr>
    <tr>
        <td ><div style="padding:10px 5px 10px 5px">Share the contents easily using this bookmarklet, drag and drop the following button in your bookmark toolbar.</div></td>
    </tr>
    <tr>
        <td>
          <div style="padding:10px 0px 10px 30px">
          <a href="javascript:void((function(){ var f='http://localhost:3000/article_contents/bmarklet?url='+encodeURIComponent(window.location.href);var cw=window.open(f+'&external=yes','PlannTo','location=1,links=0,scrollbars=0,toolbar=0,width=710,height=660');if(!cw)location.href=f+'&external=yes';})());" class="plannto_button"><span>Add To PlannTo</span></a>
        </div>
        <br/>
          </td>
    </tr>
</table>



  <!-- Related Cars -- End -->
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
      $('#load_content').live("click",function(){
        type='';
        $('#filter_contents :checked').each(function(){
          type+="&type[]="+$(this).attr("class");
        });
<% unless @item.blank? %>
          var url = "<%= feed_contents_path(:items => @item.id  ) %>";
<% else %>
          var url = "<%= feed_contents_path %>";
<% end %>
        $("#content_all").html("");
        url=url+"&limit=5"+type;
        $.get(url, function(data) {
          $("#content_all").html(data);
        });
      });

      $('#select_all').click(function(){
        if($('#select_all').is(':checked')){
          $('#filter_contents input').attr('checked','checked');
        }
        else {
          $('#filter_contents input').removeAttr('checked');
        }
      });
   
    });
</script>	   
</div>