<% content_for :title, @itemtype.itemtype.pluralize.humanize + " - " %>

<div class="Homepopupgraybox">

  <div class="Boxtopblock">
    <div class="Headingtext"><%=@itemtype.itemtype%> - Quick Navigation Wizard</div>
    <span class="Openclosebut"><a href="" id="wizardbutton" class="Open">Open</a></span>
  </div>

  <div class="Grayboxmid" style="display:none;">


    <div class="Homeinnercontent">

      <!--Planning to buy-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Buytag"></span>

        <div class="Textdescriptions" id="plantobuySection">
          <h2>PlannTo Buy</h2>
          <p>
            Are you planning to buy a <%=@itemtype.itemtype.downcase%>? Not sure about what are the options available or confused about which one to buy?
          </p>

        </div>
        <div class="Bluecyanbut"><a href="#"><span>Click here</span></a></div>


      </div>
      <div id="giveAdviceDialog"></div>
      <script type="text/javascript">
  $(document).ready(function(){
    $('#plantobuySection').live('click', function(){

            $.get('/preferences/new',{search_type: "<%=@itemtype.itemtype%>"},null,"script");
            return false;

    });
     });
</script>
      <!--Planning to buy-->

      <!--Owners-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Ownertag"></span>

        <div class="Textdescriptions">
          <h2>Owners</h2>
          <p>
            Are you a proud owner of a <%=@itemtype.itemtype.downcase%>. Do you like to know what are the tips/tricks for using the item effectively or talk to fellow owners and experts to troubleshoot any issues.
          </p>

        </div>
        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>

      </div>
      <!--Owners-->

      <!--Experts/Enthusiastic-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Expertstar"></span>

        <div class="Textdescriptions">
          <h2>Experts/Enthusiastic</h2>
          <p>
            Are you interested in <%=@itemtype.itemtype.downcase%> and like to know about latest happening on those items or network with like-minded people.
          </p>
        </div>

        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>


      </div>
      <!--Experts/Enthusiastic-->

      <!--Browse Cars-->
      <a href="/<%=@itemtype.itemtype%>/search" style="text-decoration: none">
      <div class="Blueblockhome smallhomeblock Lastblock">
        <span class="Redcar"></span>

        <div class="Textdescriptions">
          <h2>Browse <%=@itemtype.itemtype.pluralize%></h2>
          <p>
            Are you looking for various <%=@itemtype.itemtype.downcase.pluralize%> available in market <br />
            Click here to check that options.
          </p>
        </div>

        <!--<div class="Bluecyanbut"><span>Click to know more</span></div>-->

      </div>
    </a>
      <!--Browse Cars-->
    </div>


  </div>


  <div class="Boxbotcorner"></div>
</div>

<div class="leftcolumnbig">
  <!-- Product Details - Start -->
  <!-- Overview Tabs -  Start -->
  <br/><br/>
  <!-- Product Details - End -->
  <ul id="Newtabs">
    <li class="tab_active"><a href="#"><span>All Feeds</span></a></li>
        <li><a href="#"><span>My Feed</span></a></li>
  </ul>

  <div id="content_all">
    <!--filter by block start here-->
    <div id="Filterby">
      <div class="Filternav">
            <div style="float:left;width:60px;">
              <span style="padding:2px 5px 0px 0px;"><b>Filter by:</b></span>     
            </div>
            <div style="float:left;width:630px;">
              <ul>
              <!--  <li class="Labeltext" style="padding-right:2px;">Filter by:</li>-->
                <li class="Currentfilter" id="All"><a href="#">All</a></li>
                <%@article_categories.each do |category|%>
                <%if category.name == "HowTo/Guide"%>
                  <li id="HowTo"><a href=""><%=category.name%></a></li>
                <%else%>
                <li id="<%=category.name%>"><a href=""><%=category.name%></a></li>
                <%end%>
                <%end%>
              </ul>
            </div>
      </div>
    </div>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
    <div >
      <span class="sortby">
        <span style="padding:2px 5px 0px 0px;"><b>Sort by:</b></span>
        <a class="txt_blue" id="link_active"  href="#">Relevance</a> <span style="padding:2px 5px 0px 10px;">|</span>
        <a class="txt_blue" href="#">Newest</a> <span style="padding:0px 5px;">|</span>
        <a class="txt_blue" href="#">Most Answers</a>
         <%= form_for :content_search, :url => {:controller => "contents", :action => "search_contents"}, :remote => true, :html => { :style => "float:right;", :id => "contentSearchForm"} do |f| -%>
	<%= f.text_field :search, :class => "txt_gray new_comment", :size => "20", "placeholder"=> "Search content" %>
	<%= f.hidden_field :sub_type %>
	<%= f.hidden_field :item_ids, :value => ""%>
	<%= f.hidden_field :page, :value =>1%>
	<% end -%>  
      </span>
    </div>
    <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
      <% params = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id } %>
      <% @contents = Content.filter(params)  %>
      <%= render :partial => 'contents/contents', :locals => {:params => params} %>
    </div>
    <a id="content_next" style="display:none"></a>
     <%=hidden_field_tag :filter_page_no, @contents.current_page+ 1%>
  </div>
  <!-- This will go into main layout -->
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("div#Filterby div.Filternav ul li").click(function (e) {
       $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
        $(this).closest('li').addClass("Currentfilter");
      if ($(this).text() != "Labeltext"){
        $("#filter_page_no").val('2');
        var id = $(this).attr('id');
        switch(id){
          case 'All' :  var sub_type = "All";break;
          case 'HowTo': var sub_type = "HowTo/Guide";break;
           default:  var sub_type = id;
            }
            $("#content_search_search").val("")
          $("#content_search_sub_type").val(sub_type);
            $.ajax(
            {
              url: "contents/filter?sub_type=" + sub_type + "&itemtype_id=<%=@itemtype.id%>",
              type: "get",
              dataType: "script"
            });
            return false
          }
      });

     <%if !@filter_by.nil?%>
      $("div#Filterby div.Filternav ul li#<%=@filter_by%>").trigger("click");
      <%end%> 
       var running =false;
    $(window).scroll(function () {

      lnk = $('#content_next');
      if (!running && lnk && $(window).scrollTop() >= $('#content_all').height() - $(window).height()) {

      running = true;
       if ($("#content_search_search").val().toString() == ""){
        $.ajax(
          {
            url: "/contents/feeds?sub_type=" + $("div#Filterby div.Filternav ul li.Currentfilter").text() + "&page=" + $("#filter_page_no").val() + "&itemtype_id=<%=@itemtype.id%>",
            type: "get",
            dataType: "script",
            success    : function(data)
                {
                  running = false;
                }
          });
          return false
           }
        else
      {
      	$("#content_search_page").val($("#filter_page_no").val())
    	$("#contentSearchForm").submit();
      }
        //lnk.click();
      }
    });
    });
</script>


<div class="rightcolumnsmall">
  <br/>
  <br/>

  <div >


    <!-- Buttons - start-->
    <div class="other_links" >
      <span class="txt_black heading_others">Quick Links</span>
      <span class="menu_list"><a href="#">Compare Cars</a></span>
      <span class="menu_list"><a href="#">Ask Advices</a></span>
      <span class="menu_list"><a href="#">Top Questions</a></span>
    </div>
    <!-- Buttons - End-->

  </div>
  <br/>


  <div class="txt_black imgfollowers" >Followed by <a href="#">145236 PEOPLE</a>
    <ul class="imgfollowers">
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
      <li class="imgfollowers"><img src="images/img_followers.png" /></li>
    </ul>
  </div>
  <br/>
  <!-- Related Cars -- Start -->
<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Bookmarklet</td>
    </tr>
    <tr>
        <td>Share the contents easily using this bookmarklet, drag and drop the following button in your bookmark toolbar.</td>
    </tr>
    <tr>
        <td><a href="javascript:void((function(){ var f='http://www.plannto.com/article_contents/bmarklet?url='+encodeURIComponent(window.location.href);var cw=window.open(f+'&external=yes','PlannTo','location=1,links=0,scrollbars=0,toolbar=0,width=710,height=660');if(!cw)location.href=f+'&external=yes';})());">Add To Plannto</a></td>
    </tr>
</table>

<br/>
  <table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Top Contributors</td>
    </tr>
    <tr>
      <td height="170" valign="top">
        <ul class="imgContributors">
          <li class="imgContributors">
            <div>
              <div class="float_lft">
                <img src="images/img_followers.png" class="imgContributes" />
              </div>
              <div class="contributorname">
                <a class="txt_black" href="#">
                  Saravana Kumar
                </a>
              </div>
              <div class="contributorpoints">
                1000 Points
              </div>
            </div>

          </li>
          <li class="imgContributors">
            <div style="clear:both;">
              <div class="float_lft">
                <img src="images/img_followers.png" class="imgContributes" />
              </div>
              <div class="contributorname">
                <a class="txt_black" href="#">
                  Saravana Kumar
                </a>
              </div>
              <div class="contributorpoints">
                1000 Points
              </div>
            </div>

          </li>
          <li class="imgContributors" >
            <div style="clear:both">
              <div class="float_lft">
                <img src="images/img_followers.png" class="imgContributes" />
              </div>
              <div class="contributorname">
                <a class="txt_black" href="#">
                  Saravana Kumar
                </a>
              </div>
              <div class="contributorpoints">
                1000 Points
              </div>
            </div>

          </li>
          <li class="imgContributors" >
            <div style="clear:both">
              <div class="float_lft">
                <img src="images/img_followers.png" class="imgContributes" />
              </div>
              <div class="contributorname">
                <a class="txt_black" href="#">
                  Saravana Kumar
                </a>
              </div>
              <div class="contributorpoints">
                1000 Points
              </div>
            </div>

          </li>
          <li class="imgContributors" >
            <div style="clear:both">
              <div class="float_lft">
                <img src="images/img_followers.png" class="imgContributes" />
              </div>
              <div class="contributorname">
                <a class="txt_black" href="#">
                  Saravana Kumar
                </a>
              </div>
              <div class="contributorpoints">
                1000 Points
              </div>
            </div>

          </li>
        </ul>


      </td></tr>
  </table>


  <!-- Related Cars -- End -->
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
      $('#load_content').live("click",function(){
        type='';
        $('#filter_contents :checked').each(function(){
          type+="&type[]="+$(this).attr("class");
        });
<% unless @item.blank? %>
          var url = "<%= feed_contents_path(:items => @item.id  ) %>";
<% else %>
          var url = "<%= feed_contents_path %>";
<% end %>
        $("#content_all").html("");
        url=url+"&limit=5"+type;
        $.get(url, function(data) {
          $("#content_all").html(data);
        });
      });

      $('#select_all').click(function(){
        if($('#select_all').is(':checked')){
          $('#filter_contents input').attr('checked','checked');
        }
        else {
          $('#filter_contents input').removeAttr('checked');
        }
      });
      var running =false;
      $(window).scroll(function () {

        lnk = $('#content_next');
        if (!running && lnk && $(window).scrollTop() >= $('#content_all').height() - $(window).height()) {
          running = true;
          lnk.click();
        }
      });
    });
</script>