<% if !@itemdetail.blank? %>
    <% shop_now_url = "#{configatron.hostname}/history_details?iid=#{@impression_id}&red_url=#{@itemdetail.url}" %>

    <div class="plannto_book_price_div" style="height: 75px;padding: 2px 0px;border: 0px solid #D8D8D8;font-size:12px;">
      <p style="font-weight: bold;margin:0px;color:#474747">
        <span>Current Sale Price: </span>
        <% if @itemdetail.mrpprice.to_i != 0 %>
    <span style="text-decoration:line-through;">
      Rs <%= @itemdetail.mrpprice %>
    </span>
        <% end %>
        <span style="color:B12704;">
    &nbsp;Rs <%= '%.2f' % @itemdetail.price.to_f %>
          <% if @itemdetail.savepercentage.to_i != 0 %>
        (Save <%= @itemdetail.savepercentage %>%)
              </span>
    <% end %>
          </p>
  <span>

    <p class="" style="margin:10px 0px;">
      <a style="margin: 0; padding: 0;cursor: pointer; text-indent: -99999px; border: 0; color: #FFF; font-weight: bold; font-family: Arial;font-size: 14px;text-decoration: none;" class="shop-now" target="_blank" href=<%= shop_now_url %>>
        <img src="<%= configatron.root_image_path %>static/images/amazon_buynow.png" width="100px"/>
      </a>
    </p>
  </span>
    </div>

<% end %>

<style type="text/css">
    a {
        outline: none;
        text-decoration: none;
    }
</style>