<% if !@itemdetail.blank? %>

    <% if params[:page_type] == "type_1" %>
        <div id="planntowidget1">
          <a style="color:#4A4A4A;font-weight:500;" target="_blank" href="<%= configatron.hostname%>/history_details?detail_id=<%= @itemdetail.id %>&iid=<%=@impression_id%>">
            Price: <span style="font-family:arial;color:#4A4A4A;font-weight:500;"><span class="rupee">R<span>s.</span></span><%= display_price_detail(@itemdetail) %></span> Buy Now
          </a>
        </div>

        <style type="text/css">
            * {
                margin: 0;
                outline: 0 none;
                padding: 0;
            }

            a {text-decoration: none;}
        </style>
    <% elsif params[:page_type] == "type_2" %>
        <span class="verdict-tag">
          <a href="<%= configatron.hostname%>/history_details?detail_id=<%= @itemdetail.id %>&iid=<%=@impression_id%>" target="_blank" style="cursor: pointer;">BUY NOW
            <span style="font-family: Arial;background: none;" class="tag">
              <span class="rupee">R<span>s.
              </span>
            </span><%= display_price_detail(@itemdetail) %></span>           
          </a>
        </span>
    <% end %>
<% end %>