         <style type="text/css">
         #plannto_intable{background: #FFF;border-collapse:collapse;border:0;margin:0px;}
         #plannto_intr{border-bottom: 1px solid #EEE;height: 40px;background:white;}
         #plannto_intd{font-weight: 700;font-size:12px;color:black;padding:5px;vertical-align:middle;background:white;}
         #plannto_incol1{padding: 0px 0px 0px 15px;text-align:left;vertical-align:middle;background:white;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;padding:0px;}
         #plannto_incol3{padding:0px 10px 0px 0px ;text-align:center;vertical-align:middle;background:white;}
         #plannto_go_button{margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 12px;font-weight: bold; text-decoration: none;}
         #plannto_inheadertr{border-bottom: 1px solid #EEE;height: 35px;background:#FAFAFA;}
         #plannto_inheadercol1{padding: 0px 0px 0px 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;padding:0px;}
        
         /* for igyaan*/
         <% if (!@publisher.nil? && @publisher.id == 5) %>
         #plannto_table{border:0px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
         #plannto_headertd {padding: 5px 10px 0px 0px;margin:0px;font-size:13px;color:#07ABE2;font-family: 'Oswald', sans-serif;font-weight: 300;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;}
         #plannto_inheadercol1{padding-left: 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;font-family: 'Roboto Slab',sans-serif;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;font-family: 'Roboto Slab',sans-serif;}
         #prodname{font-family: 'Roboto Slab',sans-serif;font-size: 15px;font-weight:bold;}
         .plannto_selector{padding: 3px 12px;border: 1px solid #CCC;width: 100%;border-radius: 2px;font-size:14px;font-family:  'Roboto Slab',sans-serif;font-weight:500;margin-top:5px;}
         .shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center;font-family: 'Roboto Slab',sans-serif; font-weight: 500;} 
          #plannto_insidediv{padding:2px 0px 2px 0px;background: #EEE;}
         <% end %>
         </style>

<div class="inner-top-search" style="text-align:center;">
                
                    <input class="search-input-text" id="planto_search_widget_auto_item" 
                    style="width: 70%;padding: 5px;margin: 10px;" placeholder="Ex Apple Iphone 5s, Samsung Galaxy S4, etc."/>
                    <a href="#" id="search_from_widget" style="margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 15px;font-weight: bold; text-decoration: none;">Search</a>
                
</div>              



<div id="display_search_item">

    <%@items.each do |item|%>
        <div class="productinwizard" id="product_<%= item.id %>" style="float:left;width:180px;height:200px;display:block;padding:10px;text-align:center;">
                  <div>
                      <%= image_tag(item.image_url, height: "120", width: "160")%>
                 </div>
              
                <div>
                    <%= item.name%>
                </div>
                <div  style="font-size:12px;">
                    <%= item.get_price_info("Mobile",false)%>
                </div>
                <div style="margin-top:10px;">
                    <%= link_to "Find Best Price", "#", :class => "where_to_buy_searched", id: item.id , :style => "margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 12px;font-weight: bold; text-decoration: none;"%>
                </div>
                
          
        </div>

  <%end%>
</div> 

