<% if params[:first_time] %>
         <style type="text/css">
         #plannto_intable{background: #FFF;border-collapse:collapse;border:0;margin:0px;}
         #plannto_intr{border-bottom: 1px solid #EEE;height: 40px;background:white;}
         #plannto_intd{font-weight: 700;font-size:12px;color:black;padding:5px;vertical-align:middle;background:white;}
         #plannto_incol1{padding: 0px 0px 0px 15px;text-align:left;vertical-align:middle;background:white;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;padding:0px;}
         #plannto_incol3{padding:0px 10px 0px 0px ;text-align:center;vertical-align:middle;background:white;}
         #plannto_go_button{margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 12px;font-weight: bold; text-decoration: none;}
         #plannto_inheadertr{border-bottom: 1px solid #EEE;height: 35px;background:#FAFAFA;}
         #plannto_inheadercol1{padding: 0px 0px 0px 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;padding:0px;}
        .featured-txt {margin:0; padding:0;}
        .featured-txt ul{margin:0; padding:0;}
        .featured-txt li{margin:0; padding:0 0 0 15px; float:left; width:45%; display:inline-block; font-size:12px; color:#505050; background:url(http://www.plannto.com/images/right-arrow.png) no-repeat left center;}
        .shadetabs{padding:0; margin:0; width:100%; list-style-type: none; text-align: left;z-index:-1;}
        .shadetabs li.unselected{float:left; padding:0px!important; margin:0 5px 0 5px!important;background: #12c1e6!important;list-style-type: none!important; }
        .shadetabs li.unselected a{ text-decoration: none; font-size:16px; color: #fff!important; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center; }        
        .shadetabs li.selected{float:left; position: relative;padding:0px!important; margin:0px; text-align:center; border-bottom:3px solid #EEE;background: #EEE !important; list-style-type: none!important;}
        .shadetabs li.selected a{ color:#12c1e6!important;text-decoration: none; font-size:16px; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center;}        

        
         /* for igyaan*/
         <% if (!@publisher.nil? && @publisher.id == 5) %>
         #plannto_table{border:0px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
         #plannto_headertd {padding: 5px 10px 0px 0px;margin:0px;font-size:13px;color:#07ABE2;font-family: 'Oswald', sans-serif;font-weight: 300;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;}
         #plannto_inheadercol1{padding-left: 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;font-family: 'Roboto Slab',sans-serif;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;font-family: 'Roboto Slab',sans-serif;}
         #prodname{font-family: 'Roboto Slab',sans-serif;font-size: 15px;font-weight:bold;}
         .plannto_selector{padding: 3px 12px;border: 1px solid #CCC;width: 100%;border-radius: 2px;font-size:14px;font-family:  'Roboto Slab',sans-serif;font-weight:500;margin-top:5px;}
         .shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center;font-family: 'Roboto Slab',sans-serif; font-weight: 500;} 
          #plannto_insidediv{padding:2px 0px 2px 0px;background: #EEE;}
         <% end %>
         </style>

<ul class="shadetabs" >
    <% @item_types.each do |type| %>
                  <li class="<%= type=='Mobile' ? 'selected' : 'unselected' %>" id="<%= type %>">             
                    <%= link_to type, "#" , class: "select_item_type_id selected" %>
                  </li>
                  <% end %>
</ul>

<div class="inner-top-search" style="text-align:center;clear:both;border-top:5px solid #eee;padding:5px;">
                
                    <input class="search-input-text" id="planto_search_widget_auto_item" 
                    style="width: 70%;padding: 5px;margin: 10px;" placeholder="Ex Apple Iphone 5s, Samsung Galaxy S4, etc."/>
                    <a href="#" id="search_from_widget" style="margin: 0; background: #979797;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 15px;font-weight: bold; text-decoration: none;">Search</a>
                
</div>              

<% end %>

<div id="display_search_item">

    <%@items.each do |item|%>
        <div class="productinwizard" id="product_<%= item.id %>" style="float:left;width:180px;height:200px;display:block;padding:10px;text-align:center;">
                  <div>
                      <%= image_tag(item.image_url, height: "120", width: "160")%>
                 </div>
              
                <div>
                    <%= item.name%>
                </div>
                <div  style="font-size:12px;">
                    <%= item.get_price_info("Mobile",false)%>
                </div>
                <div style="margin-top:10px;">
                    <%= link_to "Find Best Price", "#", :class => "where_to_buy_searched", id: item.id , :style => "margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 12px;font-weight: bold; text-decoration: none;"%>
                </div>
                
          
        </div>

  <%end%>
</div> 

<% if params[:first_time] %>

<style type="text/css">


.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget-content { width:200px; height:auto; margin:auto; background:#f9f9f9; box-shadow:0px 0px 9px #3f3f3f;
-moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;   }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(/images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-icon { width: 16px; height: 16px; background-image: url(/images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/images/ui-icons_ef8c08_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/images/ui-icons_ef8c08_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/images/ui-icons_ef8c08_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/images/ui-icons_228ef1_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/images/ui-icons_ffd27a_256x240.png); }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-widget-overlay { background: #666666 url(/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(/images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.ui-autocomplete { position: absolute; cursor: default; }   

* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .0px;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
.ui-dialog {padding: .2em; width: 300px; overflow: hidden; }

.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-dialog .ui-dialog-titlebar { padding: 0px;height:5px;float:right; background: red;}


</style>
<%end%>
