<!-- breadcrumbs - Start -->
  <%= render "shared/breadcrumb" %>
<!-- breadcrumbs - End -->
<!-- buttons - Start -->
<div class="float_rgt">
    <%= render 'shared/follow_buttons',:follow_type => @item.type, :follow_html => '', :button_class => '', :item => @item, :related_items => false %>
</div>

<% content_for :title, @item.name + " - " %>
 <% if (@item.is_a? Product) %>
<% content_for :description, @item.name + " - Read reviews, How-Tos, FAQs and Tips. Compare prices and check out accessories, apps, photos, videos of " + @item.name + ". Also finds out who owns this and get their opinions"%>
<% elsif ((@item.is_a? Topic) or (@item.is_a? AttributeTag)) %>
<% content_for :description, @item.name + " - Read How-Tos, Tips and FAQs and connect with others interested in this topic."%>
<% else %>
<% content_for :description, @item.name + " - Read Reviews, How-Tos, Tips and FAQs and check out all the models and variants."%>
<% end%>
<%if(!@item.image_url.blank?)%>
<% content_for :image, @item.image_url %>
<%end%>
<!-- buttons - End -->
<div class="leftcolumnbig" id="item_info" style="clear:both;">
<!-- Product Details - Start -->
  
   <%if(!@item.image_url.blank?)%>
    <div class="productdetails" style="height:150px;">
    <span class="img_product"><img src="<%=@item.image_url%>" onclick= "$('#product_images').dialog({height: 'auto',width:600});$('.ui-dialog-titlebar').hide();" alt="<%=@item.name%>" width="175" height="125" style= "cursor: pointer;"/></span> 
    <%else%>
    <div class="productdetails">
    <%end%>
    <div id="product_images" style='display:none'>
       <%= render "product_images", :locals => {:item=> @item} %>
    </div> 
   <script language="javascript">
			$(document).ready(
				function (){
					$("#pikame").PikaChoose({carousel:true});
				});
		</script>
    <span class="product_details">
      <h1><%= @item.name %></h1>
    <% if @item.is_a? Product %>
      <a class="txt_price"><%= @item.get_price_info('Price') %></a><br />
      <a>
      <%= render :partial => 'shared/rating',:locals => {:item => @item, :rating_id => "product_item_#{@item.id}"} %>
      <!-- <a><img src="../images/rating_stars.png" width="87" height="20" /></a> -->
    </a>
    <a class="txt_normal" href="<%= @item.get_url + '?fl=Reviews'%>">Ratings
      <span class="txt_blue"> <%= "(" + pluralize(@item.rated_users_count,'Review') + ")" if @item.rated_users_count > 0 %></span>
    <span class="txt_blue"> <%= "Be the first one to review it" unless @item.rated_users_count > 0 %></span>
    </a><br />
    <a class="txt_normal"><%=display_specifications(@item)%>
      <%= link_to("...more", "#specification", :class => 'txt_blue', :id => "detailed_specification") %>
    </a>
    <% else %>
        <%if @item.is_a? CarGroup %>
           <a class="txt_price">Groups</a><br />
        <%else%>
          <a class="txt_price"><%=@item.type%></a><br />
          </a>
        <%end%>
        <% if @item.show_models%>
        <a class="txt_normal"> <%=link_to_function @item.related_cars.count.to_s + " Models","setActiveTab('all_variants')", :class => 'txt_blue'%>
        <%end%>
    <% end %>
    </span>

  </div>
  <br/>
  <div style="border-bottom: solid 1px #cdd3d7;display:block;" ></div>
  <br/>
<div id="contentEditView">
<%= render :partial => "contents/container", :locals => {:article_categories => @article_categories} %>
</div>
<br/>
<div>
  <ul id="Newtabs">
    <%= display_product_page_tabs(@item, params[:at] || "overview") %>
  </ul>
</div>
<br/>
<div class="question_answer main-content-section" id="overview" style="<%=display_required(params[:at] || "overview", "overview")%>">
    <%= render "contents/all"%>
</div>
<div id="specification" style="<%=display_required(params[:at] || "overview", "specification")%>" class="main-content-section">
    <%#= render :template => 'products/specification' %>
    <%= render :partial => "products/detailed_specifications" %>
</div>

<div id="where_to_buy" style="<%=display_required(params[:at] || "overview", "where_to_buy")%>" class="main-content-section">
  <%= render "products/where_to_buy" %>
</div>
<div id="all_variants" style="<%=display_required(params[:at] || "overview", "all_variants")%>" class="main-content-section">
 <%if @item.can_display_related_item?%>
  <%= render :partial => "products/related_items_container" %>
  
  <%end%>
</div>

<!-- Q&A - End -->
</div>

<div class="rightcolumnsmall">
<br/>
<%= render "shared/quick_links", :search_type => "#{request.path}"%>
<br/>

<!--follower block start here-->
<% if( (@item.is_a? Product) )%>
<div class="Commandiv">
  <div class="Detailfeature">
    <span class="Headingtxt">Plan to Buy</span>
    <div class="Featurecontent">
      <div class="Iconblock">
        <span class="Planbuy"><%= @item.get_followers("buyer").split(",").count %></span>
      </div>
        <%= link_to("Invite a friend", "#", :id => "buyer", :class => "Bluesmall invite") %>
      </div>
      <div class="Smalltext">who plans to buy</div>
  </div>
  <div class="Detailfeature">
    <span class="Headingtxt">Owners</span>
    <div class="Featurecontent">
      <div class="Iconblock">
        <span class="Wonit"><%= @item.get_followers("owner").split(",").count %></span>
      </div>
        <%= link_to("Invite a friend", "#", :id => "owner", :class => "Bluesmall invite") %>
      </div>
      <div class="Smalltext">who owns it</div>
    </div>
  <div class="Detailfeature">
    <span class="Headingtxt">Followers</span>
    <div class="Featurecontent" style="border-right:none;">
    <div class="Iconblock">
      <span class="Followcar"><%= @item.get_followers("follower").split(",").count %></span>
    </div>
      <%= link_to("Invite a friend", "#", :id => "follower", :class => "Bluesmall invite") %>
      
      </div>
      <div class="Smalltext">who is an expert</div>
  </div>
</div>
<%end%>
<!--follower block end here-->
<% if @item.get_followers.empty? %>
<% else %>
<div class="txt_black imgfollowers">Followers
  <ul class="imgfollowers">
      <% @item.get_followers.each do |follower| %>
        <li class="imgfollowers">
          <a href="<%=follower.get_url()%>"> <%= image_tag follower.get_photo(), :title => follower.name ,:class => "userImageSmall"%></a>
        </li>
      <% end %>
  </ul>
</div>
<%end %>
<br/>
<%=render :partial =>"items/related_products" %>
  <%= render 'shared/product_button_javascript', :button_class => '', :item => @item, :related_follower => user_follow_type(@item, current_user), :related_items => false %>
  <%= render 'shared/show_hide_login_form', :item => @item %>

<div id="dialog-invite-form" style="display:none">
  <% if current_user %>
    <%= form_for(@invitation, :remote => true ) do |f| %>
<div id= "invitation_errors" style="display:none"></div>
<%= f.hidden_field :item_id, :value => @item.id -%>
<%= f.hidden_field :item_type, :value => @item.class.to_s -%>
<%= f.hidden_field :follow_type -%>
Email : <br /> <%= f.text_field :email %> <br />
Message : <br />
<%= f.text_area :message, :rows => 3, :cols => 50 %>
<%= f.submit 'Invite', :class => 'btn_submitanswer', 'data-disable-with'=>"Sending invite..." %>
<% end %>
<%else-%>
Please sign in to invite others.
<%= render "shared/home_login" %>
<%end%>

</div>

</div>
















