<div style="border: solid 0px;width: 1000px;position:relative;margin: 0 auto;height: auto;min-height: 600px;
padding:10px;">
<div style="background:white;padding:5px;height:40px;">
  <!-- breadcrumbs - Start -->
  <%= render "shared/breadcrumb" %>
  <!-- breadcrumbs - End -->
  <!-- buttons - Start -->
</div>

<div id="content_new"></div>
<% content_for :title, @item.get_name + " - " %>
<% if (@item.is_a? Product) %>
<% content_for :description, @item.get_name + " - Read reviews, How-Tos, FAQs and Tips. Compare prices in India and   check out accessories, apps, photos, videos of " + @item.get_name + ". Also finds out who owns this and get their opinions "%>
<% elsif ((@item.is_a? Topic) or (@item.is_a? AttributeTag)) %>
<% content_for :description, @item.get_name + " - Read How-Tos, Tips and FAQs and connect with others interested in this topic. Connect with others on this topic."%>
<% else %>
<% content_for :description, @item.get_name + " - Read Reviews, How-Tos, Tips and FAQs and check out all the models and variants."%>
<% end%>
<%if(!@item.image_url.blank?)%>
<% content_for :image, @item.image_url %>
<%end%>
<!-- buttons - End -->
<br/>
<div style="background:white;padding:5px;width:727px;float:left;">
  <div class="leftcolumnbig" id="item_info" style="clear:both;">
    <!-- Product Details - Start -->
    
    <%if(!@item.image_url.blank?)%>
    <div class="productdetails" style="min-height:150px;" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <span class="img_product"><img  src="<%=@item.image_url%>" onclick= "$('#product_images').dialog({height: 'auto',width:600});$('.ui-dialog-titlebar').hide();" alt="<%=@item.name%>" width="176" height="132" style= "cursor: pointer;"/></span> 
      <%else%>
      <div class="productdetails">
        <%end%>
        <div id="product_images" style='display:none'>
         <%= render "product_images", :locals => {:item=> @item} %>
       </div> 
       <script language="javascript">
       
       </script>
       <span class="product_details">
        <% if @item.is_a? Manufacturer  or @item.is_a? Topic %>
          <h1 itemprop="itemreviewed"><%= @item.get_name %></h1>         

        <% elsif @item.is_a? Product %>
        <div style="float:left;width:450px;">
          <h1 itemprop="itemreviewed"><%= @item.get_name %></h1>          
          <a class="txt_price"><%= @item.get_price_info('Price',true, @where_to_buy_items.size).html_safe rescue ''%></a><br />
          <%l_date=  @item.get_launch_date rescue ""%>
          
            <%= render :partial => 'shared/rating',:locals => {:item => @item, :rating_id => "product_item_#{@item.id}"} %>

            <!-- <a><img src="../images/rating_stars.png" width="87" height="20" /></a> -->
          </a>    
          <a class="txt_normal" href="<%= @item.get_url + '?fl=Reviews'%>">Ratings
            <span class="txt_blue" > <%= "(" + pluralize(@item.rated_users_count,'Review') + ")" if @item.rated_users_count > 0 %><span style="display:none;" itemprop="count"><%=@item.rated_users_count%></span></span>
            <span class="txt_blue"> <%= "Be the first one to review it" unless @item.rated_users_count > 0 %></span>
          </a>
        </div>
            <div style="float:right;">
              <%if (!(@item.rank.nil?) && (@item.rank > 0))%>
              <div class="widget-div">
                <a href="/<%=@item.itemtype.itemtype.downcase%>/search"><div><%=@item.rank%></div> <div class="scorespan">Score</div></a>
              </div>

              <%end%>
            </div>
            <br />

        <%# cache ['minimised_specification', @item] do%>
        <div style="clear:both;padding-top:5px;">
          <a class="txt_normal" >
            <% if  (@items_specification["Pro"].length+ @items_specification["Con"].length) < 6%>
            <%=display_specifications(@item)%>
            <% else  %>
            <%if !l_date.blank? && !l_date.nil? %>
            <div style="padding-bottom:5px;color: #999;font-weight: 600;font-size: 11px;">Released: <%= " " + l_date %></div>              
              
          <%end%>  
            <table style="">
              <tr>
                <th style="width: 200px;text-align:left;"><p style="font-size: 13px;font-weight: bold;padding-bottom: 5px;color: #333;"> Advantages</p></th>
                <th style="width: 200px;padding-left:50px;text-align:left;"><p style="font-size: 13px;font-weight: bold;padding-bottom: 5px;color: #333;"> TradeOffs</p></th>
              </tr>
              <tr style="vertical-align:top;color:  #505050;">
                <% @items_specification.each do |key, value| %>
                <%if key == "Con" %>
                <td style="padding-left:50px;">
                  <%else%>
                  <td>
                    <%end%>                   
                    <%if key == "Con" and @items_specification["Con"].empty?%>
                    There are no major TradeOffs.
                    <br/>
                    <%end%>
                    <% value[0..5].each do |v| %>
                    <% v[:values].each do |av| %>
                    <%unless av.value.nil? or av.value == ""%>
                    <div><%=v[:title] %>  <span class="txt_brown" style="text-align:inherit;font-size:11px;">
                      <%= if (v[:description].nil? or v[:description].empty?)                         
                       raw " - " + display_specification_value(av,av.attribute)
                    #else 
                    #v[:description] 
                    
                    end%>
                    <%end%>
                  </span>
                </div>

                <% end %>
                <% end %>
              </td>
              <% end %>
            </tr>
          </table>

          <%end%>
              <div style="clear:both;float:left;padding-top:4px;padding-bottom:15px;">
                <%= link_to(" View all Specifications and Benchmarks", "#specification", :class => 'bluelink-12', :id => "detailed_specification") %>
              </div>
            </a>
          </div>
          <br/>
          <%if @new_version_item %>
          <br /><br />
          <div style="clear:both;padding-top:5px;padding-bottom:10px;">
            <font style="color:green;font-size:12px;"> <h3>New version of this product is available: </font> <a href="<%=@new_version_item.get_url() rescue ''%>" class="txt_blue" style="font-weight:bold;"><%= @new_version_item.name rescue ''%></a> </h3> </font></div>
            <%end%>
        <%#end%>

        <% else %>

        <%if @item.is_a? CarGroup or @item.is_a? AttributeTag %>
        <h1 itemprop="itemreviewed"><%= @item.get_name %></h1>          
        <%if @item.is_a? CarGroup %>
        <%@type = "group" %>
        <a class="txt_price" id="group_price" style= "cursor: pointer;"><%= @item.get_group_price_info('Price') %></a><br />
             <!-- <%#= render :partial => 'shared/rating',:locals => {:item => @item,:type => @type, :rating_id => "product_item_#{@item.id}"} %></a>
              
               <a class="txt_normal" href="<%= @item.get_url + '?fl=Reviews'%>">Ratings
        <span class="txt_blue" > <%= "(" + pluralize(@item.rated_users_count_group,'Review') + ")" if @item.rated_users_count_group  > 0 %><span style="display:none;" itemprop="count"><%=@item.rated_users_count_group %></span></span>
      <span class="txt_blue"> <%= "Be the first one to review it" unless @item.rated_users_count_group > 0 %></span>
    </a><br /> -->
    <%end%>
    <a class="txt_price">Groups</a><br />
    <%else%>
    <a class="txt_price"><%=@item.type%></a><br />
  </a>
  <%end%>
  <% end %>
      <% if @item.show_models%>
      <a class="txt_normal"> <%=link_to_function @item.related_cars.count.to_s + " Models","setActiveTab('all_variants')", :class => 'txt_blue'%>

        <%end%>
  
  </span>

</div>
<br/>
<%if current_user%>
<!--<div style="border-bottom: solid 1px #cdd3d7;display:block;clear:both;" ></div>-->
<br/>
<%end%>
<br/>

<div style="padding-top:20px;">
  <ul id="Newtabs">
    <%= display_product_page_tabs(@item, params[:at] || "overview") %>
    <li id="Reviews" class="filter_option"><a href="#overview"><span>Reviews</span></a></li>
    <li id="Deals" class="filter_option"><a href="#overview"><span>Deals</span></a></li>
    <li id="Comparisons" class="filter_option"><a href="#overview"><span>Comparisons</span></a></li>
    <li id="Lists" class="filter_option"><a href="#overview"><span>Top 10's</span></a></li>
  </ul>
</div>
<br/>

<div id="where_to_buy" style="<%=display_required(params[:at] || "where_to_buy", "where_to_buy")%>" class="main-content-section">
<%= render "products/where_to_buy" %>
</div>

<div id="specification" style="<%=display_required(params[:at] || "where_to_buy", "specification")%>" class="main-content-section">
  <%#= render :template => 'products/specification' %>
  <%= render :partial => "products/detailed_specifications" %>
</div>

<div class="question_answer main-content-section" id="overview" style="<%=display_required(params[:at] || "where_to_buy", "overview")%>">
  <%= render "contents/all"%>
</div>

<div id="all_variants" style="<%=display_required(params[:at] || "where_to_buy", "all_variants")%>" class="main-content-section">
 <%if @item.can_display_related_item?%>
 <%= render :partial => "products/related_items_container" %>

 <%end%>
</div>

<!-- Q&A - End -->
</div>
<% if @item.is_a? Product %>
<%if !@item.is_a? Car or !@item.is_a? Bike %>
<%if @where_to_buy_items.size > 1 %>
<script>
$("#buy span").html("Compare Prices");
</script>
<%end%>
<%end%>
<%end%>
<br clear="all"/>
</div>
<div class="rightcolumnsmall">
  <div style="margin-top:0px;">
    <%= render  "shared/share_buttons",:caption_text => 'Check out ' + @item.name +  
    ' on PlannTo.com' %>    
  </div>
  <% if @item.is_a?Product %>
   <div style="margin-top:10px;margin-bottom:10px;">
   <%= render "compare_section" %>
  </div>
 <%end%> 
  <%=render :partial => "shared/google_adsense_square" %>
  <!--follower block end here-->

      <br/>
      <%=render :partial =>"items/related_products" %>
      
      <%#= render 'shared/show_hide_login_form', :item => @item %>


      <style>
      a.txt_price:hover {text-decoration: underline;}
      </style>
    </div>
    <br clear="all"/>


    <%= render "shared/expanding_text_area_style" %>

    <script>
    $("#detailed_specification").click(function(e){
     $("#overview").hide();
     $("#where_to_buy").hide();
     $("#all_variants").hide();
     $("#specification").show(); 
     $("ul#Newtabs").find("li").removeClass("tab_active");
     $("ul#Newtabs li#specify").addClass("tab_active");
   })
    </script>
    <script>
    $("#item_price").click(function(e){
     $("#overview").hide();
     $("#where_to_buy").show();
     $("#all_variants").hide();
     $("#specification").hide(); 
     $("ul#Newtabs").find("li").removeClass("tab_active");
     $("ul#Newtabs li#buy").addClass("tab_active");
   })
    </script>
  <script>
      $(".filter_option").click(function(e){
          $("#overview").show();
          $("#where_to_buy").hide();
          $("#all_variants").hide();
          $("#specification").hide();
          $("ul#Newtabs").find("li").removeClass("tab_active");
          $(this).addClass("tab_active");
      })
  </script>

    <%if params[:tab] =="compare" %>
    <script>
    $("#overview").hide();
    $("#where_to_buy").show();
    $("#all_variants").hide();
    $("#specification").hide(); 
    $("ul#Newtabs").find("li").removeClass("tab_active");
    $("ul#Newtabs li#buy").addClass("tab_active");
    </script>
    <%end%>
    <%if @item.type == "CarGroup" || @item.type == "Manufacturer" %>
    <script>
     $("#overview").hide();
     $("#where_to_buy").hide();
     $("#all_variants").show();
     $("#specification").hide(); 
     $("ul#Newtabs").find("li").removeClass("tab_active");
     $("ul#Newtabs li#all_variant").addClass("tab_active");
    </script>

    <%end%>
  
    <script>
    $("#group_price").click(function(e){
     $("#overview").hide();
     $("#where_to_buy").hide();
     $("#all_variants").show();
     $("#specification").hide(); 
     $("ul#Newtabs").find("li").removeClass("tab_active");
     $("ul#Newtabs li#all_variant").addClass("tab_active");
   })
    </script>

  </div>
<!--
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('.first-carousel').jcarousel({
    initCallback: function(carousel, state){
      $.ajax({
            type: "GET",
            dataType: "json",
            url: "ratings?id="+ jQuery('.first-carousel').attr("id"),
            success: function(data) {
              a = ""
              $.each(data, function(i, item) {
                carousel.add(i, "<li>"+item.field4+"</li>");
              });
            }
        })
    },
    itemFallbackDimension: 300
  });
});

</script>
-->

<script type="text/javascript">
    $(document).ready(function(){
        $(".filter_option").click(function (e) {
            //$('#spinner6').ajaxStart(function() {
            //$(this).show();
            //$('#spinner1').hide();
            //}).ajaxStop(function() {
            //$(this).hide();
            //});
//            $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
//            $(this).closest('li').addClass("Currentfilter");
            if ($(this).text() != "Labeltext"){
                $("#filter_page_no").val('1');
                var id = $(this).attr('id');
                var sub_type = find_sub_type(id);
                if (sub_type == "All" || sub_type == "Custom" ||  sub_type == "News" || sub_type == "Deals" || sub_type == "Event" || sub_type ==  "Miles" || sub_type ==  "Lists" ){
                    $("span#sortBy").find('a').removeClass('link_active');
                    $("#sortByNewest").addClass("link_active");
                }
                else {
                    $("span#sortBy").find('a').removeClass('link_active');
                    $("#sortByVotes").addClass("link_active");
                }
                $("#content_search_page").val(1)
                $("#content_search_search").val("")
                $("#content_search_sub_type").val(sub_type);
                var filter_page_no = $("#filter_page_no").val();
                var items = "<%=@item.try(:id) || @item_ids%>";
                var itemtype_id = "<%=@item.try(:get_base_itemtypeid) || @itemtype.try(:id)%>"
                var sort_by = $("span#sortBy a.link_active").text();

                var guide = "<%=@guide.try(:id)%>";

                contentSearchFilterAction("filter", sub_type, items, filter_page_no, itemtype_id, sort_by, guide);
            }
        });

        id = $(".filter_option.tab_active").attr('id')
        var sub_type = find_sub_type(id);
        var items = "<%=@item.try(:id) || @item_ids%>";
        var itemtype_id = "<%=@item.try(:get_base_itemtypeid) || @itemtype.try(:id)%>"
        var guide = "<%=@guide.try(:id)%>";
        triggerScrollFunction(sub_type, items, itemtype_id, guide);
    });
</script>
