<!--  breadcrumbs - Start -->
  <%= render "shared/breadcrumb" %>
<!--  breadcrumbs - End -->
<!-- buttons - Start -->
    <%= render 'shared/follow_buttons',:follow_type => 'Car', :follow_html => '', :button_class => '' %>
</div>
<!-- buttons - End -->
<div class="leftcolumnbig">
<!-- Product Details - Start -->
  <div class="productdetails" >
    <span class="img_product"><img src="<%=@item.image_url%>" alt="<%=@item.name%>" width="175" height="125" /></span>
    <span class="product_details">
      <h1><%= @item.name %></h1>
      <a class="txt_price"><%= @item.get_price_info('Price') %></a><br />
    <a>
      <a><img src="../images/rating_stars.png" width="87" height="20" /></a>
    </a>
    <a class="txt_normal">Ratings
      <span class="txt_blue"> (100 Reviews)</span>
    </a><br />
    <a class="txt_normal"><%=display_specifications(@item)%>
      <%= link_to("...Detailed Specification", "#tab5", :class => 'txt_blue', :id => "detailed_specification") %>
    </a>
    </span>
  </div>
<br/>

<%= render :partial => "shared/review" %>
<div id="usual2" class="usual">
  <ul class="tabs">
    <li ><a href="#tabs1">Overview</a></li>
    <li><a href="#tabs2" >Tips</a></li>
    <li><a href="#tabs3" >Review</a></li>
    <li><a href="#tabs4" >Q&amp;A</a></li>
    <li><a href="#tabs5" id="specification">Specification</a></li>
    <li><a href="#tabs6" >Image</a></li>
    <li><a href="#tabs7" >Videos</a></li>
  </ul>
</div>
<br>
<div class="question_answer" id="tabs1">
    <%= render "layouts/product_tip"%>
    <div id="content_tips">
      <%= render :partial => 'tips/tips',:collection => @contents %>
    </div>
    
    <%= render "/layouts/product_answer" %>
</div>
<div id="tabs5" style="display: none; " class="main-content-section">
    <%= render :template => 'products/specification' %>
    <%= render "/layouts/product_answer" %>
</div>

<div id="tabs3" style="display: none; " class="main-content-section">
    <%= render  "layouts/product_review" %>
    <%= render "/layouts/product_answer" %>
</div>
<div id="tabs4" style="display: none; " class="main-content-section">
  <%= render  "/layouts/product_qna" %>
  <%= render "/layouts/product_answer" %>
</div>
<div id="tabs2" style="display: none; " class="main-content-section">
  <%= render  "layouts/product_tip" %>
  <%= render "/layouts/product_answer" %>
</div>
<div id="tabs6" style="display: none; " class="main-content-section"></div>
<div id="tabs7" style="display: none; " class="main-content-section">
    <%= render "/layouts/product_video" %>
    <%= render "/layouts/product_answer" %>
</div>
<!-- Q&A -  End -->
</div>
<div class="rightcolumnsmall">
<br/>
<div >
    <a class="btns" href="#">Compare Cars</a>
    <a class="btns" href="#">Ask Advices</a>
    <a class="btns" href="#">Top Questions</a>
</div>
<br/>
<div>
	<%= link_to("Invite buyer", "#", :id => "invite_buy") %>&nbsp;
	<%= link_to("Invite owner", "#", :id => "invite_own") %>&nbsp;
	<%= link_to("Invite follower", "#", :id => "invite_follow") %>
	
</div>
<br />
<%=render :partial =>"items/related_products" %>

<div id="dialog-form" title="Create new user">
  <%= render 'shared/product_button_javascript', :button_class => '' %>
  <%= render "shared/login_dialog" %>  
</div>
<div id="dialog-invite-form" style="display:none">
	<%= form_for(@invitation, :remote => true ) do |f| %>
	   <div id= "invitation_errors" style="display:none"></div>
	   <%= f.hidden_field :item_id -%>
	   <%= f.hidden_field :follow_type -%>
		Email : <br /> <%= f.text_field :email %> <br />
		Message : <br />
		<%= f.text_area :message, :rows => 3, :cols => 50 %>
	<% end %>
	
</div>


  