<% if params[:page_type] == "type_1" %>
<% if !@category_item_detail.id.blank? %>
<div style="padding:10px;text-align:center;margin:0 auto;">
    <h4 style="text-align:center;font-size: 19px;">
        <strong>
        <%= link_to @category_item_detail.text, @click_url, :target => "_blank" %>
        </strong>
    </h4>
</div>
<% else %>
<div style="text-align:center;margin:0 auto;">
    <div>
        <a href="<%=@click_url%>" target="_blank">

            <div style="float:left;padding:10px;">
                <div style="">
                    <span style="font-size:16px;font-weight:600;">
                      <%=@category_item_detail.title%>
                    </span>
                </div>
                <div style="padding-top:3px;">
                    <span>@ Just </span>
                    <span style="padding-left:2px;font-size:16px;font-weight:600;"><%=@category_item_detail.sale_price %> - Buy Now!</span>
                </div>
            </div>
        </a>
        <br clear="both"/>
        </div>
    </div>
<% end %>
<% elsif params[:page_type] == "type_2" %>
<% if !@category_item_detail.id.blank? %>
<div style="padding:10px;text-align:center;margin:0 auto;">
<h4 style="text-align:center;font-size: 19px;">
    <strong>
    <%= link_to @category_item_detail.text, @click_url, :target => "_blank" %>
    </strong>
</h4>
</div>
<% else %>
<div style="text-align:center;margin:0 auto;width:140px;height:150px;border:1px solid #CCC">
    <div>
        <a href="<%=@click_url%>" target="_blank">

            <div class="type_2_image" style="text-align:center;min-height:80px;"><img src="<%=@category_item_detail.image_url%>" style=""></img></div>

            <div class="type_2_description" style="padding:3px;">
                <div style="height:22px;"><span style="font-size:11px;max-height:22px;color:black;"><%=@category_item_detail.title.to_s.truncate(50)%></span></div>
                <div style="padding-top:4px;"><span style="padding-left:2px;font-size:13px;font-weight:600;"><%=@category_item_detail.sale_price %></span></div>
            </div>

            <div>
                <img src="<%=configatron.root_image_path%>static/images/amazon.png" style="width: 25px;float: left;background: #525252;">
                <span style="width: 115px;background: orange;display: block;height: 25px;float: left;"> 
                    <div style="margin: 5px;color: white;">Show Now</div>
                </span>
            </div>
        </a>
    </div>
    <br clear="both"/>
</div>
<% end %>
<% else params[:page_type] == "type_3" %>
<div style="width: 100%;text-align: center;display: block;">
<div style="display: inline-block;">
<span style="float: left; padding: 8px 0px 0px; color: lightsalmon; cursor: pointer;display:none;" class="left"> &lt;&lt; </span>
   <% @category_item_details.each_with_index do |category_item_detail, index| %>
        <% index = index + 1 %>
        <span style="float:left;margin: 0 6px;" class="slider_plannto" id="<%= index %>">
        <div>
            

                <div style="float:left;font: 400 14px Arial,Helvetica,sans-serif; color: #f90 !important; font-size: 14px;font-weight: bold;width:100%;text-align:center;">
                    <div style="">
                        <span style="font-size:14px;font-weight:bold;">
                         <span >  
                        <span style="float:left;" >
                         <a href="<%= get_general_click_url(category_item_detail.click_url) %>" target="_blank" style="float:left;font: 400 14px Arial,Helvetica,sans-serif; color: #f90 !important; font-size: 14px;width:100%;text-align:center;">
                             <b style="color: #000;">Discover:</b> <%= category_item_detail.title.to_s.truncate(45) %> <%= category_item_detail.sale_price.blank? ? "" : "@ Just #{category_item_detail.sale_price}" %> <%= category_item_detail.percentage_saved.blank? ? "" : "(#{category_item_detail.percentage_saved}% OFF)" %>
                               <%unless index == 3%>
                                
                            
                                         <span id="rightarrow" class="right" style="font-size:14px;color: lightsalmon; cursor: pointer;margin-left:2px;display:none;"> &gt;&gt; </span>
                            <%end%>
                          </a>
                        </span>
                          
                          </span>
           
                        </span>
                    </div>
                </div>
            <br clear="both"/>
        </div>
        </span>
   <% end %>
  </div>
      <br clear="both"/>
        </div>
        
    <script type = "text/javascript" charset = "utf-8" >
      PlannTo.jQuery(document).ready(function()
      {
              PlannTo.jQuery(".slider_plannto").hide()
              PlannTo.jQuery("#1").show()
              PlannTo.jQuery("#1").addClass("active")

              var active_div = PlannTo.jQuery(".active")
              var next_div = PlannTo.jQuery(active_div).next()

              if (active_div.length == 0 || PlannTo.jQuery(next_div).attr("class") == "right")
              {
                PlannTo.jQuery(".right").hide();
              }
      });

    PlannTo.jQuery(".left").click(function()
    {
      var active_div = PlannTo.jQuery(".active")
      var prev_div = PlannTo.jQuery(active_div).prev()
            if (PlannTo.jQuery(prev_div).attr("class") != "left")
            {
              PlannTo.jQuery(".slider_plannto").hide()
            PlannTo.jQuery(prev_div).show()
            PlannTo.jQuery(".slider_plannto").removeClass("active")
            PlannTo.jQuery(prev_div).addClass("active")
            }
    });

    PlannTo.jQuery(".right").click(function(event)
    {
            var active_div = PlannTo.jQuery(".active")
            var next_div = PlannTo.jQuery(active_div).next()

            if (PlannTo.jQuery(next_div).next().attr("class") == "right")
            {
            PlannTo.jQuery(".right").hide();
            }

            if (PlannTo.jQuery(next_div).attr("class") != "right")
            {
            PlannTo.jQuery(".slider_plannto").hide()
            PlannTo.jQuery(next_div).show()
            PlannTo.jQuery(".slider_plannto").removeClass("active")
            PlannTo.jQuery(next_div).addClass("active")
            }
            event.preventDefault();
            return false;
    });
  </script>

<% end %>

<style type="text/css">
a {
    color: #e34b18;
    text-decoration: none;
}

#rightarrow:hover {
color: #D70707 !important;
}

a { outline: none; }

.type_2_description {
        padding: 3px;

        }
</style>