 <% if (!@where_to_buy_items.empty?) or (!@best_deals.nil?) %> 
 
    <%if @path =="wheretobuymain" %>
 
         <style type="text/css">
             /*Initialize*/
             ul#menu, ul#menu ul.sub-menu {
                 padding: 0;
                 margin: 0;
             }

             ul#menu li, ul#menu ul.sub-menu li {
                 list-style-type: none;
                 display: inline-block;
             }

             /*Link Appearance*/
             /*ul#menu li a, ul#menu li ul.sub-menu li a {*/
             /*text-decoration: none;*/
             /*color: #fff;*/
             /*background: #666;*/
             /*padding: 5px;*/
             /*display: inline-block;*/
             /*}*/

             /*Make the parent of sub-menu relative*/
             ul#menu li {
                 position: relative;
             }

             /*sub menu*/
             ul#menu li ul.sub-menu {
                 display: none;
                 position: absolute;
                 left: 0;
                 width: 100px;
             }

             ul#menu li:hover ul.sub-menu {
                 display: block;
             }

             /*twitter bootstrap css*/

             .caret {
                 display: inline-block;
                 width: 0;
                 height: 0;
                 margin-left: 2px;
                 vertical-align: middle;
                 border-top: 4px solid;
                 border-right: 4px solid transparent;
                 border-left: 4px solid transparent;
             }
             .dropdown {
                 position: relative;
             }
             .dropdown-toggle:focus {
                 outline: 0;
             }
             .dropdown-menu {
                 position: absolute;
                 top: 100%;
                 left: 0;
                 z-index: 1000;
                 display: none;
                 float: left;
                 min-width: 160px;
                 padding: 5px 0;
                 margin: 2px 0 0;
                 font-size: 14px;
                 list-style: none;
                 background-color: #fff;
                 background-clip: padding-box;
                 border: 1px solid #ccc;
                 border: 1px solid rgba(0, 0, 0, .15);
                 border-radius: 4px;
                 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                 box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
             }

             .dropdown-menu > li > a {
                 display: block;
                 padding: 3px 20px;
                 clear: both;
                 font-weight: normal;
                 line-height: 1.42857143;
                 /*color: #333;*/
                 white-space: nowrap;
             }
             .dropdown-menu > li > a:hover,
             .dropdown-menu > li > a:focus {
                 color: #262626;
                 text-decoration: none;
                 background-color: #f5f5f5;
             }
             .dropdown-menu > .active > a,
             .dropdown-menu > .active > a:hover,
             .dropdown-menu > .active > a:focus {
                 color: #fff;
                 text-decoration: none;
                 background-color: #428bca;
                 outline: 0;
             }
             .dropdown-menu > .disabled > a,
             .dropdown-menu > .disabled > a:hover,
             .dropdown-menu > .disabled > a:focus {
                 color: #999;
             }
             .dropdown-menu > .disabled > a:hover,
             .dropdown-menu > .disabled > a:focus {
                 text-decoration: none;
                 cursor: not-allowed;
                 background-color: transparent;
                 background-image: none;
                 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
             }

             .nav {
                 padding-left: 0;
                 margin-bottom: 0;
                 list-style: none;
             }
             .nav > li {
                 position: relative;
                 display: block;
             }
             .nav > li > a {
                 position: relative;
                 display: block;
                 padding: 10px 15px;
             }
             .nav > li > a:hover,
             .nav > li > a:focus {
                 text-decoration: none;
                 background-color: #eee;
             }
             .nav > li.disabled > a {
                 color: #999;
             }
             .nav > li.disabled > a:hover,
             .nav > li.disabled > a:focus {
                 color: #999;
                 text-decoration: none;
                 cursor: not-allowed;
                 background-color: transparent;
             }
             .nav .open > a,
             .nav .open > a:hover,
             .nav .open > a:focus {
                 background-color: #eee;
                 border-color: #428bca;
             }
             .nav .nav-divider {
                 height: 1px;
                 margin: 9px 0;
                 overflow: hidden;
                 background-color: #e5e5e5;
             }
             .nav > li > a > img {
                 max-width: none;
             }

             .nav-pills > li {
                 float: left;
             }
             .nav-pills > li > a {
                 border-radius: 4px;
             }
             .nav-pills > li + li {
                 margin-left: 2px;
             }
             .nav-pills > li.active > a,
             .nav-pills > li.active > a:hover,
             .nav-pills > li.active > a:focus {
                 color: #fff;
                 background-color: #428bca;
             }

             a {
                 color: #428BCA;
                 text-decoration: none;
             }

             #plannto_headertd {padding: 5px 10px 0px 0px;margin:0px;font-size:14px;font-weight:bold;color: #129FBD;}
         #plannto_table{border:0px;font-family: Arial;border-collapse: collapse;}
         #plannto_poweredby{font-size:9px;font-weight:bold;color: darkgray;padding-right: 1px;}
         #plannto_logo{padding: 2px;font-size:12px;font-weight:bold;color:darkgray;}
         #plannto_logo:hover{text-decoration: underline;cursor:pointer;}
         #plannto_logo1{color: #129FBD;}
         #plannto_insidediv{padding:7px 10px 10px 10px;background: #EEE;}
         #plannto_intable{background: #FFF;border-collapse:collapse;border:0;margin:0px;}
         #plannto_intr{border-bottom: 1px solid #EEE;height: 40px;background:white;border-top: 0px;}
         #plannto_intd{font-weight: 700;font-size:12px;color:black;padding:5px;vertical-align:middle;background:white;float:none;display:table-cell;}
         .plannto_selector{padding: 3px 12px;border: 1px solid #CCC;width: 100%;border-radius: 2px;font-weight: 700;font-size:12px;font-family: inherit;}
         #plannto_incol1{padding: 0px 0px 0px 15px;text-align:left;vertical-align:middle;background:white;float:none;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;padding:0px;float:none;display:table-cell;}
         #plannto_incol3{padding:0px 10px 0px 0px ;text-align:center;vertical-align:middle;background:white;}
         #plannto_go_button{margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 12px;font-weight: bold; text-decoration: none;}
         #plannto_footertd{padding-right:10px;vertical-align:middle;height:40px;background: white;padding:0px;float:none;display:table-cell;}
         #plannto_footertr{background:white;}
         #plannto_footerspan{float:left;padding-left:20px}
         #plannto_footera{font-weight:bold;font-size:13px;text-decoration: underline;color:#535353;}
         #plannto_inheadertr{border-bottom: 1px solid #EEE;height: 35px;background:#FAFAFA;}
         #plannto_inheadercol1{padding: 0px 0px 0px 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;float:none;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;padding:0px;float:none;display:table-cell;}
        
        .shadetabs{padding:0; margin:0; width:100%; list-style-type: none; text-align: left;z-index:-1;}
        .shadetabs li.unselected{float:left; padding:0px!important; margin:0 5px 0 5px!important;background: #12c1e6!important;list-style-type: none!important; }
        .shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center; }        
        .shadetabs li.selected{float:left; position: relative;padding:0px!important; margin:0px; text-align:center; border-bottom:3px solid #EEE;background: #EEE !important; list-style-type: none!important;}
        .shadetabs li.selected a{ color:#12c1e6!important;text-decoration: none; font-size:14px; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center;}        
        #prodname{font-size: 15px;}

         /* for igyaan*/
         <% if (!@publisher.nil? && @publisher.id == 5) %>
         #plannto_table{border:0px;font-family:'PT Sans', sans-serif;}
         #plannto_headertd {padding: 5px 10px 0px 0px;margin:0px;font-size:13px;color:#07ABE2;font-family: 'PT Sans', sans-serif;font-weight: 300;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;}
         #plannto_inheadercol1{padding-left: 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;font-family: Arvo, serif;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;font-family: Arvo, serif;}
         #prodname{font-family: "Arvo", serif;color: #4C4A4A;line-height: 1.61;font-size: 1.07143rem;text-transform: uppercase;font-weight: normal;}
         .plannto_selector{padding: 3px 12px;border: 1px solid #CCC;width: 100%;border-radius: 2px;font-size:14px;font-family:  'Roboto Slab',sans-serif;font-weight:500;margin-top:5px;}
         .shadetabs li.unselected a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center;font-family: Arvo, serif; font-weight: 500;} 
          #plannto_insidediv{padding:2px 0px 0px 0px;background: #EEE;}
         <% end %>
         </style>

          <!-- /* for igyaan*/ -->
         <% if (!@publisher.nil? && @publisher.id == 5) %>
         <hr class="separator  separator--subsection">
         <%end%>
        <table width="100%"  id="plannto_table" >
          <tbody style="border:0px;">
            <tr style="border:0px;background:white;">
              <td id="plannto_headertd">
                
                <ul class="shadetabs">
                <% unless @show_price == "false" %>
                  <li class="selected">
             
                <a href="#" id="where_to_buy_items_a" onclick="<%= "PlannTo.wheretobuytabclick(this," + @moredetails+ ",'" + @items.map(&:id).join(",") + "')"%>">Best Prices</a>
                  </li>
                <%end%>
                <%if @show_offer != "false" %>
               <li class="unselected">

                   <a href="#" id="product_offers" onclick="<%= "PlannTo.offertabclick(this," + @moredetails+ ",'" + @items.map(&:id).join(",") + "')"%>">Best Offers</a> 
                  </li>
                <%end%>  
              </ul>
                
                <!--<span>Best Prices</span>-->
                
                <%if @moredetails == "true" %>
                    <!--
                    
                    <div style="float:right;">
                        <span id="plannto_poweredby">Powered By</span>
                        <span id="plannto_logo">Plann<font id="plannto_logo1">To</font></span>
                    </div>
                  -->
                <%else%>

                <%end%>
      
              </td>
            </tr>
            <tr style="border:0px;">
              <td style="padding:0;margin:0;" id="tabreplacement">
                <!-- main where to buy check ends here. -->                
    <%end%>
    
   
    <%if @show_price != "false" %>
         <%if @path !="onchange"%>

                      <div id="plannto_insidediv">
                          <table id="plannto_intable" width="100%">   
                            <thead style="border:0px;display:table-header-group;">
                              <tr id="plannto_intr">
                                <td colspan="5" id="plannto_intd" >
                                 <%if @items.size == 1 %>
                                 <div style="width:100%;">
                                 <span style="float:left;padding-left: 10px;padding-top: 5px;">
                                 
                                 <img  src="<%=@item.image_url(:medium)%>" alt="<%=@item.name%>"  onerror="this.error=null;this.src='<%=@item.base_item_image_url(:medium)%>';" style="width:60px;"/>
                               
                                </span>
                                 <span style="padding-left:5px;padding-top:15px;float:left;" id="prodname">
                                   <%=@item.get_name%>
                                </span>
                                </div>
                                <%else%>
                                      <ul id="menu" class="nav nav-pills">
                                        <% @items.each_with_index do |each_item, index| %>
                                            <% if index < 3 %>
                                                <li class="<%= @item.id == each_item.id ? 'active' : '' %>">
                                                  <a href="#" onclick="PlannTo.onclick_function(<%= each_item.id %>, this, <%= @moredetails %>)"><%= each_item.name.to_s.truncate(22) %></a>
                                                </li>
                                            <% end %>
                                        <% end %>
                                        <li class="dropdown"><a href="#">More <b class="caret"></b></a>

                                          <ul class="sub-menu dropdown-menu">
                                            <% @items.each_with_index do |each_item, index| %>
                                                <% next if index == 0 %>
                                                <% if index > 2 %>
                                                    <li class="<%= @item.id == each_item.id ? 'active' : '' %>">
                                                      <a href="#" onclick="PlannTo.onclick_function(<%= each_item.id %>, this, <%= @moredetails %>)"><%= each_item.name.to_s.truncate(22) %></a>
                                                    </li>
                                                <% end %>
                                            <% end %>
                                          </ul>
                                        </li>
                                      </ul>
                                <%#=select_tag "w_t_b_items", options_for_select(@items.map{|i|[i.name,i.id]}),:onchange=>"PlannTo.onchange_function(this," + @moredetails+ ")",:class=>"plannto_selector" %>
                                <%end%>
                              </td>
                            </tr>
                          </thead>
                          <tbody style="border:0px;" id="where_to_buy_items_onchange">
          <%end%>
         <% if @items.size != 1 %>
             <tr>
               <td colspan="5" id="">

                 <div style="width:100%;">
		 <span style="float:left;padding-left: 10px;padding-top: 5px;">

		 <img src="<%= @item.image_url(:medium) %>" alt="<%= @item.name %>" onerror="this.error=null;this.src='<%= @item.base_item_image_url(:medium) %>';" style="width:60px;"/>

		</span>
		 <span style="padding-left:5px;padding-top:15px;float:left;" id="prodname">
		   <%= @item.get_name %>
		</span>
                 </div>
               </td>
             </tr>
         <% end %>
                            <%unless @moredetails == "true"  %>
                            <tr id="plannto_inheadertr">
                              <td id="plannto_inheadercol1" width="35%">Seller</td>
                              <td id="plannto_inheadercol2"  width="35%">Price</td>
                              <td width="30%" id="plannto_inheadercol2" >Buy Now</td>
                            </tr>
                            <%else%>
                            <tr id="plannto_inheadertr">
                              <td id="plannto_inheadercol1" width="20%">Seller</td>
                              <td id="plannto_inheadercol2"  width="20%">Price</td>
                              <td id="plannto_inheadercol2"  width="25%">Shipping Time</td>
                              <td width="15%" id="plannto_inheadercol2" >Buy Now</td>
                            </tr>
                            <%end%>
                            <%count = 0%>    
                            <% if (!@publisher.nil? && @publisher.id == 5) %>
                                     <% @gotext = "Buy Now" %>
                             <%else%>
                                      <% @gotext = "Go" %>
                             <% end %>

                            <% @where_to_buy_items.group_by(&:site).each do |site, items| %> 
                                <% count = count + 1%>
                                <% unless count > @displaycount %>
                                  <%unless @moredetails == "true"  %>
                                      <tr id="plannto_intr">
                                      <%items.each_with_index do |item, index|%>      
                                        <%if display_item_details(item)%>
                                          <%if index == 0%>
                                            <td id="plannto_incol1" width="35%"> <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>"  style="width:75px;border:0;padding:0;"/> </td>
                                            <td id="plannto_incol2"  width="35%"> <%=display_price_detail(item)%> </td>
                                            <td width="30%" id="plannto_incol3" ><a href="http://www.plannto.com/history_details?detail_id=<%=item.item_details_id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> </td>
                                          <%end%>
                                        <%end%>
                                      <%end%>
                                      </tr>
                                  <% else%>
                                    <tr id="plannto_intr">
                                       <%items.each_with_index do |item, index|%>      
                                          <%if display_item_details(item)%>
                                            <%if index == 0%>
                                              <td id="plannto_incol1" width="20%"> <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>"  style="width:85px;border:0;padding:0;"/> </td>
                                              <td id="plannto_incol2" width="20%"> <%=display_price_detail(item)%> </td>
                                              <!--
                                              <td id="plannto_incol2" width="20%"><%#=display_availability_detail(item)%></td> -->
                                              <td id="plannto_incol2" width="25%" style="font-weight:normal;"><%=display_shipping_detail(item)%></td>
                                              <td width="15%" id="plannto_incol3"><a href="http://www.plannto.com/history_details?detail_id=<%=item.item_details_id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> </td>
                                            <%end%>
                                          <%end%>
                                        <%end%> 
                                    </tr>
                                <% end %>      
                              <% end %>   
                            <% end %>
                            <% if count > @displaycount %>
                                <tr style="plannto_footertr">
                                  <%if @moredetails == "true" 
                                    @wrapper="3" 
                                  else 
                                    @wrapper="2" 
                                  end
                                  %>
                                  <td  id="plannto_footertd" colspan="<%=@wrapper%>">
                                    <span id="plannto_footerspan">
                                      <a href="http://www.plannto.com/external_page?item_id=<%=@item.id%>&iid=<%=@impression_id%>" id="plannto_footera" target="_blank">View prices from more retailers</a>
                                    </span>
                                  </td>
                                  <td id="plannto_incol3" width="15%">
                                    <span >
                                      <a href="http://www.plannto.com/external_page?item_id=<%=@item.id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> 
                                    </span>
                                  </td>
                                </tr>
                            <% end %>
                      <%if @path!="onchange"%>
                                        </tbody>
                                      </table>
                                    <div>
                      <%end%>

                    <%else%>
                    <!-- else for only showing offers -->
                      <%= render "products/product_offers_details" %>
                    <%end%>
                      <%if @path=="wheretobuymain"%>
             
                                    </td>
                                  </tr>                      
                                </div>
                              </tbody>          
                            </table>


          <!-- /* for igyaan*/ -->
         <% if (!@publisher.nil? && @publisher.id == 5) %>
         <hr class="separator  separator--subsection">
         <%end%>
                                       <!--
                           <div style="float:right;background:white;">
                                  <span id="plannto_poweredby">Powered By</span>
                                  <span id="plannto_logo"><a href="http://www.plannto.com" style="font:inherit;color:inherit;text-decoration:inherit;">PlannTo.com</a></span>
                              </div>
                            -->
                        <%end%>

      <%end%>