 <% if (!@where_to_buy_items.empty?) %> 
 
    <%if @path =="wheretobuymain" %>
 
         <style type="text/css">
         #plannto_headertd {padding: 5px 10px 0px 0px;margin:0px;font-size:14px;font-weight:bold;color: #129FBD;}
         #plannto_table{border:0px;font-family: Arial;border-collapse: collapse;}
         #plannto_poweredby{font-size:9px;font-weight:bold;color: darkgray;padding-right: 1px;}
         #plannto_logo{padding: 2px;font-size:12px;font-weight:bold;color:darkgray;}
         #plannto_logo:hover{text-decoration: underline;cursor:pointer;}
         #plannto_logo1{color: #129FBD;}
         #plannto_insidediv{padding:7px 10px 10px 10px;background: #EEE;}
         #plannto_intable{background: #FFF;border-collapse:collapse;border:0;}
         #plannto_intr{border-bottom: 1px solid #EEE;height: 40px;background:white;}
         #plannto_intd{font-weight: 700;font-size:12px;color:black;padding-left:5px;padding-right:10px;vertical-align:middle;background:white;}
         .plannto_selector{padding: 3px 12px;border: 1px solid #CCC;width: 100%;border-radius: 2px;font-weight: 700;font-size:12px;font-family: inherit;}
         #plannto_incol1{padding-left: 15px;text-align:left;vertical-align:middle;background:white;}
         #plannto_incol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;}
         #plannto_incol3{padding-right:10px;text-align:center;vertical-align:middle;background:white;}
         #plannto_go_button{margin: 0; background: #12C1E6;  color: #FFF!important;  padding: 5px 8px;  border: 0;  font-size: 12px;font-weight: bold; text-decoration: none;}
         #plannto_footertd{padding-right:10px;vertical-align:middle;height:40px;background: white;}
         #plannto_footertr{background:white;}
         #plannto_footerspan{float:left;padding-left:20px}
         #plannto_footera{font-weight:bold;font-size:13px;text-decoration: underline;color:#535353;}
         #plannto_inheadertr{border-bottom: 1px solid #EEE;height: 35px;background:#FAFAFA;}
         #plannto_inheadercol1{padding-left: 25px;font-weight:bold;font-size:13px;text-align:left;vertical-align:middle;background:#FAFAFA;}
         #plannto_inheadercol2{font-weight:bold;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;}
        
        .shadetabs{padding:0; margin:0; width:100%; list-style-type: none; text-align: left;z-index:-1;}
        .shadetabs li{float:left; padding:0px; margin:0 5px 0 0!important;background: #12c1e6;list-style-type: none!important; }
        .shadetabs li a{ text-decoration: none; font-size:14px; color: #fff!important; text-decoration: none; padding:6px 15px; float:left; display:inline-block; margin:0; text-align:center; }        
        .shadetabs li.selected{ position: relative; margin-top:0px; text-align:center; border-bottom:3px solid #EEE;background: #EEE; list-style-type: none!important;}
        .shadetabs li.selected a{ color:#12c1e6!important;}        


         /* for igyaan*/
         <% if (!@publisher.nil? && @publisher.id == 5) %>
         #plannto_table{border:0px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
         #plannto_headertd {padding: 5px 10px 0px 0px;margin:0px;font-size:13px;color:#07ABE2;font-family: 'Oswald', sans-serif;text-transform: uppercase;font-weight: 300;}
         #plannto_incol2{font-weight:normal;font-size:13px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:white;}
         #plannto_inheadercol1{padding-left: 25px;font-weight:bold;font-size:12px;text-align:left;vertical-align:middle;background:#FAFAFA;font-family: 'Roboto Slab',sans-serif;}
         #plannto_inheadercol2{font-weight:bold;font-size:12px;text-align:center;vertical-align:middle;min-width:80px;color:black;background:#FAFAFA;font-family: 'Roboto Slab',sans-serif;}
         #prodname{font-family: 'Roboto Slab',sans-serif;font-size: 14px;font-weight:normal;}
         .plannto_selector{padding: 3px 12px;border: 1px solid #CCC;width: 100%;border-radius: 2px;font-size:14px;font-family:  'Roboto Slab',sans-serif;;}
       /* #plannto_insidediv{padding:2px 0px 2px 0px;background: #EEE;}*/
         <% end %>
         </style>
        <table width="100%"  id="plannto_table" >
          <tbody style="border:0px;">
            <tr>
              <td id="plannto_headertd">
                
                <ul class="shadetabs">
                  <li class="selected">
             
                <a href="#" id="where_to_buy_items_a" onclick="<%= "PlannTo.wheretobuytabclick(this," + @moredetails+ ",'" + @items.map(&:id).join(",") + "')"%>">Best Prices</a>
                  </li>
                <%if  @moredetails == "true" && (@publisher.nil? or @publisher.id != 5) %>
               <li >

                   <a href="#" id="product_offers" onclick="<%= "PlannTo.offertabclick(this," + @moredetails+ ",'" + @items.map(&:id).join(",") + "')"%>">Best Offers</a> 
                  </li>
                <%end%>  
              </ul>
                
                <!--<span>Best Prices</span>-->
                
                <%if @moredetails == "true" %>
                    <!--
                    
                    <div style="float:right;">
                        <span id="plannto_poweredby">Powered By</span>
                        <span id="plannto_logo">Plann<font id="plannto_logo1">To</font></span>
                    </div>
                  -->
                <%else%>

                <%end%>
      
              </td>
            </tr>
            <tr>
              <td style="padding:0;margin:0;" id="tabreplacement">
                <!-- main where to buy check ends here. -->                
    <%end%>
    
    <%if @path !="onchange"%>
                      <div id="plannto_insidediv">
                          <table id="plannto_intable" width="100%">   
                            <thead style="border:0px;">
                              <tr id="plannto_intr">
                                <td colspan="5" id="plannto_intd" >
                                 <%if @items.size == 1 %>
                                 <div>
                                 <span style="float:left;padding-left: 10px;">
                                 
                                 <img  src="<%=@item.image_url(:small)%>" alt="<%=@item.name%>"  onerror="this.error=null;this.src='<%=@item.base_item_image_url(:small)%>';"/>
                               
                                </span>
                                 <span style="padding-left:5px;padding-top:7px;float:left;" id="prodname">
                                   <%=@item.get_name%>
                                </span>
                                </div>
                                <%else%>
                                <%=select_tag "w_t_b_items",
                                options_for_select(@items.map{|i|[i.name,i.id]}),:onchange=>"PlannTo.onchange_function(this," + @moredetails+ ")",:class=>"plannto_selector" %>
                                <%end%>
                              </td>
                            </tr>
                          </thead>
                          <tbody style="border:0px;" id="where_to_buy_items_onchange">
      <%end%>
                            <%unless @moredetails == "true"  %>
                            <tr id="plannto_inheadertr">
                              <td id="plannto_inheadercol1" width="35%">Seller</td>
                              <td id="plannto_inheadercol2"  width="35%">Price</td>
                              <td width="30%" id="plannto_inheadercol2" >Buy Now</td>
                            </tr>
                            <%else%>
                            <tr id="plannto_inheadertr">
                              <td id="plannto_inheadercol1" width="20%">Seller</td>
                              <td id="plannto_inheadercol2"  width="20%">Price</td>
                              <td id="plannto_inheadercol2"  width="20%">Status</td>
                              <td id="plannto_inheadercol2"  width="25%">Shipping Time</td>
                              <td width="15%" id="plannto_inheadercol2" >Buy Now</td>
                            </tr>
                            <%end%>
                            <%count = 0%>    
                            <% if (!@publisher.nil? && @publisher.id == 5) %>
                                     <% @gotext = "See It" %>
                             <%else%>
                                      <% @gotext = "Go" %>
                             <% end %>

                            <% @where_to_buy_items.group_by(&:site).each do |site, items| %> 
                                <% count = count + 1%>
                                <% unless count > @displaycount %>
                                  <%unless @moredetails == "true"  %>
                                      <tr id="plannto_intr">
                                      <%items.each_with_index do |item, index|%>      
                                        <%if display_item_details(item)%>
                                          <%if index == 0%>
                                            <td id="plannto_incol1" width="35%"> <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>"  style="width:75px;border:0;padding:0;"/> </td>
                                            <td id="plannto_incol2"  width="35%"> <%=display_price_detail(item)%> </td>
                                            <td width="30%" id="plannto_incol3" ><a href="http://www.plannto.com/history_details?detail_id=<%=item.item_details_id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> </td>
                                          <%end%>
                                        <%end%>
                                      <%end%>
                                      </tr>
                                  <% else%>
                                    <tr id="plannto_intr">
                                       <%items.each_with_index do |item, index|%>      
                                          <%if display_item_details(item)%>
                                            <%if index == 0%>
                                              <td id="plannto_incol1" width="20%"> <img class="imagevendor" src="<%= configatron.root_image_url + 'vendor' + '/medium/' + item.image_url%>" alt="<%=item.vendor_name%>"  style="width:75px;border:0;padding:0;"/> </td>
                                              <td id="plannto_incol2" width="20%"> <%=display_price_detail(item)%> </td>
                                              <td id="plannto_incol2" width="20%"><%=display_availability_detail(item)%></td>
                                              <td id="plannto_incol2" width="25%"><%=display_shipping_detail(item)%></td>
                                              <td width="15%" id="plannto_incol3"><a href="http://www.plannto.com/history_details?detail_id=<%=item.item_details_id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> </td>
                                            <%end%>
                                          <%end%>
                                        <%end%> 
                                    </tr>
                                <% end %>      
                              <% end %>   
                            <% end %>
                            <% if count > @displaycount %>
                                <tr style="plannto_footertr">
                                  <%if @moredetails == "true" 
                                    @wrapper="4" 
                                  else 
                                    @wrapper="2" 
                                  end
                                  %>
                                  <td  id="plannto_footertd" colspan="<%=@wrapper%>">
                                    <span id="plannto_footerspan">
                                      <a href="http://www.plannto.com/external_page?item_id=<%=@item.id%>&iid=<%=@impression_id%>" id="plannto_footera" target="_blank">View prices from more retailers</a>
                                    </span>
                                  </td>
                                  <td id="plannto_incol3" width="15%">
                                    <span >
                                      <a href="http://www.plannto.com/external_page?item_id=<%=@item.id%>&iid=<%=@impression_id%>" id="plannto_go_button" target="_blank"><%= @gotext%></a> 
                                    </span>
                                  </td>
                                </tr>
                            <% end %>
                      <%if @path!="onchange"%>
                                        </tbody>
                                      </table>
                      <%end%>
                      <%if @path=="wheretobuymain"%>
             
                                    </td>
                                  </tr>                      
                                </div>
                              </tbody>          
                            </table>
                                       <!--
                           <div style="float:right;background:white;">
                                  <span id="plannto_poweredby">Powered By</span>
                                  <span id="plannto_logo"><a href="http://www.plannto.com" style="font:inherit;color:inherit;text-decoration:inherit;">PlannTo.com</a></span>
                              </div>
                            -->
                        <%end%>

      <%end%>