<div ID="reviewSmallDiv" class="txtAreaDiv" style="padding:5px 5px 5px 5px;">
  <textarea class="textFilling" id="txtArea" placeholder="What do you think of this car?" value="" style="width:580px;height:10px;" ></textarea>
</div>

<div ID="reviewDiv" style="padding:5px 5px 0px 5px;display:none;">
  <%= form_for @review, :remote => true do |f| %>
    <%= f.hidden_field :item_id, :value => item.id %>
    <div class="txtAreaDiv">
      <%= f.text_area :description, :class => "textFilling",:id => "txtAreaExpand",  :style => "width:550px;height:50px;"  %>
    </div>
    <div>

      <div class="productreview">
        <div id="rating">

        </div>
      </div>
    </div>
    <div style="padding:5px 5px 0px 5px;">
      <input id="prosforitem" type="hidden" value="1" name="pros"/>
      <span style="float:right;">
        <%= f.fields_for :cons do |builder| %>
          <%= builder.label :title, "Cons:" %>
          <%= builder.text_field :title , :placeholder=>"Start typing to get recommendations...", :class=>"search"%><input class="button" type="button" name="Submit" value="Add" /><br />
          <%= builder.hidden_field :item_id, :value => item.id %>
        <% end %>
      </span>
      <span >
        <%= f.fields_for :pros do |builder| %>
          <%= builder.label :title, "Pros:" %>
          <%= builder.text_field :title , :placeholder=>"Start typing to get recommendations...", :class=>"search"%><input class="button" type="button" name="Submit" value="Add" /><br />
          <%= builder.hidden_field :item_id, :value => item.id %>
        <% end %>
      </span>
    </div>
    <div style="padding:5px 5px 0px 5px;">
      <%= f.fields_for :best_uses do |builder| %>
        <%= builder.label :title, "Best Uses:" %>
        <%= builder.text_field :title , :placeholder=>"Start typing to get recommendations...", :class=>"search"%><input class="button" type="button" name="Submit" value="Add" /><br />
        <%= builder.hidden_field :item_id, :value => item.id %>
      <% end %>
    </div>
    <div style="padding:5px 5px 0px 5px;">
      Would you recommend this product to your friend<input class="button" type="submit" name="Submit" value="Yes" onclick="divCarName.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
    </div>
    <div style="padding:0px 5px 20px 5px;">
      <a href="index.html">
        <%= f.submit  :value => "Share This Review", :style => "background-color:#006CF9;color:#ffffff;float:right;" %>
      </a>
    </div>
  <% end %>
</div>
