<%- car_groups = @item.car_groups(params[:page], true) %>
<%- car_groups.each do |item| %>
  <div class="feedcontentheader">
    <div class="productcontentmainmini">
      <div>
        <%= link_to({}, :href => car_group_path(item.id)) do %>
          <%= image_tag(get_image_url(item, item.class.name), :title => item.name, :class => "productimage",
                        :style                        => "width:50px;height:50px;") %>
        <% end %>
      </div>
      <div class="producttitlemini">
        <%= link_to item.name, car_group_path(item.id), :class => "feedlink" %>
      </div>
      <div class="productpricemini">
        <%= get_price_range(item) %>
      </div>
      <div class="productreviewmini">
        <img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/star2.gif"/><img src="/assets/white.gif"/>Ratings
        <a class="feedlink">(100 Reviews)</a>
      </div>
      <div class="productspecificationmini">
        <%= item.relateditems.count %> Variants
      </div>
    </div>

  </div>
<%- end %>
<%= paginate car_groups %>