<% if @static_page !="true"%>
<%@allitems = Item.get_popular_items %>
    <% if current_user.blank? || !current_user.is_admin? %>
    <div id="nav">
        <div class="container">
        <ul class="megamenu">
            <li><a href="/" class="home">Home</a></li>
            <li><a href="#" class="">Cars <span><img src="/images/white-arrow.png" alt="" class="downarrow"></span></a>
                <div class="submenu-container">
                    <div class="left-1">
                        <h2><a href="/car/search">Find/Search</a></h2>
                        <ul class="navi_link">
                           <li><a href="/search?search_type=car&sort_by=Rating&7=Hatchback">Top Hatchback</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&7=Sedan">Top Sedans</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&7=SUV/MUV">Top SUVs/MUVs</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&43=Automatic">Top Automatic Cars</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&7=Hatchback&41=Diesel">Top Diesel Hatchback</a></li>

                                <li><a href="/search?search_type=car&sort_by=Rating&min_1=250000&max_1=500000&7=Hatchback">Top Hatchback within Rs 5,00,000</a></li>
                                <li><a href="/search?search_type=car&sort_by=Rating&min_1=700000&max_1=100000&7=Sedan">Top Sedan within Rs 10,00,000</a></li>
                               <li><a href="/search?search_type=car&sort_by=Rating&status=2">Upcoming Cars</a></li>
                        </ul>
                        <h2 class="padding-top"><a href="/items/compare?item_type=Car">Compare</a></h2>
                       <ul class="navi_link">
                           <li><a href="/items/compare?item_type=Car">Compare Cars</a></li>
                       </ul>

                    </div>
                    <div class="left-2">
                        <h2><a href="/cars">Browse Articles</a></h2>
                        <ul class="navi_link">
                            <li><a href="/cars?fl=Reviews">Reviews</a></li>
                             <li><a href="/cars?fl=Deals">Deals & Offers</a></li>
                             <li><a href="/cars?fl=News">Latest News</a></li>
                             <li><a href="/cars?fl=Comparisons">Comparisons</a></li>
                             <li><a href="/cars?fl=Lists">Top 10's</a></li>
                             <li><a href="/cars?fl=HowTo">How To's</a></li>
                             <li><a href="/cars?fl=Travelogue">Travelogues</a></li>
                             <li><a href="/cars?fl=Photo">Photos</a></li>
                       </ul>

                       <h2 class="padding-top">Guides</h2>
                       <ul class="navi_link">
                           <li><a href="/cars/guides/Buyer%20Guides">Buyer's Guides</a></li>
                           <li><a href="/cars/guides/Beginner%20Guides">Begineer's Guides</a></li>
                       </ul>
                    </div>
                    <div class="left-3">
                        <div class="popular-prd">
                            <h2>Popular Cars</h2>
                            <p><img src="/images/car-icon.png" alt="" /></p>
                            <p>
                              <% @allitems.select{|a| configatron.popular_cars.split(",").include? a.id.to_s}.each do |item| %>
                                <a href="<%=item.get_url()%>"> <%= item.name rescue '' %> </a>
                           <%end%>

                               </p>
                        </div>
                    </div>
                    <div class="clr"></div>

                    <!--<div class="popular-prd">
                        <h2>Popular Cars</h2>
                        <a href="#">Honda Amaze Diesel VX</a> | <a href="#">Lamborghini Gallardo Spyder</a> | <a href="#">BMW 3 Series 320i</a> | <a href="#">
                        Audi Q5 2.0 TDI</a> | <a href="#">Maruti Alto 800 LX CNG</a> | <a href="#">Volkswagen Vento Petrol Trendline</a> | <a href="#">Maruti Ertiga LXi
                        </a> | <a href="#">Renault Duster RxE Petrol</a> | <a href="#">Mahindra XUV 500 W6</a> | <a href="#">Toyota Fortuner TRD Sportivo 4x2</a> | <a href="#">
                        Chevrolet Beat PS</a>
                    </div>
                    <div class="clr"></div>-->

                </div><!-- end about menu -->
            </li>
            <li><a href="#" class="">Bikes <span><img src="/images/white-arrow.png" alt="" class="downarrow"></span></a>
                <div class="submenu-container">
                    <div class="left-1">
                        <h2><a href="/bike/search">Find/Search</a></h2>
                        <ul class="navi_link">
                                <li><a href="/bike/search">All Bikes</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&7=Scooter">All Scooters</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Sports">Top Sports Bikes</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Super Sports">Top Super Sports Bikes</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Naked">Top Naked Bikes</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Cruiser">Top Cruiser Bikes</a></li>
                                <li><a href="/search?search_type=bike&sort_by=Rating&295=Touring">Top Touring Bikes</a></li>
                                <li><a href="/bike/search?type=scroll&status=1&sort_by=Rating&min_1=45000&max_1=55000">Top Bikes Around Rs 50,000</a></li>
                        </ul>
                        <h2 class="padding-top"><a href="/items/compare?item_type=Bike">Compare Bikes</a></h2>
                       <ul class="navi_link">
                           <li><a href="/items/compare?item_type=Bike">Compare Bikes</a></li>
                       </ul>

                    </div>
                    <div class="left-2">
                        <h2><a href="/bikes">Browse Articles</a></h2>
                        <ul class="navi_link">
                             <li><a href="/bikes?fl=Reviews">Reviews</a></li>
                             <li><a href="/bikes?fl=Deals">Deals & Offers</a></li>
                             <li><a href="/bikes?fl=News">Latest News</a></li>
                             <li><a href="/bikes?fl=Comparisons">Comparisons</a></li>
                             <li><a href="/bikes?fl=Lists">Top 10's</a></li>
                             <li><a href="/bikes?fl=Travelogue">Travelogues</a></li>
                             <li><a href="/bikes?fl=HowTo">How To's</a></li>
                             <li><a href="/bikes?fl=Photo">Photos</a></li>
                       </ul>

                       <h2 class="padding-top"><a href="/bikes/guides/Buyer%20Guides">Guides</a></h2>
                       <ul class="navi_link">
                            <li><a href="/bikes/guides/Buyer%20Guides">Buyer's Guides</a></li>
                            <li><a href="/bikes/guides/Beginner%20Guides">Begineer Guides</a></li>
                       </ul>
                    </div>
                    <div class="left-3">
                        <div class="popular-prd">
                            <h2>Popular Bikes</h2>
                            <p><img src="/images/bike-icon.png" alt="" /></p>
                            <p>
                                <% @allitems.select{|a| configatron.popular_bikes.split(",").include? a.id.to_s}.each do |item| %>
                                        <a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a>
                                <%end%>
                            </p>
                        </div>
                    </div>

                    <div class="clr"></div>

                </div><!-- end about menu -->
            </li>
            <li><a href="#" class="">Cycles <span><img src="/images/white-arrow.png" alt="" class="downarrow"></span></a>
                <div class="submenu-container">
                    <div class="left-1">
                        <h2><a href="/cycle/search">Find/Search</a></h2>
                        <ul class="navi_link">
                      <li>
                                <a href="/search?search_type=cycle&sort_by=Rating&7=Mountain">All Mountain Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Road">All Road Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Hybrid">All Hybrid Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Folding">All Folding Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=BMX">All BMX Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&7=Kids">All Kids Bikes</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&min_1=10000&max_1=30000&7=Mountain">Mountain Bikes within Rs 30,000</a></li>
                                <li><a href="/search?search_type=cycle&sort_by=Rating&min_1=10000&max_1=30000&7=Road">Road Bikes within Rs 30,000</a></li>
                        </ul>
                        <h2 class="padding-top"><a href="/items/compare?item_type=Cycle">Compare</a></h2>
                       <ul class="navi_link">
                           <li><a href="/items/compare?item_type=Cycle">Compare Cycles</a></li>
                       </ul>

                    </div>
                    <div class="left-2">
                        <h2>Browse Articles</h2>
                        <ul class="navi_link">
                           <li><a href="/cycles?fl=Reviews">Reviews</a></li>
                           <li><a href="/cycles?fl=Deals">Deals & Offers</a></li>
                           <li><a href="/cycles?fl=Comparisons">Comparisons</a></li>
                           <li><a href="/cycles?fl=Lists">Top 10's</a></li>
                           <li><a href="/cycles?fl=HowTo">How To's</a></li>
                           <li><a href="/cycles?fl=Travelogue">Travelogues</a></li>
                           <li><a href="/cycles?fl=Event">Events</a></li>
                           <li><a href="/cycles?fl=Photo">Photos</a></li>
                       </ul>

                       <h2 class="padding-top"><a href="/cycles/guides/Buyer%20Guides">Guides</a></h2>
                       <ul class="navi_link">
                           <li><a href="/cycles/guides/Buyer%20Guides">Buyer's Guides</a></li>
                           <li><a href="/cycles/guides/Beginner%20Guides">Begineer's Guides</a></li>
                       </ul>
                    </div>
                    <div class="left-3">
                        <div class="popular-prd">
                            <h2>Popular Cycles</h2>
                            <p><img src="/images/cycle-icon.png" alt="" /></p>
                            <p>
                                  <% @allitems.select{|a| configatron.popular_cycles.split(",").include? a.id.to_s}.each do |item| %>

                                <a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue '' %> </a>
                           <%end%> </p>
                        </div>
                    </div>

                    <div class="clr"></div>
                </div><!-- end about menu -->
            </li>
            <li><a href="#" class="">Mobiles <span><img src="/images/white-arrow.png" alt="" class="downarrow"></span></a>
                <div class="submenu-container">
                    <div class="left-1">
                        <h2><a href="/mobile/search">Find/Search</a></h2>
                        <ul class="navi_link">
                       <li><a href="/mobile/search">All Mobiles</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&265=Android">Top Android Mobiles</a></li>
                                   <li><a href="/search?search_type=mobile&sort_by=Rating&265=Windows">Top Windows Mobiles</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&min_1=4000&max_1=10000">Top Mobiles under Rs 10,000</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&min_1=10000&max_1=25000">Top Mobiles under Rs 25,000</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&117=5">Top Phablets</a></li>
                                <li><a href="/search?search_type=mobile&sort_by=Rating&status=2">Upcoming Mobiles</a></li>
                        </ul>
                        <h2 class="padding-top"><a href="/items/compare?item_type=Mobile">Compare</a></h2>
                       <ul class="navi_link">
                           <li><a href="/items/compare?item_type=Mobile">Compare Mobiles</a></li>
                       </ul>

                    </div>
                    <div class="left-2">
                        <h2><a href="/mobiles">Browse Articles</a></h2>
                        <ul class="navi_link">
                             <li><a href="/mobiles?fl=Reviews">Reviews</a></li>
                             <li><a href="/mobiles?fl=Deals">Deals & Offers</a></li>
                             <li><a href="/mobiles?fl=Comparisons">Comparisons</a></li>
                             <li><a href="/mobiles?fl=Lists">Top 10's</a></li>
                             <li><a href="/mobiles?fl=HowTo">How To's</a></li>
                             <li><a href="/mobiles?fl=Apps">Apps</a></li>
                             <li><a href="/mobiles?fl=Photo">Photos</a></li>                          </ul>

                       <h2 class="padding-top"><a href="/mobiles/guides/Buyer%20Guides">Guides</a></h2>
                       <ul class="navi_link">
                            <li><a href="/mobiles/guides/Buyer%20Guides">Buyer's Guides</a></li>
                         <li><a href="/mobiles/guides/Beginner%20Guides">Begineer's Guides</a></li>
                       </ul>
                    </div>
                    <div class="left-3">
                        <div class="popular-prd">
                            <h2>Popular Mobiles</h2>
                            <p><img src="/images/mobile-icon.png" alt="" /></p>
                             <p>     <% @allitems.select{|a| configatron.popular_mobiles.split(",").include? a.id.to_s}.each do |item| %>
                               <a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a>
                                <%end%> </p>
                        </div>
                    </div>

                    <div class="clr"></div>
                </div><!-- end about menu -->
            </li>
            <li><a href="#" class="">Tablets <span><img src="/images/white-arrow.png" alt="" class="downarrow"></span></a>
                <div class="submenu-container">
                    <div class="left-1">
                        <h2><a href="/tablet/search">Find/Search</a></h2>
                        <ul class="navi_link">
                                <li><a href="/tablet/search">All Tablets</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&265=Android">Top Android Tablets</a></li>

                                <li><a href="/search?search_type=tablet&sort_by=Rating&min_1=4000&max_1=10000">Top Tablets under Rs 10,000</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&min_1=10000&max_1=15000">Top Tablets under Rs 15,000</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&min_1=15000&max_1=25000">Top Tablets under Rs 25,000</a></li>
                                <li><a href="/search?search_type=tablet&sort_by=Rating&status=2">Upcoming Tablets</a></li>
                        </ul>
                        <h2 class="padding-top"><a href="/items/compare?item_type=Tablet">Compare</a></h2>
                       <ul class="navi_link">
                           <li><a href="/items/compare?item_type=Tablet">Compare Tablets</a></li>
                       </ul>

                    </div>
                    <div class="left-2">
                        <h2><a href="/tablets">Browse Articles</a></h2>
                        <ul class="navi_link">
                             <li><a href="/tablets?fl=Reviews">Reviews</a></li>
                             <li><a href="/tablets?fl=Deals">Deals & Offers</a></li>
                             <li><a href="/tablets?fl=Apps">Apps</a></li>
                                 <li><a href="/tablets?fl=Comparisons">Comparisons</a></li>
                             <li><a href="/tablets?fl=Lists">Top 10's</a></li>
                             <li><a href="/tablets?fl=HowTo">How To's</a></li>
                             <li><a href="/tablets?fl=Photo">Photos</a></li>
                       </ul>

                       <h2 class="padding-top"><a href="/tablets/guides/Buyer%20Guides">Guides</a></h2>
                       <ul class="navi_link">
                          <li><a href="/tablets/guides/Buyer%20Guides">Buyer's Guides</a></li>
                         <li><a href="/tablets/guides/Beginner%20Guides">Begineer's Guides</a></li>

                       </ul>
                    </div>
                    <div class="left-3">
                        <div class="popular-prd">
                            <h2>Popular Tablets</h2>
                            <p><img src="/images/tablet-icon.png" alt="" /></p>
                            <p> <% @allitems.select{|a| configatron.popular_tablets.split(",").include? a.id.to_s}.each do |item| %>
                                    <a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a>
                                <%end%></p>
                        </div>
                    </div>

                    <div class="clr"></div>
                </div><!-- end about menu -->
            </li>
              <li><a href="#" class="">Cameras <span><img src="/images/white-arrow.png" alt="" class="downarrow"></span></a>
                <div class="submenu-container">
                    <div class="left-1">
                        <h2><a href="/camera/search">Find/Search</a></h2>
                        <ul class="navi_link">
                             <li><a href="/search?search_type=camera&sort_by=Rating&7=SLR">All SLRs</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&7=Point%20%26%20Shoot">All Point & Shoot</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&7=Mirrorless">All Mirrorless</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&295=Ultracompact">All Sleek Compact Cameras</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&7=Point%20%26%20Shoot&183=10">Top High Zoom Compacts</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&295=Compact SLR">Top Entry Level SLR Cameras</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&295=Mid-size SLR">Top Semi Pro SLR Cameras</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&295=SLR-like (bridge) ">Top SLR Style Bridge Cameras</a></li>
                                <li><a href="/search?search_type=camera&sort_by=Rating&302=True">Top WaterProof Cameras</a></li>
                        </ul>
                        <h2 class="padding-top"><a href="/items/compare?item_type=Camera">Compare</a></h2>
                       <ul class="navi_link">
                           <li><a href="/items/compare?item_type=Camera">Compare Cameras</a></li>
                       </ul>
                    </div>
                               <div class="left-2">
                        <h2><a href="/cameras">Browse Articles</a></h2>
                        <ul class="navi_link">
                             <li><a href="/cameras?fl=Reviews">Reviews</a></li>
                             <li><a href="/cameras?fl=Deals">Deals & Offers</a></li>
                                 <li><a href="/cameras?fl=Comparisons">Comparisons</a></li>
                             <li><a href="/cameras?fl=Lists">Top 10's</a></li>
                             <li><a href="/cameras?fl=Apps">Apps</a></li>
                             <li><a href="/cameras?fl=HowTo">How To's</a></li>
                             <li><a href="/cameras?fl=Photo">Photos</a></li>
                       </ul>

                       <h2 class="padding-top"><a href="/cameras/guides/Buyer%20Guides">Guides</a></h2>
                       <ul class="navi_link">
                          <li><a href="/cameras/guides/Buyer%20Guides">Buyer's Guides</a></li>
                         <li><a href="/cameras/guides/Beginner%20Guides">Begineer's Guides</a></li>

                       </ul>
                    </div>
                    <div class="left-3">
                        <div class="popular-prd">
                            <h2>Popular Cameras</h2>
                            <p><img src="/images/tablet-icon.png" alt="" /></p>
                            <p> <% @allitems.select{|a| configatron.popular_cameras.split(",").include? a.id.to_s}.each do |item| %>
                                    <a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a>
                                <%end%></p>
                        </div>
                    </div>

                    <div class="clr"></div>
                </div><!-- end about menu -->
            </li>
          <!-- end about menu -->

        </ul>
        <div class="clr"></div>
        </div>
    </div><!-- end of nav div -->

    <% end %>

<%= javascript_include_tag src="/javascripts/jquery.megamenu.js" %>
<script>
jQuery(document).ready(function() {
        var SelfLocation = window.location.href.split('?');
        switch (SelfLocation[1]) {
          case "justify_right":
            jQuery(".megamenu").megamenu({ 'justify':'right' });
            break;
          case "justify_left":
          default:
            jQuery(".megamenu").megamenu();
        }
      });

</script>

 <%end%>
