<ul id="Megadropdown">
   <li>
        <span><a href="/cars">Cars</a></span>
        <div class="Divmain"></div>
            <div class="dropdown_4columns">
                <div class="col_1">
                    <ul>
                         <li>
                            <a href="/car/search">Browse Cars</a>
                            <ul>
                                <li><a href="/car/search">All Cars</a></li>
                                <li><a href="#">Latest Cars</a></li>
                            </ul>
                        </li>
                        <li><a href="/cars">Browse Articles</a>
                        <ul>
                         <li><a href="/cars">All</a></li>
                         <li><a href="/cars?fl=Reviews">Reviews</a></li>
                         <li><a href="/cars?fl=Travelogue">Travelogue</a></li>
                         <li><a href="/cars?fl=Accessories">Accessories</a></li>
                         <li><a href="/cars?fl=Tips">Tips</a></li>
                         <li><a href="/cars?fl=HowTo">How Tos/Guide</a></li>
                         </ul>
                        </li>
                    </ul>   
                    <%if user_signed_in? %>
                     <ul>
                         <li>
                            <a href="<%="/"+ "#{current_user.username}"%>">My Garage</a>
                        </li>
                     </ul>
                     <%end%>
                </div>

        <!--         <div class="col_2">
                    <ul>
                        <li><a href="/Profile">My Feeds </a></li>
                        <li><a href="/Profile">My Garage</a> </li>
                        <li><a href="/Profile">My Reviews</a></li>
                        <li><a href="/Profile">My Questions</a></li>
                        <li><a href="/Profile">My Advices</a></li>
                        <li><a href="/Profile">My Buying Plan</a></li>
                    </ul>   
                </div> -->              
                  <div class="Topcarcol">
                    <ul>
                        <li><a href="#">Popular Cars</a>
                            <ul>
                               <% Item.popular_items("Car").each do |item| %> 
                                <li><a href="<%=item.get_url()%>"> <%= item.name rescue '' %> </a></li>
                           <%end%>    
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
    </li>
    <li>
        <span><a href="/bikes">Bikes</a></span>
        <div class="Divmain"></div>
            <div class="dropdown_4columns">
                <div class="col_1">
                    <ul>
                         <li>
                            <a href="/bike/search">Browse Bikes</a>
                            <ul>
                                <li><a href="/bike/search">All Bikes</a></li>
                                <li><a href="#">Latest Bikes</a></li>
                            </ul>
                        </li>
                        <li><a href="/bikes">Browse Articles</a>
                        <ul>
                         <li><a href="/bikes">All</a></li>
                         <li><a href="/bikes?fl=Reviews">Reviews</a></li>
                         <li><a href="/bikes?fl=Travelogue">Travelogue</a></li>
                         <li><a href="/bikes?fl=Accessories">Accessories</a></li>
                         <li><a href="/bikes?fl=Tips">Tips</a></li>
                         <li><a href="/bikes?fl=HowTo">How Tos/Guide</a></li>
                         </ul>
                        </li>
                    </ul>   
                    <%if user_signed_in? %>
                     <ul>
                         <li>
                            <a href="<%="/"+ "#{current_user.username}" + "?follow=Bike"%>">My Garage</a>
                        </li>
                     </ul>
                     <%end%>
                </div>

        <!--         <div class="col_2">
                    <ul>
                        <li><a href="/Profile">My Feeds </a></li>
                        <li><a href="/Profile">My Garage</a> </li>
                        <li><a href="/Profile">My Reviews</a></li>
                        <li><a href="/Profile">My Questions</a></li>
                        <li><a href="/Profile">My Advices</a></li>
                        <li><a href="/Profile">My Buying Plan</a></li>
                    </ul>   
                </div> -->              
                  <div class="Topcarcol">
                    <ul>
                        <li><a href="#">Popular Bikes</a>
                            <ul>
                                 <% Item.popular_items("Bike").each do |item| %> 
                                  
                                <li><a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a></li>
                           <%end%> 
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
    </li>
     <li>
        <span><a href="/cycles">Cycles</a></span>
        <div class="Divmain"></div>
            <div class="dropdown_4columns">
                 <div class="col_1">
                    <ul>
                         <li>
                            <a href="/cycle/search">Browse Cycles</a>
                            <ul>
                                <li><a href="/cycle/search">All Cycles</a></li>
                                <li><a href="#">Latest Cycles</a></li>
                            </ul>
                        </li>
                        <li><a href="/cycles">Browse Articles</a>
                        <ul>
                         <li><a href="/cycles">All</a></li>
                         <li><a href="/cycles?fl=Reviews">Reviews</a></li>
                         <li><a href="/cycles?fl=HowTo">How Tos/Guide</a></li>
                         <li><a href="/cycles?fl=Travelogue">Travelogue</a></li>
                         <li><a href="/cycles?fl=Accessories">Accessories</a></li>
                         <li><a href="/cycles?fl=Events">Events</a></li>                         
                         </ul>
                        </li>
                    </ul>   
                    <%if user_signed_in? %>
                     <ul>
                         <li>
                            <a href="<%="/"+ "#{current_user.username}" + "?follow=Cycle"%>">My Garage</a>
                        </li>
                     </ul>
                     <%end%>
                </div>

        <!--         <div class="col_2">
                    <ul>
                        <li><a href="/Profile">My Feeds </a></li>
                        <li><a href="/Profile">My Garage</a> </li>
                        <li><a href="/Profile">My Reviews</a></li>
                        <li><a href="/Profile">My Questions</a></li>
                        <li><a href="/Profile">My Advices</a></li>
                        <li><a href="/Profile">My Buying Plan</a></li>
                    </ul>   
                </div> -->              
                  <div class="Topcarcol">
                    <ul>
                        <li><a href="#">Popular Cycles</a>
                            <ul>
                                 <% Item.popular_items("Cycle").each do |item| %> 
                                 
                                <li><a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue '' %> </a></li>
                           <%end%> 
                                            
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
    </li>
     <li>
        <span><a href="/mobiles">Mobiles</a></span>
        <div class="Divmain"></div>
            <div class="dropdown_4columns">
                <div class="col_1">
                         <ul>
                         <li>
                            <a href="/mobile/search">Browse Mobiles</a>
                            <ul>
                                <li><a href="/mobile/search">All Mobiles</a></li>
                                <li><a href="#">Latest Mobiles</a></li>
                            </ul>
                        </li>
                        <li><a href="/mobiles">Browse Articles</a>
                        <ul>
                         <li><a href="/mobiles">All</a></li>
                         <li><a href="/mobiles?fl=Reviews">Reviews</a></li>
                         <li><a href="/mobiles?fl=Apps">Apps</a></li>
                         <li><a href="/mobiles?fl=Accessories">Accessories</a></li>
                         <li><a href="/mobiles?fl=HowTo">How Tos/Guide</a></li>
                         <li><a href="/mobiles?fl=Tips">Tips</a></li>                         
                         </ul>
                        </li>
                    </ul>   
                    <%if user_signed_in? %>
                     <ul>
                         <li>
                            <a href="<%="/"+ "#{current_user.username}" + "?follow=Mobile"%>">My Gadget Box</a>
                        </li>
                     </ul>
                     <%end%>
                </div>

        <!--         <div class="col_2">
                    <ul>
                        <li><a href="/Profile">My Feeds </a></li>
                        <li><a href="/Profile">My Garage</a> </li>
                        <li><a href="/Profile">My Reviews</a></li>
                        <li><a href="/Profile">My Questions</a></li>
                        <li><a href="/Profile">My Advices</a></li>
                        <li><a href="/Profile">My Buying Plan</a></li>
                    </ul>   
                </div> -->              
                  <div class="Topcarcol">
                    <ul>
                        <li><a href="#">Popular Mobiles</a>
                            <ul>
                               <% Item.popular_items("Mobile").each do |item| %> 
                               <li><a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a></li>      
                                <%end%>  
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
    </li>
    <li>
        <span><a href="/tablets">Tablets</a></span>
        <div class="Divmain"></div>
            <div class="dropdown_4columns">
                <div class="col_1">
                         <ul>
                         <li>
                            <a href="/tablet/search">Browse Tablets</a>
                            <ul>
                                <li><a href="/tablet/search">All Tablets</a></li>
                                <li><a href="#">Latest Tablets</a></li>
                            </ul>
                        </li>
                        <li><a href="/tablets">Browse Articles</a>
                        <ul>
                         <li><a href="/tablets">All</a></li>
                         <li><a href="/tablets?fl=Reviews">Reviews</a></li>
                         <li><a href="/tablets?fl=Apps">Apps</a></li>
                         <li><a href="/tablets?fl=Accessories">Accessories</a></li>
                         <li><a href="/tablets?fl=HowTo">How Tos/Guide</a></li>
                         <li><a href="/tablets?fl=Tips">Tips</a></li>                         
                         </ul>
                        </li>
                    </ul>   
                    <%if user_signed_in? %>
                     <ul>
                         <li>
                            <a href="<%="/"+ "#{current_user.username}" + "?follow=Tablet"%>">My Gadget Box</a>
                        </li>
                     </ul>
                     <%end%>
                </div>

        <!--         <div class="col_2">
                    <ul>
                        <li><a href="/Profile">My Feeds </a></li>
                        <li><a href="/Profile">My Garage</a> </li>
                        <li><a href="/Profile">My Reviews</a></li>
                        <li><a href="/Profile">My Questions</a></li>
                        <li><a href="/Profile">My Advices</a></li>
                        <li><a href="/Profile">My Buying Plan</a></li>
                    </ul>   
                </div> -->              
                  <div class="Topcarcol">
                    <ul>
                        <li><a href="#">Popular Tablets</a>
                            <ul>
                                    <% Item.popular_items("Tablet").each do |item| %> 
                                    <li><a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue ''%> </a></li>      
                                <%end%>  
                                            
                            </ul>
                        </li>
                    </ul> 
                </div>
            </div>
    </li>
      <li>
        <span><a href="/cameras">Cameras</a></span>
        <div class="Divmain"></div>
            <div class="dropdown_4columns">
                <div class="col_1">
                         <ul>
                         <li>
                            <a href="/camera/search">Browse Cameras</a>
                            <ul>
                                <li><a href="/camera/search">All Cameras</a></li>
                                <li><a href="#">Latest Cameras</a></li>
                            </ul>
                        </li>
                        <li><a href="/cameras">Browse Articles</a>
                        <ul>
                         <li><a href="/cameras">All</a></li>
                         <li><a href="/cameras?fl=Reviews">Reviews</a></li>
                         <li><a href="/cameras?fl=Apps">Apps</a></li>
                         <li><a href="/cameras?fl=Accessories">Accessories</a></li>
                         <li><a href="/cameras?fl=HowTo">How Tos/Guide</a></li>
                         <li><a href="/cameras?fl=Tips">Tips</a></li>                         
                         </ul>
                        </li>
                    </ul>   
                    <%if user_signed_in? %>
                     <ul>
                         <li>
                            <a href="<%="/"+ "#{current_user.username}" + "?follow=Camera"%>">My Camera Bag</a>
                        </li>
                     </ul>
                     <%end%>
                </div>

        <!--         <div class="col_2">
                    <ul>
                        <li><a href="/Profile">My Feeds </a></li>
                        <li><a href="/Profile">My Garage</a> </li>
                        <li><a href="/Profile">My Reviews</a></li>
                        <li><a href="/Profile">My Questions</a></li>
                        <li><a href="/Profile">My Advices</a></li>
                        <li><a href="/Profile">My Buying Plan</a></li>
                    </ul>   
                </div> -->              
                  <div class="Topcarcol">
                    <ul>
                        <li><a href="#">Popular Cameras</a>
                            <ul>
                                   <% Item.popular_items("Camera").each do |item| %> 
                                     <li><a href="<%= item.get_url() rescue ''%>"> <%= item.name rescue'' %> </a></li>      
                                <%end%>  
                            </ul>
                        </li>
                    </ul> 
                </div>
            </div>
    </li>
     <div style="float:right;padding:0px 30px 0px 0px;">
       <dl>
        <div><%= link_to "My feeds", "#",:id => "my_feeds" %></div>
       </dl>
     </div>
     
</ul>-->  
     
 <script>
  $("#my_feeds").click(function(){
  <%if current_user %>
     window.location.href='/my_feeds?item_type=All'
    <%else%>
      $('#login-feed').dialog({modal: true,height: 600,width: 350 }); 
  	   $('.Close_dialog').show();
  	   $('.ui-dialog-titlebar').hide();
  	 <%end%>  
    
  });
  </script>   
