!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= yield(:title) + "PlannTo"
    
    %meta{:name => "description", :content=>yield(:description)}
    %meta{:property => 'og:image', :content=>yield(:image)}
    %meta{:property => 'og:title', :content=>yield(:title) + "PlannTo"}
    %meta{:property => 'og:description', :content=>yield(:description)}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '/stylesheets/plannto.css'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"
    = javascript_include_tag 'application'
    %link(rel="shortcut icon" href="/images/logosc.png" type="image/x-icon")
    %script{:src => "/javascripts/Placeholders.js", :type => "text/javascript"}
    %script{:src => "/javascripts/layout.js", :type => "text/javascript"}
    %body   
      = render 'shared/header_links'
      #dialog-form{:style => "display:none;"}
        #login
          = render "/shared/login_dialog"
          .Dontsignup
            Don't have an account. 
            = link_to "Sign up now" ,"#", :onclick =>"$('#sign_up_dialog_1').show();$('#login').hide();"
        #sign_up_dialog_1{:style => "display:none;"}
          = render "/shared/signup_dialog"
          .Dontsignup
            Do you have an account. 
            =link_to "Sign in now" ,"#", :onclick =>"$('#sign_up_dialog_1').hide();$('#login').show();"        
          = render "shared/signup_popup"
      #dialog-form-google-search{:style => "display:none;"}
       
        #sign_up_dialog_1_google_search{:style => "display:none;"}
          = render "/shared/signup_dialog_google_search"
           
      #login-feed{:style => "display:none;"}
        #login-1
          = render "/shared/login_dialog"
          .Dontsignup
            Don't have an accoun. 
            = link_to "Sign up now" ,"#", :onclick =>"$('#sign_up_dialog_2').show();$('#login-1').hide();"
        #sign_up_dialog_2{:style => "display:none;"}
          = render "/shared/signup_dialog"
          .Dontsignup
            Do you have an account. 
            =link_to "Sign in now" ,"#", :onclick =>"$('#sign_up_dialog_2').hide();$('#login-1').show();"        
       
      #report_no_item    
    #maincontainer.maincontainerCss
      .breadcrumpbtnDiv
        = yield
        / This will go into main layout
      %br/
      .footerdiv
        = render 'shared/footer'
        %div{:style => "display:none;"}
          = render "shared/login_dialog", :item => @item
      #sign_up_dialog{:style => "display:none"}
        #login1{:style => "display:none;"}
          = render "shared/login_dialog"
          .Dontsignup
            Don't have an account. 
            = link_to "Sign up now" ,"#", :onclick =>"$('#sign_up_dialog2').show();$('#login1').hide();"
        #sign_up_dialog2
          = render "/shared/signup_dialog"
          .Dontsignup
            Do you have an account. 
            = link_to "Sign in now" ,"#", :onclick =>"$('#sign_up_dialog2').hide();$('#login1').show();"
            
      = render("shared/google_analytics") if Rails.env.production?
      = render 'shared/show_hide_login_form', :item => "" 
    - unless user_signed_in?
      :javascript
        $("div.rate_content a").click(function(e){
          if (login_flag != true){
            $("#login-1 #click_message").html("#{escape_javascript(render(:partial => "shared/login_popup_message",:locals=>{:type => "vote"})).html_safe}");
          
            openLoginPopup("#" +$(this).attr('id'), "click");
            return false
          }
        })

        $("form.new_comment").keyup(function(e){
          if (login_flag != true){
            $("#login-1 #click_message").html("#{escape_javascript(render(:partial => "shared/login_popup_message",:locals=>{:type => "comment"})).html_safe}");
            openLoginPopup("#" + $(this).attr('id'), "submit");
            return false
          }
        })
    :javascript
      $(document).ready(function() {
      Placeholders.init();
      });  
    /= render 'shared/referer_url_signup_popup'        
