<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>PlannTo - Empowered Customers</title>
    <%= javascript_include_tag 'root_page' %>
    <%= csrf_meta_tags %>
    <link type="text/css" href="/stylesheets/plannto.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
    <link type="text/css" href="/javascripts/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/jslider/jquery.dependClass.js"></script>
   	<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.14.custom/js/jquery.idTabs.min.js"></script>
  	<script type="text/javascript">
  		$(document).ready(function(){

    $("#ui-active-menuitem").mouseout(function() {
        $("#ui-active-menuitem").hide();
    });

    $('#plannToSearch').focus(function(){
        $(this).val('');
        $(this).keydown();
    });


    $.ui.autocomplete.prototype._renderMenu = function(ul, items) {
        var self = this;
        $.each(items, function(index, item) {
            self._renderItem(ul, item, index);
        });
        item = {
            value: "Search more items...",
            id: "0",
            imgsrc: ""
        }
        self._renderItem(ul, item, -1);
    };

    $("#plannToSearch").autocomplete({
        minLength: 2,
        format: "js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source: function( request, response )
        {
            var opts = {
                lines: 12, // The number of lines to draw
                length: 5, // The length of each line
                width: 4, // The line thickness
                radius: 5, // The radius of the inner circle
                color: '#2EFE9A', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 50, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('plannToSearchSpan');
            var spinner = new Spinner(opts).spin(target);
            $.ajax(
            {
                url: "/search/autocomplete_items",
                data: {
                    term: request.term,
                    search_type: $("#plannto_search_type").val()
                },
                type: "get",
                dataType: "json",
                success: function( data )
                {
                    response( $.map( data, function( item )
                    {
                        return{
                            id: item.id,
                            value: item.value,
                            imgsrc: item.imgsrc,
                            type: item.type,
                            url: item.url
                        }
                    }));
                    spinner.stop();
                }
            });
        },
        focus:function(e, ui) {
            return false
        },
        select: function( event, ui ) {
            if (ui.item.id  == 0){
                location.href = "/search/search_items?q=" + $("#plannToSearch").val();
            // return false;
            }
            else{
                location.href = "" + ui.item.url
            // return false;
            }
        // return false;
        }
    })
    $("#plannToSearch").data("autocomplete")._renderItem = function(ul, item, index) {
        if (index == -1) {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a class='searchMore'>" + item.value + "" + "</a>")
            .appendTo(ul);
        }
        else {
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
            .appendTo(ul);
        }
    };

});
  	</script>
  </head>
  <body style="padding-bottom: 0px;" class="body">
    <div id="fb-root"></div>
    <p class="notice"><%= notice %></p>

    <p class="alert"><%= alert %></p>

    <div id="container">
      <%= render 'shared/header_links' %>
      <div id="dialog-form" title="Create new user">
        <%= render "shared/login_dialog"%>
        <%= render 'shared/show_hide_login_form', :item => "" %>
      </div>

      <%= yield %>

    </div>

    <%= render 'shared/footer'  %>

  </body>
</html>


