<div class="items_list1" style="clear:both;">
  <% items.each do |follow| %>
    <% item = follow.followable %>
    <div class="product" id="product_<%= item.id %>" style="width:90px;">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <a href="<%= link_url(item) %>">
            <img src='<%= item.image_url %>' height="50" width="80">
          </a>
          <%= link_to(follow_item_type_item_path(item, :follow_type => follow.follow_type, :unfollow => true, :profile => true), :remote => true) do %>
            
          <% end %>
        </div>
                     <br />
                     <br />
                   <!-- <span class="imgtextspan" style="padding:0px 0px 40px 0px;">
                      <%= link_to item.name, link_url(item), :class => "produ_bgimg" , :style=>"width:75px;" %>
                    </span> -->
      </div>

      <!--<a class="<%= follow_types_classes(follow.follow_type) %>" style=" font:bold 11px/22px arial; color:#fff;"><%= get_the_follow_text(follow.follow_type) %></a> -->
    </div>
  <% end rescue "" %>
</div>
<div id="plantobuyPaginate">
<%= will_paginate items if items.respond_to? :total_pages, :page_links => true %>
</div>
