<br/>
  <% @buying_plans.each do |buying_plan| %>

  <div width="735" border="0" cellspacing="0" cellpadding="0" style="padding-top:10px;clear:both;" id="buyingPlanItem<%=buying_plan.id%>">
      <div class="img_product float_lft" style="width:180px;"><img src="" width="150" height="75" onclick="parent.location='<%#=link_url(item)%>'" /></div>
      <div class="float_rgt" style="width:520px;">
        <a style="float:inherit;" href="<%=buying_plan.preference_page_url%>"> Edit Buying Plan</a><br/>
        <a style="float:right;" onclick="deleteBuyingPlan('<%=buying_plan.id%>')" ><%=buying_plan.id%>Delete</a>
         <span>
          <h1><a class="productTitle" href="<%=buying_plan.preference_page_url%>"><%=buying_plan.try(:user_question).try(:title)%></a></h1>
        </span>
        <span class="float_rgt" style="display:inline;">
         </span>
      </div>
      <div style="border-bottom: solid 1px #CCCCCC;clear:both;padding-top:10px;"></div>
    </div>

       <%end%>  
<script type="text/javascript">
  function deleteBuyingPlan(buying_plan_id){
    $.ajax(
    {
      url: "/preferences/delete_buying_plan",
      data: {
        id: buying_plan_id
      },
      type: "GET",
      dataType: "script",
      success: function( data )
      {
        var id = "buyingPlanItem" + buying_plan_id;
        $("#" + id).remove();
      }
    });
    return false
  }
  </script>

