<div class=""><span><h2>Add <%= @follow_types.first %> that you own to your profile</h2></span>
  <!--  <span class="txt_normal">[Cars that you own, had or following it]</span>-->
          <span>
            <input name="search" type="text" class="search_inputfield" placeholder="Search <%= params[:follow]%>" id="search_car"/>
            <%=select_tag "types",
                  options_for_select([["I Own it", "owner"], ["Plan to Buy", "buyer"], ["Follow this car", "follower"]]) %>
            <a style="border:solid 0px; left:left; width:21px; height:21px; float:left; margin:5px;"><img src="images/icon_search_gray.png"/></a>
          </span>
</div>

<div class="items_list" style="clear:both;">
  <% items.each do |follow| %>
    <% item = follow.followable %>
    <div class="product" id="product_<%= item.id %>">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <a href="<%= link_url(item) %>">
            <img src='<%= item.image_url %>' height="120" width="160">
          </a>
          <%= link_to(follow_item_type_item_path(item, :follow_type => follow.follow_type, :unfollow => true, :profile => true), :remote => true) do %>
            <img class="closeimg" alt="" src="images/icon_close.png" onmouseover="this.src='images/icon_close_hover.png'" onmouseout="this.src='images/icon_close.png'">
          <% end %>
        </div>
                    <span class="imgtextspan">
                      <%= link_to item.name, link_url(item), :class => "produ_bgimg" %>
                    </span>
      </div>

      <a class="<%= follow_types_classes(follow.follow_type) %>" style=" font:bold 11px/22px arial; color:#fff;"><%= get_the_follow_text(follow.follow_type) %></a>
    </div>
  <% end rescue "" %>
</div>

<%= will_paginate items, :page_links => true %>
<% category = (params[:follow].blank? || params[:follow] == "Cars") ? "Car" : params[:follow] %>
<%= hidden_field_tag "category", category %>
<script type="text/javascript">
    window._token = '<%= form_authenticity_token.to_s %>';
</script>


