<div class="ui-widget Blockheading">
  <div class="Headingtext">
  Add <%if  @follow_types.first == "Apps" ||  @follow_types.first == "Accessories" %> 
   <%= @follow_types.first %> 
   <%else%> Product <%end%> to your profile </div>
   
   <div class="Searchform">
       <input type="text" placeholder="Search <%= params[:follow]%>" id="search_item" /> 
       <input name="" type="button" class="Searchbut"/> 
   </div>  
  <div class="Searchform" style="">   

     
    <%= form_for(Follow.new , :html=>{class: 'follow_form'}) do |f| %>
       <%=f.select :follow_type, options_for_select([["I Own it", "owner"], ["Plan to Buy", "buyer"], 
                                                     ["Follow this car", "follower"]]) %>
       <%= f.hidden_field :followable_id %>
       <%= f.hidden_field :followable_type %>         
             
     <%end%>
     
  </div>
  <input id="search_car" type='hidden'/><!--TODO If removed autocomplete is not working for above field. Should find y -->
</div>
 
 
<div class="Searchlisting" style="clear:both;">
  <% items.each do |follow| %>

    <% unless follow.content?(follow.followable_type) %>
      <% item = follow.followable %>
      <div class="product" id="product_<%= item.id %>">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="width:160px;height:120px;display:block;">
          <%= link_to image_tag(item.image_url, height: "120", width: "160"), link_url(item)%>
           <%= link_to(follow_item_type_item_path(item, :follow_type => follow.follow_type, :unfollow => true, :profile => true), :remote => true) do %>
         </div>
         <!--
          <img class="closeimg" alt="" src="images/icon_close.png" onmouseover="this.src='images/icon_close_hover.png'" onmouseout="this.src='images/icon_close.png'">
        -->
          <% end %>
        </div>
        <span class="imgtextspan">
            <%= link_to item.name, link_url(item), :class => "produ_bgimg" ,:style=>"width:155px;"%>
        </span>
      </div>
        <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                      <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= get_the_follow_text(follow.follow_type) %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a> 
                      <% if @user == current_user %>
                        <ul class="dropdown-menu">
                          <li><a href="#" id='write_review'><i class="icon-pencil"></i> Add a Review</a></li>
                          <li><a href="#" id='add_info'><i class="icon-trash"></i> Add additional information</a></li>
                          <li><a href="#"><i class="icon-ban-circle"></i> Add a Tip</a></li>
                          <li class="divider"></li>
                          <li><%= link_to 'Delete from my profile', follow, :method => :delete, :confirm => "Are you sure?"  %> </li>
                        </ul>
                      <% else %>
                       <%= render 'shared/follow_links', {:item => item} %>
                      <%end%>
                    </div></td>
              </tr>
            </table>
            
            <div id='write_review_form' style="display:none;">
              <%@item = item %>
              <%= render  'reviews/review_subcontainer', :item => @item%>
            </div>
            
            <div id='add_item_info' style="display:none;">
               <%= render 'shared/feilds_data_for_answer', {:item => @item} %>
            </div>   
          </div>    
      </div>
    <%else%><!--It is a content type follow. so handle differently-->
      <% content = follow.content_followable %>
      <div class="product" id="product_<%= content.id %>">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="width:120px;height:90px;display:block;">
          <%= link_to image_tag(content.thumbnail, height: "90", width: "120"),  content_path(content) %>
          </div>
          <%= link_to(follow_item_type_item_path(content, :follow_type => follow.follow_type, :unfollow => true, :profile => true), :remote => true) do %>
          <!--<img class="closeimg" alt="" src="images/icon_close.png" onmouseover="this.src='images/icon_close_hover.png'" onmouseout="this.src='images/icon_close.png'">-->
          <% end %>
        </div>
        <span class="imgtextspan" >
            <%= link_to content.title, content_path(content), :class => "produ_bgimg", :style=>"width:115px;"%>
        </span>
      </div>
      <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                      <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= get_the_follow_text(follow.follow_type) %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
                      <% if @user == current_user %>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="icon-pencil"></i> Add a comment</a></li>
                          <li class="divider"></li>
                          <li><%= link_to 'Delete from my profile', follow, :method => :delete, :confirm => "Are you sure?"  %></li>
                        </ul>
                      <%end%>
                        
                    </div></td>
              </tr>
            </table>
          </div>
      
    </div>
    <%end%>
  <% end  %>


<%= will_paginate @followitems %>
<% category = (params[:follow].blank? || params[:follow] == "Cars") ? "Car" : params[:follow] %>
<%= hidden_field_tag "category", category %>
<script type="text/javascript">
  window._token = '<%= form_authenticity_token.to_s %>';
    /* ============================================================
 * bootstrap-dropdown.js v2.0.4
 * http://twitter.github.com/bootstrap/javascript.html#dropdowns
 * ============================================================
 * Copyright 2012 Twitter, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ============================================================ */


!function ($) {

  "use strict"; // jshint ;_;


 /* DROPDOWN CLASS DEFINITION
  * ========================= */

  var toggle = '[data-toggle="dropdown"]'
    , Dropdown = function (element) {
        var $el = $(element).on('click.dropdown.data-api', this.toggle)
        $('html').on('click.dropdown.data-api', function () {
          $el.parent().removeClass('open')
        })
      }

  Dropdown.prototype = {

    constructor: Dropdown

  , toggle: function (e) {
      var $this = $(this)
        , $parent
        , selector
        , isActive

      if ($this.is('.disabled, :disabled')) return

      selector = $this.attr('data-target')

      if (!selector) {
        selector = $this.attr('href')
        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
      }

      $parent = $(selector)
      $parent.length || ($parent = $this.parent())

      isActive = $parent.hasClass('open')

      clearMenus()

      if (!isActive) $parent.toggleClass('open')

      return false
    }

  }

  function clearMenus() {
    $(toggle).parent().removeClass('open')
  }


  /* DROPDOWN PLUGIN DEFINITION
   * ========================== */

  $.fn.dropdown = function (option) {
    return this.each(function () {
      var $this = $(this)
        , data = $this.data('dropdown')
      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
      if (typeof option == 'string') data[option].call($this)
    })
  }

  $.fn.dropdown.Constructor = Dropdown


  /* APPLY TO STANDARD DROPDOWN ELEMENTS
   * =================================== */

  $(function () {
    $('html').on('click.dropdown.data-api', clearMenus)
    $('body')
      .on('click.dropdown', '.dropdown form', function (e) { e.stopPropagation() })
      .on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
  })

}(window.jQuery);
</script>


</div>
