
<div class="Blockheading">
         <div class="Headingtext">Add <%= @follow_types.first %> to your profile</div>
  <!--  <span class="txt_normal">[Cars that you own, had or following it]</span>-->
          <div class="Searchform">
            <input name="search" type="text" placeholder="Search <%= params[:follow]%>" id="search_car"/>
            <input name="" type="button" class="Searchbut">
            <%=select_tag "types",
                  options_for_select([["I Own it", "owner"], ["Plan to Buy", "buyer"], ["Follow this car", "follower"]]), :class=>"float_rgt1" %>
            
            <!--<a style="border:solid 0px; left:left; width:21px; height:21px; float:left; margin:5px;"><img src="images/icon_search_gray.png"/></a>-->
          </div>
</div>

<div class="Searchlisting" style="clear:both;">
  <% items.each do |follow| %>
    <% unless follow.content?(follow.followable_type) %>
      <% item = follow.followable %>
      <div class="product" id="product_<%= item.id %>">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="width:160px;height:120px;display:block;">
          <%= link_to image_tag(item.image_url, height: "120", width: "160"), link_url(item)%>
           <%= link_to(follow_item_type_item_path(item, :follow_type => follow.follow_type, :unfollow => true, :profile => true), :remote => true) do %>
         </div>
         <!--
          <img class="closeimg" alt="" src="images/icon_close.png" onmouseover="this.src='images/icon_close_hover.png'" onmouseout="this.src='images/icon_close.png'">
        -->
          <% end %>
        </div>
        <span class="imgtextspan">
            <%= link_to item.name, link_url(item), :class => "produ_bgimg" ,:style=>"width:120px;"%>
        </span>
      </div>
        <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                      <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= get_the_follow_text(follow.follow_type) %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-pencil"></i> Add a Review</a></li>
                        <li><a href="#"><i class="icon-trash"></i> Add additional information</a></li>
                        <li><a href="#"><i class="icon-ban-circle"></i> Add a Tip</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i> Delete from my profile</a></li>
                      </ul>
                    </div></td>
              </tr>
            </table>
          </div>    
      </div>
    <%else%><!--It is a content type follow. so handle differently-->
      <% content = follow.content_followable %>
      <div class="product" id="product_<%= content.id %>">
      <div class="imgprofilediv">
        <div class="imgpicbtnspan">
          <div style="width:120px;height:90px;display:block;">
          <%= link_to image_tag(content.thumbnail, height: "90", width: "120"),  content_path(content) %>
          </div>
          <%= link_to(follow_item_type_item_path(content, :follow_type => follow.follow_type, :unfollow => true, :profile => true), :remote => true) do %>
          <!--<img class="closeimg" alt="" src="images/icon_close.png" onmouseover="this.src='images/icon_close_hover.png'" onmouseout="this.src='images/icon_close.png'">-->
          <% end %>
        </div>
        <span class="imgtextspan" >
            <%= link_to content.title, content_path(content), :class => "produ_bgimg", :style=>"width:120px;"%>
        </span>
      </div>
      <div class="Clearboth PadT10">
            <table border="0" cellspacing="0" class="marginauto" cellpadding="0" align="center" >
              <tr>
                <td><div class="btn-group">
                      <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i><%= get_the_follow_text(follow.follow_type) %></a>
                      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-pencil"></i> Add a comment</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i> Delete from my profile</a></li>
                      </ul>
                    </div></td>
              </tr>
            </table>
          </div>
      
    </div>
    <%end%>
  <% end rescue "" %>


<%= will_paginate items, :page_links => true %>
<% category = (params[:follow].blank? || params[:follow] == "Cars") ? "Car" : params[:follow] %>
<%= hidden_field_tag "category", category %>
<script type="text/javascript">
    window._token = '<%= form_authenticity_token.to_s %>';
    /* ============================================================
 * bootstrap-dropdown.js v2.0.4
 * http://twitter.github.com/bootstrap/javascript.html#dropdowns
 * ============================================================
 * Copyright 2012 Twitter, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ============================================================ */


!function ($) {

  "use strict"; // jshint ;_;


 /* DROPDOWN CLASS DEFINITION
  * ========================= */

  var toggle = '[data-toggle="dropdown"]'
    , Dropdown = function (element) {
        var $el = $(element).on('click.dropdown.data-api', this.toggle)
        $('html').on('click.dropdown.data-api', function () {
          $el.parent().removeClass('open')
        })
      }

  Dropdown.prototype = {

    constructor: Dropdown

  , toggle: function (e) {
      var $this = $(this)
        , $parent
        , selector
        , isActive

      if ($this.is('.disabled, :disabled')) return

      selector = $this.attr('data-target')

      if (!selector) {
        selector = $this.attr('href')
        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
      }

      $parent = $(selector)
      $parent.length || ($parent = $this.parent())

      isActive = $parent.hasClass('open')

      clearMenus()

      if (!isActive) $parent.toggleClass('open')

      return false
    }

  }

  function clearMenus() {
    $(toggle).parent().removeClass('open')
  }


  /* DROPDOWN PLUGIN DEFINITION
   * ========================== */

  $.fn.dropdown = function (option) {
    return this.each(function () {
      var $this = $(this)
        , data = $this.data('dropdown')
      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
      if (typeof option == 'string') data[option].call($this)
    })
  }

  $.fn.dropdown.Constructor = Dropdown


  /* APPLY TO STANDARD DROPDOWN ELEMENTS
   * =================================== */

  $(function () {
    $('html').on('click.dropdown.data-api', clearMenus)
    $('body')
      .on('click.dropdown', '.dropdown form', function (e) { e.stopPropagation() })
      .on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
  })

}(window.jQuery);
</script>


</div>