 <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
<%= form_for(@user, :url => change_password_account_path(current_user.id), :method => :put, :remote => true) do |f| %>
    <div style="padding-left:50px;">
        <br/>
        <br/>
    <div class="accountlabel">
        <%= f.label :current_password, 'Current Password' %>
    </div>
    <div class="accounttext">
        <%= f.password_field :current_password %>
    </div>
    <br/>
    <div class="accountlabel">
    <%= f.label :password, 'Password' %>:
    </div>
    <div class="accounttext">
    
    <%= f.password_field :password %>
    </div>
    <br/>
    
    <div class="accountlabel">
    <%= f.label :password_confirmation, 'Password Confirmation' %>:
    </div>
    <div class="accounttext">
    
    <%= f.password_field :password_confirmation %>
    </div>
    <br/>
    <div style="padding-left:200px;clear:both;padding-top:10px;">
        <%= f.submit "Change Password", :class=>"Bluesubmit3" %>
      </div>
    </div>
<% end %>