<div id="main-content">
  <div id="usual2" class="usual">
    <div style="padding:20px 0px 0px 380px;">
      <span style="padding:10px;">
         <%= link_to "Basic Info","#tabs1",:id => "basic_info"%>
      </span>
      <span style="padding:10px;">
        <%= link_to "Change Password", "#tabs4",:id=>"change_password"%>
      </span>
      <span style="padding:10px;">
        <%= link_to "Other Settings","#tabs2",:id => "email_notify"%>

      </span>
<!--      <li class="tabstyle">

        <a href="#tabs3" class="">Linked Accounts</a>

      </li>-->
    </div>

    <div id="tabs1" style="display: block;width:400px; height:300px;padding-left:300px; " class="main-content-section" >
      <div style="background-color: #deeff3;padding:10px 5px 10px 5px;margin-top:20px;">        
         <center><h2> Basic Info </h2> </center>
      </div>
      <br/>
      <br/>
      <div style="padding-left:50px;">
      <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
      <%= form_for(@user, :url => account_update_path, :method => :put, :html => { :multipart => true }) do |f| %>
        <div class="accountlabel">
        <%= f.label :name, 'Full Name' %>
        </div>
        <div class="accounttext">
        <%= f.text_field :name %>
        </div>
        <br/>
        <div class="accountlabel">
        <%= f.label :username, 'User Name' , :class=>"accountlabel"  %>
         </div>
        <div class="accounttext">
        <%= f.text_field :username %> 
      </div>
        <br/>        
        <div class="accountlabel">
        <%= f.label :email, 'Email Address', :class=>"accountlabel"  %>
         </div>
         <div class="accounttext">
        <%= f.text_field :email %>
      </div>
        <br/>
        <div class="accountlabel">
        <%= f.label :location, 'Location', :class=>"accountlabel"  %>
         </div>
         <div class="accounttext">
        <%= f.text_field :location %>
      </div>
        <br/>
         
        <div class="accountlabel"><%= f.label "Profile Picture " , :class=>"accountlabel" %>
        </div>
          <div class="accounttext">
          <%= image_tag @user.get_photo(:thumb) %>
             
 
        </div>
        <div class="accountlabel"><%= f.label "Update Picture " , :class=>"accountlabel" %>
        </div>
          <div class="accounttext">
          <%= f.file_field :avatar %>
        </div>
        <br/>
        <div style="padding-left:200px;clear:both;padding-top:10px;">
        <%= f.submit "Save Details", :class=>"Bluesubmit3" %>
      </div>
      <% end %>
    </div>
    </div>


        <div id="tabs2" style="display: none;width:400px; height:300px;padding-left:300px; " class="main-content-section" >
      <div style="background-color: #deeff3;padding:10px 5px 10px 5px;margin-top:20px;">        
         <center><h2> Other Settings</h2> </center>
      </div>
      <div style="padding-left:50px;"
     <%= form_for(@user, :url => account_update_path, :method => :put, :html => { :multipart => true }) do |f| %>
      <br/>
      <br/>
      <div class="accountlabel">
         <b>Email Setting:</b>
      </div>  
      <div class="accounttext">  
        <%= f.label :my_feeds_email, 'My feeds Email' , :style=>"top:-5px;" %>
        <%= f.check_box :my_feeds_email %>
      </div>
        <br /><br /><br />

        <b>Profile View Setting:</b>
         <br/>   
         <div style="padding-left:130px">
         <%= f.label :profile_view_setting, 'All PlannTo Users' %>
         <%= f.radio_button :profile_view_setting,"pu" %>
         <br/>
         <%= f.label :profile_view_setting, 'Followers and Friends' %>
         <%= f.radio_button :profile_view_setting,"ff" %>
         <br/>
         <%= f.label :profile_view_setting, 'Friends Only' %>
         <%= f.radio_button :profile_view_setting,"fo" %>
         <br/>
          <%= f.label :profile_view_setting, 'Keep it Private' %>
         <%= f.radio_button :profile_view_setting,"no" %>
        <br/>     <br/>
      </div>  
        <div style="padding-left:180px;clear:both;padding-top:10px;">
        <%= f.submit "Save Details", :class=>"Bluesubmit3" %>
      </div>
    </div>
      <% end %>

    </div>
    
  </div>
    <div id="tabs4" style="display: none;width:400px; height:300px;padding-left:300px; " class="main-content-section" >
      <div style="background-color: #deeff3;padding:10px 5px 10px 5px;margin-top:20px;">        
       <center><h2> Change Password </h2> </center>
      </div>
      <%= render :partial => 'change_password_form' %>
    </div>


</div>
<script type="text/javascript">
  $("#change_password").click(function(e){
    $("#tabs1").hide();
    $("#tabs4").show();
    $("#tabs2").hide();
  });
   $("#basic_info").click(function(e){
    $("#tabs1").show();
    $("#tabs4").hide();
    $("#tabs2").hide();
    });
   $("#email_notify").click(function(e){
    $("#tabs1").hide();
    $("#tabs4").hide();
    $("#tabs2").show();
     
  });
  <%if @type =="email" %>
    $("#tabs1").hide();
    $("#tabs4").hide();
    $("#tabs2").show();
    $("#tabs2").show();
  <%end%>  
</script>



