<div id="main-content">
  <div id="usual2" class="usual">
    <ul>
      <li class="tabstyle">
        <a href="#tabs1">Basic Info</a>
      </li>
      <li>
        <%= link_to "Change Password", "#tabs4"%>
      </li>
      <li class="tabstyle">
        <a class="" href="#tabs2" id="specification">Email Notifications</a>

      </li>
      <li class="tabstyle">

        <a href="#tabs3" class="">Linked Accounts</a>

      </li>
    </ul>

    <div id="tabs1" style="display: block; " class="main-content-section">
      <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
      <%= form_for(@user, :url => account_update_path, :method => :put, :html => { :multipart => true }) do |f| %>
        <%= f.label :name, 'Full Name' %>:
        <%= f.text_field :name %>
        <br/>
        <%= f.label :username, 'User Name' %>:
        <%= f.text_field :username %>
        <br/>        
        <%= f.label :email, 'Email Address' %>:
        <%= f.text_field :email %>
        <br/>

        <div><%= f.label "Profile Picture: " %>
             <%= f.file_field :avatar %>
 
        </div>
        <%= image_tag @user.get_photo(:thumb) %>
 
        <%= f.submit %>
      <% end %>

    </div>


    <div id="tabs2" style="display: none; " class="main-content-section">
      Email Settings goes here
    </div>
    
  </div>

  <div id="tabs4" style="display:none">
      <%= render :partial => 'change_password_form' %>
    </div>


</div>
<script type="text/javascript">
  $("#usual2 ul").idTabs("tabs1");
  
</script>


