<div id="main-content">
  <div id="usual2" class="usual">
    <ul>
      <li class="tabstyle">
         <%= link_to "Basic Info","#tabs1",:id => "basic_info"%>
      </li>
      <li>
        <%= link_to "Change Password", "#tabs4",:id=>"change_password"%>
      </li>
      <li class="tabstyle">
        <%= link_to "Settings","#tabs2",:id => "email_notify"%>

      </li>
      <li class="tabstyle">

        <a href="#tabs3" class="">Linked Accounts</a>

      </li>
    </ul>

    <div id="tabs1" style="display: block; " class="main-content-section">
         <center><h2> Basic Info </h2> </center>
      <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
      <%= form_for(@user, :url => account_update_path, :method => :put, :html => { :multipart => true }) do |f| %>
        <%= f.label :name, 'Full Name' %>:
        <%= f.text_field :name %>
        <br/>
        <%= f.label :username, 'User Name' %>:
        <%= f.text_field :username %>
        <br/>        
        <%= f.label :email, 'Email Address' %>:
        <%= f.text_field :email %>
        <br/>
        <%= f.label :location, 'Location' %>:
        <%= f.text_field :location %>
        <br/>
         
        <div><%= f.label "Profile Picture: " %>
             <%= f.file_field :avatar %>
 
        </div>
        <%= image_tag @user.get_photo(:thumb) %>
 
        <%= f.submit %>
      <% end %>

    </div>


    <div id="tabs2" style="display: none; " class="main-content-section">
       <center><h2> Settings </h2> </center>
     <%= form_for(@user, :url => account_update_path, :method => :put, :html => { :multipart => true }) do |f| %>
         <b>Email Setting:</b>
        <%= f.label :my_feeds_email, 'My feeds Email.' %>:
        <%= f.check_box :my_feeds_email %>
        <br /><br /><br />
        <b>Profile View Setting:</b>
         <br/>   <br/>
         <%= f.label :profile_view_setting, 'PannTo Users' %>
         <%= f.radio_button :profile_view_setting,"pu" %>
         <%= f.label :profile_view_setting, 'Followers and Friends' %>
         <%= f.radio_button :profile_view_setting,"ff" %>
         <%= f.label :profile_view_setting, 'Friends Only' %>
         <%= f.radio_button :profile_view_setting,"fo" %>
          <%= f.label :profile_view_setting, 'None' %>
         <%= f.radio_button :profile_view_setting,"no" %>
        <br/>     <br/>
        <%= f.submit %>
      <% end %>

    </div>
    
  </div>

  <div id="tabs4" style="display:none">
      <center><h2> Change Password</h2> </center>
      <%= render :partial => 'change_password_form' %>
    </div>


</div>
<script type="text/javascript">
  $("#change_password").click(function(e){
    $("#tabs1").hide();
    $("#tabs4").show();
    $("#tabs2").hide();
  });
   $("#basic_info").click(function(e){
    $("#tabs1").show();
    $("#tabs4").hide();
    $("#tabs2").hide();
    });
   $("#email_notify").click(function(e){
    $("#tabs1").hide();
    $("#tabs4").hide();
    $("#tabs2").show();
     
  });
  <%if @type =="email" %>
    $("#tabs1").hide();
    $("#tabs4").hide();
    $("#tabs2").show();
    $("#tabs2").show();
  <%end%>  
</script>



