<script type="text/javascript" src="/javascripts/movingboxs.js"></script>
<script type="text/javascript" src="/javascripts/search_profile_car.js"></script>
<link type="text/css" href="/stylesheets/movingboxs.css" rel="stylesheet"/>
<script type="text/javascript">
  $(function() {
    $('#car_slider').movingBoxes({
      startPanel   : 1,      // start with this panel
      width        : 500,    // overall width of movingBoxes (not including navigation arrows)
      wrap         : false,   // if true, the panel will "wrap" (it really rewinds/fast forwards) at the ends
      buildNav     : true,   // if true, navigation links will be added
      navFormatter : function() {
        return "&#9679;";
      } // function which returns the navigation text for each panel
    });
    $(".tabing2").click(function() {
      $('#mobile_slider').movingBoxes({
        startPanel   : 1,      // start with this panel
        width        : 500,    // overall width of movingBoxes (not including navigation arrows)
        wrap         : false,   // if true, the panel will "wrap" (it really rewinds/fast forwards) at the ends
        buildNav     : true,   // if true, navigation links will be added
        navFormatter : function() {
          return "&#9679;";
        } // function which returns the navigation text for each panel
      });
    });


  });
</script>


<div id="maincontainer" class="maincontainerCss">

  <!-- Left Nav - start -->
  <div class="leftcolumnsmall">

    <span class="profile_photo">
      <%= image_tag(@user.get_photo(:medium)) %>
    </span>
    <br/>

    <h1><%= @user.name %></h1>
    <br/>
    <ul class="menu_profile">
      <li><a href="#" class="icon_profile menu_profile_active">Profile</a></li>
      <li id="profile_preference_buying_plans"><a href="" class="icon_prefernce">Preference / Buying Plans</a></li>
      <li><a href="#" class="icon_points">Points</a></li>
      <li><a href="#" class="icon_awards">Awards</a></li>
      <li><a href="#" class="icon_followers">Followers</a></li>
    </ul>
  </div>
  <script type="text/javascript">
    $("ul.menu_profile li").click(function (e) {
      $("ul.menu_profile .menu_profile_active").removeClass("menu_profile_active");
      $(this).closest('li').addClass('menu_profile_active');
      var id = $(this).attr('id');
      if (id == "profile_preference_buying_plans"){
        var url = "/accounts/buying_plans";
        $.get(url,null,null,"script");
      }
      e.preventDefault();
    });

     /*$('#buyingPlansPaginate div.pagination a').live('click', function(){
        var page = $(this).text()
        var current = $('em.current').text();
        if (page == "← Previous"){
            page = parseInt(current) -1
        }
        else if (page == "Next →"){
            page = parseInt(current) + 1
        }

        var url = "/accounts/buying_plans";
        $.get(url,null,null,"script");

        return false;
    })*/
  </script>
  <!-- Left Nav - End -->

  <!-- Right - start -->
  <div class="rightcolumnbig"  id="profileInfo">

    <div style="border:solid 0px red;  float:right;  margin-top:10px; ">
      <div style="border:solid 0px green; float:left; "></div>
      <div class="points">
        <span class="indu_span"><a class="values"><%= @user.total_points  %></a><a class="text">Points</a></span>
        <!--<span class="indu_span"><a class="values">4</a><a class="text">Rewards</a></span>-->
        <span class="indu_span"><a class="values">3</a><a class="text">Following</a></span>
        <span class="indu_span"><a class="values">12</a><a class="text">Reviews </a></span>
        <span class="indu_span"><a class="values">25</a><a class="text">Followers</a></span>

      </div>
  </div>
  <br/>
  <br/>
  <div style="clear:both;margin-top:60px;">
        <ul id="Newtabs">
          <% ['Cars','Mobile','Tablet','Camera','Bike','Cycle', 'Apps', 'Accessories'].each do |item_type|%>
            <%= link_for_item_type(item_type, params[:follow], @user) %>
          <%end%>    
        </ul>
      </div>
      <div style="display:block;">
      <!--  <div class="sortby">
          <div class="icon_share">Share:
            <span> <img src="/images/icon_fb.png"/> </span>
            <span> <img src="/images/icon_twitter.png"/> </span>
            <span> <img src="/images/icon_in.png"/>  </span>
            <span> <img src="/images/icon_su.png"/>  </span>
            <span> <img src="/images/icon_t.png"/> </span>
          </div>
        </div>
        -->
        <div class="Rightouter" id="tabs1">
          <%= render 'cars', :items => get_items_with_constraint(@follow_item, @follow_types)%>
        </div>

      </div>
      <br/>
    

    <br/>
    <br/>
    <%if (params[:follow] != 'Apps') && (params[:follow] != 'Accessories') %>
    
    <div style="clear:both;background-color: #deeff3;padding:10px 5px 10px 5px;margin-top:10px;">
        <h2>Activities in <%=params[:follow]%></h2>
    </div>
    <br/>
      <div id="content_all">
        <!--filter by block start here-->
        <div id="Filterby">
          <div class="Filternav">
                <div style="float:left;width:60px;">
                  <span style="padding:2px 5px 0px 0px;"><b>Filter by:</b></span>     
                </div>
                <div style="float:left;width:630px;">
                  <ul>
                  <!--  <li class="Labeltext" style="padding-right:2px;">Filter by:</li>-->
                    <li class="Currentfilter" id="All"><a href="#">All</a></li>
                    <%@article_categories.each do |category|%>
                      <li id="<%=category[0]%>"><a href=""><%=category[0]%></a></li>
                    <%end%>
                  </ul>
                </div>
          </div>
        </div>
        <div style="border-bottom:solid 1px #e4e4e4;;clear:both;padding-top:5px;"></div>
        <div >
          <span class="sortby">
            <span style="padding:2px 5px 0px 0px;"><b>Sort by:</b></span>
            <a class="txt_blue" id="link_active"  href="#">Relevance</a> <span style="padding:2px 5px 0px 10px;">|</span>
            <a class="txt_blue" href="#">Newest</a> <span style="padding:0px 5px;">|</span>
            <a class="txt_blue" href="#">Most Answers</a>
          </span>
        </div>
        <div style="border-bottom:solid 1px #e4e4e4;;clear:both;" id="contentsList">
          <%
           
          %>
          <% params = {"sub_type" => ArticleCategory.where("itemtype_id = ?", @itemtype.id).collect(&:name), "itemtype_id" => @itemtype.id ,"user" => @user.id}%>
          <% @contents = Content.filter(params)  %>
          <%= render :partial => 'contents/contents', :locals => {:params => params} %>
        </div>
        <a id="content_next" style="display:none"></a>
         <%=hidden_field_tag :filter_page_no, @contents.current_page+ 1%>
      </div>
      <!-- This will go into main layout -->
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $("div#Filterby div.Filternav ul li").click(function (e) {
           $("div#Filterby div.Filternav ul").find('li').removeClass('Currentfilter');
            $(this).closest('li').addClass("Currentfilter");
          if ($(this).text() != "Labeltext"){
            $("#filter_page_no").val('2');
            var id = $(this).attr('id');
            switch(id){
              case 'All' :  var sub_type = "All";break;
               default:  var sub_type = id;
                }
                $.ajax(
                {
                  url: "contents/filter?sub_type=" + sub_type + "&itemtype_id=<%=@itemtype.id%>",
                  type: "get",
                  dataType: "script"
                });
                return false
              }
          });

          
           var running =false;
        $(window).scroll(function () {

          lnk = $('#content_next');
          if (!running && lnk && $(window).scrollTop() >= $('#content_all').height() - $(window).height()) {

          running = true;
            $.ajax(
              {
                url: "/contents/feeds?sub_type=" + $("div#Filterby div.Filternav ul li.Currentfilter").text() + "&page=" + $("#filter_page_no").val() + "&itemtype_id=<%=@itemtype.id%>",
                type: "get",
                dataType: "script",
                success    : function(data)
                    {
                      running = false;
                    }
              });
              return false
            //lnk.click();
          }
        });
        });
    </script>
    <%end%>
  </div>
  <!-- Right  - End -->


  <!-- This will go into main layout -->
</div>

<script type="text/javascript">
  $("#usual2 ul").idTabs("tabs1");
</script>


