<%= form_for(resource, :as => :user, :url => users_publisher_create_path ) do |f| %>

    <%if  @user.errors.any? %>
        <div style="width:300px;padding-left:250px;">
          <%= render  '/shared/login_popup_message',:type => 'signup-devise',:user => @user, :publisher => @publisher %>
    <%end%>
    </div>
    <%= hidden_field_tag :token,   @invitation? @invitation.token : "No" %>
    <div style="height:450px;left:center;width: 33%; margin: 0 auto;">
      <div style="">
        <%= render "/shared/publisher_sign_up_fields",{:f => f} %>
      </div>
    </div>
    <%= hidden_field_tag :type, @without_login %>
<% end %>